.title {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}
.p-disabled,
.p-component:disabled {
  opacity: 1;
}
.btn-cancel {
  background: #dee2e6 !important;
  color: #2b2d2f;
}
