<div class="p-dialog-header justify-content-center p-px-0">
  <span class="p-dialog-title title">{{ 'request.detailRequest.addNewBankAccount.addNewBank' | translate }}</span>
</div>
<div class="p-grid p-fluid p-dialog-body mt-2">
  <div [formGroup]="form" class="col-12">
    <div class="col-12">
      <mbal-select
        [filter]="true"
        formControlName="bankKey"
        label="{{ 'request.detailRequest.addNewBankAccount.bankName' | translate }}"
        [showClear]="true"
        [options]="state.bankDropList"
        optionLabel="name"
        optionValue="citadCode"
      ></mbal-select>
    </div>
    <div class="col-12">
      <mbal-input-text
        [onlyNumber]="true"
        (blur)="fillAccountName()"
        formControlName="accountNumber"
        label="{{ 'request.detailRequest.addNewBankAccount.bankAccount' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-12">
      <mbal-input-text
        [disabled]="true"
        formControlName="accountName"
        label="{{ 'request.detailRequest.addNewBankAccount.nameAccount' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="p-dialog-footer mt-3">
      <button
        (click)="save()"
        *ngIf="screenType !== 2"
        class="ml-2"
        icon="pi pi-check"
        label="{{ 'request.detailRequest.addNewBankAccount.add' | translate }}"
        pButton
      ></button>
      <button
        (click)="cancel()"
        class="p-button-danger"
        icon="pi pi-times"
        label="{{ 'request.detailRequest.addNewBankAccount.cancel' | translate }}"
        pButton
      ></button>
    </div>
  </div>
</div>
