<p-card>
  <div class="grid">
    <div class="col-12">
        <div class="flex flex-wrap align-items-center mb-3">
          <h4 class="title mb-0">{{ 'request.detailRequest.attachment.requestDocument' | translate }}</h4>
          <div class="ml-auto">
            <button
              *ngIf="(canImport | async) && !!claimCaseId"
              (click)="openImportDialog()"
              pButton class="p-button-outlined p-button"
            > {{'createRequest.requestCollection.fileUpload' | translate}}
            </button>
          </div>
        </div>

      <p-table [value]="attachments">
        <ng-template pTemplate="header">
          <tr>
            <th class="th-id" scope="col">ID</th>
            <th scope="col">{{ 'request.detailRequest.attachment.title' | translate }}</th>
            <th scope="col">Doc Type</th>
            <th scope="col">{{'request.detailRequest.attachment.docSource' | translate}}</th>
            <th scope="col">{{ 'request.detailRequest.attachment.createOn' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.attachment.receiver' | translate }}</th>
            <th class="th-action" scope="col">{{ 'request.detailRequest.attachment.action' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr>
            <td>{{ i + 1 }}</td>
            <td><a (click)="viewAttachment(item.id)" href="javascript:void(0)">{{ item.fileName }}</a></td>
            <td> {{item.typeFile}} </td>
            <td> {{item.sourceDoc}}</td>
            <td>{{item.createDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{item.recipient}}</td>
            <td>
              <a
                (click)="removeFile(item.id)"
                class="pi pi-trash text-red cursor-pointer mr-2"
                href="javascript:void(0)"></a>
              <a
                (click)="download(item.id)"
                class="pi pi-download cursor-pointer"
                href="javascript:void(0)"></a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
<div class="mt-3">
  <p-card>
    <h4 class="title mb-4">{{ 'request.detailRequest.attachment.policyDocument' | translate }}</h4>
    <p-table [value]="SAPAttachments">
      <ng-template pTemplate="header">
        <tr>
          <th class="th-id" scope="col">ID</th>
          <th class="th-title" scope="col">{{ 'request.detailRequest.attachment.title' | translate }}</th>
          <th scope="col">Doc Type</th>
          <th scope="col">{{ 'request.detailRequest.attachment.createOn' | translate }}</th>
          <th class="th-action" scope="col">{{ 'request.detailRequest.attachment.action' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item pTemplate="body">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>
            {{ item.arObject }}
          </td>
          <td>
            <a (click)="viewFileFromSAP(item.arcDocId)" href="javascript:void(0)">{{ item.docTypeName }}</a>
          </td>
          <td>
            {{ item.arDate | date: 'dd/MM/yyyy' }}
          </td>

          <td>
            <a
              (click)="downloadFileFromSAP(item.arcDocId)"
              class="pi pi-download cursor-pointer "
              href="javascript:void(0)"
            ></a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

<p-dialog [(visible)]="importDialogVisibleState"
          [contentStyle]=" {'width': 'max(200px, 60vw)'}"
          [header]="'createRequest.requestCollection.fileUpload' | translate"
          [closable]="true"
          [dismissableMask]="true"
          [modal]="true"
          [closeOnEscape]="true"
>
  <p-fileUpload
    #fileUpload
    [auto]="true"
    [disabled]="!claimCaseId"
    [customUpload]="true"
    [maxFileSize]="MAX_FILE_SIZE"
    [multiple]="true"
    [fileLimit]="fileLimit"
    [showUploadButton]="false"
    chooseIcon="pi pi-upload"
    accept=".pdf, .PNG, .JPEG, .JPG, .XML, .docx, .xlsx, .doc, .xml"
    chooseLabel="{{ 'request.detailRequest.claim-tpa.upload-attachment' | translate }}"
    class="p-upload"
    invalidFileTypeMessageDetail="{{ 'MESSAGE.FILE_REQUIRED_NOTIFICATION' | translate }}"
    invalidFileLimitMessageDetail="{{'MESSAGE.PRIMENG.INVALID_MAX_FILE_LIMIT' | translate}}"
    invalidFileLimitMessageSummary="{{'MESSAGE.PRIMENG.INVALID_MAX_FILE_LIMIT_SUMMARY'| translate}}"
    invalidFileTypeMessageSummary="{0}"
  ></p-fileUpload>
  <div class="p-3">
    <div style="float:right">
      <button pButton (click)="upload(fileUpload)"> Upload  </button>
    </div>
  </div>
</p-dialog>
