.dialog{
  width: 60vw;
  //@media screen and (min-width: 1200px) {
  //  width: unset;
  //}
  .input{
    width: 100%;
  }
  .btn{
    width: 120px;
    height: 40px;
  }
  .btnCancel{
    background-color: #ced4da;
  }
  .btnSave{
    background-color:#3366FF ;
    color: white;
  }
  .latest{
    padding-bottom: 20px;
  }
}
