<p-dialog header="Thêm mới người dùng" [(visible)]="dialog" class="dialog" [modal]="true" (onHide)="onCancel(false, false)" [style]="{width: '666px'}" [baseZIndex]="10000">
  <form [formGroup]="insertForm" (ngSubmit)="onInsert()">
    <div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md">
            <div class="field">
            <div>
              <label class="titleInput">Tên đăng nhập</label>
            </div>
            <input appUppercase maxlength="50" placeholder="---" [ngClass]="account?.invalid && (account?.dirty || account?.touched) ? 'input ng-invalid ng-dirty ' : 'input'" id="account"  aria-describedby="username1-help" formControlName="account" pInputText />
              <span *ngIf="account?.errors?.['required'] && (account?.dirty || account?.touched)"
                    class="p-error block">Tên đăng nhập không được để trống.</span>
              <span *ngIf="account?.errors?.['minlength'] && account?.dirty"
                    class="p-error block">Tối thiểu 6 ký tự.</span>
              <span *ngIf="account?.errors?.['pattern'] && account?.dirty"
                    class="p-error block">Chỉ chứa chữ, số và gạch dưới</span>
            </div>
          </div>
          <div class="col-md">
            <div>
              <label class="titleInput">Mã nhân viên</label>
            </div>
            <input appUppercase maxlength="10" placeholder="---" [ngClass]="keyEmployee?.invalid && (keyEmployee?.dirty || keyEmployee?.touched) ? 'input ng-invalid ng-dirty ' : 'input'" aria-describedby="username1-help" id="keyEmployee" formControlName="keyEmployee"  pInputText />
            <span *ngIf="keyEmployee?.errors?.['required'] && (keyEmployee?.dirty || keyEmployee?.touched)"
                  class="p-error block">Mã nhân viên không được để trống.</span>
            <span *ngIf="keyEmployee?.errors?.['pattern'] && keyEmployee?.dirty"
                  class="p-error block">Gồm 10 ký tự chữ/số bắt đầu bằng chữ LP.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div>
              <label class="titleInput">Tên nhân viên</label>
            </div>
            <input maxlength="200" placeholder="---" [ngClass]="employeeName?.invalid && (employeeName?.dirty || employeeName?.touched) ? 'input ng-invalid ng-dirty ' : 'input'" aria-describedby="username1-help" formControlName="employeeName"  pInputText />
            <span *ngIf="employeeName?.errors?.['required'] && (employeeName?.dirty || employeeName?.touched)"
                  class="p-error block">Tên nhân viên không được để trống.</span>
            <span *ngIf="employeeName?.errors?.['pattern'] && employeeName?.dirty"
                  class="p-error block">Không được chứa ký tự đặc biệt</span>
          </div>
          <div class="col-md">
            <div>
              <label class="titleInput">Phòng ban</label>
            </div>
            <input placeholder="---" [ngClass]="position?.invalid && (position?.dirty || position?.touched) ? 'input ng-invalid ng-dirty ' : 'input'" aria-describedby="username1-help" formControlName="position"  pInputText />
            <span *ngIf="position?.errors?.['required'] && (position?.dirty || position?.touched)"
                  class="p-error block">Phòng ban không được để trống.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div>
              <label class="titleInput">Email</label>
            </div>
            <input email placeholder="---" [ngClass]="email?.invalid && (email?.dirty || email?.touched) ? 'input ng-invalid ng-dirty ' : 'input'" aria-describedby="username1-help" formControlName="email"  pInputText />
            <span *ngIf="email?.errors?.['required'] && (email?.dirty || email?.touched)"
                  class="p-error block">Email không được để trống.</span>
            <span *ngIf="email?.errors?.['pattern'] && email?.dirty"
                  class="p-error block">Email không đúng định dạng.</span>
          </div>
          <div class="col-md">
            <div>
              <label class="titleInput">Số điện thoại</label>
            </div>
            <input placeholder="---" [ngClass]="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched) ? 'input ng-invalid ng-dirty ' : 'input'" aria-describedby="username1-help" formControlName="phoneNumber"  pInputText />
            <span *ngIf="phoneNumber?.errors?.['required'] && (phoneNumber?.dirty || phoneNumber?.touched)"
                  class="p-error block">Số điện thoại không được để trống.</span>
            <span *ngIf="phoneNumber?.errors?.['pattern'] && phoneNumber?.dirty"
                  class="p-error block">Số điện thoại không đúng định dạng.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div>
              <label class="titleInput">Chức vụ</label>
            </div>
            <p-dropdown  [ngClass]="jobTitle?.invalid && (jobTitle?.dirty || jobTitle?.touched) ? 'input ng-invalid ng-dirty ' : 'input'" [style]="{'width':'100%'}" [options]="jobData" appendTo="body"
                         placeholder="---" optionLabel="name" formControlName="jobTitle" optionValue="name" [showClear]="true"></p-dropdown>
            <span *ngIf="jobTitle?.errors?.['required'] && (jobTitle?.dirty || jobTitle?.touched)"
                  class="p-error block">Chức vụ không được để trống.</span>
          </div>
          <div class="col-md">
            <div>
              <label class="titleInput">Khối</label>
            </div>
            <p-dropdown  [ngClass]="class?.invalid && (class?.dirty || class?.touched) ? 'input ng-invalid ng-dirty ' : 'input'" [style]="{'width':'100%'}" [options]="classData" appendTo="body"
                         placeholder="---" optionLabel="name" formControlName="class" optionValue="name" [showClear]="true"></p-dropdown>
            <span *ngIf="class?.errors?.['required'] && (class?.dirty || class?.touched)"
                  class="p-error block">Khối không được để trống.</span>
          </div>
        </div>
        <div class="row latest">
          <div class="col-md">
            <div>
              <label class="titleInput">Trạng thái của nhân viên</label>
            </div>
            <p-dropdown [ngClass]="status?.invalid && (status?.dirty || status?.touched) ? 'input ng-invalid ng-dirty ' : 'input'" [style]="{'width':'100%'}" formControlName="status" optionValue="name"  [options]="statusData" appendTo="body"
                        placeholder="---" optionLabel="name" [showClear]="true"></p-dropdown>
            <span *ngIf="status?.errors?.['required'] && (status?.dirty || status?.touched)"
                  class="p-error block">Trạng thái không được để trống.</span>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="container-fluid">
    <div class="d-flex justify-content-end">
      <div class="px-3">
        <button (click)="dialog=false" class="btn btnCancel">Cancel</button>
      </div>
      <div>
        <button (click)="onInsert()" class="btn btnSave" >Save</button>
      </div>
    </div>
  </div>
</p-dialog>
