<ng-container *ngIf="(dataTable$ | async) as dataTable">
  <div class="pl-2 mb-5 pt-3" *ngIf="dataTable?.length! > 0">
    <h4 class="title title-checkList mb-4">
      {{ 'request.detailRequest.premiumAdjustment.result-select-lot' | translate}}
    </h4>
    <p-table [value]="dataTable ?? []">
      <ng-template pTemplate="header">
        <tr>
          <th>Select Value</th>
          <th>Item</th>
          <th>Payment Amount</th>
          <th>Remaining Amount</th>
          <th>Posting Date</th>
          <th>Usage text</th>
          <th>Valid to Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{row.paymentLot}}</td>
          <td>{{row.paymentLotItem}}</td>
          <td>{{row.paymentAmount ? (row.paymentAmount | currency: "VND": "" : "") : ''}}</td>
          <td>{{row.remainingAmount ? (row.remainingAmount | currency: "VND": "" : "") : ''}}</td>
          <td>{{row.postingDate | MapSAPDate}}</td>
          <td [pTooltip]="row.usageText" tooltipPosition="right">{{row.usageText}}</td>
          <td>{{row.validToDate | MapSAPDate}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-container>
