<div (mouseenter)="mouseEnterMenu()" (mouseleave)="mouseLeaveMenu()" [class]="classMenu">
  <div class="sidebar-logo">
    <a (click)="$event.preventDefault(); onStaticMenu()" class="sidebar-pin" href="#" title="Toggle Menu">
      <em [class]="isLock ? 'pi pi-lock' : 'pi pi-lock-open'"></em>
    </a>
    <a [routerLink]="['/']">
      <img alt="logo" src="/assets/images/mbal-logo.png" />
      <span class="app-name">BPM MBAL</span>
    </a>
  </div>
  <div class="layout-menu-container">
    <ul class="layout-menu">
      <ng-container *ngFor="let item of items">
        <li *ngIf="checkRole(item)" [class.active-menuitem]="item.active">
          <ng-container
            [ngTemplateOutletContext]="{ itemMenu: item }"
            [ngTemplateOutlet]="item.children && item.children.length > 0 ? sub : noSub"
          >
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<ng-template #noSub let-itemMenu="itemMenu">
  <a
    (click)="$event.preventDefault(); activeMenuItem(itemMenu)"
    routerLink="{{ !itemMenu.routerLink ? 'null' : itemMenu.routerLink }}"
    routerLinkActive="active-menuitem-routerlink"
  >
    <span class="menuitem-text">{{ itemMenu | menuTranslate }}</span>
    <em [class]="'layout-menuitem-icon text-3xl pi ' + itemMenu.icon"></em>
  </a>
</ng-template>
<ng-template #sub let-itemMenu="itemMenu">
  <a (click)="$event.preventDefault(); activeMenuItem(itemMenu)">
    <span class="menuitem-text">{{ itemMenu | menuTranslate }}</span>
    <div>
      <em class="pi pi-fw pi-angle-down layout-submenu-toggler"></em>
      <em [class]="'layout-menuitem-icon text-3xl pi ' + itemMenu.icon"></em>
    </div>
  </a>
  <ul *ngIf="itemMenu.active" @toggleMenu>
    <ng-container *ngFor="let item of itemMenu.children">
      <li *ngIf="checkRole(item)" [class.active-menuitem]="item.active">
        <ng-container
          [ngTemplateOutletContext]="{ itemMenu: item }"
          [ngTemplateOutlet]="item.children?.length > 0 ? sub : noSub"
        >
        </ng-container>
      </li>
    </ng-container>
  </ul>
</ng-template>
