<ng-container *ngIf="activeIndexSteps === 0">
  <p-card styleClass="mt-3">
    <h4 class="title">{{ 'request.detailRequest.resetPolicyInfo.infoPolicy' | translate }}</h4>

    <div class="grid ml-2">
      <div class="col-4">
        <div class="grid">
          <div class="col-6">
          <span>
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.policy' | translate }}</label>
          </span>
          </div>
          <div class="col">
            <label class="field-value">{{ itemRequest?.policyNumber }}</label>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="grid">
          <div class="col-5">
          <span>
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.product' | translate }}</label>
          </span>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequest?.longText }}</span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="grid">
          <div class="col-5">
          <span>
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.customer' | translate }}</label>
          </span>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequest?.customerName }} </span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="grid">
          <div class="col-2">
          <span>
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.reason' | translate }}</label>
          </span>
          </div>
          <div class="col">
            <span *ngFor="let item of itemRequest?.reason?.split('\n')" class="field-value"> {{ item }}
              <br/></span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="grid">
          <div class="col-2">
          <span>
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.suggestedContent' | translate }} </label>
          </span>
          </div>
          <div class="col">
           <span *ngFor="let item of itemRequest?.suggestedContent?.split('\n')" class="field-value"> {{ item }}
             <br/></span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="col-12">
        <p-table
          [value]="itemRequest?.fplReinstatements!"
        >
          <ng-container>
            <ng-template pTemplate="header">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Doc No</th>
                <th scope="col">Paid date</th>
                <th scope="col">Payment Amount</th>
                <th scope="col">Payment Lot</th>
                <th scope="col">Item</th>
              </tr>
            </ng-template>
            <ng-template let-i="rowIndex" let-item pTemplate="body">
              <tr>
                <td> {{i + 1}}</td>
                <td>{{item.documentNo}}</td>
                <td> {{item.netDueDate | date:"dd/MM/yyyy"}}</td>
                <td> {{item.amount?.trim() | number:"1.0-0"}} VNĐ</td>
                <td>{{item.paymentLot}}</td>
                <td>{{item.item}}</td>
              </tr>
            </ng-template>
          </ng-container>
        </p-table>
      </div>
    </div>
  </p-card>
  <p-card styleClass="mt-3">
    <h4 class="title">{{ 'request.detailRequest.resetPolicyInfo.approved' | translate }}</h4>
    <div class="flex">
      <div class="col-12">
        <p-table
          [paginator]="true"
          [rowsPerPageOptions]="[10, 20, 30]"
          [rows]="10"
          [value]="approvedDataTable"
          selectionMode="single"
        >
          <ng-container>
            <ng-template pTemplate="header">
              <tr>
                <th scope="col">{{ 'request.detailRequest.resetPolicyInfo.step' | translate }}</th>
                <th scope="col">{{ 'request.detailRequest.resetPolicyInfo.userApproved' | translate }}</th>
                <th scope="col">{{ 'request.detailRequest.resetPolicyInfo.nameApproved' | translate }}</th>
                <th scope="col">{{ 'request.detailRequest.resetPolicyInfo.status' | translate }}</th>
                <th scope="col">{{ 'request.detailRequest.resetPolicyInfo.note' | translate }}</th>
                <th scope="col">{{ 'request.detailRequest.resetPolicyInfo.dateUpdate' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template let-i="rowIndex" let-item pTemplate="body">
              <tr>
                <td>{{ item.step }}</td>
                <td>{{ item.userCode }}</td>
                <td>{{ item.userName }}</td>
                <td>{{ item.statusStr }}</td>
                <td>
                  <p>
                    {{ item.note }}
                  </p>
                </td>
                <td>{{ item.lastUpdatedDate | date: 'dd/MM/yyyy' }}</td>
              </tr>
            </ng-template>
          </ng-container>
        </p-table>
      </div>
    </div>
  </p-card>
  <p-card *ngIf="itemRequest?.type === 1" [formGroup]="form!" styleClass="mt-3">
    <h4 class="title title-decision">{{ 'request.detailRequest.underwrite.decision' | translate }}</h4>
    <div class="grid">
      <div class="col-4">
        <mbal-select
          [disabled]="itemRequest?.type === 2"
          [options]="decisions"
          formControlName="status"
          label="{{ 'request.detailRequest.underwrite.decision' | translate }} "
          optionLabel="name"
          optionValue="orderNum"
        ></mbal-select>
      </div>
      <div *ngIf="form!.get('status')?.value === 0" class="col-7 ml-5">
        <mbal-input-textarea
          [disabled]="itemRequest?.type === 2"
          class="label-input"
          [autoResize]="false"
          label=" {{ 'request.detailRequest.resetPolicyInfo.note' | translate }}"
          formControlName="note"
        ></mbal-input-textarea>
      </div>
    </div>
  </p-card>
  <p-card styleClass="mt-3">
    <div class="flex flex-row-reverse card-container flex-btn align-items-center">
      <button (click)="submit()" [disabled]="itemRequest?.type === 2" class="ml-2" pButton>
        {{ 'request.detailRequest.underwrite.submit' | translate }}
      </button>

      <button (click)="save()" [disabled]="itemRequest?.type === 2" class="ml-2" pButton>
        {{ 'request.detailRequest.underwrite.save' | translate }}
      </button>

      <button (click)="back()" class="ml-2 btn-cancel" pButton>
        {{ 'request.detailRequest.underwrite.cancel' | translate }}
      </button>
    </div>
  </p-card>
</ng-container>


<ng-container *ngIf="activeIndexSteps === 1">
  <p-card>
    <h4 class="title">{{ 'request.detailRequest.resetPolicyInfo.infoPolicy' | translate }}</h4>
    <div class="flex">
      <div class="col-6 pl-5">
        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.policy' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{itemResetPolicy?.policyNumber}}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.product' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{itemResetPolicy?.longText}}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.customer' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{itemResetPolicy?.customerName}} </span>
          </div>
        </div>
        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.requestBPM' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{itemResetPolicy?.requestId}}</span>
          </div>
        </div>
        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.sentDate' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{itemResetPolicy?.updatedDate }}</span>
          </div>
        </div>
      </div>
      <div class="col-6 pl-5">
        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.processingStatus' | translate }}</label>
          </div>
          <div class="col">
            <span
              class="field-value">{{itemResetPolicy?.requestStatus ? ('statusPA.' + itemResetPolicy.requestStatus| translate) : '' }} </span>
          </div>
        </div>
        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.statusPolicy' | translate }}</label>
          </div>
          <div class="col">
            <span
              class="field-value"> {{itemResetPolicy?.statusPolicy ? ('statusPolicy.' + itemResetPolicy.statusPolicy?.toUpperCase()| translate) : '' }}</span>
          </div>
        </div>
        <div class="grid">
          <div class="col-4">
            <label
              class="field-key">{{ 'request.detailRequest.resetPolicyInfo.resetDate' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{itemResetPolicy?.completeDate  | date:"dd/MM/yyyy"}}</span>
          </div>
        </div>
        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.requestPA' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{itemResetPolicy?.wFSubmissionId}}</span>
          </div>
        </div>
      </div>
    </div>

  </p-card>
</ng-container>
