<div class="p-dialog-header px-0">
  <span class="p-dialog-title">{{ title }}</span>
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="grid p-fluid p-dialog-body mt-2">
  <div [formGroup]="form" class="col-6">
    <mbal-input-text
      [uppercase]="true"
      formControlName="code"
      label="{{ 'CATEGORY-COMMON.FIELD.CODE' | translate }}"
    ></mbal-input-text>
  </div>

  <div [formGroup]="form" class="col-6">
    <mbal-input-text formControlName="name" label="{{ 'CATEGORY-COMMON.FIELD.NAME' | translate }}"></mbal-input-text>
  </div>
  <div [formGroup]="form" class="col-12">
    <mbal-input-textarea
      [rows]="2"
      formControlName="description"
      label="{{ 'CATEGORY-COMMON.FIELD.DESCRIPTION' | translate }}"
    ></mbal-input-textarea>
  </div>
  <div [formGroup]="form" class="col-12">
    <div class="p-field">
      <div class="p-float-label">
        <p-checkbox [binary]="true" formControlName="isActive"></p-checkbox>
        <label class="ml-3">Active<span class="text-red"></span></label>
      </div>
    </div>
  </div>
  <div class="col-12">
    <p-table [value]="formListChildren.controls" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" style="width: 20%">{{ 'admin.common.code' | translate }}</th>
          <th scope="col" style="width: 20%">{{ 'admin.common.name' | translate }}</th>
          <th scope="col" style="width: 20%">{{ 'admin.common.value' | translate }}</th>
          <th scope="col" style="width: 20%">{{ 'admin.common.orderNum' | translate }}</th>
          <th scope="col" style="width: 20%">{{ 'admin.common.description' | translate }}</th>
          <th scope="col" style="width: 100px">{{ 'admin.common.default' | translate }}</th>
          <th *ngIf="screenType !== 2" alignFrozen="right" pFrozenColumn scope="col" style="width: 100px">
            {{ 'admin.common.action' | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template let-item pTemplate="body">
        <tr [formGroup]="item">
          <td style="width: 20%">
            <mbal-input-text [showLabel]="false" [uppercase]="true" formControlName="code"></mbal-input-text>
          </td>
          <td style="width: 20%">
            <mbal-input-text [showLabel]="false" formControlName="name"></mbal-input-text>
          </td>
          <td style="width: 20%">
            <mbal-input-text [showLabel]="false" formControlName="value"></mbal-input-text>
          </td>
          <td style="width: 20%">
            <mbal-input-text [showLabel]="false" formControlName="orderNum"></mbal-input-text>
          </td>
          <td style="width: 20%">
            <mbal-input-text [showLabel]="false" formControlName="description"></mbal-input-text>
          </td>
          <td style="width: 100px">
            <p-checkbox [binary]="true" formControlName="isDefault"></p-checkbox>
          </td>
          <td *ngIf="screenType !== 2" alignFrozen="right" pFrozenColumn style="width: 100px">
            <span (click)="deleteItem(item)" class="pointer">
              <em class="las la-trash-alt"></em>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <div *ngIf="screenType !== 2" class="mt-2">
      <button (click)="addNewFormChildren()" class="p-mr-2" icon="pi pi-plus" pButton></button>
    </div>
  </div>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <button (click)="save()" *ngIf="screenType !== 2" class="p-mr-2" icon="pi pi-check" label="Lưu" pButton></button>
  <button (click)="cancel()" class="p-button-danger" icon="pi pi-times" label="Đóng" pButton></button>
</div>
