
<div class="policy-data">
	
	<p-card>
		<div class="pl-2 ">
			<h4 class="title title-checkList ">{{ 'request.detailRequest.premiumAdjustment.requestInfo' | translate }}</h4>
		</div>
		
		<div class="grid px-5">
			<div class="md:col-6 col-12 pb-0">
				<div class="grid">
					<div
							class="md:col-6 col-12  font-bold">{{'request.detailRequest.premiumAdjustment.request.policyNumber' | translate}}</div>
					<div class="md:col-6 col-12">{{summary?.initOnAttachmentPolicyNumber ?? '- - -'}}</div>
				</div>
			</div>
			
			<div class="md:col-6 col-12 pb-0">
				<div class="grid">
					<div
							class="md:col-6 col-12  font-bold">{{'request.detailRequest.premiumAdjustment.request.adjustment' | translate}}</div>
					<div class="md:col-6 col-12">{{summary?.feeAdjustPolicyNumber ?? '- - -'}}</div>
				</div>
			</div>
			
			<div class="md:col-6 col-12 pb-0">
				<div class="grid">
					<div
							class="md:col-6 col-12  font-bold">{{'request.detailRequest.premiumAdjustment.request.payment' | translate}}</div>
					<div
							class="md:col-6 col-12">{{summary ? ((summary?.onAttachmentAmount| currency: 'VND': '') + ' VNĐ') : '- - -'}}</div>
				</div>
			</div>
			
			<div class="md:col-6 col-12 pb-0">
				<div class="grid">
					<div
							class="md:col-6 col-12  font-bold">{{'request.detailRequest.premiumAdjustment.request.adjustmentPolicy' | translate}}</div>
					<div class="md:col-6 col-12">{{summary?.policyHolderName ?? '- - -'}}</div>
				</div>
			</div>
			
			<div class="md:col-6 col-12 pb-0">
				<div class="grid">
					<div
							class="md:col-6 col-12  font-bold">{{'request.detailRequest.premiumAdjustment.request.adjustmentFee' | translate}}</div>
					<div
							class="md:col-6 col-12">{{summary ? ((summary?.adjustmentAmount | currency: 'VND': '') + ' VNĐ') : '- - -'}}</div>
				</div>
			</div>
			
			<div class="md:col-6 col-12 pb-0">
				<div class="grid">
					<div
							class="md:col-6 col-12  font-bold">{{ 'request.detailRequest.premiumAdjustment.request.submitDate' | translate}}</div>
					<div class="md:col-6 col-12">{{summary?.signDate ? (summary!.signDate | MapSAPDate) : '- - -'}}</div>
				</div>
			</div>
			<div class="md:col-6 col-12 pb-0">
				<div class="grid">
					<div
							class="md:col-6 col-12  font-bold">{{'request.detailRequest.premiumAdjustment.request.ticketNumber' | translate}}</div>
					<div class="md:col-6 col-12 overflow-wrap__break">{{summary?.crmTicket ?? '- - -'}}</div>
				</div>
			</div>
			<div class="md:col-6 col-12 pb-0">
				<div class="grid">
					<div
							class="md:col-6 col-12  font-bold">{{'request.detailRequest.premiumAdjustment.request.emailCCTV' | translate}}</div>
					<div class="md:col-6 col-12 overflow-wrap__break">{{summary?.icEmail ?? '- - -'}}</div>
				</div>
			</div>
		</div>
	</p-card>

</div>