<p-card styleClass="mt-3">
  <div class="">
    <h4 class="title title1">{{ 'request.detailRequest.requestInfo.title' | translate }}</h4>
  </div>
  <div class="flex">
    <div class="col-4 pl-5">
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.requestInfo.customerName' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.customerName }}</span>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.requestInfo.postingDate' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.paymentDate | date: 'dd/MM/yyyy' }}</span>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'createRequest.requestCollection.refundAmount' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.refundAmount | number: '1.0-0' }} VND </span>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <span>
            <label class="field-key">{{
              'request.detailRequest.requestInfo.gender' | translate
              }}</label>
          </span>
        </div>
        <div class="col">
          <span class="field-value">{{ genderName }}</span>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <span>
            <label class="field-key">Email</label>
          </span>
        </div>
        <div class="col">
          <span class="field-value word-break-all">{{ itemRequest?.email }}</span>
        </div>
      </div>

    </div>

    <div class="col-4 pl-5">
      <div class="grid">
        <div class="col-6">
          <span>
            <label class="field-key">{{
              'request.detailRequest.requestInfo.paymentMethod' | translate
              }}</label>
          </span>
        </div>
        <div class="col">
          <span class="field-value">{{ paymentMethodDesc | translate }}</span>
        </div>
      </div>
      <div class="grid">
        <div class="col-6">
          <span>
            <label class="field-key">{{
              'request.detailRequest.requestInfo.bankName' | translate
              }}</label>
          </span>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.bankName }}</span>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <span>
            <label class="field-key">{{
              'request.detailRequest.requestInfo.bankAccount' | translate
              }}</label>
          </span>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.beneficiaryAccount }}</span>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <span>
            <label class="field-key">{{
              'request.detailRequest.requestInfo.branch' | translate
              }}</label>
          </span>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.branch }}</span>
        </div>
      </div>

    </div>

    <div class="col-4 pl-5">
      <div class="grid">
        <div class="col-6">
          <span>
            <label class="field-key">{{
              'request.detailRequest.requestInfo.idType' | translate
              }}</label>
          </span>
        </div>
        <div class="col">
          <span class="field-value">{{ IdentifyTypeDesc }}</span>
        </div>
      </div>
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.requestInfo.idNumber' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.idNo }}</span>
        </div>
      </div>
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.requestInfo.dateOfIssue' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.dateOfIssue | date: 'dd/MM/yyyy' }}</span>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.requestInfo.institute' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.placeOfIssue }}</span>
        </div>
      </div>
    </div>
  </div>
</p-card>

