<ng-container  *ngIf="(datatable$ | async) as dataTable">
  <div class="pl-2 mb-5 pt-3" *ngIf="dataTable?.length! > 0">
    <h4 class="title title-checkList mb-4">{{'request.detailRequest.premiumAdjustment.resultPaymentRun' | translate}}</h4>
    <div class="table">
      <p-table
        [resizableColumns]="true"
        [value]="dataTable"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Doc.No</th>
            <th>PG</th>
            <th>Stat.key</th>
            <th>DT</th>
            <th>Net Date</th>
            <th>Amount</th>
            <th>Still Open</th>
            <th>Clear Date</th>
            <th>Clear Doc</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.docNumber}}</td>
            <td>{{row.produceGroup}}</td>
            <td>{{row.statKey}}</td>
            <td>{{row.docType}}</td>
            <td>{{row.netDate | MapSAPDate}}</td>
            <td>{{row.amount | MapSAPAmount}}</td>
            <td>{{row.stillOpen | MapSAPAmount}}</td>
            <td>{{row.clearingDate | MapSAPDate}}</td>
            <td>{{row.clearingDoc }}</td>
          </tr>
        </ng-template>

      </p-table>
    </div>
  </div>
</ng-container>

