@import "variable";

.divider {
  border-top: 1px solid #E9ECEF;
  margin: 32px 0 16px;
}

.title-task {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.header-claim {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: $primary1;
}

.fileName {
  color: $primary1;
  font-size: 14px;
  padding-top: 1px;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: $danger;
  }
}

.fileName ~ .fileName {
  margin-left: 10px;
}

