<ng-container>
  <div>
    <claim-section-template
      [header]="((checkTitleType | apply: info?.historyType) | translate) + (info?.historyType === HISTORY_TYPE.UPDATE_TASK ?  ' -' + (index ?? 0) + 1 : '') "
      headerStyleClass="claim__sub-section-split-header"
      [mode]="'normal'"
    >
      <div class="claim__section-body">
        <div class="claim__sub-section-grid task-info-body">

          <ng-template [ngTemplateOutlet]="contentFirst ?? null" [ngTemplateOutletContext]="{ $implicit: info }" ></ng-template>

          <ng-container *ngIf="info.type === requestType.TYPE13">
            <div class="claim__grid-item-title">{{ 'claimRequest.decision' | translate  }}</div>
            <div class="claim__grid-item-body span3">
              <value-display [value]="info?.decisionContent"></value-display>
            </div>
          </ng-container>

          <ng-container *ngIf="[HISTORY_TYPE.SUBMIT_TASK, HISTORY_TYPE.UPDATE_TASK].includes($any(info?.historyType)) else contentTemp">
            <div class="claim__grid-item-title">{{ 'request.detailRequest.claim-tpa.handleContent' | translate  }}</div>
            <div class="claim__grid-item-body span3">
              <value-display [value]="info?.decisionContent"></value-display>
            </div>
          </ng-container>

          <ng-template #contentTemp >
            <div class="claim__grid-item-title">{{ 'request.detailRequest.claim-tpa.content' | translate  }}</div>
            <div class="claim__grid-item-body span3">
              <value-display [value]="info?.content"></value-display>
            </div>
          </ng-template>

          <ng-container *ngIf="info?.type !== TYPE_RE_INSURANCE">
            <div class="claim__grid-item-title">{{ 'request.detailRequest.claim-tpa.department' | translate }}</div>
            <div class="claim__grid-item-body ">
              <value-display [value]="info?.department | MatchPipe: department : 'value' : 'name' "></value-display>
            </div>
          </ng-container>

          <div class="claim__grid-item-title">{{ 'request.detailRequest.claim-tpa.pic' | translate }}</div>
          <div class="claim__grid-item-body ">
            <value-display [value]="info?.pic"></value-display>
          </div>

          <div class="claim__grid-item-title">{{ (checkTitleDate | apply: info?.historyType) | translate }}</div>
          <div class="claim__grid-item-body ">
            <value-display [value]="(info?.createdDate | date: DATE_FORMAT)"></value-display>
          </div>

          <ng-container *ngIf="info?.historyType === HISTORY_TYPE.SUBMIT_TASK && displayCodeAfterSubmit">
            <div class="claim__grid-item-title">{{ 'request.detailRequest.claim-tpa.code' | translate }}</div>
            <div class="claim__grid-item-body ">
              <value-display [value]="info?.code"></value-display>
            </div>
          </ng-container>

        </div>
        <div *ngIf="info?.attachments?.length > 0" style="display: flex; margin-top: 20px">
          <div
            class="title-task">{{ 'request.detailRequest.claim-tpa.attachment' | translate }}</div>
          <div class="ml-3">
                <span (click)="exportFile(item?.id)" class="fileName"
                      *ngFor="let item of info?.attachments; trackBy: trackByTabs">{{item?.fileName}}
                </span>
          </div>
        </div>

        <ng-template [ngTemplateOutlet]="contentLast ?? null" [ngTemplateOutletContext]="{ $implicit: info }" ></ng-template>

      </div>
    </claim-section-template>
  </div>
</ng-container>
