<div class="card">
  <p-toolbar styleClass="px-0 flex justify-content-between">
    <div class="p-toolbar-group-left">
      <mbal-input-text
        (keyup.enter)="search()"
        [(ngModel)]="params.search"
        [fieldForm]="false"
        [showLabel]="false"
        class="input-search"
      >
      </mbal-input-text>
      <p-button (click)="search()" class="ml-3" icon="pi pi-search">
      </p-button>
    </div>
    <div class="p-toolbar-group-right">
      <button (click)="viewCreate()" *ngIf="checkFunctionCreate()" class="mr-3" icon="pi pi-plus" pButton></button>
    </div>
  </p-toolbar>
  <p-treeTable #tt [globalFilterFields]="['name', 'code']" [value]="data">
    <ng-template pTemplate="header">
      <tr>
        <th class="permissionName" scope="col">{{ 'admin.permission.permissionName' | translate }}</th>
        <th scope="col">{{ 'admin.permission.description' | translate }}</th>
        <th scope="col">Chức năng</th>

        <th scope="col">{{ 'admin.permission.action' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template let-rowData="rowData" let-rowNode pTemplate="body">
      <tr [ttRow]="rowNode">
        <td class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{ rowData.name }}
        </td>
        <td class="white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ rowData.description }}</td>
        <td class="white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ rowData.resourcesName }}</td>

        <td>
          <span (click)="viewEdit(rowData.id)" *ngIf="checkFunctionUpdate()" class="pointer">
            <em class="las la-pen"></em>
          </span>
          <ng-container *ngIf="showActionDelete(rowNode.node)">
            <span (click)="deleteItem(rowData.id)" class="pointer">
              <em class="pi pi-trash ml-3"></em>
            </span>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
