<div class="card form-refund">
  <div class="grid">
    <h3 class="title col-12">{{ 'createRequest.requestRefund.requestInfo' | translate }}</h3>

    <div [formGroup]="form" class="col-6">
      <mbal-input-text
        (blur)="getData()"
        formControlName="policyNumber"
        label="{{ 'createRequest.requestRefund.' + getLabelPolicyNumber() | translate }}"
      ></mbal-input-text>
    </div>
    <div [formGroup]="form" class="col-6">
      <mbal-input-text
        formControlName="email"
        label="{{ 'createRequest.requestRefund.ccEmail' | translate }}"
      ></mbal-input-text>
    </div>
    <div [formGroup]="form" class="col-6">
      <mbal-input-text
        formControlName="policyHolderName"
        label="{{ 'createRequest.requestRefund.policyHolderName' | translate }}"
      ></mbal-input-text>
    </div>
    <div [formGroup]="form" class="col-6">
      <mbal-input-text
        formControlName="icName"
        label="{{ 'createRequest.requestRefund.ccName' | translate }}"
      ></mbal-input-text>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-input-text
        formControlName="ccCode"
        label="{{ 'createRequest.requestRefund.ccCode' | translate }}"
      ></mbal-input-text>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-calendar
        *ngIf="itemType !== requestType.TYPE06 && itemType !== requestType.TYPE05"
        [maxDate]="dateNotFuture"
        formControlName="requestSigningDate"
        label="{{ 'createRequest.requestRefund.cancellationRequestFormDate' | translate }}"
      ></mbal-calendar>
    </div>

    <ng-container *ngFor="let item of files; let i = index">
      <div [class]="'col-' + (i === 0 ? '12' : '6')">
        <div class="field" style="margin: auto">
          <label class="label-input"
          >{{ item.label | translate }}<span *ngIf="item.required" class="text-red">*</span></label
          >
          <div class="mt-2">
            <p-fileUpload
              #fileInput
              (uploadHandler)="uploadHandler($event, i)"
              [auto]="true"
              [customUpload]="true"
              [maxFileSize]="100000000"
              [multiple]="true"
              [previewWidth]="40"
              [showUploadButton]="false"
              accept=".pdf,image/*"
              chooseIcon="pi pi-upload"
              chooseLabel="{{ 'createRequest.requestRefund.selectFileUpload' | translate }}"
              class="p-upload"
            >
            </p-fileUpload>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="card">
  <p-toolbar>
    <ng-template pTemplate="left"></ng-template>
    <ng-template pTemplate="right">
      <button
        (click)="save()"
        class="mr-2"
        icon="pi pi-check"
        label="{{ 'createRequest.requestRefund.submitForm' | translate }}"
        pButton
      ></button>
    </ng-template>
  </p-toolbar>
</div>
