<div class="w-100 text-right">
  <div class="">
    <p-table
      [autoLayout]="true"
      [resizableColumns]="true"
      [value]="dataColumn"
      responsiveLayout="scroll"
      dataKey="id"
      editMode="row"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px; padding: 5px 10px">STT</th>
          <th style="width: 200px; padding: 5px 10px">{{'category.column.columnCode' | translate }}</th>
          <th style="width: 200px; padding: 5px 10px">{{'category.column.columnName' | translate }}</th>
          <th style="width: 200px; padding: 5px 10px">{{'category.column.columnName1' | translate }}</th>
          <th style="width: 200px; padding: 5px 10px">{{'category.column.columnName2' | translate }}</th>
          <th style="width: 200px; padding: 5px 10px">{{'category.column.columnStyle' | translate }}</th>
          <th style="width: 200px; padding: 5px 10px">{{'category.column.columnIndex' | translate }}</th>
          <!--          <th style="width: 200px; padding: 5px 10px">{{'category.column.chartIndex' | translate }}</th>-->
          <!--          <th style="width: 200px; padding: 5px 10px">{{'category.column.formula' | translate }}</th>-->
          <th style="width: 200px; padding: 5px 10px">{{'category.column.display' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item let-editing="editing" let-ri="rowIndex" pTemplate="body">
        <tr [pEditableRow]="item">
          <td>{{i + 1}}</td>
          <td>
            {{item?.id?.columnCode}}
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="item.columnName" [ngModelOptions]="{standalone: true}">
              </ng-template>
              <ng-template pTemplate="output">
                {{item.columnName}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="item.columnNameL1" [ngModelOptions]="{standalone: true}">
              </ng-template>
              <ng-template pTemplate="output">
                {{item.columnNameL1}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="item.columnNameL2" [ngModelOptions]="{standalone: true}">
              </ng-template>
              <ng-template pTemplate="output">
                {{item.columnNameL2}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <mbal-select
                  [showLabel]="false"
                  [options]="columnStyle"
                  optionLabel="name"
                  optionValue="value"
                  [(ngModel)]="item.columnStyle"
                  [showClear]="false"
                ></mbal-select>
              </ng-template>
              <ng-template pTemplate="output">
                {{item.columnStyle}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="item.columnIndex" [ngModelOptions]="{standalone: true}">
              </ng-template>
              <ng-template pTemplate="output">
                {{item.columnIndex}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <mbal-select
                  [showLabel]="false"
                  [options]="displayIndex"
                  optionLabel="name"
                  optionValue="value"
                  [(ngModel)]="item.isDisplay"
                  [showClear]="false"
                ></mbal-select>
              </ng-template>
              <ng-template pTemplate="output">
                {{item.isDisplay}}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
      <ng-template let-item pTemplate="emptymessage">
        <div *ngIf="!item" class="table-empty-img">
          <img alt="No record found img" src="/assets/images/no-records.png"/>
          <span class="text-record">{{ ('table.noRecord' | translate).toUpperCase() }}</span>
        </div>
      </ng-template>
    </p-table>
  </div>
  <div [ngClass]="!!dataColumn?.length ? 'mt-4 text-right' : 'noRecord'">
    <button
      (click)="saveData()"
      class="btn save"
    >{{'category.column.save' | translate }}
    </button>
  </div>
</div>
