@import "src/assets/styles/variable";

.btn {
  width: 120px;
  margin: 0 10px;
  height: 40px;
  cursor: pointer;
  border: unset;
  border-radius: 5px;
}

.save {
  background-color: $primary1;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $white;

  &:hover {
    background-color: $primary;
  }
}

.noRecord {
  text-align: right;
  margin-top: 150px;
}

.table-empty-img {
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 43%;

  .text-record {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 800;
  }

  img {
    width: auto;
    max-width: 100px;
    margin-bottom: 18px;
  }
}
