<div class="card chart-card">
  <div class="title pl-2 py-3">{{title}}</div>
  <p-table [columns]="columns"
           responsiveLayout="scroll"
           [value]="data?.content ?? []"
           [scrollable]="true"
           scrollHeight="400px">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.columnName }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.fieldInDataModel] }}
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
