<div class="p-dialog-header px-0">
  <span class="p-dialog-title"
  >{{ 'category.configQuery' | translate }}</span
  >
  <div class="p-dialog-header-icons">
    <div class="text-right">
      <button
        [disabled]="state.functionType === 'category' && !!data?.length"
        class="mx-2" (click)="openDialogQuery(false)" pButton
        label="{{'category.create' | translate }}"
        icon="pi pi-plus"></button>
    </div>
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="w-100 text-right">
  <div class="">
    <p-table
      [autoLayout]="true"
      [resizableColumns]="true"
      [value]="data"
      responsiveLayout="scroll"
      dataKey="id"
      editMode="row"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px; padding: 5px 10px; margin-bottom: 0">STT</th>
          <th
            style="padding: 5px 10px; margin-bottom: 0">{{'category.config.queryName' | translate }}</th>
          <th *ngIf="state.functionType !== 'category' && state.functionType !== 'chart'"
              style=" padding: 5px 10px; margin-bottom: 0">{{'category.config.gridName' | translate }}</th>
          <th
            style="padding: 5px 10px; margin-bottom: 0">{{'category.config.queryString' | translate }}</th>
          <th *ngIf="state.functionType !== 'category' && state.functionType !== 'chart'"
              style="padding: 5px 10px; margin-bottom: 0">{{'category.config.sheetName' | translate }}</th>
          <th *ngIf="state.functionType !== 'category'"
              style=" padding: 5px 10px; margin-bottom: 0">{{'category.config.queryIndex' | translate }}</th>
          <th *ngIf="state.functionType === 'chart'"
              style=" padding: 5px 10px; margin-bottom: 0">{{'category.config.chart' | translate }}</th>
          <th *ngIf="state.functionType === 'chart'"
              style=" padding: 5px 10px; margin-bottom: 0">{{'category.config.large' | translate }}</th>
          <th
            style="padding: 5px 10px; margin-bottom: 0">{{'category.config.showCondition' | translate }}</th>
          <th *ngIf="state.functionType !== 'category'"
            style=" padding: 5px 10px; margin-bottom: 0">{{'category.config.testQuery' | translate }}</th>
          <th *ngIf="state.functionType !== 'category'"
            style=" padding: 5px 10px; margin-bottom: 0">{{'category.config.baseCondition' | translate }}</th>
          <th *ngIf="state.functionType !== 'category'"
              style=" padding: 5px 10px; margin-bottom: 0">{{'category.config.showColum' | translate }}</th>
          <!--          <th-->
          <!--            style="width: 200px; padding: 5px 10px; margin-bottom: 0">{{'category.config.showGroupSum' | translate }}</th>-->
          <th style="width: 50px; padding: 5px 10px; margin-bottom: 0">{{'category.action' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item pTemplate="body" let-index="rowIndex">
        <tr [pEditableRow]="item">
          <td>{{i + 1}}</td>
          <td>
            {{item.queryName}}
          </td>
          <td *ngIf="state.functionType !== 'category' && state.functionType !== 'chart'">
            {{item.gridName}}
          </td>
          <td [pTooltip]="item.queryString">
            <p class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
              {{ item.queryString }}
            </p>
          </td>
          <td *ngIf="state.functionType !== 'category' && state.functionType !== 'chart'">
            {{item.sheetName}}
          </td>
          <td *ngIf="state.functionType !== 'category'">
            {{item.queryIndex}}
          </td>
          <td *ngIf="state.functionType === 'chart'">
            {{item.chartType | MatchPipe: chartType : 'value' : 'name'}}
          </td>
          <td *ngIf="state.functionType === 'chart'">
            {{item.isLarge | MatchPipe: isLarge : 'value' : 'name'}}
          </td>
          <td>
            <button [disabled]="!!index" pButton (click)="change( 'conditions', item)" pRipple type="button"
                    pCancelEditableRow
                    icon="pi pi-info-circle"
                    class="p-button-rounded p-button-text"></button>
          </td>
          <td *ngIf="state.functionType !== 'category'">
            <button (click)="testQuery(item)" pButton pRipple type="button" pCancelEditableRow icon="pi pi-sync"
                    class="p-button-rounded p-button-text"></button>
          </td>
          <td *ngIf="state.functionType !== 'category'">
            <button *ngIf="!index" (click)="setBaseCondition(item)" pButton pRipple type="button" pCancelEditableRow
                    icon="pi pi-history"
                    class="p-button-rounded p-button-text"></button>
          </td>
          <td *ngIf="state.functionType !== 'category'">
            <button pButton (click)="change( 'columns', item)" pRipple type="button" pCancelEditableRow
                    icon="pi pi-building"
                    class="p-button-rounded p-button-text"></button>
          </td>
          <td style="text-align:center">
            <button (click)="openDialogQuery(true, item)" pButton pRipple type="button" pInitEditableRow
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-text"></button>
            <button pButton (click)="deleteItem(item)" pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template let-item pTemplate="emptymessage">
        <div *ngIf="!item" class="table-empty-img">
          <img alt="No record found img" src="/assets/images/no-records.png"/>
          <span class="text-record">{{ ('table.noRecord' | translate).toUpperCase() }}</span>
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
<div [ngClass]="!!data?.length ? 'mt-4 text-right' : 'noRecord'">
  <button
    class="btn destroy"
    (click)="cancel()"
  >{{'category.cancel' | translate }}
  </button>
</div>
<div class="card">
  <p-tabView *ngIf="activeIndex >= 0 && !!data.length" [(activeIndex)]="activeIndex">
    <ng-container [ngSwitch]="activeIndex">
      <p-tabPanel header="Columns" *ngSwitchCase="0">
        <app-columns [dataColumn]="dataColumns"></app-columns>
      </p-tabPanel>
      <p-tabPanel header="Conditions" *ngSwitchCase="1">
        <app-conditions
          [functionCode]="state.functionCode"
          [dataQueryConfig]="listCondition"
          [dataCondition]="dataCondition"
        ></app-conditions>
      </p-tabPanel>
      <p-tabPanel header="Column Group" *ngSwitchCase="2">
        <app-columns-group></app-columns-group>
      </p-tabPanel>
    </ng-container>


  </p-tabView>
</div>

