<p-card *ngIf="form" [formGroup]="form" styleClass="mt-3">
  <h4 class="title">TYPE</h4>
  <div class="grid">
    <div class="col-3">
      <mbal-select
        [options]="listRefuseReason"
        [readonly]="!!itemRequest?.isRefused || !!itemRequest?.isSubmit"
        formControlName="refusalReason"
        label="{{ 'request.detailRequest.underwrite.refuseReason' | translate }}"
        optionValue="value"
      ></mbal-select>
    </div>
    <div class="col-3">
      <mbal-select
        [fieldForm]="false"
        [options]="optionSubReason"
        [readonly]="!!itemRequest?.isRefused || !['98', '99', '92'].includes(dataForm?.refusalReason)  || !!itemRequest?.isSubmit"
        formControlName="refusalSubReason"
        label="{{ 'request.detailRequest.underwrite.subReason' | translate }}"
        optionValue="value"
      ></mbal-select>
    </div>
    <div class="col-3">
      <mbal-select
        (onChangeValue)="resetAuthorized($event['value'])"
        [fieldForm]="false"
        [options]="listTypeCancel"
        [readonly]="!!itemRequest?.isSubmit || !!itemRequest?.isPaymentRun || !itemRequest?.nbuCanEdit || isDecisionList"
        formControlName="processOption"
        label="{{ 'request.detailRequest.underwrite.selectType' | translate }}"
        optionValue="value"
      ></mbal-select>
    </div>
    <div class="col-3">
      <button
        (click)="refuse()"
        *ngIf="!itemRequest?.isRefused"
        [disabled]="itemRequest?.isSubmit"
        class="p-button-danger"
        pButton
      >
        {{ 'request.detailRequest.underwrite.refuse' | translate }}
      </button>
      <button
        (click)="close()"
        *ngIf="!itemRequest?.isRefused && !itemRequest?.isSubmit"
        class="p-button-warning ml-3"
        pButton
      >
        {{ 'button.closeRequest' | translate }}
      </button>
      <ng-container *ngIf="itemRequest?.isRefused">
        <div class="field-checkbox">
          <p-checkbox [binary]="true" [readonly]="true" formControlName="isRefused"></p-checkbox>
          <label>Refused</label>
        </div>
        <div class="field-checkbox ml-5">
          <p-checkbox [binary]="true" [readonly]="true" formControlName="isSendToSale"></p-checkbox>
          <label>Sent to sale</label>
        </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf="dataForm?.refusalSubReason === '910' || dataForm?.refusalReason === '903'" class="grid">
    <div class="col-6">
      <mbal-input-textarea
        [readonly]="!!itemRequest?.isSubmit || !!itemRequest?.isPaymentRun || !!itemRequest?.isRefused"
        formControlName="refusalOtherReason"
        label="{{
          'request.detailRequest.underwrite.'
          + (dataForm?.refusalSubReason === '910' ? 'otherReason' : 'postponementReason' ) | translate
        }}"
      ></mbal-input-textarea>
    </div>
  </div>
</p-card>
