<div class="w-100 text-right">
  <div class="">
    <p-table
      [autoLayout]="true"
      [resizableColumns]="true"
      [value]="dataCondition"
      responsiveLayout="scroll"
      dataKey="id"
      editMode="row"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px; padding-bottom: 5px;">STT</th>
          <th style="width: 200px; padding-bottom: 5px;">{{'category.condition.columnCode' | translate }}</th>
          <th style="width: 200px; padding-bottom: 5px;">{{'category.condition.controlIndex' | translate }}</th>
          <th style="width: 200px; padding-bottom: 5px;">{{'category.condition.compareType' | translate }}</th>
          <th style="width: 200px; padding-bottom: 5px;">{{'category.condition.dataType' | translate }}</th>
          <th style="width: 200px; padding-bottom: 5px;">{{'category.condition.controlType' | translate }}</th>
          <th style="width: 200px; padding-bottom: 5px;">{{'category.condition.controlLabel' | translate }}</th>
          <th style="width: 200px; padding-bottom: 5px;">{{'category.condition.dataBind' | translate }}</th>
          <th style="padding-bottom: 5px;">{{'category.condition.defaultValue' | translate }}</th>
          <th style="width: 200px; padding-bottom: 5px;">Required</th>
          <th style="width: 50px; padding-bottom: 5px;">{{'category.action' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item pTemplate="body">
        <tr [pEditableRow]="item">
          <td>{{i + 1}}</td>
          <td>
            {{item.columnCode}}
          </td>
          <td>
            {{item.controlIndex}}
          </td>
          <td>
            {{item.compareType}}
          </td>
          <td>
            {{item.dataType}}
          </td>
          <td>
            {{item.controlType}}
          </td>
          <td>
            {{item.controlLabel}}
          </td>
          <td [pTooltip]="item.databind">
            <p class="w-8rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
              {{ item.databind }}
            </p>
          </td>
          <td>{{item.defaultValue}}</td>
          <td>{{item.isRequire}}</td>
          <td style="text-align:center">
            <button (click)="openCreateCondition(item)" pButton pRipple type="button" pInitEditableRow
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-text"></button>
            <button (click)="deleteItem(item)" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template let-item pTemplate="emptymessage">
        <div *ngIf="!item" class="table-empty-img">
          <img alt="No record found img" src="/assets/images/no-records.png"/>
          <span class="text-record">{{ ('table.noRecord' | translate).toUpperCase() }}</span>
        </div>
      </ng-template>
    </p-table>
  </div>
  <div [ngClass]="!!dataCondition?.length ? 'mt-4 text-right' : 'noRecord'">
  </div>
</div>
