<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-table [value]="dataTable.content" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 50px">No.</th>
            <th scope="col" style="width: 250px">{{ 'config.ruleSla.ruleType' | translate }}</th>
            <th scope="col">{{ 'config.ruleSla.filename' | translate }}</th>
            <th alignFrozen="right" pFrozenColumn scope="col" style="width: 100px">
              {{ 'config.ruleSla.action' | translate }}
            </th>
            <th alignFrozen="right" pFrozenColumn scope="col" style="width: 100px">Template</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr>
            <td style="width: 50px">{{ i + 1 }}</td>
            <td style="width: 250px">
              <p>{{ item.code }}</p>
            </td>
            <td>
              <p>{{ item.name }}</p>
            </td>
            <td alignFrozen="right" pFrozenColumn style="width: 150px">
              <p-fileUpload
                #fileInput
                (uploadHandler)="uploadHandler($event, fileInput, item)"
                [auto]="true"
                [customUpload]="true"
                [maxFileSize]="100000000"
                [multiple]="false"
                [previewWidth]="40"
                [showUploadButton]="false"
                accept=".xlsx, .xls"
                chooseIcon="pi pi-upload"
                chooseLabel="Upload file"
                class="p-upload"
                mode="basic"
              >
              </p-fileUpload>
            </td>
            <td alignFrozen="right" pFrozenColumn style="width: 120px">
              <button (click)="downloadTemplate(item)" pButton>Tải file</button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
