<div class="layout-content bg-white ml-1" [formGroup]="form">
  <div class="grid ml-1 align-items-center" >
    <ng-container *ngFor="let item of model">
      <div [ngClass]="{'col-12': true, 'md:col-6 lg:col-4': item.condition.controlType !== CONTROL_TYPE.TextArea}"
           *ngIf="item.condition as condition">
        <ng-container *ngIf="item.condition.dataType !== IGNORE_DATA_TYPE">
          <ng-container [ngSwitch]="condition.controlType">
            <ng-container *ngSwitchCase="CONTROL_TYPE.TextBox">
              <ng-container
                *ngIf="[COLUMN_STYLE.Integer, COLUMN_STYLE.Float].includes($any(condition.dataType)) else inputText">
                <mbal-input-number
                  (keydown.enter)="reformingSearch()"
                  [formControlName]="condition.columnCode"
                  [label]="condition.controlLabel"
                  maxlength="1000">
                </mbal-input-number>
              </ng-container>
              <ng-template #inputText>
                <mbal-input-text
                  (keydown.enter)="reformingSearch()"
                  [onlyNumber]="condition.dataType === COLUMN_STYLE.Number"
                  [formControlName]="condition.columnCode"
                  [label]="condition.controlLabel"
                  maxlength="1000">
                </mbal-input-text>
              </ng-template>
            </ng-container>
            <ng-container *ngSwitchCase="CONTROL_TYPE.TextArea">
              <mbal-input-textarea
                (keydown.enter)="reformingSearch()"
                [autoResize]="false"
                [formControlName]="condition.columnCode"
                [label]="condition.controlLabel"
                [rows]="6">
              </mbal-input-textarea>
            </ng-container>
            <ng-container *ngSwitchCase="CONTROL_TYPE.DatePicker">
              <mbal-calendar
                (keydown.enter)="reformingSearch()"
                [formControlName]="condition.columnCode"
                [label]="condition.controlLabel"
                [calendarView]="CalendarView.DatePicker"
                [format]="DateFormat.Date"
                [showTime]="false">
              </mbal-calendar>
            </ng-container>
            <ng-container *ngSwitchCase="CONTROL_TYPE.DateTimePicker">
              <mbal-calendar
                (keydown.enter)="reformingSearch()"
                [formControlName]="condition.columnCode"
                [label]="condition.controlLabel"
                [calendarView]="CalendarView.DatePicker"
                [listenOnInput]="false"
                [listenOnSelect]="false"
                [format]="DateFormat.Date"
                [showTime]="true">
              </mbal-calendar>
            </ng-container>
            <ng-container *ngSwitchCase="CONTROL_TYPE.MonthPicker">
              <mbal-calendar
                (keydown.enter)="reformingSearch()"
                [formControlName]="condition.columnCode"
                [label]="condition.controlLabel"
                [calendarView]="CalendarView.MonthPicker"
                [format]="DateFormat.Month"
                [showTime]="false">
              </mbal-calendar>
            </ng-container>
            <ng-container *ngSwitchCase="CONTROL_TYPE.SelectedBox">
              <mbal-select
                (keydown.enter)="reformingSearch()"
                [filter]="true"
                [formControlName]="condition.columnCode"
                [label]="condition.controlLabel"
                [optionLabel]="'label'"
                [optionValue]="'value'"
                [options]="condition.lstSelect ?? []"
                [selectMode]="'single'">
              </mbal-select>
            </ng-container>
            <ng-container *ngSwitchCase="CONTROL_TYPE.MultiSelect">
              <mbal-select
                (keydown.enter)="reformingSearch()"
                [filter]="true"
                [formControlName]="condition.columnCode"
                [label]="condition.controlLabel"
                [optionLabel]="'label'"
                [optionValue]="'value'"
                [options]="condition.lstSelect ?? []"
                [selectMode]="'multiple'">
              </mbal-select>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
    <div class="ml-auto" *ngIf="isChartType">
      <button pButton (click)="exportChart()">{{'category.config.export_chart'| translate}}</button>
    </div>
  </div>
  <div class="mt-2 col-12" *ngIf="!isChartType">
    <ng-container *ngIf="!isCategoryType">
      <button
        (click)="reformingSearch()"
        [disabled]="!model.length"
        pButton>{{'category.fe.textSearch'| translate}}</button>
      <button
        (click)="exportExcel()"
        [icon]="'las la-download'" label="{{'category.export' | translate}} Excel"
        pButton></button>
      <button
        (click)="exportCSV()"
        [icon]="'las la-download'" label="{{'category.export' | translate}} CSV"
        pButton></button>
      <button
        (click)="reset()"
        [disabled]="!model.length"
        class="btn destroy"
        pButton>
        {{'category.fe.reset-filter' | translate}}
      </button>
    </ng-container>
    <ng-container *ngIf="isCategoryType">
      <button pButton (click)="executeSearch()">{{'category.fe.execute'| translate}}</button>
    </ng-container>
  </div>
</div>

<ng-template #categoryActionButton>

</ng-template>
