@import "src/assets/styles/variable";

//.btn {
//  width: 120px;
//  margin: 0 10px;
//  height: 40px;
//  cursor: pointer;
//  border: unset;
//  border-radius: 5px;
//}

.destroy {
  font-weight: 500;
  font-size: 16px;
  background-color: $gray-500 !important;
  color: $black;
  &:hover {
    color: $black;
    background-color: $gray-400 !important;
  }
}

button ~ button {
  margin-left: 16px
}

//.save {
//  background-color: $primary1;
//  font-style: normal;
//  font-weight: 500;
//  font-size: 16px;
//  color: $white;
//
//  &:hover {
//    background-color: $primary;
//  }
//}
