<p-table
  [(selection)]="selectionItem"
  [resizableColumns]="true"
  [value]="dataTable.content"
  responsiveLayout="scroll"
  selectionMode="checkbox"
>
  <ng-container>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 3rem">
          <p-tableHeaderCheckbox
          ></p-tableHeaderCheckbox>
        </th>
        <th scope="col">{{'claims.stt' | translate }}</th>
        <th scope="col">{{'claims.policyN' | translate }}</th>
        <th scope="col">{{'claims.requestCode' | translate }}</th>
        <th scope="col">{{'claims.customerName' | translate }}</th>
        <th scope="col">{{'claims.laName' | translate }}</th>
        <th scope="col">{{'claims.startDate' | translate }}</th>
        <th scope="col">{{'claims.checkDate' | translate }}</th>
        <th scope="col">{{'claims.amount' | translate }}</th>
        <th scope="col">{{'claims.status' | translate }}</th>
        <th scope="col">{{'claims.resolution' | translate }}</th>
        <th scope="col">{{'claims.pic' | translate }}</th>
        <th scope="col">{{'claims.tpa' | translate }}</th>
        <th scope="col">{{'claims.createDate' | translate }}</th>
        <th scope="col">{{'claims.updateDate' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" let-item pTemplate="body">
      <tr (dblclick)="doDetail(item)" [pSelectableRow]="item">
        <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>

        <td>{{ dataTable.currentPage * dataTable.size + i + 1 }}</td>
        <td>{{ item.policyNumber }}
        <td>{{ item.requestId }}</td>
        <td>{{ item.bpName }}</td>
        <td [pTooltip]="item.laName">
          <p class="w-15rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
            {{ item.laName }}
          </p>
        </td>
        <td>
          {{ item.startEventDate | date: 'dd/MM/YYYY' }}
        </td>
        <td>{{ item.endEventDate | date: 'dd/MM/YYYY' }}</td>
        <td>{{ item.evaluateClaimAmount }}</td>
        <td>{{ item.status | MapTranslate:  stateData?.listStatus ?? [] }}</td>
        <td>{{ item.resolution }}</td>
        <td>{{ item.pic }}</td>
        <td>{{ item.tpa }}</td>
        <td>{{ item.createdDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.updatedDate | date: 'dd/MM/yyyy' }}</td>
      </tr>
    </ng-template>
  </ng-container>
</p-table>
<div class="custom-paginator">
  <div class="absolute">
    {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
    {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
    {{ 'request.requestList.record' | translate }}.
  </div>
  <p-paginator
    (onPageChange)="pageChange($event)"
    [first]="dataTable.first"
    [rowsPerPageOptions]="[10, 20, 30]"
    [rows]="dataTable.size"
    [showCurrentPageReport]="true"
    [totalRecords]="dataTable.totalElements"
  >
  </p-paginator>
</div>
