<div class="layout-content bg-white">
  <div
    class="titleDialog">{{item ? ('category.createDB.update' | translate) : ('category.createDB.create' | translate)  }}</div>
  <div class="mt-3" [formGroup]="form">
    <div class="grid">
      <div class="col-12 md:col-6">
        <mbal-input-text
          label="{{'category.database.dbName' | translate }}"
          formControlName="dbName"
        ></mbal-input-text>
      </div>
      <div class="col-12 md:col-6">
        <mbal-select
          [options]="dbType"
          optionLabel="name"
          optionValue="value"
          label="{{'category.database.driver' | translate }}"
          formControlName="driver"
        ></mbal-select>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <mbal-input-text
          label="{{'category.database.url' | translate }}"
          formControlName="url"
        ></mbal-input-text>
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-6">
        <mbal-input-text
          label="{{'category.database.username' | translate }}"
          formControlName="username"
        ></mbal-input-text>
      </div>
      <div class="col-12 md:col-6">
        <div *ngIf="item">
          <button
            (click)="editPassword()"
            pButton pRipple type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text edit-pass"></button>
        </div>
        <mbal-input-text
          [disabled]="item && edit"
          type="password"
          label="{{'category.database.password' | translate }}"
          formControlName="password"
          class="passwordStyle"
        ></mbal-input-text>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <mbal-select
          label="{{'category.database.status' | translate }}"
          [options]="option"
          optionLabel="code"
          optionValue="value"
          formControlName="status"
        ></mbal-select>
      </div>
    </div>
  </div>
  <div class="mt-5 text-right">
    <button
      class="btn destroy"
      (click)="closeDialog()"
    >{{'category.cancel' | translate }}
    </button>
    <button
      class="btn save"
      (click)="save()"
    >{{'category.save' | translate }}
    </button>
  </div>
</div>
