.p-dialog-title {
  height: 20px;
  left: 0px;
  top: calc(50% - 20px / 2 - 212px);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #0b7cc3;
}
.label-input {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin-left: 20px;
  margin-top: 10px;
}
:host ::ng-deep {
  .p-multiselect-panel .p-multiselect-header {
    display: none;
  }
}
