<div class="p-dialog-header px-0">
  <span class="p-dialog-title">{{ 'request.forward.title' | translate }}</span>
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="mt-2 p-dialog-body grid p-fluid">
  <!--  <div [formGroup]="form" class="col-6">-->
  <!--    <div class="p-field">-->
  <!--      <mbal-select-->
  <!--        (onChangeValue)="onChange()"-->
  <!--        [options]="groupList"-->
  <!--        formControlName="dept"-->
  <!--        label="{{ 'request.forward.group' | translate }} "-->
  <!--        optionLabel="name"-->
  <!--        optionValue="value"-->
  <!--      ></mbal-select>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="col-6">-->
  <!--    <div class="p-field">-->
  <!--      <span class="p-float-label"> </span>-->
  <!--    </div>-->
  <!--  </div>-->
  <div [formGroup]="form" class="col-6">
    <div class="p-field">
      <mbal-select
        (onChangeValue)="onChangUser($event)"
        [filter]="true"
        [options]="userList"
        formControlName="newPic"
        label="{{ 'request.forward.user' | translate }}"
        optionLabel="account"
        optionValue="account"
        selectMode="multiple"
      ></mbal-select>
    </div>
  </div>
  <div class="col-6">
    <mbal-input-text [(ngModel)]="nameUser" [readonly]="true" label="{{ 'request.forward.name' | translate }}">
    </mbal-input-text>
  </div>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <button
    (click)="save()"
    *ngIf="screenType !== 2"
    class="mr-2"
    icon="pi pi-check"
    label="{{ 'request.forward.save' | translate }}"
    pButton
  ></button>
  <button
    (click)="cancel()"
    class="p-button-danger"
    icon="pi pi-times"
    label="{{ 'request.forward.cancel' | translate }}"
    pButton
  ></button>
</div>
