<app-payment-information [itemRequest]="itemRequest" [listGender]="listGender"
                         [listIdentifyType]="listIdentifyType"></app-payment-information>
<p-card styleClass="mt-3">
  <div class=" ">
    <h4 class="title title-checkList">{{ 'request.collection.checklistDoc' | translate | uppercase }}</h4>
  </div>
  <div [formGroup]="dataProcess" class="grid">
    <div class="col">
      <div class="field-radiobutton">
        <p-checkbox [binary]="true" (onChange)="onChangeDocument()" [readonly]="disabledCheckbox()"
                    formControlName="insuranceClaimForm">
        </p-checkbox>
        <label>1.{{ 'request.detailRequest.process.insuranceClaimForm' | translate }}</label>
      </div>
    </div>
    <div class="col">
      <div class="field-radiobutton">
        <p-checkbox [binary]="true" (onChange)="onChangeDocument()" [readonly]="disabledCheckbox()"
                    formControlName="identification">
        </p-checkbox>
        <label> 2.{{ 'request.detailRequest.process.identification' | translate }}</label>
      </div>
    </div>
    <div class="col">
      <div class="field-radiobutton">
        <p-checkbox [binary]="true" (onChange)="onChangeDocument()" [readonly]="disabledCheckbox()"
                    formControlName="feePaymentVoucher">
        </p-checkbox>
        <label> 3.{{ 'request.detailRequest.process.feePaymentVoucher' | translate }}</label>
      </div>
    </div>
  </div>
</p-card>

<app-collection-decision #formDecision [additionalAttachmentsDropList]="additionalAttachmentsDropList"
                         [approvedDropList]="approvedDropList" [bankDropList]="bankDropList"
                         [decisionDropList]="decisionDropList" [form]="dataProcess" [itemRequest]="itemRequest"
                         [listGender]="listGender"
                         [listIdentifyType]="listIdentifyType"
                         [paymentMethodList]="paymentMethodList"
                         [pendingReasonDropList]="pendingReasonDropList"
                         [reasonDropList]="reasonDropList"
                         [rejectReasonDropList]="rejectReasonDropList"
                         [subReasonDropList]="subReasonDropList"></app-collection-decision>
<p-card *ngIf="currUser?.username === itemRequest?.pic || !!itemRequest?.picNote" styleClass="mt-3">
  <div>
    <h4 class="title">{{ 'request.detailRequest.underwrite.picNote' | translate }}</h4>
    <div>
      <mbal-input-textarea (blur)="savePicNote()" [(ngModel)]="itemRequest!.picNote"
                           [disabled]="currUser?.username !== itemRequest?.pic"
                           [fieldForm]="false"
                           [rows]="2"
                           [maxlength]="1000"
                           [showLabel]="false"></mbal-input-textarea>
    </div>
  </div>
</p-card>
<p-card styleClass="mt-3">
  <div class="flex flex-row-reverse card-container flex-btn align-items-center">
    <button (click)="submit()" *ngIf="objFunction?.scopes?.includes(this.action.Submit)" [disabled]="disableSubmit()"
            class="ml-2" pButton>
      {{ 'request.detailRequest.underwrite.submit' | translate }}
    </button>

    <button (click)="saveDetail()" *ngIf="objFunction?.scopes?.includes(this.action.Update)" [disabled]="disableSave()"
            class="ml-2" pButton>
      {{ 'request.detailRequest.underwrite.save' | translate }}
    </button>

    <button (click)="back()" class="ml-2 btn-cancel" pButton>
      {{ 'request.detailRequest.underwrite.cancel' | translate }}
    </button>
  </div>
</p-card>
