.title {
  font-size: 14px;
  color: #0b7cc3;
  text-transform: uppercase;
}

.isFinalDecisionBlue {
  color: #32cd32;
}

.p-button-raised {
  background: #dbe9ff;
}

label {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.view-file-container {
  height: 450px;

  .image-thumbail {
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .pdf-viewer {
    height: 450px;
    width: 100%;
  }
}

.pi-download {
  color: #3f51b5;
}

h6:first-child {
  margin-top: 0;
  margin-left: -1rem;
}

.border {
  border: 1px solid #ebebec;
  border-radius: 8px;
}

.p-button:enabled:active {
  background: #0d6efd;
}

:host ::ng-deep {
  .btn-cancel {
    background: #dee2e6;
    color: darkslategrey;
  }

  .btn-cancel:hover {
    color: darkslategrey !important;
  }

  .p-tabview .p-tabview-panels {
    background: none;
    border: 0 none;
    padding: 0rem;
  }

  .p-checkbox .p-checkbox-box {
    border: 1px solid #9eb3f8;
    border-radius: 4px;
  }

  .p-tabview-nav-container {
    display: none;
  }

  .icon-v {
    color: #099428;
    font-size: 1.2rem;
  }

  .isFinalDecisionRed {
    color: red;
  }
}
