<div class="grid">
  <div class="card">
    <p-toolbar styleClass="px-0 pt-0 mt-2">
      <div class="p-toolbar-group-left">
        <mbal-input-text
          (keyup.enter)="search()"
          [(ngModel)]="params.search"
          [fieldForm]="false"
          [showLabel]="false"
          class="input-search"
        ></mbal-input-text>
        <p-button (click)="search()" class="ml-3" icon="pi pi-search"></p-button>
      </div>
      <div class="p-toolbar-group-right">
        <div *ngIf="ids.length >= 3" class="text-red mr-3">{{ 'admin.function.exportMaxItem' | translate }}</div>
        <button (click)="exportFile()" [disabled]="ids.length === 0 || ids.length > 3" icon="pi pi-download"
                label="Export"
                pButton></button>
        <p-fileUpload
          #btnUpload
          uploadIcon="pi pi-upload"
          chooseIcon="pi pi-upload"
          [customUpload]="true"
          [auto]="true"
          (uploadHandler)="importFile($event, btnUpload)"
          mode="basic" name="demo[]" accept=".json"
          [maxFileSize]="1000000"
          chooseLabel="Import"></p-fileUpload>
        <!--        <button (click)="importFile()" class="mr-3" icon="pi pi-upload" label="Import" pButton></button>-->
        <button (click)="viewCreate()" *ngIf="checkFunctionCreate()" class="mr-3" icon="pi pi-plus" pButton></button>
      </div>
    </p-toolbar>

    <p-treeTable #tt [globalFilterFields]="['name', 'code']" [value]="data">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">{{ 'admin.function.application' | translate }}</th>

          <th scope="col">{{ 'admin.function.functionName' | translate }}</th>
          <th scope="col">{{ 'admin.function.description' | translate }}</th>
          <th scope="col">{{ 'admin.function.action' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template let-rowData="rowData" let-rowNode pTemplate="body">
        <tr [ttRow]="rowNode">
          <td class="white-space-nowrap overflow-hidden text-overflow-ellipsis flex align-items-center">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            <p-checkbox [(ngModel)]="ids" [value]="rowData.id" styleClass="mr-2"
                        name="resourceId"></p-checkbox>
            {{ rowData.code }}
          </td>
          <td class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
            {{ rowData.name }}
          </td>

          <td class="white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ rowData.description }}</td>
          <td alignFrozen="right" pFrozenColumn style="width: 100px">
            <span (click)="viewEdit(rowData)" *ngIf="checkFunctionUpdate()" class="pointer mr-2">
              <em class="las la-pen"></em>
            </span>
            <ng-container *ngIf="showActionDelete(rowNode.node)">
              <span (click)="deleteItem(rowData.id)" class="pointer icon-delete">
                <em class="pi pi-trash"></em>
              </span>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
