<div class="grid">
  <div class="col-6">
    <div class="card">
      <div class="grid">
        <div class="col-4">
          <mbal-input-text (keyup.enter)="search(true)" [(ngModel)]="params.code" [uppercase]="true"
                           label="{{ 'admin.common.code' | translate }}"></mbal-input-text>
        </div>
        <div class="col-4">
          <mbal-input-text (keyup.enter)="search(true)" [(ngModel)]="params.name"
                           label="{{ 'admin.common.name' | translate }}"></mbal-input-text>
        </div>
      </div>

      <p-toolbar styleClass="px-0 flex">
        <div class="p-toolbar-group-left">
          <p-button
            (click)="search(true)"
            icon="pi pi-search"
            label="{{ 'admin.common.search' | translate }}"
            styleClass="p-button-primary "
          >
          </p-button>
        </div>

        <div class="p-toolbar-group-right">
          <button (click)="viewCreate()" *ngIf="checkFunctionCreate()" icon="pi pi-plus" pButton></button>
        </div>
      </p-toolbar>
      <p-table [value]="dataTable.content" responsiveLayout="scroll" selectionMode="single">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">{{ 'admin.common.idno' | translate }}</th>
            <th scope="col">{{ 'admin.common.code' | translate }}</th>
            <th scope="col">{{ 'admin.common.name' | translate }}</th>
            <th alignFrozen="right" pFrozenColumn scope="col" style="width: 100px">Action</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr (click)="viewDetail(item.code, true)" [pSelectableRowIndex]="i" [pSelectableRow]="item">
            <td>{{ i + 1 }}</td>
            <td>
              <p class="w-15rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.code }}</p>
            </td>
            <td>
              <p class="w-15rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.name }}</p>
            </td>
            <td alignFrozen="right" pFrozenColumn style="width: 100px">
              <span
                (click)="$event.stopPropagation(); viewEditCategory(item)"
                *ngIf="checkFunctionUpdate()"
                class="pointer mr-2"
              >
                <em class="las la-pen"></em>
              </span>
              <span
                (click)="$event.stopPropagation(); deleteItem(item.code)"
                *ngIf="checkFunctionDelete()"
                class="pointer"
              >
                <em class="las la-trash-alt"></em>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator
        (onPageChange)="pageChange($event)"
        [first]="dataTable.first"
        [rowsPerPageOptions]="[10, 20, 30]"
        [rows]="dataTable!.size"
        [showCurrentPageReport]="true"
        [totalRecords]="dataTable!.totalElements"
      ></p-paginator>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <p-toolbar styleClass="px-0 pt-0 mt-8 flex">
        <div class="p-toolbar-group-left"></div>

        <div class="p-toolbar-group-right">
          <button class="opacity-0" icon="pi pi-plus" pButton></button>
        </div>
      </p-toolbar>
      <p-table [value]="data.content" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">{{ 'admin.common.code' | translate }}</th>
            <th scope="col">{{ 'admin.common.name' | translate }}</th>
            <th scope="col">{{ 'admin.common.value' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template let-item pTemplate="body">
          <tr>
            <td>
              <p class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.code }}</p>
            </td>
            <td>
              <p class="w-15rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.name }}</p>
            </td>
            <td>
              <p class="w-15rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.value }}</p>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator
        (onPageChange)="pageChangeDetail($event)"
        [first]="data.first"
        [rowsPerPageOptions]="[10, 20, 30]"
        [rows]="data.size"
        [showCurrentPageReport]="true"
        [totalRecords]="data.totalElements"
      ></p-paginator>
    </div>
  </div>
</div>
