<div class="p-dialog-content">
  <span
    class="p-confirm-dialog-message" *ngIf="!isNote">{{'MESSAGE.messageConfirm' | translate }}</span>
</div>
<mbal-input-textarea [(ngModel)]="note" *ngIf="isNote" label="{{'MESSAGE.note'| translate}}"
                     [maxlength]="256"
                     required
                     [rows]="3"></mbal-input-textarea>
<div class="p-dialog-footer">
  <button
    (click)="confirm(true)"
    class="btn btn-default p-mr-2"
    icon="pi pi-check"
    label="{{ 'MESSAGE.yes' | translate }}"
    [disabled]="isLength"
    pButton
  ></button>
  <button
    (click)="confirm(false)"
    class="p-button-danger"
    icon="pi pi-times"
    label="{{ 'MESSAGE.no' | translate }}"
    pButton
  ></button>
</div>
