<p-card *ngIf="form" styleClass="mt-3">
  <div class=" ">
    <h4 class="title title-checkList">{{ 'request.detailRequest.underwrite.checklist' | translate }}</h4>
  </div>
  <div [formGroup]="form" class="grid">
    <div class="col">
      <div class="field-radiobutton">
        <p-checkbox
          [binary]="true"
          [readonly]="disabledCheckbox()"
          formControlName="cancellationRequestForm"
        ></p-checkbox>
        <label>1.{{ 'request.detailRequest.underwrite.cancellationRequestForm' | translate }}</label>
      </div>
      <div class="field-radiobutton">
        <p-checkbox
          [binary]="true"
          [readonly]="disabledCheckbox()"
          formControlName="policyHolderIdentification"
        ></p-checkbox>
        <label> 2.{{ 'request.detailRequest.underwrite.policyHolderIdentification' | translate }}</label>
      </div>
      <div class="field-radiobutton">
        <p-checkbox
          [binary]="true"
          [readonly]="disabledCheckbox()"
          formControlName="signatureConfirmationLetter"
        ></p-checkbox>
        <label> 3.{{ 'request.detailRequest.underwrite.signatureConfirmationLetter' | translate }}</label>
      </div>
    </div>
    <div class="col">
      <div class="field-radiobutton">
        <p-checkbox
          (onChange)="onChangeCheckList($event, 'CTNT')"
          [binary]="true"
          [readonly]="disabledCheckbox()"
          formControlName="ctnt"
        ></p-checkbox>
        <label>4.{{ 'request.detailRequest.underwrite.ctnt' | translate }}</label>
      </div>
      <div class="field-radiobutton ml-4">
        <p-checkbox
          (onChange)="checkedPR($event)"
          [binary]="true"
          [readonly]="disabledCheckbox()"
          formControlName="paymentDocPR"
        ></p-checkbox>
        <label> 4.1.{{ 'request.detailRequest.underwrite.paymentDocPR' | translate }}</label>
      </div>
      <div class="field-radiobutton ml-4">
        <p-checkbox
          (onChange)="checkedTR($event)"
          [binary]="true"
          [readonly]="disabledCheckbox()"
          formControlName="paymentDocTR"
        ></p-checkbox>
        <label> 4.2.{{ 'request.detailRequest.underwrite.paymentDocTR' | translate }} </label>
      </div>
    </div>
    <div class="col">
      <div class="field-radiobutton">
        <p-checkbox
          (onChange)="onChangeCheckList($event, 'CTUQNT')"
          [binary]="true"
          [readonly]="disabledCheckbox()"
          formControlName="ctuqnt"
        ></p-checkbox>
        <label>5.{{ 'request.detailRequest.underwrite.ctuqnt' | translate }}</label>
      </div>
      <div class="field-radiobutton ml-4">
        <p-checkbox
          (onChange)="checkedAuthorizationDoc($event)"
          [binary]="true"
          [readonly]="disabledCheckbox()"
          formControlName="authorizationDoc"
        ></p-checkbox>
        <label> 5.1.{{ 'request.detailRequest.underwrite.authorizationDoc' | translate }}</label>
      </div>
      <div class="field-radiobutton ml-4">
        <p-checkbox
          (onChange)="checkedAuthorizedPersonId($event)"
          [binary]="true"
          [readonly]="disabledCheckbox()"
          formControlName="authorizedPersonId"
        ></p-checkbox>
        <label> 5.2.{{ 'request.detailRequest.underwrite.authorizedPersonId' | translate }} </label>
      </div>
    </div>
  </div>
</p-card>
