<div class="layout-topbar">
  <div class="layout-topbar-wrapper">
    <div class="layout-topbar-left contentWidth">
      <div #scrollContainer id="scroll-container">
        <div
          [class]="checkWidthContent(scrollContainer) ? 'scroll-text' : ''"
          [ngStyle]="checkWidthContent(scrollContainer) ? {
             animation: 'scrolling-text '+  (length * 20) + 's linear infinite',
            '-moz-animation': 'scrolling-text '+  (length * 20) + 's linear infinite',
            '-webkit-animation': 'scrolling-text '+  (length * 20) + 's linear infinite'
          } : {}"
        >
          <div class="flex" #itemNotifySystem *ngFor="let item of notificationContent"
               [ngClass]="{'item-notify-content': checkWidthContent(scrollContainer), 'justify-content-center': !checkWidthContent(scrollContainer)}">
            <div style="color: white" [innerHTML]="innerCheck(item.notification.content)"></div>
            <div class="flex" *ngFor="let data of item?.notification?.attachmentList">
              <div class="px-2 text-white"> -</div>
              <div (click)="exportFile(data)" class="fileName">{{data?.fileName}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layout-topbar-right fadeInDown overRight">
      <ul class="layout-topbar-actions">
        <li class="topbar-item profile-item">
          <a
            (click)="$event.preventDefault();opNotify.toggle($event)"
            class="icon-notify" href="#">
            <em
              *ngIf="countNotifications; else zeroNotify"
              [value]="countNotifications < 100 ? countNotifications!.toString() : '+99'" class="topbar-icon pi pi-bell"
              pBadge severity="danger"></em>
            <ng-template #zeroNotify>
              <em
                class="topbar-icon pi pi-bell"></em>
            </ng-template>
          </a>
          <a (click)="$event.preventDefault(); switchLanguage()" href="javascript:void(0)">
            <img [alt]="'assets/images/icon-' + translate.currentLang + '.png'"
                 [src]="'assets/images/icon-' + translate.currentLang + '.png'"
                 width="20px" />
          </a>
          <a (click)="$event.preventDefault()" class="pl-0" href="#">
            <span class="profile-image-wrapper">|</span>
            <span (click)="op.toggle($event)" class="profile-info-wrapper">
              <h3>{{ userName || 'User' }}</h3>
            </span>
          </a>
          <p-overlayPanel #op [baseZIndex]="1102"
                          styleClass="topbar-overlay-profile">
            <div (click)="openChangePassPopup(); op.hide()" class="pointer"
                 style="padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid rgb(128,128,128);"><a
              href="javascript:void(0)"
              style="color: #646464">{{ 'config.password.title' | translate }}</a>
            </div>
            <div (click)="logout()" class="pointer"><a href="javascript:void(0)" style="color: #646464">Logout</a></div>
          </p-overlayPanel>
        </li>
      </ul>
    </div>
  </div>
</div>

<p-overlayPanel #opNotify (onHide)="onHideNotify()" (onShow)="onShowNotify()"
                id="op-notify" styleClass="op-notify">
  <div class="mb-2 text-xl font-medium">{{ 'MESSAGE.NOTIFICATION' | translate }}</div>
  <div (scrolled)="onScrollDown($event)"
       [infiniteScrollDistance]="scrollDistance"
       [infiniteScrollThrottle]="throttle"
       [infiniteScrollUpDistance]="scrollUpDistance"
       [scrollWindow]="false"
       class="section-notify"
       [ngClass]="{'notify-empty': loadNotify && virtualNotifications.length === 0}"
       infinite-scroll>

    <div *ngIf="loadNotify && virtualNotifications.length === 0" style="text-align: center">
      <img alt="notify-empty" src="/assets/icons/notify-empty.svg">
      <p class="mt-3">Không có bản ghi nào</p>
    </div>
    <ng-container *ngIf="virtualNotifications.length > 0"></ng-container>
    <div *ngFor="let item of virtualNotifications" [class.no-read]="!item.isRead"
         class="flex align-items-center item-notify">
      <div class="pr-3">
        <em [class]="getIconNotify(item)"></em>
      </div>
      <div>
        <a (click)="$event.preventDefault(); doDetailRequest(item, opNotify)" class="mb-2 block"
           routerLink>{{ getTitleNotification(item) }}</a>
        <span>{{ getTime(item) }}</span>
      </div>
    </div>
  </div>
</p-overlayPanel>
