@import "variable";

::ng-deep {
  .topbar-overlay-profile.p-overlaypanel {
    width: 200px;
    text-align: center;
    color: gray;
  }

  .icon-notify {
    .p-overlay-badge .p-badge {
      transform: translate(65%, -65%);
    }
  }

  .op-notify {
    height: 80vh;
    width: 540px;

    .p-overlaypanel-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 1rem !important;
    }
  }

  .section-notify {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;

  }

  .notify-empty {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }

  .item-notify {
    padding: 1rem;
    margin-bottom: 0.75rem;
    border-radius: 4px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .no-read {
    background-color: #F3F7FA;
  }
}

.contentWidth {
  width: 0vw;
}

#scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  .contentNotification {
    color: $white;
  }

  .fileName {
    color: $white;
    font-size: 14px;
    padding-top: 1px;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.item-notify-content {
  margin-right: 666px;
}

.scroll-text {
  width: max-content;
  display: flex;
  white-space: nowrap;
}

:host(::ng-deep) {
  /* for Firefox */
  @-moz-keyframes scrolling-text {
    from {
      -moz-transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
    }
  }
  /* for Chrome */
  @-webkit-keyframes scrolling-text {
    from {
      -webkit-transform: translateX(100%);
    }
    to {
      -webkit-transform: translateX(-100%);
    }
  }
  @keyframes scrolling-text {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}


