<div class="card h-full">
  <div class="card_title">{{'dashboard.decision'| translate}}</div>
  <div class="default-height-chart mt-4" echarts [options]="chartsOption" (chartInit)="onChartInit($event)" ></div>
</div>
`
