<p-card styleClass="mt-3">
  <h4 class="title">{{ 'request.detailRequest.resetPolicyInfo.infoPolicy' | translate }}</h4>
  <div class="flex">
    <div class="col-6 pl-5">
      <div class="grid">
        <div class="col-4">
          <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.policy' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemResetPolicy?.policyNumber }}</span>
        </div>
      </div>

      <div class="grid">
        <div class="col-4">
          <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.product' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemResetPolicy?.longText }}</span>
        </div>
      </div>

      <div class="grid">
        <div class="col-4">
          <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.customer' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemResetPolicy?.customerName }} </span>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.requestBPM' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemResetPolicy?.requestId }}</span>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.sentDate' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemResetPolicy?.updatedDate }}</span>
        </div>
      </div>
    </div>
    <div class="col-6 pl-5">
      <div class="grid">
        <div class="col-4">
          <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.processingStatus' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value"
          >{{ itemResetPolicy?.requestStatus ? ('statusPA.' + itemResetPolicy.requestStatus | translate) : '' }}
          </span>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.statusPolicy' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">
            {{
            itemResetPolicy?.statusPolicy
              ? ('statusPolicy.' + itemResetPolicy.statusPolicy?.toUpperCase() | translate)
              : ''
            }}</span
          >
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.resetDate' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemResetPolicy?.completeDate | date: 'dd/MM/yyyy' }}</span>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <label class="field-key">{{ 'request.detailRequest.resetPolicyInfo.requestPA' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemResetPolicy?.wFSubmissionId }}</span>
        </div>
      </div>
    </div>
  </div>
</p-card>
