<div class="card bg-white">
  <div>
    <h3 class="titleInfo">Payment Lot Information</h3>
    <div class="grid rowInfo">
      <div class="col-12 md:col-4">
        <div class="">
          <div class="wrapperRow">
              <div class="titlePayment">Lot ID</div>
              <div class="contentPayment">{{dataDetail?.lotID}}</div>
          </div>
          <div class="wrapperRow">
            <div class="titlePayment">Item</div>
            <div class="contentPayment">{{dataDetail?.item}}</div>
          </div>
          <div class="wrapperRow">
            <div class="titlePayment">Transaction ID</div>
            <div class="contentPayment">{{dataDetail?.transactionID}}</div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="">
          <div class="wrapperRow">
            <div class="titlePayment">Payment Amount</div>
            <div class="contentPayment">{{dataDetail?.paymentAmount | currency : 'VND' : ''}}</div>
          </div>
          <div class="wrapperRow">
            <div class="titlePayment">Transaction Date</div>
            <div class="contentPayment">{{dataDetail?.transactionDate | date: 'dd/MM/YYYY'}}</div>
          </div>
          <div class="wrapperRow">
            <div class="titlePayment">Posting Date</div>
            <div class="contentPayment">{{dataDetail?.postingDate | date: 'dd/MM/YYYY'}}</div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="">
          <div class="wrapperRow">
            <div class="titlePayment">Usages Text</div>
            <div class="contentPayment">{{dataDetail?.usagesText}}</div>
          </div>
          <div class="wrapperRow">
            <div class="titlePayment">Reversed Date</div>
            <div class="contentPayment">{{dataDetail?.reversedDate | date: 'dd/MM/YYYY'}}</div>
          </div>
          <div class="wrapperRow">
            <div class="titlePayment">Reversed Reason</div>
            <div class="contentPayment">{{dataDetail?.reversedReason}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="saveEdit()">
    <div class="flex justify-content-between">
      <h3 class="titleInfo">Payment Lot After Reverse</h3>
      <div class="px-5 py-2">
        <p-button
          (onClick)="changEdit()"
          label="Edit"
          styleClass="p-button-primary px-5"
        ></p-button>
      </div>
    </div>
    <div class="grid px-5 editPayment">
      <div class="col-12 md:col-3">
        <div class="inputEdit">
          <mbal-select  [filter]="true" [disabled]="isEdit"
                       [options]="sttAfterReverse" formControlName="statusAfterReversed"
                       label="Status after reversed" optionLabel="code" optionValue="value"></mbal-select>
        </div>
        <div class="inputEdit">
          <mbal-input-text
            label="Payment request number"
            [disabled] = "isEdit"
            formControlName="paymentRequestNumber"
          ></mbal-input-text>
        </div>
        <div class="inputEdit">
          <mbal-calendar
            label="Payment request date"
            [disabled] = "isEdit"
            formControlName="paymentRequestDate"
          ></mbal-calendar>
        </div>
        <div class="inputEdit">
          <mbal-select
            [filter]="true" [disabled]="isEdit"
            [options]="listUser" formControlName="paymentByUser"
            label="Payment by user" optionLabel="account" optionValue="account"
          ></mbal-select>
        </div>
      </div>
      <div class="col-12 md:col-3"></div>
      <div class="col-12 md:col-3">
        <div class="inputEdit">
          <mbal-input-text
            label="New Payment lot item"
            [disabled] = "isEdit"
            formControlName="newPaymentLotItem"
          ></mbal-input-text>
        </div>
        <div class="inputEdit">
          <mbal-input-text
            label="New Usage text"
            [disabled] = "isEdit"
            formControlName="newUsageText"
          ></mbal-input-text>
        </div>
        <div class="inputEdit">
          <mbal-input-text
            label="Note"
            [disabled] = "isEdit"
            [maxlength]="255"
            formControlName="note"
          ></mbal-input-text>
        </div>
        <div class="inputEdit">
          <mbal-calendar
            label="Create Date"
            [disabled] = "isEdit"
            formControlName="createNewPaymentLotDate"
          ></mbal-calendar>
        </div>
      </div>
      <div class="col-12 md:col-3"></div>
    </div>
    <div class="flex justify-content-end py-3">
      <div class="">
        <button
          label="Cancel"
          (click)="desTroyEdit()"
          class="btnCancel"
          styleClass="p-button-primary px-5"
          pButton
        ></button>
      </div>
      <div class="px-5">
        <p-button
          [disabled]="isEdit"
          label="Save"
          type="submit"
          styleClass="p-button-primary px-5"
        ></p-button>
      </div>
    </div>
  </form>
</div>
