html, body {
  font-family: 'Roboto';
}

.titleInfo {
  padding: 20px 0 0 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #0B7CC3;
}

.rowInfo {
  padding: 0px 50px;
  .wrapperRow{
    display: flex;
    .titlePayment {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: black;
      padding: 0 5px 15px 0;
      width: 120px;
    }
    .contentPayment {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #4E4B66;
      padding-bottom: 13px;
    }
  }
}

.editPayment {
  padding-top: 25px;
}

.inputEdit {
  padding-bottom: 30px;
}
.btnCancel{
  color: black;
  background: #DEE2E6;
}
