<p-card>
  <div>
    <div class="grid">
      <div class="md:col-6 col-12">
        <mbal-input-text [(ngModel)]="params.functionCode"
                         label="{{ 'category.backend.functionCode' | translate }}"></mbal-input-text>
      </div>
      <div class="md:col-6 col-12">
        <mbal-select [options]="systemCategory" optionLabel="name"
                     optionValue="value"
                     [(ngModel)]="params.modules"
                     label="{{'category.addReport.system' | translate }}"></mbal-select>
      </div>
      <div class="col-12 text-center">
        <button pButton (click)="search(true)" label="{{ 'category.search' | translate }}"
                [icon]="'las la-search'"></button>
        <button (click)="refresh()" class="ml-3" pButton label="{{'category.refresh' | translate }}"
                icon="pi pi-refresh"></button>
        <button *ngIf="checkFunctionCreate()" pButton class="ml-3" label="{{ 'category.create' | translate }}"
                (click)="openDialogCreate(false)"
                [icon]="'las la-plus'"></button>
        <button pButton class="ml-3" label="{{ 'category.import' | translate }}" (click)="openHandleExcel(true)"
                [icon]="'las la-upload'"></button>
        <button pButton class="ml-3" label="{{ 'category.export' | translate }}" (click)="openHandleExcel(false)"
                [icon]="'las la-download'"></button>
      </div>
    </div>
  </div>
</p-card>

<p-card styleClass="mt-3">
  <div class=" ">
    <div class="table-section">
      <p-table
        [value]="dataTable.content"
        [resizableColumns]="true"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>STT</th>
            <th></th>
            <th>{{ 'category.backend.functionCode' | translate }}</th>
            <th>{{ 'category.backend.functionName' | translate }}</th>
            <th>{{ 'category.addReport.system' | translate }}</th>
            <th>{{ 'category.backend.titleReport' | translate }}</th>
            <th>{{ 'category.backend.functionType' | translate }}</th>
            <th>Refresh interval(seconds)</th>
            <th>{{ 'category.action' | translate }}</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-index="rowIndex">
          <tr (dblclick)="doDetail(row)">
            <td>{{index + 1}}</td>
            <td class="overflow-visible">
              <p-button label="{{ 'category.configQuery' | translate }}" (click)="configQuery(row)"></p-button>
            </td>
            <td>{{row.functionCode}}</td>
            <td>{{row.functionName}}</td>
            <td>{{row.moduleName ?? '- - -'}}</td>
            <td>{{row.functionTitle}}</td>
            <td>{{row.functionType | MapTranslate: filterOpts ?? []}}</td>
            <td>{{row.refreshInterval || 0}}</td>
            <td>
              <button (click)="exportFile(row.functionCode)" pButton pRipple type="button"
                      icon="pi pi-download"
                      class="p-button-rounded p-button-info p-button-text"></button>
              <button *ngIf="checkFunctionUpdate()" (click)="openDialogCreate(true, row)" pButton pRipple type="button"
                      icon="pi pi-pencil"
                      class="p-button-rounded p-button-text"></button>
              <button *ngIf="checkFunctionDelete()" pButton (click)="handleDelete(row)" pRipple type="button"
                      icon="pi pi-times"
                      class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>
    <div class="custom-paginator">
      <div class="show-block-opacity"></div>
      <div class="grid align-items-center mt-2">
        <div class="col-2">
          {{ 'report.freelook.total' | translate }} : {{ dataTable.numberOfElements }}
          {{ 'report.freelook.of' | translate }} {{ dataTable.totalElements }}
          {{ 'report.freelook.record' | translate }} .
        </div>
        <div class="col-9">
          <p-paginator
            (onPageChange)="pageChange($event)"
            [first]="dataTable.first"
            [rowsPerPageOptions]="[5, 10, 20, 30]"
            [rows]="dataTable.size"
            [showCurrentPageReport]="true"
            [totalRecords]="dataTable.totalElements"
          >
          </p-paginator>
        </div>
        <div class="col-1 grid justify-content-end"></div>
      </div>
    </div>
  </div>
</p-card>


<p-dialog [(visible)]="selectBackend" [showHeader]="true"
          (onHide)="selectBackend = undefined" [style]="{width: '70%'}"
          [modal]="true" [draggable]="false" [resizable]="false" [closable]="true">
  <app-frontend-group *ngIf="selectBackend" [functionCode]="selectBackend.functionCode"></app-frontend-group>
</p-dialog>


