<div class="card">
  <div class="grid">
    <div class="col-4">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.username"
        label="{{ 'admin.user.userName' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-4">
      <mbal-select
        [(ngModel)]="params.unlock"
        [options]="stateData.lock"
        label="{{ 'admin.user.unlock' | translate }}"
        optionValue="value"
      >
      </mbal-select>
    </div>
    <div class="col-4">
      <mbal-select
        [(ngModel)]="params.status"
        [options]="stateData.listStatus"
        label="{{ 'admin.user.status' | translate }}"
        optionValue="value"
      >
      </mbal-select>
    </div>
  </div>
  <div class="grid">
    <div class="col-4">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.name"
        label="{{ 'admin.user.employeeName' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-4">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.group"
        label="{{ 'admin.user.department' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-4"></div>
  </div>
  <p-toolbar styleClass="px-0 flex justify-content-between">
    <div class="p-toolbar-group-left">
      <p-button
        (click)="search(true)"
        icon="pi pi-search"
        label="{{ 'report.freelook.btnSearch' | translate }}"
        styleClass="p-button-primary "
      >
      </p-button>
    </div>
    <div class="p-toolbar-group-right">
      <button (click)="viewCreate()" [disabled]="isPopupShow" *ngIf="checkFunctionCreate()" icon="pi pi-plus"
              pButton></button>
    </div>
  </p-toolbar>

  <p-table [autoLayout]="true" [resizableColumns]="true" [value]="dataTable.content" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">{{ 'admin.user.stt' | translate }}</th>
        <th scope="col">{{ 'admin.user.account' | translate }}</th>

        <th scope="col">{{ 'admin.user.employeeName' | translate }}</th>

        <th scope="col">{{ 'admin.user.position' | translate }}</th>

        <th scope="col">{{ 'admin.user.department' | translate }}</th>

        <th scope="col">{{ 'admin.user.employeeEmail' | translate }}</th>

        <th scope="col">{{ 'admin.user.phoneNo' | translate }}</th>

        <th scope="col">{{ 'admin.user.status' | translate }}</th>
        <th scope="col">{{ 'admin.user.userlockStatus' | translate }}</th>
        <th scope="col"></th>
        <th scope="col">{{ 'admin.function.action' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" let-item pTemplate="body">
      <tr>
        <td>{{ dataTable.currentPage === 0 ? i + 1 : dataTable.currentPage * dataTable.size + i + 1 }}</td>
        <td>
          <p class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis"></p>
          {{ item.account }}
        </td>
        <td>
          <p class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis"></p>
          {{ item.name }}
        </td>
        <td>
          <p class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis"></p>
          {{ item.role }}
        </td>
        <td>
          <p class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.group }}</p>
        </td>
        <td>
          <p class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.email }}</p>
        </td>
        <td>
          <p class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.phoneNumber }}</p>
        </td>
        <td>
          <p-inputSwitch
            (onChange)="changeStatusUser(item)"
            [(ngModel)]="item.status"
            [readonly]="checkStatusUser()"
            name="groupname"
          ></p-inputSwitch>
        </td>
        <td>
          <p-inputSwitch
            (onChange)="changeLockValue(item)"
            [(ngModel)]="item.locked"
            [readonly]="checkStatusUser()"
            name="groupname"
          ></p-inputSwitch>
        </td>
        <td>
          <button (click)="resetPassword(item.account)" class="p-button-rounded btn-sm" pButton>Reset password</button>
        </td>
        <td>
          <span (click)="viewEdit(item)" *ngIf="checkFunctionUpdate()" class="pointer">
            <em class="las la-pen"></em>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="custom-paginator">
    <div class="absolute">
      {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
      {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
      {{ 'request.requestList.record' | translate }}.
    </div>
    <p-paginator
      (onPageChange)="pageChange($event)"
      [first]="dataTable.first"
      [rowsPerPageOptions]="[10, 20, 30]"
      [rows]="dataTable.size"
      [showCurrentPageReport]="true"
      [totalRecords]="dataTable.totalElements"
    >
    </p-paginator>
  </div>
</div>
