<div class="p-dialog-header px-0">
  <span class="p-dialog-title"
  >{{ item ? ('category.update' | translate) : ('category.create' | translate) }}</span
  >
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>

<div class="p-dialog-body overflow-visible">
  <div class="grid" [formGroup]="form">
    <div class="md:col-6 col-12 ">
      <mbal-input-text [disabled]="!!item" appTrim label="{{'category.addReport.functionCode' | translate }}"
                       formControlName="functionCode" maxlength="64"></mbal-input-text>
    </div>
    <div class="md:col-6 col-12 ">
      <mbal-input-text label="{{'category.addReport.functionName' | translate }}"
                       formControlName="functionName"></mbal-input-text>
    </div>
    <div class="md:col-6 col-12 ">
      <mbal-select [options]="functionType" optionLabel="label" optionValue="value"
                   formControlName="functionType"
                   label="{{'category.addReport.functionType' | translate }}"></mbal-select>
    </div>
    <div class="md:col-6 col-12 ">
      <mbal-input-text label="{{'category.addReport.reportTitle' | translate }}"
                       formControlName="functionTitle"></mbal-input-text>
    </div>
    <div class="md:col-6 col-12 ">
      <mbal-select (onChangeValue)="setValueModelName($event)" [options]="systemCategory" optionLabel="name"
                   optionValue="value"
                   formControlName="modules"
                   label="{{'category.addReport.system' | translate }}"></mbal-select>
    </div>
    <div
      class="md:col-6 col-12"
      *ngIf="form.controls['functionType']?.value !== 'category'"
    >
      <mbal-input-number label="Refresh Interval(s)" formControlName="refreshInterval"></mbal-input-number>
    </div>
  </div>

  <div class="mt-5 text-right">
    <button
      class="btn destroy"
      (click)="cancel()"
    >{{'category.cancel' | translate }}
    </button>
    <button
      class="btn save"
      (click)="create()"
    >{{'category.save' | translate }}
    </button>
  </div>
</div>
