@import "src/assets/styles/variable";
.titleDialog{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 0;
}
.btn{
  width: 120px;
  margin: 0 10px;
  height: 40px;
  cursor: pointer;
  border: unset;
  border-radius: 5px;
}
.destroy{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  &:hover{
    background-color: $gray-500;
  }
}
.save{
  background-color: $primary1;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $white;
  &:hover{
    background-color: $primary;
  }
}
