<p-table
  [(selection)]="selectionItem"
  [resizableColumns]="true"
  [value]="dataTable.content"
  responsiveLayout="scroll"
  selectionMode="checkbox"
>
  <ng-container>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 3rem">
          <p-tableHeaderCheckbox
            (click)="selectRow(true)"
          ></p-tableHeaderCheckbox>
        </th>
        <th scope="col">{{ 'nonP2pList.stt' | translate }}</th>
        <th scope="col">{{ 'nonP2pList.policyN' | translate }}</th>
        <th scope="col">{{ 'nonP2pList.requestCode' | translate }}</th>
        <th scope="col">{{ 'nonP2pList.customerName' | translate }}</th>
        <th scope="col">{{ 'nonP2pList.contentTrans' | translate }}</th>
        <th scope="col">{{ 'nonP2pList.reason' | translate }}</th>
        <th scope="col">{{ 'nonP2pList.performer' | translate }}</th>
        <th scope="col">{{ 'nonP2pList.status' | translate }}</th>
        <th scope="col">{{ 'nonP2pList.resolution' | translate }}</th>
        <th scope="col">{{ 'nonP2pList.lastUpdate' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" let-item pTemplate="body">
      <tr (dblclick)="doDetail(item)" [pSelectableRow]="item">
        <td>
          <p-tableCheckbox [disabled]="item.stepApprove === '2'" [value]="item"></p-tableCheckbox>
        </td>

        <td>{{ dataTable.currentPage * dataTable.size + i + 1 }}</td>
        <td>{{ item.policyNumber }}
        <td>{{ item.requestId }}</td>
        <td>{{ item.customerName }}</td>

        <td [pTooltip]="item.reason">
          <p class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
            {{ item.reason }}
          </p>
        </td>
        <td [pTooltip]="item.suggestedContent">
          <p class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
            {{ item.suggestedContent }}
          </p>
        </td>
        <td>{{ item.pic }}</td>
        <td>{{ item.status | MapTranslate: stateData?.listStatus ?? [] }}</td>
        <td>{{ item.resolution }}</td>
        <td>{{ item.updatedDate | date: 'dd/MM/yyyy' }}</td>
      </tr>
    </ng-template>
  </ng-container>
</p-table>
<div class="custom-paginator">
  <div class="absolute">
    {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
    {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
    {{ 'request.requestList.record' | translate }}.
  </div>
  <p-paginator
    (onPageChange)="pageChange($event)"
    [first]="dataTable.first"
    [rowsPerPageOptions]="[10, 20, 30]"
    [rows]="dataTable.size"
    [showCurrentPageReport]="true"
    [totalRecords]="dataTable.totalElements"
  >
  </p-paginator>
</div>
