@import "variable";

.select-month {
  margin-right: 20px;
}

:host(::ng-deep) {
  .p-button,
  .p-multiselect,
  .p-dropdown {
    //border-radius: $border-radius
  }

  .p-multiselect-label {
    font-size: 0.875rem;
    padding: 0.875rem 0.875rem;
    max-width: 150px;
  }
}

.select-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  //grid-template-columns: auto auto auto auto;
  gap: 8px;
}

