<div class="select-button-group p-0">
  <mbal-select [selectMode]="'multiple'"
               [(ngModel)]="selectedUsers"
               (ngModelChange)="isUsersChanged = true"
               (onChangeValue)="checkUsers()"
               [optionValue]="'value'"
               [showLabel]="false"
               [showClear]="false"
               [optionLabel]="'label'"
               [optionDisabled]="'disabled'"
               [filter]="true"
               [options]="_users"
               [fieldForm]="false"
               [placeholder]="'-----'"
               [disabled]="_users.length === 1 && selectedUsers.length === 1"
               [maxSelectedLabels]="maxSelectedLabels"
               (onPanelHide)="changeSelectedUsers()"
               [selectedItemLabel]="'month.all'| translate"
  ></mbal-select>
  <mbal-select [options]="months"
               [(ngModel)]="selectedMonth"
               [optionValue]="'value'"
               (ngModelChange)="changeSelectedMonth($event)"
               [optionLabel]="'label'"
               [optionDisabled]="'disabled'"
               [showLabel]="false"
               [showClear]="false"
               [fieldForm]="false"
  ></mbal-select>
  <mbal-select [options]="years"
               (ngModelChange)="changeSelectedYear($event)"
               [optionLabel]="'label'"
               [optionDisabled]="'disabled'"
               [optionValue]="'value'"
               [(ngModel)]="selectedYear"
               [showLabel]="false"
               [showClear]="false"
               [fieldForm]="false"
  ></mbal-select>


  <button pButton
          label="Export"
          (click)="saveAsPDF()"
          icon="pi pi-file-pdf">
  </button>

</div>

