<ng-container *ngIf="state?.typeCode !== '09'; else viewDialog">
  <ng-container *ngTemplateOutlet="formCreate"></ng-container>
  <div class="card">
    <p-toolbar>
      <ng-template pTemplate="left">
      </ng-template>
      <ng-template pTemplate="right">
        <button
          (click)="save()"
          icon="pi pi-check"
          label="{{ 'createRequest.requestRefund.submitForm' | translate }}"
          pButton
        ></button>
      </ng-template>
    </p-toolbar>
  </div>
</ng-container>

<ng-template #viewDialog>
  <div class="p-dialog-header px-0">
    <span class="p-dialog-title">{{ 'createRequest.requestCollection.requestInfo' | translate }}</span>
    <div class="p-dialog-header-icons">
      <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
        <span class="p-dialog-header-close-icon pi pi-times"></span>
      </button>
    </div>
  </div>
  <div class="grid p-fluid p-dialog-body mt-2">
    <ng-container *ngTemplateOutlet="formCreate"></ng-container>
  </div>
  <div class="p-dialog-footer p-0 mt-3">
    <button
      (click)="cancel()"
      class="p-button-danger mr-2"
      icon="pi pi-times"
      label="{{ 'request.forward.cancel' | translate }}"
      pButton
    ></button>
    <button
      (click)="save()"
      icon="pi pi-check"
      label="{{ 'createRequest.requestRefund.submitForm' | translate }}"
      pButton
    ></button>
  </div>
</ng-template>


<ng-template #formCreate>
  <div class="card">
    <div class="grid">
      <h3 *ngIf="state?.typeCode !== '09'"
          class="title col-12">{{ 'createRequest.requestCollection.requestInfo' | translate }}</h3>
      <div [formGroup]="form" class="col-6">
        <mbal-input-text
          (blur)="findPolicyInfo()"
          [maxlength]="12"
          [onlyNumber]="true"
          class="label-input"
          formControlName="policyNumber"
          label="{{ 'createRequest.requestRefund.policyNumber' | translate }}"
        ></mbal-input-text>
      </div>

      <div [formGroup]="form" class="col-6">
        <mbal-input-text
          class="label-input"
          formControlName="policyHolderName"
          label="{{ 'createRequest.requestCollection.customerName' | translate }}"
        ></mbal-input-text>
      </div>
      <div [formGroup]="form" class="col-6">
        <mbal-input-text
          class="label-input"
          formControlName="mainProduct"
          label="{{ 'createRequest.requestCollection.productName' | translate }}"
        ></mbal-input-text>
      </div>
      <div [formGroup]="form" class="col-6">
        <mbal-calendar
          class="label-input"
          formControlName="paidDate"
          label="{{ 'createRequest.requestCollection.netDueDate' | translate }}"
        ></mbal-calendar>
      </div>
      <div [formGroup]="form" class="col-6">
        <mbal-select [disabled]="true" [options]="listPeriodicFeePayment"
                     class="label-input"
                     formControlName="periodicFeePayment"
                     label="{{ 'createRequest.requestCollection.periodicFee' | translate }}"
                     optionLabel="name"
                     optionValue="code"
        >

        </mbal-select>

      </div>
      <div [formGroup]="form" class="col-6">
        <mbal-calendar
          class="label-input"
          formControlName="effectiveDate"
          label="{{ 'createRequest.requestCollection.effectiveDate' | translate }}"
        ></mbal-calendar>
      </div>
      <div [formGroup]="form" class="col-6">
        <mbal-input-textarea
          [autoResize]="false"
          class="label-input"
          formControlName="reason"
          label="{{ 'createRequest.requestCollection.reason' | translate }}"
        ></mbal-input-textarea>
      </div>
      <div [formGroup]="form" class="col-6">
        <mbal-input-textarea
          [autoResize]="false"
          class="label-input"
          formControlName="suggestedContent"
          label="{{ 'createRequest.requestCollection.suggestedContent' | translate }}"
        ></mbal-input-textarea>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table
          [(selection)]="selectedItem"
          [paginator]="true"
          [resizableColumns]="true"
          [rowsPerPageOptions]="[10, 20, 30]"
          [rows]="10"
          [scrollable]="true"
          [showCurrentPageReport]="true"
          [value]="integration"
          currentPageReportTemplate=" {last} {{ 'request.requestList.of' | translate }} {totalRecords} {{
          'request.requestList.record' | translate
        }}"
          responsiveLayout="scroll"
        >
          <ng-container>
            <ng-template pTemplate="header">
              <tr>
                <th class="checkbox-width" scope="col"></th>
                <th class="docNo" scope="col">Docs No</th>
                <th scope="col">Amount</th>
                <th scope="col">Posting date</th>
                <th scope="col">Net due date</th>
                <th scope="col">Usage text</th>
                <th scope="col">Additional info</th>
                <th scope="col">Changed by</th>
                <th scope="col">Changed on</th>
                <th scope="col">Time</th>
              </tr>
            </ng-template>
          </ng-container>
          <ng-template let-i="rowIndex" let-item pTemplate="body">
            <tr [pSelectableRow]="item">
              <td class="checkbox-width">
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
              </td>
              <td class="docNo">{{ item.documentNo }}</td>
              <td>{{ item.amount | number: '1.0-0' }}</td>
              <td>{{ item.postingDate }}</td>
              <td>
                {{ item.netDueDate }}
              </td>
              <td [pTooltip]="item.usageText">
                <p class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                  {{ item.usageText }}
                </p>
              </td>
              <td [pTooltip]="item.additionalInfo">
                <p class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                  {{ item.additionalInfo }}
                </p>
              </td>
              <td>{{ item.changedBy }}</td>
              <td>{{ item.changedOn }}</td>
              <td>{{ item.time }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</ng-template>

