:host ::ng-deep {
  .docNo {
    min-width: none;
  }

  .checkbox-width {
    max-width: 5%;
  }

  .p-datatable .p-datatable-thead > tr > th {
    width: 10rem;
  }

  overflow: hidden;
  display: flex;
  flex-direction: column;
}
