<div class="card">

  <div class="pb-4">
  <span class="font-bold text-black-alpha-90">
    {{'dashboard.tat-report'| translate}}
  </span>
  </div>
  <div class="w-11 mx-auto ">
    <div class="grid">
      <div *ngIf="options.length > 1"
           class="md:col-4 lg:col-3 col-12">
        <mbal-select [label]="' '"
                     [options]="options"
                     [(ngModel)]="selectedType"
                     [showClear]="false"
                     [disabled]="disableSelectOpts"
                     [selectMode]="'single'"
                     [optionValue]="'value'"
                     optionLabel="label">
        </mbal-select>
      </div>

      <div
        [ngClass]="{
        'md:col-8 lg:col-9': options.length > 1
    }"
        class=" col-12">
        <mbal-calendar
          [label]="'dashboard.time-range' | translate"
          selectionMode="range"
          [(ngModel)]="dateSelected"
          [fieldForm]="false"
          [required]="true"
          [panelStyleClass]="'min-width-200'"
          [maxDateToday]="true">
        </mbal-calendar>
      </div>

    </div>

    <div class="p-3">
      <div class="ml-auto w-max">
        <button pButton (click)="onExport()">
          {{'category.config.export_chart' | translate}}
        </button>
      </div>
    </div>

  </div>
</div>
