<div class="pl-0">
  <h4 class="title title-checkList">{{'request.detailRequest.premiumAdjustment.contractInfo' | translate}}</h4>
</div>
<div class="flex mb-3 custom-btn">
  <button pButton class="mr-3 min-w-10p" [label]="'request.detailRequest.premiumAdjustment.policyOnReceipt' | translate"
          (click)="onClickViewContract(policyInfoButton.POLICY_ON_RECEIPT)"
          [class.p-button-outlined]="selectedTab  !== policyInfoButton.POLICY_ON_RECEIPT"></button>
  <button pButton class="min-w-10p"
          [class.p-button-outlined]="selectedTab !== policyInfoButton.ADJUSTMENT_CONTRACT"
          (click)="onClickViewContract(policyInfoButton.ADJUSTMENT_CONTRACT)"
          [label]="'request.detailRequest.premiumAdjustment.adjustmentContract' | translate"></button>
</div>

<ng-container [ngSwitch]="selectedTab">
  <ng-container *ngSwitchCase="policyInfoButton.ADJUSTMENT_CONTRACT"
                [ngTemplateOutlet]="InfoTemp"
                [ngTemplateOutletContext]="{$implicit: data?.feeAdjustPolicyViewDTO}">
  </ng-container>
  <ng-container *ngSwitchCase="policyInfoButton.POLICY_ON_RECEIPT"
                [ngTemplateOutlet]="InfoTemp"
                [ngTemplateOutletContext]="{$implicit: data?.onAttachmentPolicyViewDTO}"></ng-container>
</ng-container>

<ng-template #InfoTemp let-data>
  <div class="pl-2">
    <h5 class="title-checkList font-bold mb-4">
      {{'request.detailRequest.premiumAdjustment.contractInfoSmall' | translate}}
    </h5>
  </div>
  <div class="grid px-5">
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.policyNumber' | translate}}</div>
        <div class="col-6">{{data?.policyInfo?.policyNumber || '- - -'}}</div>
      </div>
    </div>
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.poReceipt.status' | translate}}</div>
        <div
          class="col-6">{{data?.policyInfo?.status ? (('statusPolicy.' + data?.policyInfo?.status.toUpperCase())| translate) : '- - -'}}</div>
      </div>
    </div>
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div
          class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.poReceipt.paidToDate' | translate}}</div>
        <div class="col-6">{{
          data?.policyInfo?.paidToDate ?
            (data!.policyInfo!.paidToDate | MapSAPDate) :
            '- - -'
          }}</div>
      </div>
    </div>
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.mainProductName' | translate}}</div>
        <div class="col-6">{{data?.policyInfo?.mainProductName || '- - -'}}</div>
      </div>
    </div>
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div
          class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.poReceipt.effectiveDate' | translate}}</div>
        <div class="col-6">{{
          data?.policyInfo?.startDate ?
            (data!.policyInfo!.startDate | MapSAPDate) :
            '- - -'
          }}</div>
      </div>
    </div>
  </div>

  <div class="pl-2">
    <h5 class="title-checkList font-bold mb-4 mt-3">
      {{'request.detailRequest.premiumAdjustment.policyInfoSmall' | translate}}
    </h5>
  </div>

  <div class="grid px-5">
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.policyName' | translate}}</div>
        <div class="col-6">{{data?.holderInfoViewDTO?.name || '- - -'}}</div>
      </div>
    </div>
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.poReceipt.phone' | translate}}</div>
        <div class="col-6">{{data?.holderInfoViewDTO?.phoneNum || '- - -'}}</div>
      </div>
    </div>
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.poReceipt.idType' | translate}}</div>
        <div class="col-6">
          {{data?.holderInfoViewDTO?.idType| MapTranslate: commonIdentificationTypeCode}}
        </div>
      </div>
    </div>
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div class="col-6  font-bold">{{'Email'}}</div>
        <div class="col-6 word-break-all">{{ data?.holderInfoViewDTO?.email || '- - -'}}</div>
      </div>
    </div>
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.poReceipt.idNumber' | translate}}</div>
        <div class="col-6">{{ data?.holderInfoViewDTO?.idNum || '- - -'}}</div>
      </div>
    </div>
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.poReceipt.isOfDate' | translate}}</div>
        <div class="col-6">{{
          data?.holderInfoViewDTO?.idIssueDate ?
            (data!.holderInfoViewDTO!.idIssueDate | MapSAPDate) :
            '- - -'
          }}</div>
      </div>
    </div>
  </div>

  <div class="pl-2">
    <h5 class="title-checkList font-bold mb-4 mt-3">
      {{'request.detailRequest.premiumAdjustment.poReceipt.icInfo' | translate}}
    </h5>
  </div>

  <div class="grid px-5">
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.poReceipt.icNo' | translate}}</div>
        <div class="col-6">{{data?.icInfoViewDTO?.bpNumber || '- - -'}}</div>
      </div>
    </div>
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.poReceipt.icName' | translate}}</div>
        <div class="col-6">{{ data?.icInfoViewDTO?.name || '- - -'}}</div>
      </div>
    </div>
    <div class="md:col-4 col-12 pb-0">
      <div class="grid">
        <div class="col-6  font-bold">{{'request.detailRequest.premiumAdjustment.poReceipt.phone' | translate}}</div>
        <div class="col-6">{{ data?.icInfoViewDTO?.phoneNum || 0 || '- - -'}}</div>
      </div>
    </div>
  </div>
</ng-template>
