<div class="block-loading app-loading">
  <div class="backdrop-loading--content app-loading" ></div>
  <img [style]="{ height: '120px', zIndex: 1111 }" alt="" src="/assets/images/loading.gif"/>
</div>
