<p-card>
  <div class="grid">
    <div class="col-12">
      <h4 class="title mb-4">{{ 'request.detailRequest.pendingHistory.content' | translate }}</h4>

      <p-table [value]="pendingHistoryViewDTOList">
        <ng-template pTemplate="header">
          <tr>
            <th class="th-id" scope="col">{{ 'request.detailRequest.pendingHistory.id' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.pendingHistory.content' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.pendingHistory.reason' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.pendingHistory.note' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.pendingHistory.additionalAttachments' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.pendingHistory.department' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.pendingHistory.executor' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.pendingHistory.performanceDate' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ item.description }}</td>

            <td>
              <p *ngIf="item.reasonCode">
                {{ checkPendingOther(item.reasonCode
              ) ? item.reason : 'reason.' + item.reasonCode
                ?.trim() | translate }}
              </p></td>
            <td>
              <p *ngFor="let text of item.note?.split('\n')">{{ text }}</p>
            </td>
            <td>
              {{ item.additionalAttachment }}
            </td>
            <td>
              {{ item.dept }}
            </td>

            <td>
              {{ item.executor }}
            </td>
            <td>
              {{ item.executionTime | date: 'dd/MM/yyyy  HH:mm:ss' }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
