<div #ref class="bpmn-container card bg-white"></div>
<div class="block-btn-zoom" [ngClass]="{'has-tabindex': hasTab}" *ngIf="!!xml">
  <button (click)="resetZoom()" pButton icon="pi pi-replay" class="p-button-outlined">
  </button>
  <button (click)="zoomIn()" pButton icon="pi pi-plus" class="p-button-outlined">
  </button>
  <button (click)="zoomOut()" pButton icon="pi pi-minus" class="p-button-outlined">
  </button>
</div>
<div *ngIf="hasTab" class="data-error">
  <div class="error-content">
    <div class="text-red">{{ 'MESSAGE.FAILED_TO_GET_BPMN_INFO' | translate }}</div>
    <button pButton class="p-button-outlined mt-3" icon="pi pi-replay" (click)="reloadData()"></button>
  </div>
</div>
