:host {
  //margin-bottom: 1rem !important;
  display: block;
  height: 100%;
  position: relative;

  .bpmn-container {

    @import "variable";

    height: 100%;
    margin-bottom: 0;
    //padding: 0 !important;

    ::ng-deep .bjs-powered-by {
      display: none;
    }

    ::ng-deep .highlight-green:not(.djs-connection) .djs-visual > :nth-child(1) {
      fill: $green !important;
      stroke: $green !important;
    }

    ::ng-deep .highlight-yellow:not(.djs-connection) .djs-visual > :nth-child(1) {
      fill: $yellow !important;
      stroke: $yellow !important;
    }

    ::ng-deep .djs-palette {
      visibility: hidden;
    }

    ::ng-deep .djs-context-pad {
      visibility: hidden;
    }
  }

  .block-btn-zoom {
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 0.25rem;
    display: flex;
    flex-direction: column;

    //button {
    //  color: rgba(0, 0, 0, 0.38);
    //  //background: rgba(0, 0, 0, 0.38);
    //}
  }

  .has-tabindex {
    right: 1rem !important;
    bottom: 1rem !important;
  }

  .data-error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .error-content {
      text-align: center;
    }
  }
}

