<div class="p-dialog-header px-0">
  <span class="p-dialog-title title">
    {{ 'screentype.' + screenType | translate }} {{ 'admin.user.' + title?.toLocaleLowerCase() | translate }}</span
  >
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="p-grid p-fluid p-dialog-body pt-2">
  <div [formGroup]="form" class="md-6">
    <div class="grid">
      <div class="col-6">
        <mbal-input-text formControlName="account" label="{{ 'admin.user.userName' | translate }}"></mbal-input-text>
      </div>
      <div class="col-6">
        <mbal-input-text formControlName="name" label="{{ 'admin.user.employeeName' | translate }}"></mbal-input-text>
      </div>
    </div>
  </div>

  <div [formGroup]="form" class="md-6">
    <div class="grid">
      <div class="col-6">
        <mbal-input-text formControlName="role" label="{{ 'admin.user.position' | translate }}"></mbal-input-text>
      </div>
      <div class="col-6">
        <mbal-input-text formControlName="group" label="{{ 'admin.user.department' | translate }}"></mbal-input-text>
      </div>
    </div>
  </div>
  <div [formGroup]="form" class="md-6">
    <div class="grid">
      <div class="col-6">
        <mbal-input-text formControlName="email" label="{{ 'admin.user.employeeEmail' | translate }}">
        </mbal-input-text>
      </div>
      <div class="col-6">
        <mbal-input-text formControlName="phoneNumber" label="{{ 'admin.user.phoneNo' | translate }}">
        </mbal-input-text>
      </div>
    </div>
  </div>
  <div [formGroup]="form">
    <mbal-select
      [options]="state!.listStatus"
      [showClear]="false"
      formControlName="status"
      label="{{ 'admin.user.status' | translate }}"
      optionValue="value"
    ></mbal-select>
    <!--    <br />-->
    <!--    <span class="text-red">{{ 'admin.user.warning' | translate }}</span>-->
  </div>
  <div [formGroup]="form" *ngIf="screenType === 0">
    <p-checkbox [binary]="true" formControlName="isExitKeyCloak"
                label="{{ 'admin.user.warning' | translate }}"></p-checkbox>
  </div>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <button
    (click)="save()"
    *ngIf="screenType !== 2"
    class="p-mr-2"
    icon="pi pi-check"
    label="{{ 'action.save' | translate }}"
    pButton
  ></button>
  <button
    (click)="cancel()"
    class="p-button-danger"
    icon="pi pi-times"
    label="{{ 'action.close' | translate }}"
    pButton
  ></button>
</div>
