<div class="card">
  <div class="grid">
    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="searchPending(true)"
        [(ngModel)]="params.applicationNum"
        label="{{ 'report.pending.applicationNum' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="searchPending(true)"
        [(ngModel)]="params.requestNumber"
        label="{{ 'report.pending.requestNumber' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-calendar (keyup.enter)="searchPending(true)" label="{{ 'report.pending.fromdate' | translate }}"
                     [(ngModel)]="params.fromDate"></mbal-calendar>
    </div>
    <div class="col-3">
      <mbal-calendar (keyup.enter)="searchPending(true)" [(ngModel)]="params.toDate"
                     label="{{ 'report.pending.todate' | translate }}"></mbal-calendar>
    </div>
  </div>

  <p-toolbar styleClass="px-0 flex justify-content-between">
    <div class="p-toolbar-group-left">
      <p-button
        (click)="searchPending(true)"
        label="{{ 'report.freelook.btnSearch' | translate }}"
        styleClass="p-button-primary "
        icon="pi pi-search"
      >
      </p-button>
      <p-button (click)="onReset()" icon="pi pi-replay" class="ml-2"></p-button>
    </div>
    <div class="p-toolbar-group-right">
      <button
        (click)="exportExcel(true, 'pending')"
        class="ml-2"
        pButton
        label="Export"
        icon="pi pi-download"
      ></button>
    </div>
  </p-toolbar>
  <p-table [resizableColumns]="true" [autoLayout]="true" responsiveLayout="scroll" [value]="dataTable.content">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">{{ 'report.pending.stt' | translate }}</th>
        <th scope="col">{{ 'report.pending.applicationNum' | translate }}</th>

        <th scope="col">{{ 'report.pending.requestNumber' | translate }}</th>
        <th scope="col">{{ 'report.pending.policyNum' | translate }}</th>
        <th scope="col">{{ 'report.pending.pendingCode' | translate }}</th>
        <th scope="col">{{ 'report.pending.pendingReason' | translate }}</th>

        <th scope="col">{{ 'report.pending.createdDate' | translate }}</th>
        <th scope="col">{{ 'report.pending.expiredDate' | translate }}</th>
        <th scope="col">{{ 'report.pending.closingDate' | translate }}</th>

        <th scope="col">{{ 'report.pending.closingReason' | translate }}</th>

        <th scope="col">{{ 'report.pending.note' | translate }}</th>

        <th scope="col">{{ 'report.pending.emailDate' | translate }}</th>

        <th scope="col">{{ 'report.pending.emailStatus' | translate }}</th>

        <th scope="col">{{ 'report.pending.pendingCodeStatus' | translate }}</th>

        <th scope="col">{{ 'report.pending.policyStatus' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td>{{ dataTable.currentPage === 0 ? i + 1 : dataTable.currentPage * dataTable.size + i + 1 }}</td>
        <td>{{ item.applicationNum }}</td>
        <td>{{ item.requestNumber }}</td>
        <td>{{ item.policyNum }}</td>
        <td>{{ item.pendingCode }}</td>
        <td>
          <p
            [pTooltip]="checkPendingOther(item.pendingCode) ? item.pendingReason
            : 'reason.' + item.pendingReason?.trim() | translate "
            tooltipPosition="bottom"
            class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
            {{ checkPendingOther(item.pendingCode) ? item.pendingReason
            : 'reason.' + item.pendingReason?.trim() | translate }}
          </p>
        </td>
        <td>{{ item.creatingDate | dateCus: 'DD/MM/YYYY HH:mm:ss' }}</td>
        <td>{{ item.expiredDate | dateCus: 'DD/MM/YYYY HH:mm:ss' }}</td>
        <td>
          {{ item.closingDate | dateCus: 'DD/MM/YYYY HH:mm:ss' }}
        </td>
        <td>{{ item.closingReason }}</td>
        <td>
          <p
            [pTooltip]="item.notes" tooltipPosition="bottom"
            class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
            {{ item.notes }}
          </p>
        </td>
        <td>{{ item.emailDate | dateCus: 'DD/MM/YYYY HH:mm:ss' }}</td>

        <td>{{ item.emailStatus }}</td>
        <td>{{ item.pendingCodeStatus}} </td>

        <td>{{ item.policyStatus }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="15">{{ 'MESSAGE.notfoundrecord' | translate }}</td>
      </tr>
    </ng-template>
  </p-table>
  <div class="custom-paginator">
    <div class="absolute">
      {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
      {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
      {{ 'request.requestList.record' | translate }}.
    </div>
    <p-paginator
      (onPageChange)="pageChange($event)"
      [first]="dataTable.first"
      [rowsPerPageOptions]="[10, 20, 30]"
      [rows]="dataTable.size"
      [showCurrentPageReport]="true"
      [totalRecords]="dataTable.totalElements"
    >
    </p-paginator>
  </div>
</div>
