@import "variable";

html body {
  font-family: Roboto;
}

.button_cancel {
  color: #2B2D2F;
  background: #DEE2E6;
  border-radius: 4px;
}

.wrap {
  display: flex;
  padding: 5px 0;

  .title-left {
    width: 200px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
  }

  .content {
    font-size: 14px;

    .fileName {
      color: $primary1;
      font-size: 14px;
      padding-top: 1px;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        color: $danger;
      }
    }

    .fileName ~ .fileName {
      margin-left: 10px;
    }
  }
}


