<p-card>
  <div class="mt-3 pl-5">
    <div class="flex">
      <img style="width: 60px; height: 40px"
           src="{{ stateUrl?.type === 'MAIL' ? './assets/images/logoGmail.png' : './assets/images/logoSMS.png' }}">
      <div style="padding-left: 10px; height: 40px; padding-top: 10px; font-size: 20px; font-weight: 500">
        {{ stateUrl?.content }}</div>
    </div>
    <div class="mt-3">
      <div *ngIf="stateUrl?.type === 'MAIL'" class="wrap">
        <div class="title-left">{{ 'request.detailRequest.claim-tpa.correspondence.from' | translate }}</div>
        <div class="content"> {{ stateUrl?.from }}</div>
      </div>
      <div *ngIf="stateUrl?.type === 'MAIL'" class="wrap">
        <div class="title-left">{{ 'request.detailRequest.claim-tpa.correspondence.to' | translate }}</div>
        <div class="content"> {{ stateUrl?.to }}</div>
      </div>
      <div *ngIf="stateUrl?.type === 'MAIL'" class="wrap">
        <div class="title-left">Cc</div>
        <div class="content"> {{ stateUrl?.cc }}</div>
      </div>
      <div *ngIf="stateUrl?.type === 'MAIL'" class="wrap">
        <div class="title-left">Bcc</div>
        <div class="content"> {{ stateUrl?.bcc }}</div>
      </div>
      <div *ngIf="stateUrl?.type === 'SMS'" class="wrap">
        <div class="title-left">{{ 'request.detailRequest.claim-tpa.correspondence.name' | translate }}</div>
        <div class="content"> {{ stateUrl?.name }}</div>
      </div>
      <div *ngIf="stateUrl?.type === 'SMS'" class="wrap">
        <div class="title-left">{{ 'request.detailRequest.claim-tpa.correspondence.phone' | translate }}</div>
        <div class="content"> {{ stateUrl?.phone }}</div>
      </div>
      <div class="wrap">
        <div class="title-left">{{ 'request.detailRequest.claim-tpa.correspondence.content' | translate }}</div>
        <div class="content"> {{ stateUrl?.content }}</div>
      </div>
      <div *ngIf="stateUrl?.type === 'MAIL'" class="wrap">
        <div class="title-left">{{ 'request.detailRequest.claim-tpa.correspondence.attachment' | translate }}</div>
        <div class="content">
          <!--          <span (click)="exportAttachment(item?.id)" class="fileName"-->
          <!--                *ngFor="let item of stateUrl?.attachment">{{item?.fileName}}-->
          <!--                </span>-->
        </div>
      </div>
      <div class="wrap">
        <div class="title-left">{{ 'request.detailRequest.claim-tpa.correspondence.createdOn' | translate }}</div>
        <div class="content"> {{ stateUrl?.createdDate | date: 'dd-MM-YYYY' }}</div>
      </div>
    </div>
    <div class="mt-3 text-right">
      <button
        (click)="cancel()"
        class="mr-2 button_cancel p-button-secondary"
        pButton>{{'request.detailRequest.premiumAdjustment.cancel' | translate}}</button>
    </div>
  </div>
</p-card>
