<button class="buttonClose" type="button">
  <span (click)="close()" class="p-dialog-header-close-icon pi pi-times"></span>
</button>
<pdf-viewer
  [autoresize]="true"
  [external-link-target]="'blank'"
  [fit-to-page]="false"
  [original-size]="false"
  [render-text]="true"
  [rotation]="0"
  [show-all]="true"
  [show-borders]="false"
  [src]="emailContentUrl"
  [stick-to-page]="false"
  [zoom-scale]="'page-width'"
  (after-load-complete)="completeLoading($event)"
  [zoom]="1"
  style="width: 99%; height: 700px; margin-top: 40px"
></pdf-viewer>
