<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="grid">
        <div class="col-3">
          <mbal-select
            [(ngModel)]="params.paymentType"
            [filter]="true"
            [options]="paymentType"
            label="Payment Type"
            optionValue="value"
            optionLabel="label"
            selectMode="multiple"
          ></mbal-select>
        </div>
        <div class="col-3">
          <mbal-select
            [(ngModel)]="params.status"
            [filter]="true"
            [options]="listStatus"
            label="Payment Type"
            optionValue="value"
            optionLabel="label"
            selectMode="multiple"
          ></mbal-select>
        </div>
        <div class="col-3">
          <mbal-calendar (ngModelChange)="onChangeValueDate()" (keyup.enter)="search(true)"
                         label="{{ 'request.requestList.startDate' | translate }}"
                         [(ngModel)]="params.fromDate"></mbal-calendar>
        </div>

        <div class="col-3">
          <mbal-calendar (ngModelChange)="onChangeValueDate()" (keyup.enter)="search(true)"
                         label="{{ 'request.requestList.endDate' | translate }}"
                         [maxDate]="today"
                         [(ngModel)]="params.toDate"></mbal-calendar>
        </div>
        <div class="col-3">
          <mbal-input-text
            (keyup.enter)="search(true)"
            [(ngModel)]="params.paymentNumber"
            label="Payment Request ID"
          ></mbal-input-text>
        </div>
        <div class="col-3">
          <mbal-input-text
            (keyup.enter)="search(true)"
            [(ngModel)]="params.policyNumber"
            label="Policy Number"
          ></mbal-input-text>
        </div>
        <div class="col-3">
          <mbal-input-text
            (keyup.enter)="search(true)"
            [(ngModel)]="params.bpNumber"
            label="BP Number"
          ></mbal-input-text>
        </div>
      </div>

      <p-toolbar styleClass="px-0 pt-0 mt-2">
        <div class="p-toolbar-group-left">
          <p-button label="{{ 'config.email.btnSearch' | translate }}" (click)="search(true)" icon="pi pi-search">
          </p-button>
        </div>
        <div class="p-toolbar-group-right">
          <p-fileUpload
            mode="basic"
            class="p-upload"
            [auto]="true"
            #fileInput
            (uploadHandler)="uploadHandler($event); fileInput.clear()"
            [customUpload]="true"
            [multiple]="false"
            chooseLabel="Upload file"
            [maxFileSize]="100000000"
            [showUploadButton]="false"
            [previewWidth]="40"
            accept=".xls,.xlsx"
          >
          </p-fileUpload>
          <button class="ml-3" (click)="downloadTemplate()" pButton>Template</button>
        </div>
      </p-toolbar>
      <p-table [value]="dataTable.content" [resizableColumns]="true" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">{{ 'report.fi.no' | translate }}</th>

            <th scope="col">{{ 'report.fi.paymentNumber' | translate }}</th>

            <th scope="col">{{ 'report.fi.netValue' | translate }}</th>
            <th scope="col">{{ 'report.fi.payAmount' | translate }}</th>
            <th scope="col">{{ 'report.fi.bpName' | translate }}</th>
            <th scope="col">{{ 'report.fi.partner' | translate }}</th>
            <th scope="col">{{ 'report.fi.bankAccount' | translate }}</th>
            <th scope="col">{{ 'report.fi.bankNumber' | translate }}</th>
            <th scope="col">{{ 'report.fi.bankName' | translate }}</th>
            <th scope="col">{{ 'report.fi.accountHolder' | translate }}</th>
            <th scope="col">{{ 'report.fi.policyNo' | translate }}</th>
            <th scope="col">{{ 'report.fi.reason' | translate }}</th>
            <th scope="col">{{ 'report.fi.description' | translate }}</th>
            <!-- // -->
            <th scope="col">{{ 'report.fi.paymentType' | translate }}</th>
            <th scope="col">{{ 'report.fi.transactionType' | translate }}</th>
            <th scope="col">{{ 'report.fi.personalIdentity' | translate }}</th>
            <th scope="col">{{ 'report.fi.dateofissue' | translate }}</th>
            <th scope="col">{{ 'report.fi.placeofissue' | translate }}</th>
            <th scope="col">{{ 'report.fi.bankcashname' | translate }}</th>
            <th scope="col">{{ 'report.fi.beneficiary' | translate }}</th>
            <!-- // -->
            <th scope="col">{{ 'report.fi.status' | translate }}</th>
            <th scope="col">{{ 'report.fi.createdDate' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
          <tr>
            <td>{{ dataTable.currentPage === 0 ? i + 1 : dataTable.currentPage * dataTable.size + i + 1 }}</td>
            <td>
              <p>{{ item.paymentNumber }}</p>
            </td>
            <td>
              <p>{{ item.netValue }}</p>
            </td>
            <td>
              <p>{{ item.payAmount }}</p>
            </td>
            <td>
              <p>{{ item.bpName }}</p>
            </td>
            <td>
              <p>{{ item.bpNumber }}</p>
            </td>
            <td>
              <p>{{ item.bankAccount }}</p>
            </td>
            <td>
              <p>{{ item.bankNumber }}</p>
            </td>
            <td>
              <p>{{ item.bankName }}</p>
            </td>
            <td>
              <p>{{ item.accountHolder }}</p>
            </td>
            <td>
              <p>{{ item.policyNumber }}</p>
            </td>
            <td>
              <p>{{ item.reason }}</p>
            </td>
            <td>
              <p>{{ item.description }}</p>
            </td>
            <td>{{ item.paymentType }}</td>
            <td>{{ item.transactionType }}</td>
            <td>{{ item.personalIdentity }}</td>
            <td>{{ item.dateOfIssue }}</td>
            <td>{{ item.placeOfIssue }}</td>
            <td>{{ item.bankCashName }}</td>
            <td>{{ item.beneficiary }}</td>
            <td>
              <p>{{ item.status }}</p>
            </td>
            <td>
              <p>{{ item.createdDate | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="custom-paginator">
        <div class="absolute">
          {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
          {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
          {{ 'request.requestList.record' | translate }}.
        </div>
        <p-paginator
          (onPageChange)="pageChange($event)"
          [first]="dataTable.first"
          [rowsPerPageOptions]="[10, 20, 30]"
          [rows]="dataTable.size"
          [showCurrentPageReport]="true"
          [totalRecords]="dataTable.totalElements"
        >
        </p-paginator>
      </div>
    </div>
  </div>
</div>
