<div class="p-dialog-header px-0">
  <span class="p-dialog-title"
  >{{ check ? ('category.import' | translate) : ('category.export' | translate) }}</span
  >
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<ng-container *ngIf="!check">
  <div class="grid">
    <div class="col-12">
      <mbal-input-textarea
        label="{{'category.backend.functionCode' | translate }}"
        [autoResize]="false"
        [rows]="6"
        [(ngModel)]="functionCode"
      ></mbal-input-textarea>
    </div>
  </div>
  <div class="text-right">
    <button
      (click)="export()"
      pButton
      label="{{'category.export' | translate }}"
      icon="las la-download"
    >
    </button>
  </div>
</ng-container>
<ng-container>
  <div *ngIf="check" class="col-12">
    <div style="margin: auto">
      <div class="mt-2">
        <p-fileUpload
          #fileInput
          [customUpload]="true"
          [maxFileSize]="1000000000"
          [previewWidth]="40"
          [showCancelButton]="false"
          [showUploadButton]="false"
          [fileLimit]="1"
          accept=".xml"
          chooseIcon="pi pi-upload"
          chooseLabel="{{ 'createRequest.requestCollection.selectFileUpload' | translate }}"
          class="p-upload"
          invalidFileTypeMessageDetail="{{ 'MESSAGE.FILE_REQUIRED_CHANGEDB' | translate }}"
          invalidFileTypeMessageSummary="{0}"
        >
        </p-fileUpload>
      </div>
    </div>
  </div>
</ng-container>
<div *ngIf="check" class="text-right">
  <button
    (click)="import()"
    pButton
    label="{{'category.save' | translate }}"
  >
  </button>
</div>
