:host {
  ::ng-deep {
    .p-steps .p-steps-item.p-highlight .p-steps-number {
      background-color: #84c993;
      color: #FFFFFF;
    }

    .p-steps .p-steps-item .p-steps-number {
      background-color: #ffffff;
      border: 2px solid #84c993;
      color: #4f6176;
    }

    .p-steps .p-steps-item .p-menuitem-link .p-steps-title {
      //margin: -44px;
      padding-left: 0;
      padding-bottom: 0.5rem;
      margin-top: -8rem;
      color: #0a73f0;
    }

    .p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
      background: none;
    }

    .p-steps {
      position: relative;
      width: 380px;
      margin: auto;
    }

    .p-steps .p-steps-item:before {
      width: 80%;
    }

    .p-steps-item .p-menuitem-link {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 25px;
      width: 24px;
    }
  }
}
