<p-card [styleClass]="itemRequest?.requestTypeCode !== requestType.TYPE05 ? 'mt-3' : ''">
  <h4 class="title">{{ 'request.detailRequest.underwrite.policyData' | translate }}</h4>
  <div>
    <h3 class="title-info">{{ 'request.detailRequest.underwrite.policyInfomation' | translate }}</h3>
  </div>
  <div class="flex card-container">
    <div class="col-4 pl-5">
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.policyNumber' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.policyNumber }}</span>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.applicationNo' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{
            hasCheckType() ? itemRequest?.policyDataDTO?.documentNumber : itemRequest?.policyDataDTO?.applicationNumber
            }}</span>
        </div>
      </div>

      <div *ngIf="hasCheckType()" class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.mainProductName' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.policyDataDTO?.productName }}</span>
        </div>
      </div>
    </div>

    <div class="col-4 pl-5">
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.status' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.policyDataDTO?.contractStatus }}</span>
        </div>
      </div>
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.startDate' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.policyDataDTO?.startDate | date: 'dd/MM/yyyy' }}</span>
        </div>
      </div>

      <div *ngIf="hasCheckType()" class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.paidToDate' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.policyDataDTO?.paidToDate | date: 'dd/MM/yyyy' }}</span>
        </div>
      </div>
    </div>
    <div class="col-4 pl-5">
      <ng-container *ngIf="hasCheckType(); else typeHS">
        <div class="grid">
          <div class="col-6">
            <label class="field-key">{{ 'request.detailRequest.underwrite.AckDate' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.ackDate | date: 'dd/MM/yyyy' }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-6">
            <label class="field-key">{{ 'request.detailRequest.underwrite.freelookEndDate' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.freeLookEndDate | date: 'dd/MM/yyyy' }}</span>
          </div>
        </div>
        
        
        <div class="grid">
          <div class="col-6">
            <label class="field-key">{{ 'createRequest.requestRefund.cancellationRequestFormDate' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{itemRequest?.signingRequestDate ? (itemRequest?.signingRequestDate | date: 'dd/MM/yyyy') : '' }}</span>
          </div>
        </div>
      </ng-container>
      <!-- //TH là luồng hồ sơ sẽ hiện productName -->
      <ng-template #typeHS>
        <div class="grid">
          <div class="col-6">
            <label class="field-key">{{ 'request.detailRequest.underwrite.mainProductName' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.productName }}</span>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div>
    <h3 class="title-info">{{ 'request.detailRequest.underwrite.policyHolderInformation' | translate }}</h3>
  </div>
  <div class="flex card-container">
    <div class="col-4 pl-5">
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.bpNo' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.policyDataDTO?.bpCode }}</span>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.policyHolderName' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.policyDataDTO?.customerName }}</span>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <label class="field-key">Email</label>
        </div>
        <div class="col">
          <span class="field-value">
            {{ itemRequest?.policyDataDTO?.customerEmail }}
          </span>
        </div>
      </div>
    </div>

    <div class="col-4 pl-5">
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.phoneNo' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">
            {{ itemRequest?.policyDataDTO?.phoneNumber }}
          </span>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.gender' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.policyDataDTO?.gender }}</span>
        </div>
      </div>
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.DOB' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">
            {{ itemRequest?.policyDataDTO?.dateOfBirth | date: 'dd/MM/yyyy' }}
          </span>
        </div>
      </div>
    </div>
    <div class="col-4 pl-5">
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.idNO' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">
            {{ itemRequest?.policyDataDTO?.customerId }}
          </span>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.institute' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.policyDataDTO?.customerIdIssuedBy }}</span>
        </div>
      </div>
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.dateOfIssue' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">
            {{ itemRequest?.policyDataDTO?.customerIdDate | dateCus }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class=" ">
    <h3 class="title-info">{{ 'request.detailRequest.underwrite.IcInformation' | translate }}</h3>
  </div>
  <div class="flex card-container">
    <div class="col-4 pl-5">
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.IcName' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.policyDataDTO?.icName }}</span>
        </div>
      </div>
    </div>
    <div class="col-4 pl-5">
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.IcNo' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">{{ itemRequest?.policyDataDTO?.icCode }}</span>
        </div>
      </div>
    </div>

    <div class="col-4 pl-5">
      <div class="grid">
        <div class="col-6">
          <label class="field-key">{{ 'request.detailRequest.underwrite.telNo' | translate }}</label>
        </div>
        <div class="col">
          <span class="field-value">
            {{ itemRequest?.policyDataDTO?.icPhoneNumber }}
          </span>
        </div>
      </div>
    </div>
  </div>
</p-card>
