<ng-container *ngIf="info">
  <ng-container *ngFor="let item of createTask; let index = index">
    <ng-template
      [ngTemplateOutlet]="taskTemplate"
      [ngTemplateOutletContext]="{$implicit: item, index }">
    </ng-template>
  </ng-container>
</ng-container>

<ng-container *ngIf="listUpdateHistory">
  <ng-container *ngFor="let item of listUpdateHistory; let index = index">
    <ng-template
      [ngTemplateOutlet]="taskTemplate"
      [ngTemplateOutletContext]="{$implicit: item, index }">
    </ng-template>
  </ng-container>
</ng-container>

<ng-container *ngIf="listSubmitHistory">
  <ng-container *ngFor="let item of listSubmitHistory; let index = index">
    <ng-template
      [ngTemplateOutlet]="taskTemplate"
      [ngTemplateOutletContext]="{$implicit: item, index }">
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #taskTemplate let-item let-index="index">
  <app-task-template
    [info]="item"
    [index]="index"
    [department]="department"
    [displayCodeAfterSubmit]="displayCodeAfterSubmit"
  >
    <ng-template mbalTempate="contentFirst" let-info>
      <ng-container *ngIf="info?.historyType === HISTORY_TYPE.SUBMIT_TASK && mode === MODE.RE_UNDERWRITING">
        <div class="claim__grid-item-title">
          <div class="claim__grid-item-title">{{ "claimRequest.decision" | translate  }}</div>
        </div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="(info?.decision | MatchPipe: reUnderwritingCommon) | translate"></value-display>
        </div>
      </ng-container>
    </ng-template>

  </app-task-template>
</ng-template>
