@import "variable";

.p-button-danger:disabled {
  background-color: #ef4444 !important;
  opacity: 0.5 !important;
}

.p-button-success:disabled {
  background-color: #22c55e !important;
  opacity: 0.5 !important;
}

.p-buttonset {
  .p-button {
    &:enabled:focus {
      background: $blue;
    }

    &:first-of-type {
      border-bottom-left-radius: 0;
    }

    &:last-of-type {
      border-bottom-right-radius: 0;
    }
  }
}

:host {
  ::ng-deep {
    .p-tabview-nav-content {
      display: none;
    }

    .p-tabview-panels {
      padding: 0;
    }
  }
}
