<div class="card">
  <div class="grid">
    <div class="col-3">
      <mbal-input-text
        [(ngModel)]="params.policyNumber"
        (keyup.enter)="search(true)"
        [maxlength]="12"
        label="{{ 'nonP2pList.policyN' | translate }}"
      ></mbal-input-text>
    </div>

    <div class="col-3">
      <span class="p-float-label">
        <mbal-select
          [(ngModel)]="params.status"
          [filter]="true"
          [options]="stateData?.listStatus"
          [showClear]="true"
          label="{{ 'nonP2pList.status' | translate }}"
          optionValue="value"
          selectMode="multiple"
        ></mbal-select>
      </span>
    </div>

    <div class="col-3">
      <mbal-calendar
        (keyup.enter)="search(true)"
        [(ngModel)]="params.startDate"
        label="{{ 'nonP2pList.fromDate' | translate }}"
      ></mbal-calendar>
    </div>

    <div class="col-3">
      <mbal-calendar
        (keyup.enter)="search(true)"
        [(ngModel)]="params.endDate"
        label="{{ 'nonP2pList.toDate' | translate }}"
      ></mbal-calendar>
    </div>

    <div class="col-3">
      <mbal-input-text
        [(ngModel)]="params.customerName"
        label="{{ 'nonP2pList.customerName' | translate }}"
        (keyup.enter)="search(true)"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.requestCode"
        label="{{ 'nonP2pList.requestCode' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-select
        [(ngModel)]="params.pics"
        [filter]="true"
        [options]="stateData?.listPic"
        label="{{ 'nonP2pList.performer' | translate }}"
        optionLabel="account"
        optionValue="account"
        selectMode="multiple"
      ></mbal-select>
    </div>
    <div class="col-3">
      <mbal-select
        [(ngModel)]="params.resolution"
        [filter]="true"
        [options]="stateData?.listResolution"
        label="{{ 'nonP2pList.resolution' | translate }}"
        optionValue="value"
        selectMode="multiple"
      ></mbal-select>
    </div>
  </div>

  <p-toolbar styleClass="px-0 flex justify-content-between">
    <div class="p-toolbar-group-left">
      <p-button
        (click)="search(true)"
        icon="pi pi-search"
        label="{{ 'button.search' | translate }}"
        styleClass="p-button-primary"
      >
      </p-button>
    </div>

    <div class="p-toolbar-group-right">
      <button
        (click)="approveOrReject(0)"
        [disabled]="isDisabledAction()"
        class="mr-3 p-button-danger"
        label=" {{ 'button.reject' | translate }}"
        pButton
      ></button>
      <button
        (click)="approveOrReject(1)"
        [disabled]="isDisabledAction()"
        class="p-button-success"
        label=" {{ 'button.approve' | translate }}"
        pButton
      ></button>
    </div>
  </p-toolbar>
  <span class="p-buttonset">
    <button class="w-10rem" [ngClass]="{ 'p-button-secondary': tabIndex !== 0}" label="Collection"
            (click)="changeTabView(0)"
            pButton></button>
    <button class="w-10rem" [ngClass]="{ 'p-button-secondary': tabIndex !== 1}" (click)="changeTabView(1)"
            label="Claims"
            pButton></button>
  </span>
  <p-tabView [(activeIndex)]="tabIndex">
    <p-tabPanel header="Collection">
      <approve-collection-table
        [stateData]="stateData"
      ></approve-collection-table>
    </p-tabPanel>
    <p-tabPanel header="Claims">
      <approve-claim-table
        [stateData]="stateData"
      ></approve-claim-table>
    </p-tabPanel>
  </p-tabView>
</div>
