<p-fieldset>

  <div class="card card-report-process">
    <div class="grid" [formGroup]="params">
      <div class="col-3">
        <mbal-select
          [fieldForm]="false"
          (keyup.enter)="search()"
          formControlName="typeCode"
          [options]="listRequestType"
          optionValue="value"
          label="{{ 'report.process.requestType' | translate }}"
        ></mbal-select>
      </div>
      <div class="col-3">
        <mbal-calendar [fieldForm]="false" [maxDate]="controlsParam.toDate.value!"
                       [maxDateToday]="true" (keyup.enter)="search()"
                       label="{{ 'report.process.fromDate' | translate }}"
                       formControlName="fromDate"></mbal-calendar>
      </div>
      <div class="col-3">
        <mbal-calendar [fieldForm]="false" [maxDateToday]="true" [minDate]="controlsParam.fromDate.value!"
                       (keyup.enter)="search()" formControlName="toDate"
                       label="{{ 'report.process.toDate' | translate }}"></mbal-calendar>
      </div>
      <div class="col-3">
        <mbal-select
          [fieldForm]="false"
          (keyup.enter)="search()"
          formControlName="version"
          optionLabel="value"
          optionValue="value"
          [options]="listVersions"
          label="Version"
        ></mbal-select>
      </div>
      <div class="col-3">
        <p-button
          (click)="search()"
          label="{{ 'button.search' | translate }}"
          styleClass="p-button-primary "
          icon="pi pi-search"
        >
        </p-button>
      </div>
    </div>
    <div class="process-diagram-view">
      <app-diagram-bpmn></app-diagram-bpmn>
    </div>
  </div>
</p-fieldset>
