.card-report-process {
  position: absolute;
  margin: 1rem;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .process-diagram-view {
    flex: 1 1 auto;
    border: 1px solid rgba(0, 0, 0, 0.38);
    background: #ffffff;
    border-radius: 4px;
    padding: 1rem;
  }
}
