<div>
  <div class="pl-2 flex  flex-wrap gap-3 align-items-center justify-content-between mb-4">
    <h4 class="title title-checkList mb-0 uppercase">
      {{'request.detailRequest.premiumAdjustment.accountDisplay.header'| translate}}
    </h4>
    <div class="action-button_container">
      <button pButton (click)="reloadTab()">
        {{'request.detailRequest.premiumAdjustment.accountDisplay.refresh'| translate}}
      </button>
      <button (click)="reverse()" [disabled]="!enableReverse" pButton >
        {{'request.detailRequest.premiumAdjustment.accountDisplay.reverse'| translate}}
      </button>
      <button (click)="resetClearing()" [disabled]="!enableClearing" pButton >
        {{'request.detailRequest.premiumAdjustment.accountDisplay.reset-clearing' | translate}}
      </button>
      <button (click)="paymentRun()" [disabled]="!enablePaymentRun" pButton>
        {{'request.detailRequest.premiumAdjustment.accountDisplay.paymentRun'| translate}}
      </button>
      <button (click)="accountMaintenance()" [disabled]="!enableAccountMaintenance" pButton >
        {{'request.detailRequest.premiumAdjustment.accountDisplay.accountMaintenance'| translate}}
      </button>
    </div>
  </div>

  <div class="relative mt-2">
    <button pButton class="mr-2 absolute right-btn" [icon]="'pi pi-refresh'" (click)="clearFilter()"></button>
    <p-tabView [(activeIndex)]="selectedTab" (activeIndexChange)="changeTab()" class="default-view">
      <p-tabPanel [header]="'request.detailRequest.premiumAdjustment.accountDisplay.Receivable'| translate">
        <ng-template pTemplate="content">
          <div class="table h-full table-have-filter-col">
            <app-receivable [isTabView]="true" [selection]="$any(selection)"
                            (selectionChange)="onChangeSelection($event)"></app-receivable>
          </div>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel [header]="'request.detailRequest.premiumAdjustment.accountDisplay.Downpayment' | translate">
        <div class="table h-full table-have-filter-col">
          <app-downpayment [isTabView]="true" [selection]="selection"
                           (selectionChange)="onChangeSelection($event)"></app-downpayment>
        </div>
      </p-tabPanel>
      <p-tabPanel [header]="'request.detailRequest.premiumAdjustment.accountDisplay.Chronology'| translate">
        <div class="table h-full table-have-filter-col">
          <app-chronology [isTabView]="true"></app-chronology>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
