:host {
  ::ng-deep {
    .p-accordion .p-accordion-tab {
      box-shadow: none;

      .p-accordion-header-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: #0b7cc3;
        font-weight: 500;
      }

      .p-accordion-toggle-icon {
        order: 0 !important;
        margin-left: unset !important;
      }
    }
  }
}

.usage-text {
  min-width: 450px;
}

.text-table-th-custom {
  max-width: 70px;
}

.file-attach {
  font-weight: bold;
  display: inline-flex;
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.note-bp-info {
  font-style: italic;
}

.btn-show-form-bp {
  font-weight: 500;
  margin-left: 3rem;
  color: #0B7CC3;
  cursor: pointer;
}

.icon-file {
  width: 30px;
  height: 30px;
}

.form-info {
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid #CED4DA;
}

.form-bp {
  @extend .form-info;
  margin: 0 !important;
}

.form-payment-method {
  @extend .form-info;
  margin-top: 1rem;
}

.tr-disabled {
  opacity: 0.38;
}

