<p-card *ngIf="form" class="decision" styleClass="mt-3">
  <div class=" ">
    <h4 class="title title-decision">{{ 'request.collection.decisionOfCollectionMember' | translate | uppercase }}</h4>
  </div>
  <div *ngIf="itemRequest?.paymentRequestHistoryList && itemRequest?.paymentRequestHistoryList!.length === 0"
       [formGroup]="form" class="grid">
    <div class="col-3">
      <mbal-select [options]="decisionDropList" [readonly]="!!itemRequest?.isProcessing || !!itemRequest?.isSubmit"
                   formControlName="decision"
                   label="{{ 'request.detailRequest.underwrite.decision' | translate }} " optionLabel="name"
                   optionValue="value">
      </mbal-select>
    </div>
    <div
      *ngIf="form.get('decision')?.value === decision.Approved"
      class="col-3">
      <button (click)="checkBP()"
              [disabled]="itemRequest?.isProcessing || itemRequest?.bpNumber || itemRequest?.isCheckBP" class="mr-2"
              label="{{ 'button.checkBP' | translate }}" pButton></button>
    </div>
  </div>
  <div
    *ngIf="form.get('decision')?.value === decision.Approved">
    <div *ngIf="itemRequest?.bpNumber || itemRequest?.isCheckBP || itemRequest?.isProcessing">
      <div *ngIf="!itemRequest?.hasBP && !itemRequest?.bpNumber"
           class="font-medium mb-3">{{ 'request.detailRequest.bp.noBP' | translate }}
        <span (click)="showBP = true" *ngIf="!itemRequest?.hasBP" class="btn-show-form-bp"><em
          class="las la-plus mr-1"></em>{{ 'button.addBP' | translate | uppercase }}</span></div>
      <div *ngIf="itemRequest?.bpNumber" class="font-medium mb-3">{{ 'request.detailRequest.bp.bpNo' | translate }}
        : {{ itemRequest?.bpNumber }}</div>
      <div *ngIf="itemRequest?.bpNumber || showBP || itemRequest?.isProcessing" [formGroup]="formBP"
           class="grid form-bp">
        <div class="col-4">
          <mbal-input-text
            formControlName="customerName"
            label="{{ 'request.detailRequest.bp.customerName' | translate }}"></mbal-input-text>
        </div>
        <div class="col-4">
          <mbal-calendar
            formControlName="dateOfIssue"
            label="{{ 'request.detailRequest.bp.dateOfIssue' | translate }}"></mbal-calendar>
        </div>
        <div class="col-4">
          <mbal-select
            [filter]="true" [options]="bankDropList"
            formControlName="bankCode"
            label="{{ 'request.detailRequest.bp.bankReceive' | translate }}"
            optionValue="citadCode"></mbal-select>
        </div>
        <div class="col-4">
          <mbal-select
            [options]="listIdentifyType" formControlName="idType"
            label="{{ 'request.detailRequest.bp.idNoType' | translate }}"></mbal-select>
        </div>
        <div class="col-4">
          <mbal-input-text
            formControlName="institute"
            label="{{ 'request.detailRequest.bp.institute' | translate }}"></mbal-input-text>
        </div>
        <div class="col-4">
          <mbal-input-text
            [onlyNumber]="true"
            formControlName="bankAccount"
            label="{{ 'request.detailRequest.bp.accountNo' | translate }}"></mbal-input-text>
        </div>
        <div class="col-4">
          <mbal-input-text
            formControlName="idNumber" label="{{ 'request.detailRequest.bp.idNo' | translate }}"></mbal-input-text>
        </div>
        <div class="col-4">
          <mbal-select
            [options]="listGender" formControlName="gender"
            label="{{ 'request.detailRequest.bp.gender' | translate }}"></mbal-select>
        </div>
        <div class="col-4">
          <mbal-input-text
            formControlName="branch" label="{{ 'request.detailRequest.bp.bankBranch' | translate }}"></mbal-input-text>
        </div>
        <div *ngIf="!itemRequest?.hasBP" class="col-12 flex flex-row-reverse">
          <button (click)="createBP()" [disabled]="itemRequest?.bpNumber || itemRequest?.isProcessing"
                  label="{{ 'button.createBP' | translate }}"
                  pButton></button>
        </div>
      </div>
      <ng-container *ngIf="itemRequest?.bpNumber">
        <div class="flex align-items-center mt-3">
          <button (click)="checkFPCPL()" [disabled]="itemRequest?.isProcessing" class="mr-2"
                  label="{{ 'button.checkFPCPL' | translate }}"
                  pButton></button>
          <button (click)="sendEmailToQM()"
                  *ngIf="!itemRequest?.isSendToQM && !itemRequest?.isProcessing && !!itemRequest?.isCVTV" class="mr-2"
                  label="{{ 'button.sendToQM' | translate }}"
                  pButton></button>
          <button (click)="sendDecisionQM()" *ngIf="itemRequest?.isSendToQM" [disabled]="itemRequest?.isProcessing"
                  class="p-button-outlined"
                  icon="pi pi-check"
                  label="{{ 'button.sendToQM' | translate }}" pButton></button>
          <div (click)="viewFileQM()" *ngIf="itemRequest?.qmEvidenceFile"
               class="ml-3 cursor-pointer">
            <a class="align-items-center flex" href="javascript:void(0)"><em
              class="icon-file mr-2 "></em>{{ itemRequest?.qmEvidenceFile }}</a>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="isCheckedFPCPL || isProcessing">
        <div class="grid mx-0 form-payment-method">
          <div class="col-12">
            <ng-container *ngIf="!itemRequest?.isRefused && !isProcessing">
              <div class="mb-5">
                <div class="grid mb-2">
                  <div class="col-3">
                    <mbal-input-number [min]="0" [(ngModel)]="paramPaymentLot.paymentAmount"
                                       label="{{ 'createRequest.requestCollection.refundAmount' | translate }}"
                                       required></mbal-input-number>
                  </div>
                  <div class="col-3">
                    <mbal-input-text [(ngModel)]="paramPaymentLot.usageText" label="Usage Text"
                                     required></mbal-input-text>
                  </div>
                  <div class="col-3">
                    <mbal-calendar [(ngModel)]="paramPaymentLot.postingDate" [maxDate]="today"
                                   label="Posting date"></mbal-calendar>
                  </div>
                  <div class="col-3">
                    <p-button (click)="getPaymentLot()" icon="pi pi-search" label="{{ 'button.search' | translate }}"
                              styleClass="p-button-primary"></p-button>
                  </div>
                </div>
                <p-table *ngIf="!isProcessing" [resizableColumns]="true" [scrollHeight]="isScroll ? '400px' : ''"
                         [scrollable]="true"
                         [value]="dataPaymentLot" scrollDirection="vertical" selectionMode="single">
                  <ng-template pTemplate="header">
                    <tr>
                      <th scope="col">Lot</th>
                      <th class="text-table-th-custom" scope="col">Item</th>
                      <th scope="col" style="min-width: fit-content">Payment Amount</th>
                      <th class="text-table-th-custom" scope="col">Cocd</th>
                      <th scope="col">Posting date</th>
                      <th class="usage-text" scope="col">Usage text</th>
                      <th scope="col">Valid to date</th>
                      <th scope="col">Status</th>
                      <th scope="col">Policy number</th>
                    </tr>
                  </ng-template>
                  <ng-template let-item pTemplate="body">
                    <tr (click)="pushDataPaymentLot(item, true)"
                        [ngClass]="{ 'tr-disabled': disabledPaymentLot.includes(item.CfcStatusDes)  }">
                      <td>{{ item.PaymentLot }}</td>
                      <td class="text-table-th-custom">{{ item.Item }}</td>
                      <td>{{ item.PaymentAmount }}</td>
                      <td class="text-table-th-custom">{{ item.CompCode }}</td>

                      <td>{{ item.PostingDate | date: 'dd/MM/yyyy' }}</td>

                      <td class="usage-text">
                        <p class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                          {{ item.PayerMemo }}
                        </p>
                      </td>

                      <td>{{ item.PostingDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ item.CfcStatusDes }}</td>
                      <td>{{ item.Vkont }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </ng-container>
            <div class="mb-2">
              <label class="field-key mt-2 mb-5">Payment lot</label>
            </div>
            <p-table
              [resizableColumns]="true"
              [scrollable]="true"
              [value]="dataNewPaymentLot"
              scrollDirection="vertical"
              selectionMode="single"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th scope="col">Lot</th>
                  <th class="text-table-th-custom" scope="col">Item</th>
                  <th scope="col">Payment Amount</th>
                  <th class="text-table-th-custom" scope="col">Cocd</th>
                  <th scope="col">Posting date</th>
                  <th class="usage-text" scope="col">Usage text</th>
                  <th scope="col">Valid to date</th>
                  <ng-container *ngIf="!!itemRequest?.isProcessing; else noPaymentRunH">
                    <th scope="col">Status</th>
                    <th scope="col">Update Status</th>
                  </ng-container>
                  <ng-template #noPaymentRunH>
                    <th scope="col">Delete</th>
                  </ng-template>
                </tr>
              </ng-template>
              <ng-template let-item pTemplate="body">
                <tr>
                  <td>{{ item.PaymentLot }}</td>
                  <td class="text-table-th-custom">{{ item.Item }}</td>
                  <td>{{ item.PaymentAmount }}</td>
                  <td class="text-table-th-custom">{{ item.CompCode }}</td>

                  <td>{{ item.PostingDate | date: 'dd/MM/yyyy' }}</td>

                  <td class="usage-text" pTooltip="{{ item.PayerMemo }}">
                    <p class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
                      {{ item.PayerMemo }}
                    </p>
                  </td>

                  <td>{{ item.PostingDate | date: 'dd/MM/yyyy' }}</td>
                  <ng-container *ngIf="!!itemRequest?.isProcessing; else noPaymentRunB">
                    <td>{{ item.CfcStatusDes }}</td>
                    <td>
                      <p-tag *ngIf="item.isUpdatePaymentLotSuccess === true" severity="success" styleClass="mr-2"
                             value="Success"></p-tag>
                      <p-tag *ngIf="item.isUpdatePaymentLotSuccess === false" severity="danger" styleClass="mr-2"
                             value="False">
                      </p-tag>
                  </ng-container>
                  <ng-template #noPaymentRunB>
                    <td>
                        <span (click)="pushDataPaymentLot(item)" class="pointer">
                          <em class="pi pi-trash isFinalDecisionRed"></em>
                        </span>
                    </td>
                  </ng-template>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="hasFormPayment()">
        <ng-container *ngTemplateOutlet="fPaymentMethod"></ng-container>
      </ng-container>
      <div *ngIf="hasProcess()" class="flex flex-row-reverse flex-wrap card-container">
        <div class="flex align-items-center justify-content-center m-2">
          <button (click)="processing()" *ngIf="showBtnProcessing()" pButton>
            {{ 'request.detailRequest.underwrite.processing' | translate }}
          </button>
        </div>
        <div *ngIf="itemRequest?.isProcessing" [formGroup]="form"
             class="flex align-items-center justify-content-center m-2">
          <p-checkbox [binary]="true" [readonly]="true" formControlName="paymentRun"></p-checkbox>
          <label class="mr-2 ml-2">Payment run</label>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="itemRequest?.paymentRequestHistoryList && itemRequest?.paymentRequestHistoryList!.length > 0">
    <p-accordion styleClass="my-3">

      <p-accordionTab *ngFor="let item of itemRequest?.paymentRequestHistoryList"
                      header="{{ 'request.detailRequest.decisionHistory' | translate }}: {{ item.createDate | dateCus }} - {{ item.paymentNumber }}">
        <div class="form-info">
          <ng-container *ngTemplateOutlet="tbPaymentRequest; context:{ dataTable: item.dataTable }"></ng-container>
        </div>
      </p-accordionTab>
    </p-accordion>
  </ng-container>

  <div *ngIf="itemRequest?.paymentRequestHistoryList && itemRequest?.paymentRequestHistoryList!.length > 0"
       [formGroup]="form" class="grid">
    <div [formGroup]="form" class="col-3">
      <mbal-select [options]="decisionDropList"
                   formControlName="decision"
                   label="{{ 'request.detailRequest.underwrite.decision' | translate }} " optionLabel="name"
                   optionValue="value">
      </mbal-select>
    </div>
  </div>

  <div *ngIf="[decision.Pending, decision.Reject].includes(form.get('decision')?.value)"
       [formGroup]="form">
    <ng-container *ngTemplateOutlet="otherApprove"></ng-container>
  </div>

  <ng-container
    *ngIf="itemRequest?.paymentRequestHistoryList && itemRequest?.paymentRequestHistoryList!.length > 0 && form.get('decision')?.value === decision.Approved">
    <ng-container *ngTemplateOutlet="fPaymentMethod"></ng-container>

  </ng-container>

  <div
    *ngIf="itemRequest?.isProcessing && this.form?.get('decision')?.value === decision.Approved"
    class="form-info">
    <ng-container
      *ngTemplateOutlet="tbPaymentRequest; context:{ createPR: true, dataTable: dataPaymentRequestDetail }"></ng-container>
  </div>

</p-card>

<!--Decision Pending or Reject-->
<ng-template #otherApprove>
  <div [formGroup]="form!" class="grid mb-3">
    <div class="col-12">
      <mbal-input-textarea [maxlength]="1000" [readonly]="!!itemRequest?.isSubmit" [rows]="2" formControlName="reason"
                           label="{{ 'request.detailRequest.underwrite.reason' | translate }}"
                           required></mbal-input-textarea>
    </div>
  </div>
</ng-template>

<!--Table Payment Request-->
<ng-template #tbPaymentRequest let-dataTable="dataTable" let-showBtn="createPR">
  <form #f="ngForm" (ngSubmit)="createPR(f)">
    <p-table (sortFunction)="sortTable($event)" [customSort]="true" [value]="dataTable"
             groupRowsBy="label"
             rowGroupMode="rowspan"
             sortField="order"
             sortMode="single">
      <ng-container>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width:25%">{{ 'PRInfo.info' | translate }}</th>
            <th scope="col" style="width:25%">NBU user</th>
            <th scope="col" style="width:25%">SAP</th>
            <th scope="col" style="width:25%">P2P</th>
          </tr>
        </ng-template>
      </ng-container>
      <ng-template let-i="rowIndex" let-item let-rowgroup="rowgroup" let-rowspan="rowspan"
                   pTemplate="body">
        <tr>
          <td *ngIf="rowgroup" [attr.rowspan]="rowspan" style="vertical-align: middle">
            <span class="font-medium">{{ ('PRInfo.' + item.label) | translate }}</span>
          </td>
          <ng-container *ngIf="item.type !== 'Number' && item.type !== 'Date' && item.type !== 'Select'">
            <td>{{ item.bpmValue }}</td>
            <td>{{ item.sapValue }}</td>
            <td>
              <mbal-input-text [(ngModel)]="item.p2pValue"
                               [disabled]="!!item.disabled || !!itemRequest?.isPaymentRequest"
                               [fieldForm]="false"
                               [name]="item.key + i"
                               [required]="item.required"
                               [showLabel]="false"></mbal-input-text>
            </td>
          </ng-container>
          <ng-container *ngIf="item.type === 'Date'">
            <td>{{ item.bpmValue | date: 'dd/MM/yyyy' }}</td>
            <td>{{ item.sapValue | date: 'dd/MM/yyyy' }}</td>
            <td>
              <mbal-calendar [(ngModel)]="item.p2pValue"
                             [disabled]="!!item.disabled || !!itemRequest?.isPaymentRequest"
                             [fieldForm]="false"
                             [name]="item.key + i"
                             [required]="item.required"
                             [showLabel]="false"></mbal-calendar>
            </td>
          </ng-container>
          <ng-container *ngIf="item.type === 'Number'">
            <td>{{ item.bpmValue | number: '1.0-0' }}</td>
            <td>{{ item.sapValue | number: '1.0-0' }}</td>
            <td>
              <mbal-input-number (ngModelChange)="changeValue(item)"
                                 [(ngModel)]="item.p2pValue"
                                 [disabled]="!!item.disabled || !!itemRequest?.isPaymentRequest"
                                 [fieldForm]="false"
                                 [name]="item.key + i"
                                 [required]="item.required"
                                 [max]="+item.sapValue"
                                 [showLabel]="false"></mbal-input-number>
            </td>
          </ng-container>
          <ng-container *ngIf="item.type === 'Select'">
            <td>{{ getNameDropdown(item.key, item.bpmValue) }}</td>
            <td>{{ item.key === 'paymentMethod' ? item.sapValue : getNameDropdown(item.key, item.sapValue) }}</td>
            <td>
              <mbal-select
                [(ngModel)]="item.p2pValue"
                [disabled]="!!item.disabled || !!itemRequest?.isPaymentRequest"
                [fieldForm]="false"
                [name]="item.key + i"
                [optionValue]=" item.key === 'bankCode' ? 'citadCode': 'code'"
                [options]="getOptions(item.key)"
                [required]="item.required"
                [showLabel]="false"></mbal-select>
            </td>
          </ng-container>

        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="showBtn" class="mt-3 flex flex-row-reverse">
      <button
        type="submit"
        [disabled]="!!itemRequest?.isPaymentRequest || !isSaveChangePaymentMethod"
        label="{{ 'button.createPR' | translate }}"
        pButton></button>
    </div>
  </form>
</ng-template>

<!-- Form PaymentMethod-->
<ng-template #fPaymentMethod>
  <div [formGroup]="form!" class="mt-3">
    <div class="col-12">
      <div class="grid">
        <label>{{ 'request.detailRequest.underwrite.paymentMethod' | translate }}
          <span class="text-red">*</span></label>
        <div class="p-field-radiobutton ml-4">
          <p-radioButton (onClick)="onChangePaymentMethod()"
                         formControlName="paymentMethod"
                         label="{{ 'request.detailRequest.underwrite.banking' | translate }}"
                         value="BANKING"></p-radioButton>
        </div>
        <div class="p-field-radiobutton ml-5">
          <p-radioButton (onClick)="onChangePaymentMethod()"
                         formControlName="paymentMethod"
                         label="{{ 'request.detailRequest.underwrite.cash' | translate }}"
                         value="CASH"></p-radioButton>
        </div>
      </div>
    </div>
  </div>
  <div class="justify-content-center">
    <f-errors [control]="form!.get('paymentMethod')"></f-errors>
  </div>
  <div
    [formGroup]="formPaymentMethod"
    class="form-payment-method my-3">
    <div *ngIf="form!.get('paymentMethod')?.value?.toUpperCase() === paymentMethod.Banking?.toUpperCase()"
         class="grid mx-0">
      <div class="col-6">
        <mbal-select (onChangeValue)="onChangeBank($event['value'])"
                     [filter]="true"
                     [options]="bankDataDTO"
                     formControlName="bpBankId"
                     label="{{ 'request.detailRequest.underwrite.bankAccount' | translate }}"
                     optionLabel="bankAccount" optionValue="bpBankId"></mbal-select>
      </div>
      <div class="col-6">
        <label (click)="addBankAccount()" *ngIf="
                    !itemRequest?.isProcessing || !isSaveChangePaymentMethod
                  " class="pt-5 text-blue-500">+ {{ 'request.detailRequest.underwrite.addNewBankAccount' | translate
          }}</label>
        <div class="flex flex-row-reverse flex-wrap card-container"></div>
      </div>
      <div class="col-4">
        <mbal-input-text [readonly]="true" formControlName="bankName"
                         label="{{ 'request.detailRequest.underwrite.bankName' | translate }}"></mbal-input-text>
      </div>

      <div class="col-4">
        <mbal-input-text [readonly]="true" class="p-inputtext-sm" formControlName="bankAccount"
                         label="{{ 'request.detailRequest.underwrite.bankAccount' | translate }}"></mbal-input-text>
      </div>
      <div class="col-4">
        <mbal-input-text [readonly]="true" formControlName="bankAccountName"
                         label="{{ 'request.detailRequest.underwrite.nameAccount' | translate }}"></mbal-input-text>
      </div>
    </div>
    <div *ngIf="form!.get('paymentMethod')?.value?.toUpperCase() === paymentMethod.Cash.toUpperCase()"
         class="grid mx-0">
      <div class="col-4">
        <mbal-input-text formControlName="customerName"
                         label="{{ 'request.detailRequest.underwrite.fullName' | translate }}"></mbal-input-text>
      </div>
      <div class="col-4">
        <mbal-select
          [filter]="true"
          [options]="bankDropList"
          formControlName="cashBankCode"
          label="{{ 'request.detailRequest.underwrite.bankName' | translate }}"
          optionValue="citadCode"></mbal-select>
      </div>

      <div class="col-4">
        <mbal-input-text formControlName="branch"
                         label="{{ 'request.detailRequest.underwrite.branch' | translate }}"></mbal-input-text>
      </div>
      <div class="col-4">
        <mbal-input-text formControlName="idNumber"
                         label="{{ 'request.detailRequest.underwrite.idenityCardNumb' | translate }} "></mbal-input-text>
      </div>

      <div class="col-4">
        <mbal-input-text class="p-inputtext-sm infoBank"
                         formControlName="placeOfIssue"
                         label="{{ 'request.detailRequest.underwrite.institute' | translate }}"></mbal-input-text>
      </div>
      <div class="col-4">
        <mbal-calendar [maxDate]="today" formControlName="dateOfIssue"
                       label="{{ 'request.detailRequest.underwrite.dateOfIssue' | translate }}"></mbal-calendar>
      </div>
    </div>
    <div
      *ngIf="itemRequest?.approveList && itemRequest?.approveList!.length > 0 && itemRequest?.resolution === resolution.NBU_INPROCESS"
      class="text-right">
      <button (click)="saveChangePaymentMethod()" [disabled]="isSaveChangePaymentMethod"
              label="{{ 'button.save' | translate }}"
              pButton></button>
    </div>
  </div>

</ng-template>



