<p-card>
  <div class="grid">
    <div class="col-12">
      <h4  class="title mb-4">{{ 'request.detailRequest.pendingHistory.listRequirements' | translate }}</h4>

      <p-table [value]="itemRequest?.pendingHistories!">
        <ng-template pTemplate="header">
          <tr>
            <th class="th-id" scope="col">{{ 'request.detailRequest.pendingHistory.id' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.pendingHistory.content' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.pendingHistory.reason' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.pendingHistory.department' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.pendingHistory.executor' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.pendingHistory.performanceDate' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr>
            <td>{{ i + 1 }}</td>
            <td [pTooltip]="item.description">{{ item.description }}</td>

            <td style="max-width: 600px; overflow-wrap: break-word;">
              <p class="m-0 white-space-wrap overflow-hidden text-overflow-clip">{{ item.reason }}</p>
            </td>

            <td>
              {{ item.dept }}
            </td>

            <td>
              {{ item.executor }}
            </td>
            <td>
              {{ item.executionTime | date: 'dd/MM/yyyy  HH:mm:ss' }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
