<div class="py-3  overview-grid-view"
     [ngClass]="{'display-4-col': currentSelectedType === DASHBOARD_TYPE.COL && canViewFullCard}"
>

  <div class="overview-item_container">
    <div class="iconCard">
      <img src="assets/images/request.png" alt="Error"/>
    </div>
    <div class="overview-item_left">
      <div class="overview-item_title">
        {{'dashboard.total-request' | translate}}
      </div>
      <div class="overview-item_value">
        <ng-container *ngIf="isLoading">{{'---'}}</ng-container>
        <ng-container *ngIf="!isLoading">{{totalRequest?.value}}</ng-container>
      </div>
      <div class="overview-item_des">
      </div>
    </div>
  </div>

  <a href="javascript:void(0)" class="overview-item_container cursor-pointer"
     (click)="redirectToRequestScreen(REDIRECT_WITH_PARAMS.REMAINING_REQUEST)">
    <div class="iconCard">
      <img src="assets/images/history.png" alt="Error"/>
    </div>
    <div class="overview-item_left">
      <div class="overview-item_title">
        {{'dashboard.request-remaining' | translate}}
      </div>
      <div class="overview-item_value">
        <ng-container *ngIf="isLoading">{{'---'}}</ng-container>
        <ng-container *ngIf="!isLoading">{{remainingRequest?.value}}</ng-container>
      </div>
      <div class="overview-item_des">
      </div>
    </div>
  </a>


  <div class="overview-item_container">
    <div class="iconCard">
      <img src="assets/images/verified.png" alt="Error"/>
    </div>
    <div class="overview-item_left">
      <div class="overview-item_title">
        {{'dashboard.done-request'| translate}}
      </div>
      <div class="overview-item_value ">
        <ng-container *ngIf="isLoading">{{'---'}}</ng-container>
        <ng-container *ngIf="!isLoading">{{doneRequest?.value }}</ng-container>
      </div>
      <div class="overview-item_des">
        <div *ngIf="!isLoading">
          <a class="value-present " href="javascript:void(0)"
             (click)="redirectToRequestScreen(REDIRECT_WITH_PARAMS.LINE_DONE_REQUEST, doneRequest?.requestCodes)"
             [class.positive]="doneRequest?.pending"
             [class.unknown]="!doneRequest?.pending"
          >
            {{(doneRequest?.pending || 0) > 0 ? '+' + doneRequest?.pending : doneRequest?.pending  }}
            {{'dashboard.in-process' | translate}}
          </a>
        </div>
        <div *ngIf="isLoading">
          <span class="mx-1">~ {{'dashboard.in-process' | translate}}</span>
        </div>
      </div>
    </div>
  </div>

  <a href="javascript:void(0)" (click)="redirectToRequestScreen(REDIRECT_WITH_PARAMS.SLA_DONE, SLADone?.requestCodes)"
     class="overview-item_container">
    <div class="iconCard">
      <img src="assets/images/approve.png" alt="Error"/>
    </div>
    <div class="overview-item_left">
      <div class="overview-item_title">
        SLA {{'dashboard.done'| translate}}
      </div>
      <div class="overview-item_value " [class.SLA_green]="!isLoading">
        <ng-container *ngIf="isLoading">{{'---'}}</ng-container>
        <ng-container *ngIf="!isLoading">{{SLADone?.value }}</ng-container>
      </div>
      <div class="overview-item_des">
        <ng-container
          *ngTemplateOutlet="evaluate_percentage; context: {$implicit: SLADone?.percentage || 0, status: SLADone?.status }">
        </ng-container>
      </div>
    </div>
  </a>

  <a href="javascript:void(0)" (click)="redirectToRequestScreen(REDIRECT_WITH_PARAMS.SLA_LATE, SLALate?.requestCodes)"
     class="overview-item_container ">
    <div class="iconCard">
      <img src="assets/images/overtime.png" alt="Error"/>
    </div>
    <div class="overview-item_left">
      <div class="overview-item_title ">
        SLA {{'dashboard.overdue'| translate}}
      </div>
      <div class="overview-item_value" [class.SLA_red]="!isLoading">
        <ng-container *ngIf="isLoading">{{'---'}}</ng-container>
        <ng-container *ngIf="!isLoading">{{SLALate?.value}}</ng-container>
      </div>
      <div class="overview-item_des">
        <ng-container
          *ngTemplateOutlet="evaluate_percentage; context: {$implicit: SLALate?.percentage || 0, status: SLALate?.status}">
        </ng-container>
      </div>
    </div>
  </a>

  <ng-container *ngIf="canViewFullCard">

    <div class="overview-item_container">
      <div class="iconCard">
        <img src="assets/images/totalrequestapprove.png" alt="Error"/>
      </div>
      <div class="overview-item_left">
        <div class="overview-item_title">
          {{'dashboard.total-approval-request'|translate}}
        </div>
        <div class="overview-item_value">
          <ng-container *ngIf="isLoading">{{'---'}}</ng-container>
          <ng-container *ngIf="!isLoading">{{totalApproveRequest}}</ng-container>
        </div>
        <div class="overview-item_des">
        </div>
      </div>
    </div>

    <a href="javascript:void(0)" class="overview-item_container cursor-pointer"
       (click)="redirectToRequestScreen(REDIRECT_WITH_PARAMS.REMAINING_APPROVED_REQUEST,remainingApproveRequest?.requestCodes)">
      <div class="iconCard">
        <img src="assets/images/problem.png" alt="Error"/>
      </div>
      <div class="overview-item_left">
        <div class="overview-item_title">
          {{'dashboard.remaining-approval-request'| translate}}
        </div>
        <div class="overview-item_value">
          <ng-container *ngIf="isLoading">{{'---'}}</ng-container>
          <ng-container *ngIf="!isLoading">{{remainingApproveRequest?.value}}</ng-container>
        </div>
        <div class="overview-item_des">
        </div>
      </div>
    </a>

    <div class="overview-item_container">
      <div class="iconCard">
        <img src="assets/images/time-passing.png" alt="Error"/>
      </div>
      <div class="overview-item_left">
        <div class="overview-item_title">
          {{'dashboard.total-tat'| translate}}
        </div>
        <div class="overview-item_value ">
          <ng-container *ngIf="isLoading">{{'---'}}</ng-container>
          <ng-container *ngIf="!isLoading">{{totalTAT}}</ng-container>
        </div>
        <div class="overview-item_des">
        </div>
      </div>
    </div>
    <ng-container *ngIf="currentSelectedType === DASHBOARD_TYPE.NBU">

      <a href="javascript:void(0)"
         (click)="redirectToRequestScreen(REDIRECT_WITH_PARAMS.SLA_APPROVED_DONE, slaApprovedDone?.requestCodes)"
         class="overview-item_container">
        <div class="iconCard">
          <img src="assets/images/time.png" alt="Error"/>
        </div>
        <div class="overview-item_left">
          <div class="overview-item_title">
            {{'dashboard.sla-approval-done'| translate}}
          </div>
          <div class="overview-item_value " [class.SLA_green]="!isLoading">
            <ng-container *ngIf="isLoading">{{'---'}}</ng-container>
            <ng-container *ngIf="!isLoading">{{slaApprovedDone?.value }}</ng-container>
          </div>
          <div class="overview-item_des">
            <ng-container
              *ngTemplateOutlet="evaluate_percentage; context: {$implicit: slaApprovedDone?.percentage || 0, status: slaApprovedDone?.status }">
            </ng-container>
          </div>
        </div>
      </a>

      <a href="javascript:void(0)"
         (click)="redirectToRequestScreen(REDIRECT_WITH_PARAMS.SLA_APPROVED_LATE, slaApprovalLate?.requestCodes)"
         class="overview-item_container">
        <div class="iconCard">
          <img src="assets/images/deadline.png" alt="Error"/>
        </div>
        <div class="overview-item_left">
          <div class="overview-item_title ">
            {{'dashboard.sla-approval-due'| translate}}
          </div>
          <div class="overview-item_value" [class.SLA_red]="!isLoading">
            <ng-container *ngIf="isLoading">{{'---'}}</ng-container>
            <ng-container *ngIf="!isLoading">{{slaApprovalLate?.value}}</ng-container>
          </div>
          <div class="overview-item_des">
            <ng-container
              *ngTemplateOutlet="evaluate_percentage; context: {$implicit: slaApprovalLate?.percentage || 0, status: slaApprovalLate?.status}">
            </ng-container>
          </div>
        </div>
      </a>

    </ng-container>
  </ng-container>
</div>

<ng-template let-value #evaluate_percentage let-status="status">
  <span *ngIf="status !== OverviewStatus.unset && !isLoading">
     <span class="value-present"
           [class.positive]="status  === OverviewStatus.positive">{{value > 0 ? '+' + value : '' + value  }}%</span>
    {{(!isViewYear ? 'dashboard.than-last-month' : 'dashboard.than-last-year')| translate}}
  </span>
  <span *ngIf="status === OverviewStatus.unset || isLoading"> <span
    class="mx-1">~</span> {{(!isViewYear ? 'dashboard.than-last-month' : 'dashboard.than-last-year')| translate}}</span>
</ng-template>
