@import "variable";

.overview-grid-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 14px;

  &.display-4-col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1500px) {
  .overview-grid-view {
    grid-template-columns: auto auto !important;
  }
}

@media (max-width: $lg) {
  .overview-grid-view {
    grid-template-columns: auto !important;
  }
}

.overview-item_container {
  $color-green_SLA: #2DC714;
  $color-red_SLA: #F40C0C;
  padding: 16px;
  background: $white;
  border-radius: 4px;
  color: #4c566a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  .iconCard {
    position: absolute;
    right: 10px;
    bottom: 10px;

    img {
      width: 50px;
      height: 50px;
      @media (max-width: 1500px) {
        width: 60px;
        height: 60px;
      }
      @media (max-width: $lg) {
        width: 60px;
        height: 60px;
      }
    }
  }

  .overview-item_left {
    flex: 1;
  }

  .overview-item_title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  img.overview-item_icon {
    $height: 97px;
    height: $height;
    display: flex;

    &.smaller {
      height: $height - 7px
    }
  }

  .overview-item_value {
    font-weight: 700;
    font-size: 32px;
    padding: 12px;

    &.SLA_red {
      color: $color-red_SLA;
    }

    &.SLA_green {
      color: $color-green_SLA;
    }
  }

  .overview-item_des {
    font-size: 14px;
    color: gray;
    font-weight: 500;
    line-height: 20px;
    min-height: 20px;

    .value-present {
      color: $color-red_SLA;

      &.positive {
        color: $color-green_SLA;
      }

      &.unknown {
        color: gray;
      }
    }
  }

  .overview-icon {
    position: absolute;
    top: 18%;
    right: 7%;
  }
}
