<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-toolbar styleClass="px-0 pt-0 mt-2">
        <div class="p-toolbar-group-left">
          <!--          <p-button (click)="search(true)" icon="pi pi-search" label="{{ 'config.email.btnSearch' | translate }}">-->
          <!--          </p-button>-->
          <div>Đơn vị: Triệu VNĐ</div>
        </div>
        <div class="p-toolbar-group-right">
          <button *ngIf="!isEdit" (click)="onEdit(true)" icon="pi pi-pencil" pButton></button>
          <button *ngIf="isEdit" (click)="onEdit(false)" class="p-button-danger" icon="pi pi-times" pButton></button>
          <button *ngIf="isEdit" (click)="onCreate(f)" class="ml-3"
                  label="{{ 'button.save' | translate }}"
                  pButton></button>
        </div>
      </p-toolbar>
      <form #f="ngForm">
        <p-table [value]="isEdit ? dataConfigNew.approverLevels : dataConfig.approverLevels" responsiveLayout="scroll"
                 [scrollable]="true">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" pFrozenColumn style="width:250px; max-width: 250px"></th>
              <ng-container *ngIf="!isEdit">
                <th scope="col"
                    class="flex justify-content-center"
                    [ngClass]="isEdit ? '' : ''"
                    *ngFor="let item of dataConfig.amountOfMoneys; let i = index">

                  <p class="text-center">{{ getDisplayHeader(item) }}</p>
                </th>
              </ng-container>
              <ng-container *ngIf="isEdit">
                <th scope="col"
                    class="flex justify-content-center"
                    [ngClass]="isEdit ? '' : ''"
                    *ngFor="let item of dataConfigNew.amountOfMoneys; let i = index">

                  <span (click)="onClickColumnOrRow(i, 'col');menuC.toggle($event)"
                        class="pi pi-bars cursor-pointer mr-3"></span>
                  <p-menu appendTo="body" #menuC [popup]="true" [model]="menuColumn"></p-menu>
                  <div class="relative">
                    <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                      <p-inputNumber
                        [minValue]="i === 0 ? 0 : dataConfigNew.amountOfMoneys[i-1].amountTo"
                        [maxValue]="item.amountTo || null"
                        [required]="true"
                        [(ngModel)]="item.amountFrom" [name]="'amountFrom_' + i"></p-inputNumber>
                    </span>
                      <span style="width: 120px" class="p-inputgroup-addon">
                      <p-dropdown [(ngModel)]="item.amountFromComparison" [showClear]="false"
                                  [options]="listOperator"
                                  optionValue="value"
                                  optionLabel="value"
                                  [name]="'amountFromComparison_' + i"></p-dropdown>
                    </span>
                      <span style="background: #e9ecef;" class="p-inputgroup-addon">x</span>
                      <span style="width: 120px" class="p-inputgroup-addon">
                      <p-dropdown [(ngModel)]="item.amountToComparison" [showClear]="false"
                                  [options]="listOperator"
                                  optionValue="value"
                                  optionLabel="value"
                                  [name]="'amountToComparison_' + i"></p-dropdown>
                    </span>
                      <span class="p-inputgroup-addon">
                      <p-inputNumber [(ngModel)]="item.amountTo" [name]="'amountTo_' + i"
                                     [required]="i !== dataConfigNew.amountOfMoneys.length - 1"
                                     [minValue]="item.amountFrom || null"
                                     [maxValue]="dataConfigNew.amountOfMoneys[i + 1] ? dataConfigNew.amountOfMoneys[i + 1].amountFrom : null"
                      ></p-inputNumber>
                    </span>
                    </div>
                    <app-validator-config-rule
                      *ngIf="submited"
                      class="validator-rule-amount"
                      [errorLeft]="f.controls['amountFrom_' + i]?.errors || null"
                      [errorRight]="f.controls['amountTo_' + i]?.errors || null"
                    >
                    </app-validator-config-rule>
                  </div>
                </th>
              </ng-container>
            </tr>
          </ng-template>
          <ng-template let-i="rowIndex" pTemplate="body">
            <tr>
              <ng-container *ngIf="!isEdit">
                <td pFrozenColumn style="width:250px; max-width: 250px">
                  <p>{{ dataConfig.approverLevels[i].roleNames?.join(',') }}</p>
                </td>
                <td *ngFor="let item of dataConfig.approverAmountMoneyRules[i]; let indexCol = index"
                    class="flex justify-content-center">
                  <p class="text-center">{{ getDisplayAction(item) }}</p>
                </td>
              </ng-container>
              <ng-container *ngIf="isEdit">
                <td pFrozenColumn style="width:250px; max-width: 250px; z-index: 1">
                  <div class="flex align-items-center">
                <span (click)="onClickColumnOrRow(i, 'row');menuR.toggle($event)"
                      class="pi pi-bars cursor-pointer mr-2"></span>
                    <p-menu appendTo="body" #menuR [popup]="true" [model]="menuRow"></p-menu>
                    <mbal-select [showLabel]="false" [fieldForm]="false" [showClear]="false"
                                 [required]="true"
                                 selectMode="multiple"
                                 label="Role"
                                 [name]="'roleName_' + i"
                                 [(ngModel)]="dataConfigNew.approverLevels[i].roleNames"
                                 [options]="listRole" optionLabel="code"></mbal-select>
                  </div>

                </td>
                <td *ngFor="let item of dataConfigNew.approverAmountMoneyRules[i]; let indexCol = index"
                    class="flex justify-content-center">
                  <mbal-select [showLabel]="false" [fieldForm]="false" [showClear]="false"
                               [name]="'approverAction_' + i + '_' + indexCol"
                               [(ngModel)]="item.approverAction"
                               [options]="listAction" optionLabel="key" optionValue="value"></mbal-select>
                </td>
              </ng-container>

            </tr>
          </ng-template>
        </p-table>
      </form>
      <div class="mt-5">
        <p class="mb-0">Mô tả giá trị</p>
        <ul class="mt-0">
          <li class="py-1"> - : Không có thao tác gì</li>
          <li class="py-1"> P : Cần phê duyệt</li>
          <li class="py-1"> Y : Cần đưa ra ý kiến</li>
        </ul>
      </div>
    </div>
  </div>
</div>
