:host {
  ::ng-deep {
    .p-inputgroup .p-inputwrapper > .p-component {
      flex: 1 1 auto;
      width: 100%;
    }

    .p-inputgroup {

      .p-dropdown {
        border: none;

        .p-dropdown-trigger {
          width: 1rem;
        }
      }

      .p-inputtext {
        padding: 0;
        border: none;

        &:enabled:focus {
          box-shadow: none;
        }
      }
    }
  }
}

.validator-rule-amount {
  position: absolute;
  bottom: -15px;
  left: 0;
}
