<div class="card">
  <div class="grid">
    <div class="col-3">
      <mbal-calendar
        (ngModelChange)="validatorFromDate($event)"
        [(ngModel)]="params.fromDate"
        [maxDate]="maxDate"
        label="{{ 'report.freelook.fromdate' | translate }}"
      ></mbal-calendar>
    </div>
    <div class="col-3">
      <mbal-calendar
        (ngModelChange)="validatorToDate($event)"
        [(ngModel)]="params.toDate"
        [minDate]="minDate"
        label="{{ 'report.freelook.todate' | translate }}"
      ></mbal-calendar>
    </div>
    <div class="col-3">
      <mbal-select selectMode="multiple" [filter]="true"
                   [options]="typeData" [(ngModel)]="params.reportType"
                   label="{{ 'report.freelook.type' | translate }}"
                   optionLabel="code" optionValue="value"></mbal-select>
    </div>
    <div class="col-3">
      <mbal-input-text (keyup.enter)="search(true)" [(ngModel)]="params.transactionID"
                       label="Transaction ID"></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-input-text (keyup.enter)="search(true)" [(ngModel)]="params.usageText" label="Usage text"></mbal-input-text>
    </div>
  </div>
  <p-toolbar styleClass="px-0 flex justify-content-between">
    <div class="p-toolbar-group-left">
      <p-button
        (click)="search(true)"
        icon="pi pi-search"
        label="{{ 'report.freelook.btnSearch' | translate }}"
        styleClass="p-button-primary "
      >
      </p-button>
      <p-button (click)="onReset()" class="ml-2" icon="pi pi-replay"></p-button>
    </div>
    <div class="p-toolbar-group-right">
      <button (click)="exportExcelPaymentLot(true)" class="ml-2" icon="pi pi-download" label="Export" pButton
              pRipple></button>
    </div>
  </p-toolbar>
  <p-table [autoLayout]="true" [resizableColumns]="true" [value]="dataTable.content" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">{{ 'report.freelook.stt' | translate }}</th>
        <th scope="col">Lot ID</th>
        <th scope="col">Item</th>
        <th scope="col">Transaction ID</th>
        <th scope="col">Payment amount</th>
        <th scope="col">Transaction date</th>
        <th scope="col">Posting date</th>
        <th scope="col">Usage text</th>
        <th scope="col">Reversed date</th>
        <th scope="col">Reversed reason</th>
        <th scope="col">Status after reversed</th>
        <th scope="col">Payment request number</th>
        <th scope="col">Payment request date</th>
        <th scope="col">Payment by user</th>
        <th scope="col">New Payment lot item</th>
        <th scope="col">New Usage text</th>
        <th scope="col">Create Date</th>
        <th scope="col">Note</th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" let-item pTemplate="body">
      <tr (dblclick)="doDetail(item)">
        <td>{{ dataTable.currentPage === 0 ? i + 1 : dataTable.currentPage * dataTable.size + i + 1 }}</td>
        <td>{{ item.lotID }}</td>
        <td>{{ item.item }}</td>
        <td>{{ item.transactionID }}</td>
        <td>{{ item.paymentAmount | number: '1.0-0' }}</td>
        <td>{{ item.transactionDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.postingDate | date: 'dd/MM/yyyy' }}</td>
        <td [pTooltip]="item.usagesText">
          <p class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
            {{ item.usagesText }}
          </p>
        </td>
        <td>{{ item.reversedDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{ item.reversedReason }}</td>
        <td>{{ item.statusAfterReversed }}</td>
        <td>{{ item.paymentRequestNumber }}</td>
        <td>{{ item.paymentRequestDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.paymentByUser }}</td>
        <td>{{ item.newPaymentLotItem }}</td>
        <td>{{ item.newUsageText }}</td>
        <td>{{ item.createNewPaymentLotDate | date:'dd/MM/YYYY' }}</td>
        <td [pTooltip]="item.note">
          <p class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
            {{ item.note }}
          </p>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="custom-paginator">
    <div class="absolute">
      {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
      {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
      {{ 'request.requestList.record' | translate }}.
    </div>
    <p-paginator
      (onPageChange)="pageChange($event)"
      [first]="dataTable.first"
      [rowsPerPageOptions]="[10, 20, 30]"
      [rows]="dataTable.size"
      [showCurrentPageReport]="true"
      [totalRecords]="dataTable.totalElements"
    >
    </p-paginator>
  </div>
</div>
