<div class="grid">
  <div [class]="!!itemType ? 'col-4' : 'col-12'">
    <div class="card form-view">
      <h3 class="title">{{ 'createRequest.requestRefund.title' | translate }}</h3>
      <div class="radio">
        <div class="field-radiobutton font-view">
          <p-radioButton
            (onClick)="onChangeType()"
            [(ngModel)]="itemType"
            [value]="requestType.TYPE11"
            inputId="requestType_11"
            label="{{ 'requestType.11' | translate }}"
          ></p-radioButton>
        </div>
        <div class="field-radiobutton font-view">
          <p-radioButton
            (onClick)="onChangeType()"
            [(ngModel)]="itemType"
            [value]="requestType.TYPE06"
            inputId="requestType_06"
            label="{{ 'requestType.06' | translate }}"
          ></p-radioButton>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="itemType !== ''" class="form-view col-8">
    <inpatient-cost-assistance *ngIf="itemType === requestType.TYPE11"></inpatient-cost-assistance>
    <claim-additional-attachment *ngIf="itemType === requestType.TYPE06"></claim-additional-attachment>
  </div>
</div>

