.button_cancel {
  color: #2B2D2F;
  background: #DEE2E6;
  border-radius: 4px;
}

:host(::ng-deep) {
  $claimColor: #4E4B66;
  $tabColor: #0b7cc3;

  app-claim-tpa-view {
    color: $claimColor;
  }

  .claim__header {
    font-size: 14px;
    color: #0B7CC3;
  }

  .claim__box-header {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 12px 8px 12px 8px;
    color: white;
    justify-content: space-between;
    max-height: 40px;

    h5 {
      font-size: 15px
    }
  }

  .claim__info-section-header {
    @extend .claim__box-header;
    background: #0D6EFD;
  }


  .claim__sub-section-header {
    @extend .claim__box-header;
    background: #DBE9FF;
    color: $claimColor;

    .header {
      @extend .claim__header
    }

    ~ .claim__section-body {
      margin-top: 1rem;
    }

  }


  .claim__body {
    margin-left: 8px
  }

  .claim__create-task-button {
    padding: 0.8rem 1.5rem !important;
  }


  .claim__section-body {
    @extend .claim__body;
    margin-bottom: 2rem;

    .claim__sub-section-grid {
      grid-template-columns: 1fr 1.5fr 1fr 1.5fr;
      grid-template-rows: auto;
      display: grid;
      gap: 14px 24px;

      &.grid-process{
        grid-template-columns: 1fr 3fr;
      }

      .claim__grid-item-title {
        font-weight: 500;
        color: black;
        line-height: 20px;
        text-align: left;

        &.span-all {
          grid-column: 1/5
        }
      }

      .claim__grid-item-body {
        line-height: 20px;
        text-align: left;

        &.span3 {
          grid-column: 2 / span 3;
        }

        &.span-all {
          grid-column: 1/5
        }

      }

    }

    .claim__sub-section-split-header {
      font-weight: 700;
      line-height: 20px;
      text-align: left;
      color: #0A73F0;
      margin: 18px 0;
    }


  }

  .claim__uploaded-container {
    padding: 0;
    margin: 0;
    list-style-type: none;

    .claim__uploaded-item {
      background: url('../../../../../assets/icons/uploaded-file.svg') no-repeat left top;
      min-height: 50px;
      margin-top: 10px;
      padding-left: 70px;
      border-bottom: 1px solid #e8e8e8;
      font-weight: bold;
      line-height: 2.5;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > .claim__uploaded-item-title {
        font-weight: 700;
        vertical-align: middle;
        display: inline-block;
        line-height: 1.5;
        color: #4c566a;
      }

    }

  }

  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-wrap: wrap;
    gap: 16px;

    .checkbox {
      display: flex;
      align-items: center;
    }

    ~ .checkbox-container {
      margin-top: 0.75rem
    }

    .label {
      margin-left: 14px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
    }
  }

  .claim__content-process-wrapper {
    margin-left: 8px;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    padding: 0 16px 16px;

    .claim__sub-section-split-header {
      margin: 16px 0;

    }

    .claim__section-body {
      margin-bottom: 2rem
    }
  }

  .p-accordion .p-accordion-tab {
    box-shadow: none;

    .p-accordion-header-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: $tabColor;
      font-weight: 500;
    }

    .p-accordion-toggle-icon {
      order: 0 !important;
      margin-left: unset !important;
    }
  }

  .claim__menu-btn {
    top: 10px;
    right: 0;
    z-index: 2;
  }

  .p-accordion {
    .p-accordion-header .p-accordion-header-link {
      background: #DBE9FF;
    }

    .p-accordion-tab:not(.p-accordion-tab-active) .p-accordion-header-link:focus {
      background: #e6eefd;
      color: $tabColor;
    }

    .p-accordion-header {

      &:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
        background: #e6eefd;
        color: $tabColor;
      }

      &:not(.p-disabled).p-highlight .p-accordion-header-link {
        background: #e6eefd;
        color: $tabColor;
      }
    }

    .p-accordion-content {
      border-radius: 0 0 4px 4px;
      border: 1px solid #E9ECEF;
    }

    p-accordiontab ~ p-accordiontab {
      margin-top: 8px
    }
  }

  .claim__scroll-col {
    overflow: auto;
    max-height: 65vh;
  }

  .btn-cancel {
    background: #dee2e6 !important;
    color: #2b2d2f;
  }

  .sla {
    position: absolute;
    right: 0;
    padding: 5px 10px;
    background: rgb(247, 249, 249);
    border-radius: 0.5rem;
  }


  .p-card .p-card-content {
    padding: 0;
  }

  .p-tabview .p-tabview-nav {
    background: none;
    border: none;

    .p-tabview-ink-bar {
      display: none;
    }
  }

  p-tabview .p-tabview-nav li .p-tabview-nav-link {
    transition: background-color 0.2s;
    background: #f7f7f7;
    border-radius: 15px 15px 1px 1px;
    height: 35px;
    min-width: 170px;
  }

  .p-card  {

    &.no-padding .p-card-body{
      padding: 0 0 1rem 0
    }

    .p-card-body{
      padding: 1.5rem;
    }

  }


  .p-tabview .p-tabview-panels {
    background: none;
    border: 0 none;
    padding: 0;
  }

  .p-tabview-title {
    width: 100%;
    text-align: center
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #ffffff;
    border-color: rgba(0, 0, 0, 0.12);
    background-color: #3F51B5;
  }

  .mbal-icon-expand-position{
    left: -18px;
    top: 4%;
  }

  .p-accordion .p-accordion-tab {
    margin-bottom: 8px
  }

  .task-info-body {
    grid-template-columns: 0.5fr 2fr 0.5fr 2fr !important;
  }

  .button-forward {
    right: 0.5%;
    top: -12%;

    .pi {
      font-size: 12px;
    }

    .p-button-icon-only {
      width: 2.5rem;
      padding: .55rem;
    }
  }



}



