<div class="layout-content bg-white">
  <div class="w-100">
    <div class="mt-3">
      <p-table [autoLayout]="true"
               [resizableColumns]="true"
               [value]="dataTable.content" responsiveLayout="scroll" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="grid">
            <div class="col-12 text-left">DATABASE</div>
            <div class="col-4">
              <mbal-input-text [(ngModel)]="params.dbName" [ngModelOptions]="{standalone: true}"
                               label="{{ 'category.database.dbName' | translate }}"></mbal-input-text>
            </div>
            <div class="col-4">
              <mbal-input-text [(ngModel)]="params.url" [ngModelOptions]="{standalone: true}"
                               label="{{ 'category.database.url' | translate }}"></mbal-input-text>
            </div>
            <div class="col-4">
              <mbal-input-text [(ngModel)]="params.username" [ngModelOptions]="{standalone: true}"
                               label="{{ 'category.database.username' | translate }}"></mbal-input-text>
            </div>
            <div class="col-12 text-center">
              <button (click)="search(true)" pButton class="mx-2" label="{{ 'category.search' | translate }}"
                      [icon]="'las la-search'"></button>
              <button (click)="refresh()" class="mx-2" pButton label="{{'category.refresh' | translate }}"
                      icon="pi pi-refresh"></button>
              <button *ngIf="checkFunctionCreate()" (click)="openDialog(false)" class="mx-2" pButton
                      label="{{'category.create' | translate }}"
                      icon="pi pi-plus"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 50px;">STT</th>
            <th style="width: 200px;">{{'category.database.action' | translate }}</th>
            <th style="width: 150px;">{{'category.database.testConnect' | translate }}</th>
            <th style="width: 200px;">{{'category.database.dbName' | translate }}</th>
            <th style="width: 300px;">{{'category.database.license' | translate }}</th>
            <th style="width: 500px;">{{'category.database.url' | translate }}</th>
            <th style="width: 300px;">{{'category.database.driver' | translate }}</th>
            <th style="width: 200px;">{{'category.database.username' | translate }}</th>
            <th style="width: 300px; padding: 0;">{{'category.database.status' | translate }}</th>
          </tr>
          <tr class="filter-row">
            <th style="width: 50px;"></th>
            <th style="width: 200px;"></th>
            <th style="width: 150px;"></th>
            <th style="width: 200px;"></th>
            <th style="width: 300px;"></th>
            <th style="width: 500px;"></th>
            <th style="width: 300px;"></th>
            <th style="width: 200px;"></th>
            <th style="width: 300px; padding: 0 20px 0 0;">
              <mbal-select
                (onChangeValue)="filterTableStatus($event)"
                [showLabel]="false"
                [options]="option"
                [(ngModel)]="params.status"
                optionLabel="code"
                optionValue="value"
              ></mbal-select>
            </th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr style="vertical-align: middle">
            <td>{{i + 1}}</td>
            <td>
              <button *ngIf="checkFunctionUpdate()" (click)="openDialog(true, item)" pButton pRipple type="button"
                      icon="pi pi-pencil"
                      class="p-button-rounded p-button-text"></button>
              <button *ngIf="checkFunctionDelete()" pButton (click)="handleDelete(item.dbId)" pRipple type="button"
                      icon="pi pi-times"
                      class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
            <td>
              <button (click)="testConnect(item.dbId)" pButton pRipple type="button"
                      icon="pi pi-sync"
                      class="p-button-rounded p-button-text"></button>
            </td>
            <td>
              {{item.dbName}}
            </td>
            <td>
              {{item.driver | MatchPipe : dbType : 'value' : 'name'}}
            </td>
            <td [pTooltip]="item.url">
              <p class="w-18rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                {{ item.url }}
              </p>
            </td>
            <td [pTooltip]="item.driver">
              <p class="w-18rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                {{ item.driver }}
              </p>
            </td>
            <td>
              {{item.username}}
            </td>
            <td>
              {{item.status === 1 ? 'Enable' : 'Disable'}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="custom-paginator">
    <div class="show-block-opacity"></div>
    <div class="grid align-items-center mt-2">
      <div class="col-2">
        {{ 'report.freelook.total' | translate }} : {{ dataTable.numberOfElements }}
        {{ 'report.freelook.of' | translate }} {{ dataTable.totalElements }}
        {{ 'report.freelook.record' | translate }} .
      </div>
      <div class="col-9">
        <p-paginator
          (onPageChange)="pageChange($event)"
          [first]="dataTable.first"
          [rowsPerPageOptions]="[5, 10, 20, 30]"
          [rows]="dataTable.size"
          [showCurrentPageReport]="true"
          [totalRecords]="dataTable.totalElements"
        >
        </p-paginator>
      </div>
      <div class="col-1 grid justify-content-end"></div>
    </div>
  </div>
</div>
