<div class="p-dialog-header px-0 justify-content-center">
  <span class="p-dialog-title text-center claim__header">
    {{ !!dataDialog.type ? ('request.detailRequest.claim-tpa.editTask' | translate).toUpperCase()
    : ('request.detailRequest.claim-tpa.createTask' | translate).toUpperCase() }}
  </span>
</div>
<div class="p-dialog-body py-3 px-6 border-round-sm overflow-visible" [formGroup]="form">
  <div class="grid">
    <div class="col-12">
      <mbal-select
        [disabled]="!!dataDialog.type"
        [options]="tasks"
        optionLabel="name"
        (onChangeValue)="changeValidateFormForAction($event);"
        optionValue="value"
        label="{{ 'request.detailRequest.claim-tpa.handleTask' | translate }}"
        [showClear]="false"
        formControlName="type"
      ></mbal-select>
    </div>

    <ng-container *ngIf="!!form.controls.type.value">

      <ng-container *ngIf="form.controls.type.value === PROCESSING_TASK.REINSURANCE">
        <div class="col-12">
          <mbal-select
            [options]="actions"
            optionValue='value'
            optionLabel='label'
            (onChangeValue)="changeValidateFormForAction(); clearFile()"
            formControlName="action"
            label="{{ 'request.detailRequest.claim-tpa.action' | translate }}"
          ></mbal-select>
        </div>

        <ng-container *ngIf="form.controls.action.value === REINSURANCE_ACTION.SEND_EMAIL">
          <div class=" col-12">
            <mbal-input-text
              label="{{ 'request.detailRequest.claim-tpa.subject' | translate }}"
              formControlName="subject"
            ></mbal-input-text>
          </div>
          <div class="col-12">
            <mbal-input-text
              label="To"
              formControlName="emailTo"
            ></mbal-input-text>
          </div>
          <div class="col-12">
            <div>
              <div class="chipInput">CC</div>
              <p-chips
                class="p-chip-text"
                formControlName="emailCc"
              ></p-chips>
              <small class="p-error block mt-2"
                     *ngIf="this.form.controls['emailCc'].invalid">{{ 'VALIDATE_ERROR.EMAIL' | translate }}</small>
            </div>
          </div>
          <div class=" col-12">
            <mbal-input-textarea
              [rows]="4"
              label="{{ 'request.detailRequest.claim-tpa.emailContent' | translate }}"
              formControlName="emailContent"
              [maxlength]="1000"
              [autoResize]="false"
            ></mbal-input-textarea>
          </div>
        </ng-container>

        <ng-container *ngIf="form.controls.action.value === REINSURANCE_ACTION.RE_INSURANCE">
          <div class="col-12">
            <mbal-input-textarea
              [rows]="4"
              label="{{ 'request.detailRequest.claim-tpa.content' | translate }}"
              formControlName="reInsuranceContent"
              [autoResize]="false"
              [maxlength]="1000"
            ></mbal-input-textarea>
          </div>
        </ng-container>
        <div
          *ngIf="form.controls.action.value === REINSURANCE_ACTION.SEND_EMAIL || form.controls.action.value === REINSURANCE_ACTION.RE_INSURANCE"
          class="col-12">
          <button
            (click)="changeCheckTabView(1)"
            pButton pRipple type="button"
            label="{{ 'request.detailRequest.claim-tpa.importCC' | translate }}"
            [ngClass]="checkTabView === 1 ? 'p-button-raised' : 'p-button-outlined'"
          ></button>
          <button *ngIf="form.controls.action.value === REINSURANCE_ACTION.SEND_EMAIL"
                  (click)="changeCheckTabView(2)"
                  pButton pRipple type="button"
                  label="{{ 'request.detailRequest.claim-tpa.choseCC' | translate }}"
                  [ngClass]="checkTabView === 2 ? 'p-button-raised ml-3' : 'p-button-outlined ml-3'"
          ></button>
        </div>
        <ng-container *ngFor="let item of files; let i = index">
          <div class="col-12"
               [hidden]="!((form.controls.action.value === REINSURANCE_ACTION.SEND_EMAIL || form.controls.action.value === REINSURANCE_ACTION.RE_INSURANCE) && checkTabView === 1)">
            <p-fileUpload
              #fileInput
              (uploadHandler)="handleFileUpload($event, i)"
              [auto]="true"
              [customUpload]="true"
              [maxFileSize]="100000000"
              [multiple]="true"
              [previewWidth]="40"
              [showUploadButton]="false"
              accept=".pdf, .PNG, .JPN, .JPEG, .JPG"
              [chooseIcon]="'pi'"
              chooseLabel="{{ 'category.import' | translate }}"
              class="p-upload"
              invalidFileTypeMessageDetail="{{ 'MESSAGE.FILE_REQUIRED' | translate }}"
              invalidFileTypeMessageSummary="{0}">
            </p-fileUpload>
          </div>
        </ng-container>

        <div
          *ngIf="(form.controls.action.value === REINSURANCE_ACTION.SEND_EMAIL || form.controls.action.value === REINSURANCE_ACTION.RE_INSURANCE) && checkTabView === 2"
          class="wrapperTable mt-3">
          <!--        Bảng chứng từ đã chọn-->
          <div class="table">
            <div class="titleTable">{{ 'request.detailRequest.attachment.selectedAttachment' | translate }}</div>
            <p-table
              [value]="displayAttachment"
              [resizableColumns]="true"
              responsiveLayout="scroll"
              [scrollable]="true"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="max-width: 50px">ID</th>
                  <th>{{ 'request.detailRequest.attachment.title' | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row let-i="rowIndex">
                <tr>
                  <td style="max-width: 50px">{{ i + 1 }}</td>
                  <td><a (click)="viewAttachment(row.id)"
                         href="javascript:void(0)">{{ row.fileName }}</a></td>
                </tr>
              </ng-template>

            </p-table>
          </div>

          <!--        Bảng chứng từ đi kèm-->
          <div class="table">
            <div class="titleTable">{{ 'request.detailRequest.attachment.listAttachment' | translate }}</div>
            <p-table
              (selectionChange)="onChangeSelection($event)"
              [value]="attachment"
              [resizableColumns]="true"
              responsiveLayout="scroll"
              [scrollable]="true"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="max-width: 50px">
                    <p-tableHeaderCheckbox
                      [disabled]="dataDialog?.attachmentClaims?.length > 0"></p-tableHeaderCheckbox>
                  </th>
                  <th style="max-width: 50px">ID</th>
                  <th>{{ 'request.detailRequest.attachment.title' | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row let-i="rowIndex">
                <tr>
                  <td style="max-width: 50px">
                    <p-tableCheckbox [disabled]="checkDisableSelected(row)" [value]="row"></p-tableCheckbox>
                  </td>
                  <td style="max-width: 50px">{{ i + 1 }}</td>
                  <td><a (click)="viewAttachment(row.id)"
                         href="javascript:void(0)">{{ row.fileName }}</a></td>
                </tr>
              </ng-template>

            </p-table>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="form.controls.type.value !== PROCESSING_TASK.REINSURANCE">
        <div class="md:col-6 col-12">
          <mbal-select
            [options]="department"
            optionLabel="name"
            optionValue="value"
            formControlName="department"
            label="{{ 'request.detailRequest.claim-tpa.department' | translate }}"
          ></mbal-select>
        </div>

        <div class="md:col-6 col-12">
          <mbal-select
            [options]="executors"
            optionValue="value"
            optionLabel="name"
            formControlName="pic"
            label="{{ 'request.detailRequest.claim-tpa.pic' | translate }}"
          ></mbal-select>
        </div>

        <div class="col-12">
          <mbal-input-textarea
            [autoResize]="false"
            [rows]="3"
            label="{{ 'request.detailRequest.claim-tpa.content' | translate }}"
            formControlName="content"
            [maxlength]="1000"
          ></mbal-input-textarea>
        </div>
      </ng-container>

    </ng-container>
  </div>
</div>

<div class="p-dialog-footer p-0 mt-4">
  <button
    class="buttonDestroy"
    (click)="cancel()"
    label="{{ 'button.cancel' | translate }}"
    pButton
  ></button>
  <button
    [disabled]="form.controls.action.value === REINSURANCE_ACTION.SEND_EMAIL && dataDialog.isSendEmail"
    class="buttonSave"
    (click)="save()"
    label="{{'action.save' | translate}}"
    pButton
  ></button>
</div>
