@import "variable";
.p-dialog-body{
  margin-bottom: 8px;
}

:host(::ng-deep){
  .p-button.p-fileupload-choose {
    position: relative;
    overflow: hidden;
    color: $primary1;
    background: $secondary1 !important;
    border: 0 none;
    box-shadow: inset 0 0 0 1px !important;
  }

  .p-fileupload .p-fileupload-buttonbar {
    border: 0
  }

  .p-toolbar {
    padding: 0;
    border: 0;
  }

  .card {
    border-radius: 4px;
    background: #ffffff;
    padding: 18px;
    margin-bottom: 0;
  }
}

.titleDialog {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #0B7CC3;
  padding: 22px 0 0 0;
}
.buttonDestroy {
  color: #2B2D2F;
  width: 130px;
  height: 36px;
  background: #DEE2E6;
  border-radius: 4px;
  margin: 0 10px;
}

.buttonSave {
  margin: 0 10px;
  width: 130px;
  height: 36px;
  border-radius: 4px;
}

.chipInput {
  color: $black;
  font-weight: 600;
  font-family: Roboto;
  font-size: 13px;
}

:host(
::ng-deep
) {
  div .p-chips {
    min-height: 41px;
    width: 100%;

    .p-chips-multiple-container {
      padding: 0.25rem 0.5rem;
    }
  }

  .p-fileupload .p-fileupload-content {
    padding: 0;
  }

  .p-datatable-wrapper {
    max-height: 250px;
  }
}

.wrapperTable {
  .titleTable {
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
  }

  width: 100%;

  .table {
    width: 100%;
    margin-bottom: 20px;
  }
}
