<div class="text-center">
  <div class="titleDialog">{{ 'request.detailRequest.premiumAdjustment.paymentRun' | translate }}</div>
</div>
<div>
    <app-receivable [tableData]="$any(tableData)" [showFilter] = "false"></app-receivable>
  <div class="p-dialog-footer p-p-0 mt-5">
    <button
      (click)="closeDialog()"
      class="buttonDestroy"
      label="{{ 'request.detailRequest.premiumAdjustment.cancel' | translate }}"
      pButton
    ></button>
    <button
      (click)="paymentRun()"
      class="buttonSave"
      label="Payment Run"
      pButton
    ></button>
  </div>
</div>
