<div class="card">
  <div class="pb-4">
  <span class="font-bold text-black-alpha-90">
    {{'request.detailRequest.export-report.reason-reject-report-title'| translate}}
  </span>
  </div>

<div class="w-11 mx-auto">
  <div class="grid">
    <div *ngIf="options.length > 1"
         class="md:col-3 col-12">
      <mbal-select [label]="'request.detailRequest.export-report.select-request-typed' | translate"
                   [required]="true"
                   [options]="options"
                   [(ngModel)]="selectedType"
                   [showClear]="false"
                   [disabled]="disableSelectOpts"
                   [selectMode]="'multiple'"
                   [optionValue]="'value'"
                   optionLabel="label">
        <ng-template [mbalTempate]="'items'" let-item>
          {{ ('requestType.' + item.label) | translate }}
        </ng-template>

        <ng-template [mbalTempate]="'selectedItems'" let-selectedItem>
          {{ genLabel | apply : selectedItem : options : translateService}}
        </ng-template>
      </mbal-select>
    </div>

    <div
      class=" col-12 md:col-9">
      <mbal-calendar
        [label]="'dashboard.time-range' | translate"
        selectionMode="range"
        [(ngModel)]="dateSelected"
        [fieldForm]="false"
        [required]="true"
        [panelStyleClass]="'min-width-200'"
        [maxDateToday]="true">
      </mbal-calendar>
    </div>

  </div>
  <div class="p-3">
    <div class="ml-auto w-max">
      <button pButton (click)="onExport()">
        {{'category.config.export_chart' | translate}}
      </button>
    </div>
  </div>
</div>

</div>
