<div class="flex">
  <div class="col-6">
    <div class="card">
      <p-toolbar styleClass="px-0 pt-0 mt-2">
        <div class="p-toolbar-group-left">
          <mbal-input-text
            (keyup.enter)="getDataTableUser(true)"
            [(ngModel)]="paramUser.search"
            [fieldForm]="false"
            [showLabel]="false"
            class="input-search"
          ></mbal-input-text>
          <p-button (click)="getDataTableUser(true)" class="ml-3" icon="pi pi-search"></p-button>
        </div>
        <div class="p-toolbar-group-right"></div>
      </p-toolbar>
      <p-table
        [autoLayout]="true"
        [resizableColumns]="true"
        [value]="dataTable.content"
        responsiveLayout="scroll"
        selectionMode="single"
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">{{ 'admin.user.stt' | translate }}</th>
            <th scope="col">{{ 'admin.user.account' | translate }}</th>

            <th scope="col">{{ 'admin.user.employeeName' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr (click)="viewRole(item.account)" [pSelectableRow]="item">
            <td>{{ dataTable.currentPage === 0 ? i + 1 : dataTable.currentPage * dataTable.size + i + 1 }}</td>
            <td>{{ item.account }}</td>
            <td>{{ item.name }}</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="custom-paginator">
        <div class="grid align-items-center mt-2">
          <div class="col-3">
            {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
            {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
            {{ 'request.requestList.record' | translate }}.
          </div>
          <div class="col-9">
            <p-paginator
              (onPageChange)="pageChange($event)"
              [first]="dataTable.first"
              [rowsPerPageOptions]="[10, 20, 30]"
              [rows]="dataTable!.size"
              [showCurrentPageReport]="true"
              [totalRecords]="dataTable!.totalElements"
            ></p-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="grid">
      <div class="col-12">
        <div class="card">
          <p-toolbar styleClass="px-0 pt-0 mt-2">
            <div class="p-toolbar-group-left">
              <mbal-input-text
                (keyup.enter)="search(true)"
                [(ngModel)]="params.search"
                [fieldForm]="false"
                [showLabel]="false"
                class="input-search"
              ></mbal-input-text>
              <p-button (click)="search(true)" class="ml-3" icon="pi pi-search"></p-button>
            </div>
            <div class="p-toolbar-group-right">
              <button
                (click)="assign()"
                [disabled]="isBtnReadonly"
                class="btn-save"
                label="{{ 'action.save' | translate }}"
                pButton
              ></button>
            </div>
          </p-toolbar>
          <p-table
            #dt
            [(selection)]="itemSelection"
            [value]="dataTableRole.content"
            dataKey="id"
            responsiveLayout="scroll"
            selectionMode="checkbox"
          >
            <ng-template pTemplate="header">
              <tr>
                <th scope="col" style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th scope="col">{{ 'admin.role.stt' | translate }}</th>
                <th scope="col">{{ 'admin.role.rolecode' | translate }}</th>
                <th scope="col">{{ 'admin.role.rolename' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template let-i="rowIndex" let-rowData pTemplate="body">
              <tr [pSelectableRowIndex]="i" [pSelectableRow]="rowData">
                <td>
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td>{{ i + 1 }}</td>
                <td>
                  <p class="w-15rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ rowData.code }}</p>
                </td>
                <td>
                  <p class="w-15rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ rowData.name }}</p>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="7">{{ 'MESSAGE.notfoundrecord' | translate }}</td>
              </tr>
            </ng-template>
          </p-table>
          <div class="custom-paginator">
            <div class="grid align-items-center mt-2">
              <div class="col-3">
                {{ 'request.requestList.total' | translate }} : {{ dataTableRole.numberOfElements }}
                {{ 'request.requestList.of' | translate }} {{ dataTableRole.totalElements }}
                {{ 'request.requestList.record' | translate }}.
              </div>
              <div class="col-9">
                <p-paginator
                  (onPageChange)="pageChangeRole($event)"
                  [first]="dataTableRole.first"
                  [rowsPerPageOptions]="[10, 20, 30]"
                  [rows]="dataTableRole!.size"
                  [showCurrentPageReport]="true"
                  [totalRecords]="dataTableRole!.totalElements"
                ></p-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
