<div [ngClass]="{ field: fieldForm }" class="relative">
  <span class="p-float-label">
    <p-inputNumber
      #inputN
      (onBlur)="onTouched();onBlurInput()"
      (onInput)="onInput($event)"
      [(ngModel)]="value"
      [disabled]="disabled"
      [locale]="locale"
      [maxFractionDigits]="maxFractionDigits"
      [maxlength]="maxLength"
      [minFractionDigits]="minFractionDigits"
      [mode]="mode"
      [ngClass]="{ 'ng-invalid ng-dirty': errors, readonly: readonly }"
      [prefix]="prefix"
      [readonly]="readonly"
      [suffix]="suffix"
      [min]="min"
      [placeholder]="placeholder"
      [useGrouping]="useGrouping"
      [showButtons]="showButton"
      class="p-inputtext-sm"
    ></p-inputNumber>
    <label *ngIf="showLabel">
      <span *ngIf="showLabel"> {{ label | translate }}</span>
      <span *ngIf="checkRequire()" class="p-errors" style="color: red; margin-left: 3px">*</span></label
    >
  </span>
  <div class="b-errors">
    <ng-container *ngIf="errors">
      <small class="p-error error-msg block fadeinup animation-duration-300">
        <span class="block">{{ getError().key | translate: getError().required }}</span>
      </small>
    </ng-container>
  </div>
</div>
