<div class="layout-content bg-white">
  <div class="titleDialog">{{ item?.check ? ('category.update' | translate) : ('category.create' | translate) }}</div>
  <div [formGroup]="form" class="grid">
    <div class="col-12">
      <mbal-input-text
        formControlName="queryName"
        label="{{'category.addQuery.queryName' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-12">
      <mbal-select
        formControlName="dbId"
        [options]="dbName"
        optionLabel="name"
        optionValue="value"
        label="{{'category.addQuery.databaseName' | translate }}"
      ></mbal-select>
    </div>
    <div class="col-12 md:col-6">
      <mbal-select
        formControlName="queryType"
        [options]="type"
        optionValue="value"
        optionLabel="name"
        label="{{'category.addQuery.queryType' | translate }}"
      ></mbal-select>
    </div>
    <div class="col-12 md:col-6">
      <mbal-input-number
        formControlName="queryIndex"
        label="Query Index"
      ></mbal-input-number>
    </div>
    <div *ngIf="item.functionType !== 'category' && item.functionType !== 'chart'" class="col-12 md:col-6">
      <mbal-input-text
        formControlName="gridName"
        label="{{'category.config.gridName' | translate }}"
      ></mbal-input-text>
    </div>
    <div *ngIf="item.functionType !== 'category' && item.functionType !== 'chart'" class="col-12 md:col-6">
      <mbal-input-text
        formControlName="sheetName"
        label="{{'category.config.sheetName' | translate }}"
      ></mbal-input-text>
    </div>
    <div *ngIf="item.functionType === 'chart'" class="col-12 md:col-6">
      <mbal-select
        [options]="chartType"
        optionLabel="name"
        optionValue="value"
        formControlName="chartType"
        label="{{'category.config.chartType' | translate }}"
      ></mbal-select>
    </div>
    <div *ngIf="item.functionType === 'chart'" class="col-12 md:col-6">
      <mbal-select
        [options]="isLarge"
        optionValue="value"
        optionLabel="name"
        formControlName="isLarge"
        label="{{'category.config.large' | translate }}"
      ></mbal-select>
    </div>
    <div class="col-12">
      <mbal-input-textarea
        formControlName="queryString"
        label="{{'category.addQuery.queryString' | translate }}"
        [rows]="6"
        [autoResize]="false"
      ></mbal-input-textarea>
    </div>
  </div>
  <div class="mt-5 text-right">
    <button
      class="btn destroy"
      (click)="closeDialog()"
    >{{'category.cancel' | translate }}
    </button>
    <button
      class="btn save"
      (click)="save()"
    >{{'category.save' | translate }}
    </button>
  </div>
</div>
