<p-card styleClass="mt-3">
  <div class="flex justify-content-between align-items-center">
    <h4 class="title">{{ 'request.detailRequest.underwrite.insurancePremium' | translate }}</h4>
    <label class="field-value">{{ 'request.detailRequest.underwrite.unit' | translate }}: VNĐ</label>
  </div>
  <div class="flex card-container">
    <div class="col-3 pl-5">
      <div class="grid">
        <div class="col-4">
          <span>
            <label class="field-key">{{
              'request.detailRequest.underwrite.premiumAmount' | translate
              }}</label>
          </span>
        </div>
        <div class="col-8">
          <h6 class="premiumAmount field-value">{{ itemRequest?.premiumAmount | number: '1.0-0' }} VND</h6>
        </div>
      </div>
    </div>
    <div class="col-3 pl-5">
      <div class="grid">
        <div class="col-4">
          <span>
            <label class="field-key">{{
              'request.detailRequest.underwrite.paymentOnAccount' | translate
              }}</label>
          </span>
        </div>
        <div class="col-8">
          <h6 class="PA field-value">{{ itemRequest?.paymentOnAccount | number: '1.0-0' }} VND</h6>
        </div>
      </div>
    </div>
    <div class="col-3 pl-5">
      <div class="grid">
        <div class="col-4">
          <span>
            <label class="field-key">Topup fee</label>
          </span>
        </div>
        <div class="col-8">
          <h6 class="PA field-value">{{itemRequest?.topUpPrem | number:'1.0-0'}} VND</h6>
        </div>
      </div>
    </div>

    <div class="col-3 pl-5">
      <div class="grid">
        <div *ngIf="form" [formGroup]="form" class="col-8">
          <div class="field">
            <mbal-input-number
              [disabled]="itemRequest?.reversed && itemRequest?.paymentRun && !itemRequest?.isUsedToP2pReject"
              formControlName="hospitalSurgicalCash"
              [min]="0"
              [max]="itemRequest?.premiumAmount!"
              label="{{ 'request.detailRequest.underwrite.medicalFee' | translate }}"
            ></mbal-input-number>
          </div>
        </div>
      </div>
    </div>
  </div>

</p-card>
