.legend-container {
  padding-left: 4%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px 16px;
  //margin-bottom: 1rem;

  .legend-item {
    display: flex;
    align-items: center;
    &.disabled {
        path {
          fill: #ccc !important;
        }
        color: #ccc !important;
    }
  }
}
