<div class="p-dialog-header px-0 justify-content-center">
  <span
    class="p-dialog-title text-center claim__header text-primary">
    {{ !data.check ? ('request.detailRequest.claim-tpa.destroyTask' | translate).toUpperCase()
    : ('request.detailRequest.claim-tpa.closeTask' | translate).toUpperCase()}}
  </span>
</div>
<div class="p-dialog-header px-0">
  <span
    class="p-dialog-title text-center claim__header">{{ 'request.detailRequest.claim-tpa.destroyTitle' | translate}}</span>
</div>
<div class="p-dialog-body pt-2 overflow-visible" [formGroup]="form">
  <div class="grid">
    <div *ngIf="!data.check" class=" col-12">
      <mbal-input-textarea
        [autoResize]="false"
        [rows]="4"
        formControlName="reason"
        [maxlength]="500"
        label="{{ 'request.detailRequest.claim-tpa.destroyReason' | translate }}"
      ></mbal-input-textarea>
    </div>
  </div>
</div>

<div class="p-dialog-footer p-p-0 mt-1">
  <p-button
    (click)="save()"
    label="{{ 'MESSAGE.yes' | translate }}"
  ></p-button>
  <p-button
    (click)="cancel()"
    label="{{ 'MESSAGE.no' | translate }}"
    styleClass="p-button-danger"
  ></p-button>
</div>
