<p-card>
  <div class="mt-3">
    <p-table
      [value]="data"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px;">STT</th>
          <th
            style="width: 150px;">{{ 'request.detailRequest.premiumAdjustment.correspondence.channel' | translate }}</th>
          <th
            style="width: 100px; text-align: center">{{ 'request.detailRequest.premiumAdjustment.correspondence.type' | translate }}</th>
          <th>{{ 'request.detailRequest.premiumAdjustment.correspondence.title' | translate }}</th>
          <th>{{ 'request.detailRequest.premiumAdjustment.correspondence.createdOn' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item pTemplate="body">
        <tr style="vertical-align: middle">
          <td>{{i + 1}}</td>
          <td>{{ item.channel }}</td>
          <td style="text-align: center"><img style="width: 45px; height: 25px"
                                              src="{{ item.type === 'MAIL' ? './assets/images/logoGmail.png' : './assets/images/logoSMS.png' }}">
          </td>
          <td [pTooltip]="item">
            <a (click)="doDetail(item)" class="w-30rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
              {{ item.content }}
            </a>
          </td>
          <td>{{ item.createdDate | date: 'dd-MM-YYYY' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>
