<div class="card">
  <div class="grid" [formGroup]="formClaim">
    <h3 class="title col-12">{{ 'createRequest.requestRefund.requestInfo' | translate }}</h3>

    <div class="col-6">
      <mbal-input-text
        class="label-input"
        [onlyNumber]="true"
        (blur)="getInfo(this.data.policyNumber)"
        formControlName="policyNumber"
        label="{{ 'createClaim.policyNumber' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-6">
    </div>
    <div class="col-6" formGroupName="holder">
      <mbal-input-text
        class="label-input"
        [readonly]="true"
        formControlName="code"
        label="{{ 'createClaim.bpNumber' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-6" formGroupName="holder">
      <mbal-input-text
        class="label-input"
        [readonly]="true"
        formControlName="name"
        label="{{ 'createClaim.bpName' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-6">
      <mbal-select
        class="label-input"
        [options]="listInsured"
        [filter]="true"
        formControlName="bpInsuredCode"
        optionValue="code"
        optionLabel="code"
        label="{{ 'createClaim.bpInsured' | translate }}"
      ></mbal-select>
    </div>
    <div class="col-6">
      <mbal-select
        class="label-input"
        [options]="listResourceAttachmentType"
        [filter]="true"
        [optionValue]="'name'"
        formControlName="resourceAttachmentType"
        label="{{ 'createClaim.resourceAttachmentType' | translate }}"
      ></mbal-select>
    </div>
    <div class="col-6">
      <mbal-calendar
        [maxDateToday]="true"
        class="label-input"
        formControlName="createDate"
        label="{{ 'createClaim.createDate' | translate }}"
      ></mbal-calendar>
    </div>
    <div class="col-6">
      <mbal-calendar
        [maxDateToday]="true"
        class="label-input"
        formControlName="submitFirstRequest"
        label="{{ 'createClaim.submitFirstRequest' | translate }}"
      ></mbal-calendar>
    </div>
    <div class="col-6">
      <mbal-calendar
        [maxDateToday]="true"
        [maxDate]="data.endDateEvent"
        class="label-input"
        formControlName="startDateEvent"
        label="{{ 'createClaim.startDateEvent' | translate }}"
      ></mbal-calendar>
    </div>
    <div class="col-6">
      <mbal-calendar
        [minDate]="data.startDateEvent"
        [maxDateToday]="true"
        class="label-input"
        formControlName="endDateEvent"
        label="{{ 'createClaim.endDateEvent' | translate }}"
      ></mbal-calendar>
    </div>
    <div class="col-6">
      <mbal-input-text
        class="label-input"
        [onlyNumber]="true"
        [readonly]="true"
        formControlName="phone"
        label="{{ 'createClaim.phone' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-6">
      <mbal-input-text
        class="label-input"
        formControlName="email"
        label="Email"
      ></mbal-input-text>
    </div>

    <div class="col-12 mb-3">
      <div class="flex">
        <label class="label-input">{{ 'createClaim.benefit' | translate }}<span class="text-red">*</span></label>
        <div class="pl-4">
          <p-checkbox *ngFor="let item of listBenefit" [formControl]="controlBenefit"
                      [value]="item.code" name="benefit"
                      class="block mb-2"
                      label="{{ item.name }}"></p-checkbox>
        </div>
      </div>
      <f-errors label="{{ 'createClaim.benefit' | translate }}" [control]="controls.benefitCodes"></f-errors>
    </div>


    <div class="col-6">
      <mbal-select
        [options]="listFacility"
        class="label-input"
        formControlName="facilityCode"
        [filter]="true"
        [virtualScroll]="true"
        [showToggleAll]="false"
        label="{{ 'createClaim.facility' | translate }}"
      ></mbal-select>
    </div>

    <div class="col-6">
      <mbal-select
        [options]="listDiseases"
        [filter]="true"
        [virtualScroll]="true"
        [showToggleAll]="false"
        selectMode="multiple"
        class="label-input"
        formControlName="diseaseCodes"
        label="{{ 'createClaim.sickness' | translate }}"
      ></mbal-select>
    </div>

    <div class="col-12 flex">
      <label class="label-input">{{ 'createClaim.paymentMethod' | translate }}<span class="text-red">*</span></label>
      <p-radioButton formControlName="paymentMethod" class="pl-5"
                     label="{{ 'request.detailRequest.underwrite.banking' | translate }}"
                     value="BANKING"></p-radioButton>
      <p-radioButton formControlName="paymentMethod" class="pl-5"
                     label="{{ 'request.detailRequest.underwrite.cash' | translate }}" value="CASH"></p-radioButton>
    </div>

    <div class="col-6" [style.display]="data.paymentMethod === paymentMethod.cash ? 'block' : 'none'"
         formGroupName="identification">
      <mbal-select
        [options]="listBank"
        [filter]="true"
        class="label-input"
        optionValue="citadCode"
        formControlName="code"
        label="{{ 'createClaim.bankName' | translate }}"
      ></mbal-select>
    </div>

    <div class="col-6" [style.display]="data.paymentMethod === paymentMethod.cash ? 'block' : 'none'"
         formGroupName="identification">
      <mbal-input-text
        class="label-input"
        formControlName="branch"
        label="{{ 'createClaim.bankBranch' | translate }}"
      ></mbal-input-text>
    </div>

    <div class="col-6" [style.display]="data.paymentMethod === paymentMethod.cash ? 'block' : 'none'"
         formGroupName="identification">
      <mbal-select
        [options]="listIdentityType"
        [filter]="true"
        class="label-input"
        formControlName="type"
        label="{{ 'createClaim.cashType' | translate }}"
      ></mbal-select>
    </div>

    <div class="col-6" [style.display]="data.paymentMethod === paymentMethod.cash ? 'block' : 'none'"
         formGroupName="identification">
      <mbal-input-text
        class="label-input"
        formControlName="idNumber"
        label="{{ 'createClaim.cashNum' | translate }}"
      ></mbal-input-text>
    </div>

    <div class="col-6" [style.display]="data.paymentMethod === paymentMethod.cash ? 'block' : 'none'"
         formGroupName="identification">
      <mbal-calendar
        class="label-input"
        formControlName="issuedDate"
        label="{{ 'createClaim.cashDate' | translate }}"
      ></mbal-calendar>
    </div>

    <div class="col-6" [style.display]="data.paymentMethod === paymentMethod.cash ? 'block' : 'none'"
         formGroupName="identification">
      <mbal-input-text
        class="label-input"
        formControlName="issuedPlace"
        label="{{ 'createClaim.cashAddress' | translate }}"
      ></mbal-input-text>
    </div>

    <div class="col-12" [style.display]="data.paymentMethod === paymentMethod.bank ? 'block' : 'none'"
         formGroupName="bankInfo">
      <mbal-select
        [options]="listBankPolicy"
        [filter]="true"
        class="label-input"
        optionValue="code"
        optionLabel="displayName"
        formControlName="code"
        label="{{ 'createClaim.accountRegister' | translate }}"
      ></mbal-select>
    </div>

    <div class="col-6" [style.display]="data.paymentMethod === paymentMethod.bank ? 'block' : 'none'"
         formGroupName="bankInfo">
      <mbal-input-text
        class="label-input"
        formControlName="name"
        label="{{ 'createClaim.bankName' | translate }}"
      ></mbal-input-text>
    </div>

    <div class="col-6" [style.display]="data.paymentMethod === paymentMethod.bank ? 'block' : 'none'"
         formGroupName="bankInfo">
      <mbal-input-text
        class="label-input"
        formControlName="branch"
        label="{{ 'createClaim.bankBranch' | translate }}"
      ></mbal-input-text>
    </div>

    <div class="col-6" [style.display]="data.paymentMethod === paymentMethod.bank ? 'block' : 'none'"
         formGroupName="bankInfo">
      <mbal-input-text
        class="label-input"
        formControlName="accountNumber"
        label="{{ 'createClaim.bankCardNum' | translate }}"
      ></mbal-input-text>
    </div>

    <div class="col-6" [style.display]="data.paymentMethod === paymentMethod.bank ? 'block' : 'none'"
         formGroupName="bankInfo">
      <mbal-input-text
        class="label-input"
        formControlName="accountName"
        label="{{ 'createClaim.bankAccount' | translate }}"
      ></mbal-input-text>
    </div>

    <div class="col-12">
      <f-errors label="{{ 'createClaim.paymentMethod' | translate }}" [control]="controls.paymentMethod"></f-errors>
    </div>

    <div class="col-12">
      <label class="label-input">{{ 'createClaim.document' | translate }}</label>
    </div>

    <div *ngFor="let itemType of fileTypes" class="pl-5 col-12">
      <label class="label-input">{{ itemType.type | MapTranslate: fileTypes : { matchFieldName: 'type' } }}<span
        *ngIf="itemType.required"
        class="text-red">*</span></label>
      <div class="mt-2">
        <p-fileUpload
          (uploadHandler)="uploadHandler($event, itemType.type)"
          (onRemove)="removeFile($event.file, itemType.type)"
          [auto]="true"
          [customUpload]="true"
          [multiple]="true"
          [previewWidth]="40"
          [showUploadButton]="false"
          [accept]="itemType.acceptType"
          chooseIcon="pi pi-upload"
          chooseLabel="{{ 'createRequest.requestCollection.selectFileUpload' | translate }}"
          class="p-upload"
          invalidFileTypeMessageDetail="{{ 'MESSAGE.FILE_REQUIRED' | translate }}"
          invalidFileTypeMessageSummary="{0}"
        >
        </p-fileUpload>
        <f-errors label="{{ itemType.label | translate }}"
                  [control]="formClaim.get(itemType.type)"></f-errors>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <p-toolbar>
    <ng-template pTemplate="left"></ng-template>
    <ng-template pTemplate="right">
      <button
        (click)="save()"
        icon="pi pi-check"
        label="{{ 'createRequest.requestRefund.submitForm' | translate }}"
        pButton
      ></button>
    </ng-template>
  </p-toolbar>
</div>
