<div class="card">
  <div class="grid">
    <div class="col-3">
      <mbal-calendar
        (keyup.enter)="search(true)"
        (ngModelChange)="validatorDate($event)"
        [(ngModel)]="params.reversedFromDate"
        label="{{ 'report.freelook.fromdate' | translate }}"
      ></mbal-calendar>
    </div>
    <div class="col-3">
      <mbal-calendar
        (keyup.enter)="search(true)"
        [(ngModel)]="params.reversedToDate"
        [minDate]="minDate"
        label="{{ 'report.freelook.todate' | translate }}"
      ></mbal-calendar>
    </div>

    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.appNum"
        label="{{ 'report.freelook.applicationNumber' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.policyNum"
        label="{{ 'report.freelook.policyNumber' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-select
        [(ngModel)]="params.selectedResolutions"
        [filter]="true"
        [options]="stateData.resolutionRefund"
        label="Resolution"
        optionValue="value"
        selectMode="multiple"
      ></mbal-select>
    </div>
    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.mainProductName"
        label="{{ 'report.freelook.mainProductName' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-select
        [(ngModel)]="params.requestType"
        [filter]="true"
        [options]="stateData.requestTypeRefund"
        label="{{ 'request.requestList.requestType' | translate }}"
        optionValue="value"
        selectMode="multiple"
      ></mbal-select>
    </div>
    <div class="col-3">
      <mbal-select
        [(ngModel)]="params.pics"
        [filter]="true"
        [options]="stateData.listPic"
        label="PIC"
        optionLabel="account"
        optionValue="account"
        selectMode="multiple"
      ></mbal-select>
    </div>
  </div>
  <p-toolbar styleClass="px-0 flex justify-content-between">
    <div class="p-toolbar-group-left">
      <p-button
        (click)="search(true)"
        icon="pi pi-search"
        label="{{ 'report.freelook.btnSearch' | translate }}"
        styleClass="p-button-primary "
      >
      </p-button>
      <p-button (click)="onReset()" class="ml-2" icon="pi pi-replay"></p-button>
    </div>
    <div class="p-toolbar-group-right">
      <button (click)="exportExcel(true)" class="ml-2" icon="pi pi-download" label="Export" pButton pRipple></button>
    </div>
  </p-toolbar>
  <p-table [autoLayout]="true" [resizableColumns]="true" [value]="dataTable.content" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">{{ 'report.freelook.stt' | translate }}</th>
        <th scope="col">{{ 'report.freelook.policyNumber' | translate }}</th>
        <th scope="col">{{ 'report.freelook.applicationNumber' | translate }}</th>
        <th scope="col">{{ 'report.freelook.processedBy' | translate }}</th>
        <th scope="col">{{ 'report.freelook.distributionChannel' | translate }}</th>
        <th scope="col">{{ 'report.freelook.subChannel' | translate }}</th>
        <th scope="col">{{ 'report.freelook.mainProductName' | translate }}</th>
        <th scope="col">{{ 'report.freelook.premiumFrequency' | translate }}</th>
        <th scope="col">{{ 'report.freelook.policyEffectiveDate' | translate }}</th>
        <th scope="col">{{ 'report.freelook.appReceivedDate' | translate }}</th>
        <th scope="col">{{ 'report.freelook.receivedDate' | translate }}</th>
        <th scope="col">{{ 'report.freelook.periodicPremium' | translate }}</th>
        <th scope="col">{{ 'report.freelook.premiumRefund' | translate }}</th>
        <th scope="col">{{ 'report.freelook.reversedCode' | translate }}</th>
        <th scope="col">{{ 'report.freelook.reversedReasonName' | translate }}</th>
        <th scope="col">{{ 'report.freelook.reversedSubReason' | translate }}</th>
        <th scope="col">{{ 'report.freelook.reversedOtherReason' | translate }}</th>
        <th scope="col">{{ 'report.freelook.paymentNumber' | translate }}</th>
        <th scope="col">{{ 'report.freelook.PHName' | translate }}</th>
        <th scope="col">{{ 'report.freelook.PHaddress' | translate }}</th>
        <th scope="col">{{ 'report.freelook.PHphone' | translate }}</th>
        <th scope="col">{{ 'report.freelook.PHemail' | translate }}</th>
        <th scope="col">{{ 'report.freelook.PHidentityNo' | translate }}</th>
        <th scope="col">{{ 'report.freelook.agphone' | translate }}</th>
        <th scope="col">{{ 'report.freelook.agEmail' | translate }}</th>

        <th scope="col">{{ 'report.freelook.agentName' | translate }}</th>
        <th scope="col">{{ 'report.freelook.agCode' | translate }}</th>
        <th scope="col">{{ 'report.freelook.amEmail' | translate }}</th>
        <th scope="col">{{ 'report.freelook.amCode' | translate }}</th>
        <th scope="col">{{ 'report.freelook.amName' | translate }}</th>
        <th scope="col">{{ 'report.freelook.amPhone' | translate }}</th>
        <th scope="col">Resolution</th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" let-item pTemplate="body">
      <tr>
        <td>{{ dataTable.currentPage === 0 ? i + 1 : dataTable.currentPage * dataTable.size + i + 1 }}</td>
        <td>{{ item.policyNum }}</td>
        <td>{{ item.appNum }}</td>
        <td>{{ item.processBy }}</td>
        <td>{{ item.distributionChannel }}</td>
        <td>{{ item.distributionSubChannel }}</td>
        <td>{{ item.mainProductName }}</td>
        <td>{{ periovic(item.premiumFrequency) }}</td>
        <td>{{ item.policyEffectiveDate }}</td>
        <td>
          {{ item.applicationReceiveDate }}
        </td>
        <td>{{ item.reversedDate }}</td>
        <td>{{ item.periodicPremium }}</td>
        <td>{{ item.premiumRefund }}</td>
        <td>{{ item.reversedCode }}</td>
        <td>{{ getReversedReasonDesc(item) }}</td>
        <td>{{ item.reversedSubReason ? ('reason.' + item.reversedSubReason | translate) : '' }}</td>
        <td>{{ item.reversedOtherReason }}</td>
        <td>{{ item.paymentRequestNumber }}</td>
        <td>{{ item.policyHolderName }}</td>
        <td>{{ item.policyHolderAddress }}</td>
        <td>{{ item.policyHolderPhoneNum }}</td>
        <td>{{ item.policyHolderEmail }}</td>
        <td>{{ item.policyHolderIDCardNum }}</td>
        <td>{{ item.agentPhoneNum }}</td>
        <td>{{ item.agentEmail }}</td>
        <td>{{ item.agentName }}</td>
        <td>{{ item.agentCode }}</td>
        <td>{{ item.agentManagerEmail }}</td>
        <td>{{ item.agentManagerCode }}</td>
        <td>{{ item.agentManagerName }}</td>
        <td>{{ item.agentManagerPhoneNum }}</td>
        <td>{{ item.resolution }}</td>
      </tr>
    </ng-template>
  </p-table>
  <div class="custom-paginator">
    <div class="absolute">
      {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
      {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
      {{ 'request.requestList.record' | translate }}.
    </div>
    <p-paginator
      (onPageChange)="pageChange($event)"
      [first]="dataTable.first"
      [rowsPerPageOptions]="[10, 20, 30]"
      [rows]="dataTable.size"
      [showCurrentPageReport]="true"
      [totalRecords]="dataTable.totalElements"
    >
    </p-paginator>
  </div>
</div>
