<div class="relative">
  <div class="sla"><strong>SLA</strong>: <span [class]="classNameSlaStep">{{ this.messageKeySla
    | translate: { days: this.daySlaStep, hours: this.hoursSlaStep, minutes: this.minutesSlaStep } }}</span></div>
  <p-tabView (onChange)="onChangeTabOrStep(true)" [(activeIndex)]="activePanel">
    <p-tabPanel header="Processing request">
      <app-steps-process
        (changeStep)="onChangeTabOrStep()"
        *ngIf="showStep()"
        [activeIndex]="activeStep"
        [itemRequest]="itemRequest"
        [steps]="items"
      ></app-steps-process>
      <app-underwrite
        (nextStep)="doAfterSubmit($event)"
        (refreshData)="refresh($event)"
        *ngIf="activeStep === 0"
        [additionalAttachmentsDropList]="additionalAttachmentsDropList"
        [approvedDropList]="approvedDropList"
        [authBankResDTOS]="authBankResDTOS"
        [bankDropList]="bankDropList"
        [bankResDTOList]="bankResDTOList"
        [decisionDropList]="decisionDropList"
        [itemRequest]="itemRequest"
        [listPostText]="listPostText"
        [listRefuseReason]="listRefuseReason"
        [listSubRefuseReason]="listSubRefuseReason"
        [listTypeCancel]="listTypeCancel"
        [pendingReasonDropList]="pendingReasonDropList"
        [rejectReasonDropList]="rejectReasonDropList"
        [subReasonDropList]="subReasonDropList"
      ></app-underwrite>
      <app-approved
        (refreshData)="refresh($event)"
        *ngIf="activeStep === 1"
        [decisionDropList]="listDecisionStepApprove"
        [itemRequest]="itemRequest"
        [requestTypeCode]="typeForm"
      ></app-approved>
      <app-refund *ngIf="activeStep === 2" [itemRequest]="itemRequest"></app-refund>
    </p-tabPanel>
    <p-tabPanel [ngClass]="{ active: header === 'report' }" header="Report">
      <app-report [itemRequest]="itemRequest"></app-report>
    </p-tabPanel>
    <p-tabPanel header="Attachment">
      <app-attachment [itemRequest]="itemRequest"></app-attachment>
    </p-tabPanel>
    <p-tabPanel *ngIf="listPendingHistory.length > 0" header="Pending history">
      <app-pending-history [itemRequest]="itemRequest"></app-pending-history>
    </p-tabPanel>
    <p-tabPanel *ngIf="currUser?.roles?.includes(Roles.SYSTEM_ADMIN)" header="Diagram process">
      <app-diagram-bpmn [tabIndex]="activePanel"></app-diagram-bpmn>
    </p-tabPanel>
  </p-tabView>
</div>

