.sla {
  position: absolute;
  right: 0;
  padding: 5px 10px;
  background: rgb(247, 249, 249);
  border-radius: 0.5rem;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #099428;
}

.title-Or {
  height: 20px;
  left: 1.52%;
  right: 60.48%;
  top: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #0b7cc3;
}

.title {
  font-size: 14px;
  color: #0b7cc3;
}

.title-checkList {
  margin-top: -2rem;
  text-transform: uppercase;
}

.title-policy {
  margin-top: -1rem;
  text-transform: uppercase;
}

.title-insurance {
  margin-top: -1rem;
  text-transform: uppercase;
}

.title-VND {
  color: #4e4b66;
  font-size: 14px;
  margin-top: -2rem;
}

.title-decision {
  margin-top: -1rem;
  text-transform: uppercase;
}

.header {
  left: 0;
  top: 0;
  display: flex;
  align-items: center;

  color: #82888e;
}

.box {
  margin-left: 1rem;
}

.btn-save {
  margin-top: 14rem;
}

.p-button-raised {
  background: #dbe9ff;
}

label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;

  color: rgba(0, 0, 0, 1);
}

h6 {
  font-size: 14px;
  color: rgba(78, 75, 102, 1);
  line-height: 20px;
  font-weight: 400;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b1c;
}

.pi-download {
  color: #3f51b5;
}

p-card {
  padding: 1rem;
}

h6:first-child {
  margin-top: 0;
  margin-left: -5rem;
}

.md\:col-4 {
  flex: 0 0 auto;
  margin-left: 37rem;
  margin-top: -6.4rem;
  width: 33.3333%;
}

.p-fluid .p-inputtext {
  width: 170%;
}

.banking {
  width: 97%;
}

.bankAccount {
  margin-left: -2rem !important;
}

.p-inputtext.p-inputtext-sm {
  font-size: 0.875rem;
  padding: 1.03rem 1rem;
}

.border {
  border: 1px solid #ebebec;
  border-radius: 8px;
}

.fianlDecision {
  margin-top: -0.75rem !important;
}

.note {
  width: 50%;
}

.premiumAmount {
  margin-left: -10rem !important;
}

.createAccount {
  margin-top: -2rem;
  background: #ff8f50;
  border-radius: 4px;
  margin-right: 3rem;
}

.card {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

:host ::ng-deep {
  .card {
    background: none;
  }

  .p-card .p-card-content {
    padding: 0;
  }

  .p-tabview .p-tabview-nav {
    background: none;
    border: none;

    .p-tabview-ink-bar {
      display: none;
    }
  }

  p-tabview .p-tabview-nav li .p-tabview-nav-link {
    transition: background-color 0.2s;
    background: #ffffff;
    border-radius: 15px 15px 1px 1px;
    width: 170px;
    height: 35px;
  }

  .p-card .p-card-body {
    padding: 2rem;
  }

  .p-tabview .p-tabview-panels {
    background: none;
    border: 0 none;
    padding: 0;
  }

  .p-tabview-title {
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .p-checkbox .p-checkbox-box {
    border: 1px solid #9eb3f8;
    border-radius: 4px;
  }

  // .p-tabview-nav-container {
  //   display: none;
  // }
  .p-button-raised {
    display: none;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #0d6efd;
    color: #ffffff;
  }

  .active {
    background-color: #0d6efd !important;

    .p-button-label {
      color: #ffffff !important;
    }

    .span-panel {
      color: #ffffff !important;
    }
  }

  .span-panel {
    color: #0d6efd;
  }

  .card-btn {
    margin-bottom: -2rem;
  }

  .progress-red {
    .p-progressbar-value {
      background: #dc3545;
    }
  }

  .progress-blue {
    .p-progressbar-value {
      background: #099428;
    }
  }

  .progress-yellow {
    .p-progressbar-value {
      background: #ffa000;
    }
  }

  .progressBackground-blue {
    .p-card {
      background: #f3fbf7;
    }
  }

  .progressBackground-red {
    .p-card {
      background: #ffdadf;
    }
  }

  .p-progressbar {
    height: 7px;
    border-radius: 4px;
  }

  .pi-check-circle:before {
    color: #0db55a;
  }

  //.pi-check-circle {
  //  margin-bottom: 0.9rem;
  //}

  .p-multiselect-panel .p-multiselect-header {
    display: none;
  }

  .btn-cancel {
    background: #dee2e6 !important;
    color: #2b2d2f;
  }
}


