.label-font {
  font-weight: 700;
}

.title-1 {
  text-align: center;
  font-weight: bold;
  font-size: 18pt;
  line-height: 108%;
}

:host ::ng-deep {
  .p-card .p-card-body {
    padding: 2rem;
  }

  .p-card-content {
    position: relative;
  }

  .title {
    background-color: #bfbfbf;
    color: black;
  }

  .width-view {
    width: 110%;
  }

  .col-size {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 37.5%;
  }

  .col-size-sub {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 18.75%;
  }

  .head {
    background-color: #d9d9d9;
  }

  .max-width-report {
    width: 100%;
  }
}
