<p-card class="p-card">
  <p-tabView (onChange)="handleChange($event)">
    <p-tabPanel header="{{'request.detailRequest.reports.title' | translate }}"
                [tabIndex]="tabViewModel.REPORT_PROCESS">
      <div class="absolute right-0">
        <button (click)="downloadReport()" [disabled]="!reportProcessBlob || reportProcessBlob.size === 0" pButton>
          <span class="pi pi-download pl-2"></span>
        </button>
      </div>
      <pdf-viewer
        [autoresize]="true"
        [external-link-target]="'blank'"
        [fit-to-page]="false"
        [original-size]="false"
        [render-text]="true"
        [rotation]="0"
        [show-all]="true"
        [show-borders]="false"
        [src]="reportProcessObjectUrl"
        [stick-to-page]="false"
        [zoom-scale]="'page-width'"
        [zoom]="1"
        style="width: 80%; height: 600px; margin: auto"
      ></pdf-viewer>
    </p-tabPanel>
    <p-tabPanel header="{{'request.detailRequest.reports.internalReport' | translate }}"
                [tabIndex]="tabViewModel.CONTRACT_RESUMPTION_REPORT">
      <div class="absolute right-0">
        <button (click)="downloadReverse()"
                [disabled]="!contractResumptionReportBlob || contractResumptionReportBlob.size === 0" pButton>
          <span class="pi pi-download pl-2"></span>
        </button>
      </div>
      <pdf-viewer
        [autoresize]="true"
        [external-link-target]="'blank'"
        [fit-to-page]="false"
        [original-size]="false"
        [render-text]="true"
        [rotation]="0"
        [show-all]="true"
        [show-borders]="false"
        [src]="contractResumptionReportObjectUrl"
        [stick-to-page]="false"
        [zoom-scale]="'page-width'"
        [zoom]="1"
        style="width: 80%; height: 600px; margin: auto"
      ></pdf-viewer>
    </p-tabPanel>
  </p-tabView>
</p-card>
