<div [ngClass]="{ 'field': fieldForm }" class="relative">
  <span class="p-float-label">
    <p-treeSelect
      #treeSelect
      (onClear)="clearValue()"
      (onFilter)="onFilterTree(treeSelect)"
      (onHide)="onTouched()"
      (onNodeSelect)="onChangeValue()"
      (onNodeUnselect)="onChangeValue()"
      [(ngModel)]="value"
      [disabled]="disabled"
      [display]="display"
      [emptyMessage]="emptyMessage"
      [filter]="filter"
      [ngClass]="{ 'ng-invalid ng-dirty': errors, readonly: readonly }"
      [options]="nodes"
      [propagateSelectionDown]="propagateSelectionDown"
      [propagateSelectionUp]="propagateSelectionUp"
      [scrollHeight]="scrollHeight"
      [selectionMode]="selectionMode"
      [showClear]="true"
      appendTo="body"
    ></p-treeSelect>
    <label *ngIf="showLabel">
      <span *ngIf="showLabel"> {{ label | translate }}</span>
      <span *ngIf="checkRequire()" class="p-errors" style="color: red; margin-left: 3px">*</span></label
    >
  </span>
  <div class="b-errors">
    <ng-container *ngIf="errors">
      <small class="p-error error-msg block fadeinup animation-duration-300">
        <span class="block">{{ getError().key | translate: getError().required }}</span>
      </small>
    </ng-container>
  </div>
</div>
