@import "../../shared/styles";
@import "variable";

.text-warning {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #4E4B66;
}
:host(
::ng-deep
) {
  .p-accordion .p-accordion-tab .p-accordion-header-link {
    padding: 15px 10px;
    border-radius: 4px;
  }

  .p-button.p-button-icon-only {
    padding-bottom: 20px
  }
}
