<claim-section-template header="{{ 'request.detailRequest.claim-tpa.createTask' | translate }}" [isCard]="true"
                        headerStyleClass="uppercase"
                        styleClass="claim__create-task-section mb-3">
  <div class="mt-3">
    <button *ngIf="showCreateTaskButton"
            pButton (click)="openTaskDialog()"
            class="claim__create-task-button p-button-outlined"
            label="+ {{ 'request.detailRequest.claim-tpa.createTask' | translate }}"></button>
  </div>
  <div class="mt-3">
    <p-accordion>
      <ng-container *ngFor="let tab of tabs; let index = index; trackBy: trackByTabs">
        <div class="relative accordion-tab">
          <p-accordionTab>
            <ng-template pTemplate="header">
              <h5 class="title uppercase font-bold m-0">{{ tab.type | ClaimType | translate }}
                <span *ngIf="tab.type !== '14'" class="px-3 font-normal">{{tab.code}}</span></h5>
              <span class="pr-6 ml-auto">{{tab.lastUpdatedDate | date: 'dd/MM/YYYY'}} - {{tab.status}}</span>
            </ng-template>
            <app-task-info-view [info]="tab"></app-task-info-view>
          </p-accordionTab>
          <div class="absolute claim__menu-btn">
           <ng-template [ngIf]="showCreateTaskButton">
             <button type="button" pButton class="p-button-rounded p-button-text" icon="pi pi-ellipsis-v"
                     (click)="menu.toggle($event); setDataDialog(tab)"></button>
             <p-menu #menu [model]="MENU_MODEL" [popup]="true" [appendTo]="'body'"></p-menu>
           </ng-template>
          </div>
        </div>
      </ng-container>
    </p-accordion>
  </div>
</claim-section-template>

