<div class="layout-content bg-white" [formGroup]="form">
    <div class="titleDialog">{{ 'request.detailRequest.claim-tpa.email-template' | translate | uppercase }}</div>
    <div class="mt-3">
        <div class="dropList">
            <mbal-select
                    (onChangeValue)="handleValueEmailType($event)"
                    [options]="emailType"
                    required
                    optionLabel="name"
                    optionValue="value"
                    formControlName="emailType"
                    label="{{ 'request.detailRequest.claim-tpa.emailType' | translate }}"
            >
            </mbal-select>
        </div>
        <div *ngIf="this.form.controls.emailType?.value" class="dropList">
            <mbal-select
                    [options]="policyType"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="policyType"
                    label="{{ 'request.detailRequest.claim-tpa.policyType' | translate }}"
            >
            </mbal-select>
        </div>
      <div *ngIf="this.form.controls.emailType?.value === '2'" class="dropList">
            <mbal-select
                    [options]="payAmount"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="amount"
                    label="{{ 'request.detailRequest.claim-tpa.payAmount' | translate }}"
            >
            </mbal-select>
        </div>
      <div *ngIf="this.form.controls.emailType?.value === '1' || this.form.controls.emailType?.value === '3'"
             class="dropList">
            <mbal-select
                    [options]="terms"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="terms"
                    label="{{ 'request.detailRequest.claim-tpa.terms' | translate }}"
            >
            </mbal-select>
        </div>
      <div *ngIf="this.form.controls.emailType?.value === '1'" class="dropList">
            <mbal-select
                    [options]="decisionEmail"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="decision"
                    label="{{ 'request.detailRequest.claim-tpa.decisionEmail' | translate }}"
            >
            </mbal-select>
        </div>
        <div *ngIf="this.form.controls.emailType?.value === '3'" class="dropList">
            <mbal-select
                    [options]="rating"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="rating"
                    label="{{ 'request.detailRequest.claim-tpa.rating' | translate }}"
            >
            </mbal-select>
        </div>
        <div *ngIf="this.form.controls.emailType?.value === '3'" class="dropList">
            <mbal-select
                    [options]="rating"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="exclusion"
                    label="{{ 'request.detailRequest.claim-tpa.exclusion' | translate }}"
            >
            </mbal-select>
        </div>
        <div *ngIf="this.form.controls.emailType?.value === '3'" class="dropList">
            <mbal-select
                    [options]="cancelRider"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="cancelRider"
                    label="{{ 'request.detailRequest.claim-tpa.cancelRider' | translate }}"
            >
            </mbal-select>
        </div>
    </div>
    <div class="mt-5 text-right">
        <p-button
                class="mr-3"
                label="{{'request.detailRequest.claim-tpa.create' | translate }}"
                (click)="save()"
                icon="pi pi-check"
        ></p-button>
        <p-button
                label="{{'category.cancel' | translate }}"
                styleClass="p-button-danger"
                (click)="closeDialog()"
                icon="pi pi-times"
        ></p-button>
    </div>
</div>
