@import "src/assets/styles/variable";

.titleDialog {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  padding: 10px 0;
  color: $primary1;
}

.dropList {
  margin-top: 20px;
}

.dialog-header-icons {
  position: absolute;
  right: 20px;
  top: 20px
}

.chipInput {
  color: $black;
  font-weight: 600;
  font-family: Roboto;
  font-size: 13px;
}

:host(
::ng-deep
) {
  div .p-chips {
    min-height: 41px;
    width: 100%;

    .p-chips-multiple-container {
      padding: 0.25rem 0.5rem;
    }
  }
}


