<div [ngClass]="{ 'field': fieldForm }" class="relative">
  <span class="p-float-label">
    <textarea
      (blur)="onBlur($event);onTouched()"
      (ngModelChange)="onModelChange($event)"
      [(ngModel)]="value"
      [autoResize]="autoResize"
      [cols]="cols"
      [disabled]="disabled"
      [ngClass]="{ 'ng-invalid ng-dirty': errors, readonly: readonly }"
      [readOnly]="readonly"
      [rows]="rows"
      pInputTextarea
    ></textarea>
    <label *ngIf="showLabel">
      <span *ngIf="showLabel"> {{ label | translate }}</span>
      <span *ngIf="checkRequire()" class="p-errors" style="color: red; margin-left: 3px">*</span></label
    >
  </span>
  <div class="b-errors">
    <ng-container *ngIf="errors">
      <small class="p-error error-msg block fadeinup animation-duration-300">
        <span class="block">{{ getError().key | translate: getError().required }}</span>
      </small>
    </ng-container>
  </div>
</div>
