<ng-container *ngIf="(dataTable$| async)  as dataTable">
  <div class="pl-2 mb-5 pt-3" *ngIf="dataTable?.length! > 0">
    <h4
        class="title title-checkList mb-4">{{'request.detailRequest.premiumAdjustment.resultResetClear' | translate}}</h4>
    <div class="table">
      <p-table
          [resizableColumns]="true"
          [value]="dataTable"
          responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Doc.No</th>
            <th>Doc Type</th>
            <th>Stat.key</th>
            <th>Amount</th>
            <th>Net Date</th>
            <th>Clear Doc</th>
            <th>{{'request.detailRequest.premiumAdjustment.resultAllocated.date' | translate}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.docNumber}}</td>
            <td>{{row.docType}}</td>
            <td>{{row.statKey}}</td>
            <td>{{row.amount | MapSAPAmount }}</td>
            <td>{{row.netDate | MapSAPDate}}</td>
            <td>{{row.clearingDoc}}</td>
            <td>{{row.executeDate | MapSAPDate}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</ng-container>
