.label-input {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.select_drop_list label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

::-webkit-input-placeholder .p-placeholder { /* Chrome/Opera/Safari */
  font-weight: bold !important;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: bold !important;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: bold !important;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: bold !important;
}