<div class="card">
  <div class="grid">
    <h3 class="title col-12">{{ 'createRequest.requestRefund.requestInfo' | translate }}</h3>

    <ng-container *ngIf="itemRequest?.requestId">
      <div [formGroup]="form" class="col-6">
        <mbal-input-text class="label-input" formControlName="requestId"
                         label="{{ 'request.requestList.requestCode' | translate }}"></mbal-input-text>
      </div>
      <div [formGroup]="form" class="col-6">
      </div>
    </ng-container>

    <div [formGroup]="form" class="col-6">
      <mbal-input-text class="label-input" formControlName="customerName"
                       label="{{ 'request.detailRequest.requestInfo.customerName' | translate }}"></mbal-input-text>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-select [options]="genderList" formControlName="gender"
                   label="{{ 'createRequest.requestCollection.gender' | translate }}" optionLabel="name"
                   optionValue="code"></mbal-select>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-select [options]="identificationTypeList" formControlName="identificationType"
                   label="{{ 'createRequest.requestCollection.idNOType' | translate }}"
                   optionLabel="name"
                   optionValue="code"></mbal-select>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-input-text class="label-input" formControlName="identificationNumber"
                       label="{{ 'createRequest.requestCollection.idNO' | translate }}"></mbal-input-text>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-calendar [maxDate]="today" class="label-input" formControlName="identificationExpired"
                     label="{{ 'createRequest.requestCollection.idNODate' | translate }}"></mbal-calendar>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-input-text class="label-input" formControlName="placeOfIssue"
                       label="{{ 'createRequest.requestCollection.placeOfIssue' | translate }}"></mbal-input-text>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-input-number class="label-input" formControlName="refundAmount"
                         label="{{ 'createRequest.requestCollection.refundAmount' | translate }}"></mbal-input-number>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-select [options]="paymentMethodList" formControlName="paymentMethod"
                   label="{{ 'createRequest.requestCollection.paymentMethod' | translate }}"></mbal-select>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-select [filter]="true" [options]="bankDropList" [virtualScroll]="true" formControlName="bankCode"
                   label="{{ 'createRequest.requestCollection.bankName' | translate }}"
                   optionLabel="name"
                   optionValue="citadCode"></mbal-select>
    </div>

    <div *ngIf="form.controls['paymentMethod'].value === paymentMethod.Banking" [formGroup]="form" class="col-6">
      <mbal-input-text class="label-input" formControlName="accountNumber"
                       label="{{ 'createRequest.requestCollection.bankAccountNumber' | translate }}"></mbal-input-text>
    </div>

    <div *ngIf="form.controls['paymentMethod'].value === paymentMethod.Cash" [formGroup]="form" class="col-6">
      <mbal-input-text class="label-input" formControlName="bankBranch"
                       label="{{ 'createRequest.requestCollection.bankBranch' | translate }}"></mbal-input-text>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-calendar [maxDate]="today" class="label-input" formControlName="paymentReceiveDate"
                     label="{{ 'createRequest.requestCollection.paymentReceiveDate' | translate }}"></mbal-calendar>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-input-text class="label-input" formControlName="email"
                       label="Email"></mbal-input-text>
    </div>


    <ng-container *ngFor="let item of files; let i = index">
      <div [class]="'col-' + (i === 0 ? '12' : '6')">
        <div style="margin: auto">
          <label class="label-input">{{ item.label | translate }}<span *ngIf="item.required"
                                                                       class="text-red">*</span></label>
          <div class="mt-2">
            <p-fileUpload #fileInput (uploadHandler)="uploadHandler($event, i)" [auto]="true" [customUpload]="true"
                          [maxFileSize]="100000000" [multiple]="true"
                          [previewWidth]="40"
                          [showUploadButton]="false"
                          accept=".pdf, .PNG, .JPN, .JPEG, .JPG"
                          chooseIcon="pi pi-upload"
                          chooseLabel="{{ 'createRequest.requestRefund.selectFileUpload' | translate }}" class="p-upload"
                          invalidFileTypeMessageDetail="{{ 'MESSAGE.FILE_REQUIRED' | translate }}"
                          invalidFileTypeMessageSummary="{0}">
            </p-fileUpload>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="card">
  <p-toolbar>
    <ng-template pTemplate="left"></ng-template>
    <ng-template pTemplate="right">
      <button (click)="save()" [disabled]="isSubmit" class="mr-2" icon="pi pi-check"
              label="{{ 'createRequest.requestRefund.submitForm' | translate }}" pButton></button>
    </ng-template>
  </p-toolbar>
</div>
