<div class="p-dialog-header px-0">
  <span class="p-dialog-title">{{ 'screentype.' + screenType | translate }} {{ 'config.email.' +
  title?.toLocaleLowerCase() | translate }}</span>
  <div class="p-dialog-header-icons">
    <button type="button" class="p-dialog-header-icon p-dialog-header-maximize p-link" (click)="cancel()">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="grid p-fluid p-dialog-body mt-2" [formGroup]="form">
  <div class="col-4">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" pInputText class="p-inputtext-sm" formControlName="code" />
        <label>{{ 'config.email.templatecode' | translate }}<span class="text-red">*</span></label>
      </span>
    </div>
  </div>

  <div class="col-4">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" pInputText class="p-inputtext-sm" formControlName="name" />
        <label>{{ 'config.email.templatename' | translate }}<span class="text-red">*</span></label>
      </span>
    </div>
  </div>
  <div class="col-4">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" pInputText class="p-inputtext-sm" formControlName="subject" />
        <label>{{ 'config.email.subject' | translate }}<span class="text-red"></span></label>
      </span>
    </div>
  </div>
  <div class="col-12">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" pInputText class="p-inputtext-sm" formControlName="description" />
        <label>{{ 'config.email.description' | translate }}<span class="text-red"></span></label>
      </span>
    </div>
  </div>

  <div class="col-4">
    <div class="p-field">
      <span class="p-float-label">
        <p-multiSelect [options]="state?.listRole" optionLabel="name" optionValue="code" class="p-inputtext-sm"
                       appendTo="body" formControlName="toRoles" [autoDisplayFirst]="false" [autoZIndex]="true">
        </p-multiSelect>
        <label>{{ 'config.email.toname' | translate }}<span class="text-red"></span></label>
      </span>
    </div>
  </div>

  <div class="col-4">
    <div class="p-field">
      <span class="p-float-label">
        <p-multiSelect [options]="state?.listRole" optionLabel="name" optionValue="code" class="p-inputtext-sm"
                       appendTo="body" formControlName="ccRoles" [autoDisplayFirst]="false" [autoZIndex]="true">
        </p-multiSelect>
        <label>{{ 'config.email.cc' | translate }}<span class="text-red"></span></label>
      </span>
    </div>
  </div>
  <div class="col-4">
    <div class="p-field">
      <span class="p-float-label">
        <p-multiSelect [options]="state?.listRole" optionLabel="name" optionValue="code" class="p-inputtext-sm"
                       appendTo="body" formControlName="bccRoles" [autoDisplayFirst]="false" [autoZIndex]="true">
        </p-multiSelect>
        <label>{{ 'config.email.bcc' | translate }}<span class="text-red"></span></label>
      </span>
    </div>
  </div>
  <div class="col-12">
    <div class="p-field">
      <span class="p-float-label">
        <p-editor placeholder="Nhập mô tả" formControlName="body" [style]="{ height: '300px' }"></p-editor>
      </span>
    </div>
  </div>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <button pButton *ngIf="screenType !== 2" (click)="save()" label="{{ 'action.save' | translate }}" icon="pi pi-check"
          class="p-mr-2"></button>
  <button pButton (click)="cancel()" label="{{ 'action.close' | translate }}" icon="pi pi-times"
          class="p-button-secondary"></button>
</div>
