<div class="card">
  <div class="grid" [formGroup]="params">
    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="search(true)"
        formControlName="requestId"
        label="{{ 'claimRequest.requestId' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="search(true)"
        formControlName="claimId"
        label="{{ 'claimRequest.claimId' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-select
        formControlName="status"
        [filter]="true"
        [options]="categories.listStatus"
        label="{{ 'claimRequest.status' | translate }}"
        optionValue="code"
        selectMode="multiple"
      ></mbal-select>
    </div>
    <div class="col-3">
      <mbal-select
        formControlName="resolution"
        [filter]="true"
        [options]="categories.listResolution"
        label="{{ 'claimRequest.resolution' | translate }}"
        optionValue="code"
        selectMode="multiple"
      ></mbal-select>
    </div>

    <div class="col-3">
      <mbal-select
        formControlName="requestSource"
        [filter]="true"
        [options]="categories.listSource"
        label="{{ 'claimRequest.requestSource' | translate }}"
        optionValue="value"
        selectMode="multiple"
      >
      </mbal-select>
    </div>
    <div class="col-3">
      <mbal-calendar
        (keyup.enter)="search(true)"
        formControlName="fromDate"
        [maxDate]="params.getRawValue().toDate"
        [maxDateToday]="true"
        label="{{ 'claimRequest.fromDate' | translate }}"
      ></mbal-calendar>
    </div>
    <div class="col-3">
      <mbal-calendar
        (keyup.enter)="search(true)"
        formControlName="toDate"
        [maxDateToday]="true"
        [minDate]="params.getRawValue().fromDate"
        label="{{ 'claimRequest.toDate' | translate }}"
      ></mbal-calendar>
    </div>
    <div class="col-3">
      <mbal-select
        (keyup.enter)="search(true)"
        formControlName="typeRequest"
        selectMode="multiple"
        optionValue="value"
        [filter]="true"
        [options]="categories.listRequestType"
        label="{{ 'claimRequest.requestType' | translate }}"
      ></mbal-select>
    </div>

    <div class="col-3">
      <mbal-select
        (keyup.enter)="search(true)"
        formControlName="claimStatus"
        selectMode="multiple"
        optionValue="code"
        [filter]="true"
        [options]="categories.listStatusClaim"
        label="{{ 'claimRequest.statusClaim' | translate }}"
      ></mbal-select>
    </div>
    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="search(true)"
        formControlName="policyNumber"
        label="{{ 'claimRequest.policyNumber' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-select
        formControlName="pic"
        [filter]="true"
        [options]="categories.listPic"
        label="{{ 'claimRequest.pic' | translate }}"
        optionValue="account"
        optionLabel="account"
        selectMode="multiple"
      >
      </mbal-select>
    </div>
    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="search(true)"
        formControlName="icCode"
        label="{{ 'claimRequest.icCode' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="search(true)"
        formControlName="icName"
        label="{{ 'claimRequest.icName' | translate }}"
      ></mbal-input-text>
    </div>

  </div>
  <div *ngIf="checkParamEmptyAndUser()" class="text-red">{{ 'history.keyword' | translate }}</div>
  <p-toolbar styleClass="px-0 flex justify-content-between">
    <div class="p-toolbar-group-left">
      <p-button
        (click)="search(true)"
        icon="pi pi-search"
        label="{{ 'history.btnSearch' | translate }}"
        styleClass="p-button-primary "
        [disabled]="checkParamEmptyAndUser()"
      >
      </p-button>
      <p-button (click)="onReset()" class="ml-2" icon="pi pi-replay" styleClass="p-button-primary"></p-button>
    </div>
  </p-toolbar>
  <p-table
    [autoLayout]="true"
    [resizableColumns]="true"
    [value]="dataTable.content"
    responsiveLayout="scroll"
    selectionMode="single"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">{{ 'claimRequest.orderNo' | translate }}</th>
        <th scope="col">{{ 'claimRequest.requestId' | translate }}</th>
        <th scope="col">{{ 'claimRequest.claimId' | translate }}</th>
        <th scope="col">{{ 'claimRequest.requestType' | translate }}</th>
        <th scope="col">{{ 'claimRequest.policyNumber' | translate }}</th>
        <th scope="col">{{ 'claimRequest.status' | translate }}</th>
        <th scope="col">{{ 'claimRequest.resolution' | translate }}</th>
        <th scope="col">{{ 'claimRequest.claimStatus' | translate }}</th>
        <th scope="col">{{ 'claimRequest.pic' | translate }}</th>
        <th scope="col">SLA</th>
        <th scope="col">{{ 'claimRequest.requestSource' | translate }}</th>
        <th scope="col">{{ 'claimRequest.createdDate' | translate }}</th>
        <th scope="col">{{ 'claimRequest.updatedDate' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" let-item pTemplate="body" let-index="index">
      <tr (dblclick)="doDetail(item, index)">
        <td>{{ dataTable.currentPage * dataTable.size + i + 1 }}</td>
        <td>{{ item.requestId }}</td>
        <td>{{ item.claimId }}</td>
        <td>{{ item.requestType | MapTranslate: categories.listRequestType }}</td>
        <td>{{ item.policyNumber }}</td>
        <td>{{ item.status | MatchPipe: categories.listStatus }}</td>
        <td>{{ item.resolution | MatchPipe: categories.listResolution }}</td>
        <td>{{ item.claimStatus | MatchPipe: categories.listStatusClaim  }}</td>
        <td>{{ item.pic }}</td>
        <td>{{ item.sla1 }}</td>
        <td>{{ item.requestSource }}</td>
        <td>{{ item.createdDate | dateCus }}</td>
        <td>{{ item.updatedDate | dateCus }}</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="custom-paginator">
    <div class="absolute">
      {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
      {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
      {{ 'request.requestList.record' | translate }}.
    </div>
    <p-paginator
      (onPageChange)="pageChange($event)"
      [first]="dataTable.first"
      [rowsPerPageOptions]="[10, 20, 30]"
      [rows]="dataTable.size"
      [showCurrentPageReport]="true"
      [totalRecords]="dataTable.totalElements"
    >
    </p-paginator>
  </div>
</div>
<router-outlet></router-outlet>
