<div class="flex flex-wrap gap-2   align-items-center justify-content-between mb-sm custom-btn">
  <h4 class="title title-checkList mb-0">APPLICATION JOURNAL OF POLICY IN ATTACHMENT</h4>
  <div class="flex">
    <button pButton class="mr-2" (click)="onRefresh(table)"> Refresh</button>
    <button (click)="downloadSAPShortcut()" [disabled]="(disableResetButton$ | async)" pButton>Reset</button>
  </div>
</div>

<!--/////////////////////////////// [Business process] START ////////////////////////////-->

<div class="mb-3">
  <div class="pl-2 flex-wrap gap-2 flex align-items-center justify-content-between mb-2 custom-btn">
    <h4 class="title title-checkList mb-0 uppercase">Business process</h4>
    <div class="flex">
      <button pButton class="mr-2" (click)="clearAllFilter(table)" [icon]="'pi pi-refresh '"></button>
    </div>
  </div>
  <div class="table table-have-filter-col">
    <p-table
        #table
        [(first)]="dataTable.first"
        [rowsPerPageOptions]="[10, 20, 30]"
        [(rows)]="dataTable.size"
        [showCurrentPageReport]="true"
        [totalRecords]="dataTable.totalElements"
        [paginator]="true"
        [value]="dataTable.content"
        [(selection)]="selection"
        [columns]="columns"
        [customSort]="true"
        (sortFunction)="customSort($event)"
        selectionMode="single"
        (selectionChange)="onChangeSelection($event)"
        [resizableColumns]="true"
        responsiveLayout="scroll">
      <ng-template [pTemplate]="'header'" let-columns>
        <tr class=" table-head-w-20p">
          <th *ngFor="let column of columns " [pSortableColumn]="column.fieldName">
            {{column.name}}
            <p-sortIcon [field]="column.fieldName"></p-sortIcon>
          </th>
        </tr>

        <tr class="filter_col" [formGroup]="filterForm">
          <th *ngFor="let column of columns ">
            <mbal-input-text (input)="filterColumn(table, $event,column)"
                             [fieldForm]="false"
                             [formControlName]="column.filterConfig.formControlName"
                             rightIcon="pi pi-times-circle"
                             [showLabel]="false"
                             (clickIconEvent)="clearColumnFilter(table, column)"
            ></mbal-input-text>
          </th>
        </tr>
      </ng-template>
      <ng-template [pTemplate]="'body'" let-row let-index="rowIndex" let-columns="columns">
        <tr  [pSelectableRow]="row">
          <td *ngFor="let column of columns" >
            <ng-container *ngIf="column?.pipeName" [ngSwitch]="column.pipeName">
              <ng-container *ngSwitchCase="SAP_PIPE.MONEY">
                {{row[column.fieldName] | MapSAPAmount}}
              </ng-container>
              <ng-container *ngSwitchCase="SAP_PIPE.TRAFFIC_LIGHT">
                <img [src]="row[column.fieldName] | trafficLight" (error)="img.hidden = true" #img alt="traffic signal"/>
              </ng-container>
              <ng-container *ngSwitchCase="SAP_PIPE.DATE">
                {{row[column.fieldName] | MapSAPDate}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!column.pipeName">
              {{row[column.fieldName]}}
            </ng-container>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [colSpan]="columns.length">{{'request.detailRequest.premiumAdjustment.no-item'| translate}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- /////////////////////////////// [Business process] END //////////////////////////// -->


<div *ngIf="!!selection && (!isLoadingProcessingTable || processingDataTable.content.length)" [@expandCollapse]="">
  <div class="pl-2 mb-4">
    <h4 class="title title-checkList mb-0">PROCESSING</h4>
  </div>
  <div class="table mb-3">
    <p-table
        [(first)]="processingDataTable.first"
        [rowsPerPageOptions]="[10, 20, 30]"
        [(rows)]="processingDataTable.size"
        [showCurrentPageReport]="true"
        [totalRecords]="processingDataTable.totalElements"
        [paginator]="true"
        [value]="processingDataTable.content"
        [resizableColumns]="true"
        (selectionChange)="onChangeSelection($event)"
        responsiveLayout="scroll">
      <ng-template [pTemplate]="'header'">
        <tr>
          <th scope="col">Processing</th>
          <th scope="col">Sequence No</th>
          <th scope="col">Journal No</th>
          <th scope="col">Contract No</th>
          <th scope="col">Date</th>
          <th scope="col">Processing text</th>
          <th scope="col">Effective Start</th>
          <th scope="col">Time Interval Start</th>
          <th scope="col">Time Interval End</th>
          <th scope="col">Processing Date</th>
          <th scope="col">Processed by</th>
          <th scope="col">Processing Category</th>
          <th scope="col">Lapse Reversal Reason</th>
        </tr>
      </ng-template>
      <ng-template [pTemplate]="'body'" let-item>
        <tr>
          <td>{{item.processId}}</td>
          <td>{{item.orderNoId}}</td>
          <td>{{item.journalNoId}}</td>
          <td>{{item.applicationNumber}}</td>
          <td>{{item.dateCd}}</td>
          <td>{{item.processingTt}}</td>
          <td>{{item.validFromDate | MapSAPDate}}</td>
          <td>{{item.intBeginDate | MapSAPDate}}</td>
          <td>{{item.intEndDate | MapSAPDate}}</td>
          <td>{{item.modDt | MapSAPDate}}</td>
          <td>{{item.modNameTt}}</td>
          <td>{{item.procCatTt}}</td>
          <td>{{item.lapseReasonTt}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [colSpan]="13">{{'request.detailRequest.premiumAdjustment.no-item'| translate}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

