<claim-section-template mode="info" [header]="'request.detailRequest.claim-tpa.claim-request-information'">

  <!--///////////////////////////////////// Thông tin claim /////////////////////////////////-->
  <claim-section-template
    styleClass="mt-3"
    mode="sub"
    header="request.detailRequest.claim-tpa.claim-request-information"
    bodyStyleClass="mt-3"
    [subHeader]="claimInformationOverview?.claimRequestId ?? '- - -'"
  >
    <div class="claim__sub-section-grid">

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.claim-id'| translate}}</div>
      <div class="claim__grid-item-body">
        <value-display [value]="claimInformationOverview?.claimId"></value-display>
      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.start-date'|translate}}</div>
      <div class="claim__grid-item-body">
        <value-display [value]="claimInformationOverview?.eventDatefrom | date : 'dd/MM/YYYY'"></value-display>
      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.la-name'|translate}}</div>
      <div class="claim__grid-item-body">
        <value-display [value]="claimInformationOverview?.laName"></value-display>
      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.end-date'|translate}}</div>
      <div class="claim__grid-item-body">
        <value-display [value]="claimInformationOverview?.eventDateto | date : 'dd/MM/YYYY'"></value-display>
      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status'|translate}}</div>
      <div class="claim__grid-item-body">
        <value-display [value]="claimInformationOverview?.status | MatchPipe: claimStatusCommon"></value-display>
      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.date-receive-attachment'| translate}}</div>
      <div class="claim__grid-item-body">
        <value-display [value]="claimInformationOverview?.submitFirstRequest | dateCus"></value-display>
      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.created-date'|translate}}</div>
      <div class="claim__grid-item-body">
        <value-display [value]="claimInformationOverview?.createDate | date: 'dd/MM/YYYY'"></value-display>
      </div>

      <div class="claim__grid-item-title">{{"request.detailRequest.claim-tpa.full-submission-date"| translate}}</div>
      <div class="claim__grid-item-body">
        <value-display [value]="claimInformationOverview?.fullSubmissionDate | dateCus"></value-display>
      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.benefits'|translate}}</div>
      <div class="claim__grid-item-body span3">
        <app-benefit-checkbox [ngModel]="claimInformationOverview?.savedBenefits"
                              [benefits]="benefitsCommon"
                              [readonly]="true"
                              [showMoney]="false"></app-benefit-checkbox>
      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.diagnostic'|translate}}</div>
      <div class="claim__grid-item-body span3">
        <value-display [value]="claimInformationOverview?.sicknessName"></value-display>
      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.hospital'|translate}}</div>
      <div class="claim__grid-item-body span3">
        <value-display [value]="claimInformationOverview?.facilityName"></value-display>
      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.payment-method'|translate}}</div>
      <div class="claim__grid-item-body span3">
        <value-display
          [value]="claimInformationOverview?.paymentMethod | MapTranslate: listPaymentMethod"></value-display>
      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.bank-name'|translate}}</div>
      <div class="claim__grid-item-body">
        <value-display [value]="claimInformationOverview?.bankName"></value-display>
      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.branch-name'|translate}}</div>
      <div class="claim__grid-item-body">
        <value-display [value]="claimInformationOverview?.branchName"></value-display>
      </div>

      <ng-container *ngIf="claimInformationOverview?.paymentMethod === PAYMENT_METHOD_BANKING">
        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.account-number'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="claimInformationOverview?.accNumber"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.account-name'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="claimInformationOverview?.accName"></value-display>
        </div>
      </ng-container>

      <ng-container *ngIf="claimInformationOverview?.paymentMethod !== PAYMENT_METHOD_BANKING">
        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.identify-type'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display
            [value]="claimInformationOverview?.cashType | MapTranslate: commonIdentificationTypeCode"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.identify-number'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="claimInformationOverview?.cashNumber"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.date-of-issue'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="claimInformationOverview?.cashDate |dateCus"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.place-of-issue'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="claimInformationOverview?.cashAdd "></value-display>
        </div>
      </ng-container>

      <div class="claim__grid-item-title">Email</div>
      <div class="claim__grid-item-body">
        <value-display [value]="claimInformationOverview?.email"></value-display>

      </div>

      <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.phone-no'|translate}}</div>
      <div class="claim__grid-item-body">
        <value-display [value]="claimInformationOverview?.phone"></value-display>

      </div>

    </div>
  </claim-section-template>
  <!--///////////////////////////////////// [END] Thông tin claim /////////////////////////////////-->

  <!--/////////////////////////////////////  Thông tin policy /////////////////////////////////-->
  <claim-section-template
    styleClass="mt-3"
    mode="sub"
    header="request.detailRequest.claim-tpa.policy-info"
    [subHeader]="'HĐ: '+ ((removeZero | apply: policyInformation?.policyNumber) ?? '- - -')"
  >
    <!--///////////////////////////////////// Thông tin hợp đồng /////////////////////////////////-->
    <claim-section-template
      mode="normal"
      headerStyleClass="claim__sub-section-split-header"
      header="request.detailRequest.claim-tpa.policy-information"
    >
      <div class="claim__sub-section-grid">
        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.policy-number'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="removeZero | apply: policyInformation?.policyNumber"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.policy-status'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display
            [value]="policyInformation?.policyStatus"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.product-name'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="policyInformation?.productName"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.duration-contract'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]=" policyInformation?.durationContract && ('unit.day-template' | translate : {day:  policyInformation?.durationContract}) "></value-display>
        </div>

        <!-- TODO: Chờ API -->
        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.policy-start-date'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="policyInformation?.startDate | dateCus"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.paid-to-date'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="policyInformation?.paidToDate  | dateCus"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.lapse-date' |translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="policyInformation?.laspeDate | dateCus"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.reset-date'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="policyInformation?.resetDate | dateCus"></value-display>
        </div>
      </div>
    </claim-section-template>
    <!--///////////////////////////////////// [END] Thông tin hợp đồng /////////////////////////////////-->

    <!--/////////////////////////////////////  Thông tin chủ hợp đồng /////////////////////////////////-->
    <claim-section-template
      mode="normal" headerStyleClass="claim__sub-section-split-header"
      header="request.detailRequest.claim-tpa.policy-holder-information"
    >
      <div class="claim__sub-section-grid">

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.bp-policy-holder'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerHolder?.bpNumber"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.policy-holder-name'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerHolder?.name"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.gender'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerHolder?.gender ?? '' | translate"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.date-of-birth'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerHolder?.birthDate | dateCus"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.phone-no'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerHolder?.mobilePhone  "></value-display>
        </div>

        <div class="claim__grid-item-title">Email</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerHolder?.email"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.identify-type'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display
            [value]="businessPartnerHolder?.type | MapTranslate: commonIdentificationTypeCode"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.identify-number'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerHolder?.idNumber"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.date-of-issue'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerHolder?.issueDate | dateCus"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.place-of-issue'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerHolder?.issuePlace"></value-display>
        </div>

      </div>
    </claim-section-template>
    <!--///////////////////////////////////// [END]Thông tin chủ hợp đồng /////////////////////////////////-->

    <!--///////////////////////////////////// Thông tin người được bảo hiểm /////////////////////////////////-->
    <claim-section-template
      mode="normal" headerStyleClass="claim__sub-section-split-header"
      header="request.detailRequest.claim-tpa.life-assure-information"
    >
      <div class="claim__sub-section-grid">
        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.bp-la'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerLA?.bpNumber"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.la-name'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerLA?.name"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.gender'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="(businessPartnerLA?.gender ?? '') |  translate"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.date-of-birth'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerLA?.birthDate | dateCus"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.phone-no'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerLA?.mobilePhone"></value-display>
        </div>

        <div class="claim__grid-item-title">Email</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerLA?.email"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.identify-type'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerLA?.type | MapTranslate: commonIdentificationTypeCode"
          ></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.identify-number'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerLA?.idNumber">
          </value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.date-of-issue'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerLA?.issueDate | dateCus">
          </value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.place-of-issue'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="businessPartnerLA?.issuePlace">
          </value-display>
        </div>

      </div>
    </claim-section-template>
    <!--///////////////////////////////////// [END] Thông tin người được bảo hiểm /////////////////////////////////-->

    <!--///////////////////////////////////// Thông tin chuyên viên tư vấn /////////////////////////////////-->
    <claim-section-template
      mode="normal" headerStyleClass="claim__sub-section-split-header"
      header="request.detailRequest.claim-tpa.sale-information"
    >
      <div class="claim__sub-section-grid">
        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.sale-person-code'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="removeZero | apply: icDTO?.agentCode "></value-display>

        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.sale-person-name'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="icDTO?.agentName"></value-display>

        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.channel'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="icDTO?.channel"></value-display>

        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.region-code'|translate}}</div>
        <div class="claim__grid-item-body">
          <value-display [value]="icDTO?.organizationUnitName"></value-display>

        </div>

      </div>
    </claim-section-template>
    <!--///////////////////////////////////// [END]Thông tin chuyên viên tư vấn /////////////////////////////////-->


    <!--///////////////////////////////////// Kết quả thẩm định và tái thẩm định /////////////////////////////////-->
  <claim-section-template
    mode="normal" headerStyleClass="claim__sub-section-split-header"
    header="request.detailRequest.claim-tpa.result-underwriting-or-re-underwriting"
  >
    <div class="mt-3">
      <p-table [value]="resultUnderwritingOrReUnderwriting ? resultUnderwritingOrReUnderwriting : []">
        <ng-template pTemplate="header">
          <tr>
            <th>{{ 'request.detailRequest.claim-tpa.status-name' | translate }}</th>
            <th>{{ 'request.detailRequest.claim-tpa.reason' | translate }}</th>
            <th>User</th>
            <th>{{ 'request.detailRequest.claim-tpa.execute-date' | translate }}</th>
            <th>{{ 'request.detailRequest.claim-tpa.execute-time' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>
              <value-display [value]="data.status"></value-display>
            </td>
            <td>
              <value-display [value]="data.reason"></value-display>
            </td>
            <td>
              <value-display [value]="data.user"></value-display>
            </td>
            <td>
              <value-display [value]="data.executeDate | dateCus"></value-display>
            </td>
            <td>
              <value-display [value]="data.executeTime"></value-display>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td  class="text-center" [colSpan]="5">{{ 'MESSAGE.notfoundrecord' | translate }}</td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </claim-section-template>
    <!--///////////////////////////////////// [END] Kết quả thẩm định và tái thẩm định /////////////////////////////////-->

  </claim-section-template>
  <!--/////////////////////////////////////  [END]Thông tin policy /////////////////////////////////-->

  <!--///////////////////////////////////// Claim history /////////////////////////////////-->
  <claim-section-template
    styleClass="mt-3"
    mode="sub"
    header="request.detailRequest.claim-tpa.claim-history"
    [subHeader]="'LA: '+ (businessPartnerLA?.name ?? '- - -')"
  >
    <div class="mt-3">
      <p-table
        [value]="claimHistoryTable.content"
        [showCurrentPageReport]="true"
        [rows]="claimHistoryTable.size"
        [selectionPageOnly]="true"
        dataKey="requestId"
        responsiveLayout="scroll"
        [totalRecords]="claimHistoryTable.totalElements"
        [resizableColumns]="true"
        [first]="claimHistoryTable.first"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>{{'request.detailRequest.claim-tpa.claim-id'| translate}}</th>
            <th>{{'request.detailRequest.claim-tpa.policy-number'| translate}}</th>
            <th>{{'request.detailRequest.claim-tpa.status'| translate}}</th>
            <th>{{'request.detailRequest.claim-tpa.incident-type' | translate}}</th>
            <th>{{'request.detailRequest.claim-tpa.start-date'| translate}}</th>
            <th>{{'request.detailRequest.claim-tpa.end-date'| translate}}</th>
            <th>{{'request.detailRequest.claim-tpa.payment-amount'| translate}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>
              <value-display [value]="row.claimId"></value-display>
            </td>
            <td>
              <value-display [value]=" removeZero | apply: row.policyNumber "></value-display>
            </td>
            <td>
              <value-display [value]="row.claimStatus | MatchPipe: claimStatusCommon"></value-display>
            </td>
            <td>
              <value-display [value]="row.claimType"></value-display>
            </td>
            <td>
              <value-display [value]="(row.eventDateFrom ? (row.eventDateFrom | dateCus) : '')"></value-display>
            </td>
            <td>
              <value-display [value]="(row.eventDateTo ? (row.eventDateTo | dateCus ): '')"></value-display>
            </td>
            <td>
              <value-display [value]="row.amountPaid"></value-display>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="custom-paginator">
        <div class="grid align-items-center mt-2">
          <div class="col-2">
            {{ 'request.requestList.total' | translate }} : {{ claimHistoryTable.numberOfElements }}
            {{ 'request.requestList.of' | translate }} {{ claimHistoryTable.totalElements }}
            {{ 'request.requestList.record' | translate }}.
          </div>
          <div class="col-9">
            <p-paginator
              (onPageChange)="pageChange($event)"
              [first]="claimHistoryTable.first"
              [rowsPerPageOptions]="[10, 20, 30]"
              [rows]="claimHistoryTable.size"
              [showCurrentPageReport]="true"
              [pageLinkSize]="3"
              [totalRecords]="claimHistoryTable.totalElements"
            >
            </p-paginator>
          </div>
          <div class="col-1 grid justify-content-end"></div>
        </div>
      </div>
    </div>
  </claim-section-template>
  <!--/////////////////////////////////////  [END]Claim history /////////////////////////////////-->

</claim-section-template>
