<div class="text-center">
  <div class="titleDialog">{{ 'request.detailRequest.premiumAdjustment.reversed' | translate }}</div>
</div>
<div class="md:col-4 col-12">
  <mbal-input-number
  [(ngModel)]="grossClearing"
  [min]="1"
  #grossClearingModel="ngModel"
  [max]="max"
  [label]=" 'request.detailRequest.premiumAdjustment.grossClearing' | translate "
  [required]="true"
  ></mbal-input-number>
</div>
<div>
  <app-receivable [tableData]="dataTable" [showFilter]=false></app-receivable>
  <div class="p-dialog-footer p-p-0 mt-5">
    <button
      (click)="closeDialog()"
      class="buttonDestroy"
      label="{{ 'request.detailRequest.premiumAdjustment.cancel' | translate }}"
      pButton
    ></button>
    <button
      (click)="reverse()"
      class="buttonSave"
      label="Reverse"
      pButton
    ></button>
  </div>
</div>
