<p-card styleClass="mt-3">
  <div class="">
    <h4 class="title title1">{{ 'request.detailRequest.approve.paymentInformation' | translate }}</h4>
  </div>
  <div class="grid ml-2">
    <div class="col-3">
      <div class="flex">
        <div class="pr-4">
          <span>
            <label>{{ 'request.detailRequest.approve.policyNumber' | translate }}</label>
          </span>
        </div>
        <div>
          <label>{{ itemRequest?.policyNumber }}</label>
        </div>
      </div>
    </div>
    <div
      *ngIf="itemRequest?.requestTypeCode === requestType.TYPE05 || itemRequest?.requestTypeCode === requestType.TYPE01"
      class="col-3">
      <div class="flex">
        <div class="pr-4">
          <span>
            <label>{{ 'request.detailRequest.approve.applicationNumber' | translate }}</label>
          </span>
        </div>
        <div>
          <label>{{ itemRequest?.applicationNumber }}</label>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="flex">
        <div class="pr-4">
          <span>
            <label>{{ 'request.detailRequest.approve.totalPaymentAmount' | translate }}</label>
          </span>
        </div>
        <div>
          <label> {{ itemRequest?.manualFinalDecision | number: '1.0-0' }} VND</label>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="flex">
        <div class="pr-4">
          <span>
            <label> Payment Request :</label>
          </span>
        </div>
        <div>
          <label>{{ itemRequest?.paymentNumber }}</label>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="flex">
        <div class="pr-4">
          <span>
            <label>{{ 'request.detailRequest.approve.status' | translate }}</label>
          </span>
        </div>
        <div>
          <label> {{ itemRequest?.paymentApproveStatus }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="flex mt-2">
    <div class="col-12">
      <p-table [value]="mapApprovedDTO" selectionMode="single">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">{{ 'request.detailRequest.approve.step' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.approve.department' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.approve.approveBy' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.approve.action' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.approve.reason' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.approve.lastUpdate' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr>
            <td>{{ item.step }}</td>
            <td>{{ item.function }}</td>
            <td>{{ item.approvedBy }}</td>
            <td>{{ item.action }}</td>
            <td>{{ item.reason }}</td>
            <td>{{ item.actionAt }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
<!--  -->
<p-card *ngIf="checkActionApprove()" [formGroup]="form" class="decision" styleClass="mt-3">
  <h4 class="title title-decision">{{ 'request.detailRequest.underwrite.decision' | translate }}</h4>
  <div class="grid">
    <div class="col-4 field">
      <mbal-select
        label="{{ 'request.detailRequest.underwrite.decision' | translate }}"
        [options]="decisionDropList"
        formControlName="decision"
        optionLabel="name"
        optionValue="value"
      >
      </mbal-select>
    </div>
    <div class="col-8 field">
      <span class="p-float-label">
        <mbal-input-text
          formControlName="approverComment"
          [maxlength]="132"
          label="{{ 'request.detailRequest.underwrite.reason' | translate }}"
        ></mbal-input-text>
      </span>
    </div>
  </div>
  <div class="flex flex-row-reverse card-container align-items-center">
    <button (click)="process()" *ngIf="showBtnApproved" pButton>Approve</button>
  </div>
</p-card>
