<div class="p-dialog-header px-0">
  <span class="p-dialog-title">{{ (title || '') | translate }}</span>
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="grid p-fluid p-dialog-body mt-2">
  <ng-container *ngIf="title !== 'BUSINESS_APPROVE.TITLE_UPDATE_STEP'; else step">
    <div [formGroup]="form" class="col-6">
      <mbal-input-text
        [uppercase]="true"
        formControlName="code"
        label="{{ 'BUSINESS_APPROVE.CODE' | translate }}"
      ></mbal-input-text>
    </div>

    <div [formGroup]="form" class="col-6">
      <mbal-input-text formControlName="name" label="{{ 'BUSINESS_APPROVE.NAME' | translate }}"></mbal-input-text>
    </div>
    <div [formGroup]="form" class="col-12">
      <mbal-input-textarea
        [rows]="2"
        formControlName="description"
        label="{{ 'BUSINESS_APPROVE.DESC' | translate }}"
      ></mbal-input-textarea>
    </div>
  </ng-container>
  <ng-template #step>
    <div [formGroup]="formStep" class="col-6">
      <mbal-input-number
        formControlName="step"
        label="Step"
      ></mbal-input-number>
    </div>

    <div [formGroup]="formStep" class="col-6">
      <mbal-select
        [options]="listRole"
        formControlName="roleCode"
        label="{{ 'BUSINESS_APPROVE.ROLE' | translate }}"
      ></mbal-select>
    </div>
    <div [formGroup]="formStep" class="col-12">
      <mbal-input-textarea
        [rows]="2"
        formControlName="description"
        label="{{ 'BUSINESS_APPROVE.DESC' | translate }}"
      ></mbal-input-textarea>
    </div>
    <div class="col-12">
      <button (click)="addStep()" label="Add" pButton style="width: auto"></button>
    </div>
    <div class="col-12">
      <p-table [value]="listStep" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 60px">Step</th>
            <th scope="col">{{ 'BUSINESS_APPROVE.ROLE_CODE' | translate }}</th>
            <th scope="col">{{ 'BUSINESS_APPROVE.ROLE_NAME' | translate }}</th>
            <th scope="col">{{ 'BUSINESS_APPROVE.DESC' | translate }}</th>
            <th alignFrozen="right" pFrozenColumn scope="col" style="width: 100px">
              {{ 'BUSINESS_APPROVE.ACTION' | translate }}
            </th>
          </tr>
        </ng-template>
        <ng-template let-index="rowIndex" let-item pTemplate="body">
          <tr>
            <td style="width: 60px">{{ item.step }}</td>
            <td>{{ item.roleCode }}</td>
            <td>{{ item.roleName }}</td>
            <td>{{ item.description }}</td>
            <td alignFrozen="right" pFrozenColumn style="width: 100px">
            <span (click)="deleteItem(index)" class="pointer">
              <em class="las la-trash-alt"></em>
            </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <br/>

    </div>
  </ng-template>

</div>
<div class="p-dialog-footer p-0 mt-3">
  <button (click)="save()" *ngIf="screenType !== 2" class="p-mr-2" icon="pi pi-check" label="Lưu" pButton></button>
  <button (click)="cancel()" class="p-button-danger" icon="pi pi-times" label="Đóng" pButton></button>
</div>
