.form-info {
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid #CED4DA;
}

:host {
  ::ng-deep {
    .p-accordion .p-accordion-tab {
      box-shadow: none;

      .p-accordion-header-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: #0b7cc3;
        font-weight: 500;
      }

      .p-accordion-toggle-icon {
        order: 0 !important;
        margin-left: unset !important;
      }
    }
  }
}
