<p-card *ngIf="form && [requestType.TYPE01, requestType.TYPE05].includes(itemRequest?.requestTypeCode)"
        styleClass="mt-3">
  <div class="flex align-content-start mb-5">
    <h4 class="title flex-auto m-0">{{ 'request.detailRequest.underwrite.result' | translate }}</h4>
    <ng-container *ngIf="requestType.TYPE01 === itemRequest?.requestTypeCode">
      <p-checkbox [(ngModel)]="itemOrigin.isRefused" [binary]="true" [readonly]="true" class="mr-5"
                  label="Refused" name="result-isRefused"></p-checkbox>
    </ng-container>
    <p-checkbox [(ngModel)]="itemOrigin.isPaymentRun" [binary]="true" [readonly]="true"
                label="Payment run" name="result-isPaymentRun"></p-checkbox>
  </div>
  <div [formGroup]="form" class="grid">
    <ng-container *ngIf="itemRequest?.requestTypeCode === requestType.TYPE01">
      <div class="col-3">
        <mbal-select
          [options]="approvedDropList"
          [readonly]="true"
          formControlName="reason"
          label="{{ 'request.detailRequest.underwrite.reason' | translate }}"
          optionLabel="name"
          optionValue="value"
        ></mbal-select>
      </div>
      <div class="col-3">
        <mbal-select
          [options]="subReasonDropList"
          [readonly]="true"
          formControlName="subReason"
          label="{{ 'request.detailRequest.underwrite.subReason' | translate }}"
          optionLabel="name"
          optionValue="value"
        ></mbal-select>
      </div>
      <div *ngIf="form.get('subReason')?.value === '910'" class="col-4">
        <mbal-input-text
          [readonly]="true"
          formControlName="otherReasonApprove"
          label="{{ 'request.detailRequest.underwrite.otherReason' | translate }}"
        ></mbal-input-text>
      </div>
      <div class="col-3">
        <mbal-select
          [filter]="true"
          [options]="listPostText"
          [readonly]="true"
          formControlName="postingText"
          label="Posting text"
          optionLabel="value"
          optionValue="value"
        ></mbal-select>
      </div>
    </ng-container>
  </div>
  <div class="form-info">
    <div class="mb-3">
      <label class="field-key mt-2 mb-5">Payment lot</label>
    </div>
    <p-table
      [resizableColumns]="true"
      [scrollable]="true"
      [value]="this.itemRequest?.selectedPaymentLotItemDTOS"
      scrollDirection="vertical"
      selectionMode="single"
    >
      <ng-container>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Selection value</th>
            <th class="text-table-th-custom" scope="col">Item</th>
            <th scope="col">Payment Amount</th>
            <th scope="col">Remaining Amount</th>
            <th class="text-table-th-custom" scope="col">Cocd</th>
            <th scope="col">Posting date</th>
            <th class="usage-text" scope="col">Usage text</th>
            <th scope="col">Valid to date</th>
            <th scope="col">Update status</th>
          </tr>
        </ng-template>
      </ng-container>
      <ng-template let-i="rowIndex" let-item pTemplate="body">
        <tr>
          <td>{{ item.paymentLot }}</td>
          <td class="text-table-th-custom">{{ item.item }}</td>
          <td>{{ item.paymentAmount | number: '1.0-2' }}</td>
          <td>{{ item.remainingAmount | number: '1.0-2' }}</td>
          <td class="text-table-th-custom">{{ item.compCode }}</td>
          <td>{{ item.postingDate }}</td>

          <td class="usage-text" pTooltip="{{ item.payerMemo }}">
            <p class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
              {{ item.payerMemo }}
            </p>
          </td>

          <td>{{ item.postingDate }}</td>
          <td>{{ item.lotUpdateStatus }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="flex mt-3">
    <div class="field-key">
      <label>{{ 'createRequest.requestCollection.refundAmount' | translate }}:</label>
    </div>
    <div class="pl-3 field-value">
      <span>{{ itemRequest?.paymentAmount | number: '1.0-0' }} VND</span>
    </div>
  </div>
</p-card>

<p-card *ngIf="itemRequest?.requestTypeCode === requestType.TYPE03" styleClass="mt-3">
  <div class="flex align-content-start">
    <h4 class="title flex-auto">{{ 'request.detailRequest.underwrite.result' | translate }}</h4>
    <p-checkbox [(ngModel)]="itemOrigin.reversed" [binary]="true" [readonly]="true" class="mr-5"
                label="Reversed" name="result-isReversed"></p-checkbox>
    <p-checkbox [(ngModel)]="itemOrigin.isPaymentRun" [binary]="true" [readonly]="true"
                label="Payment run" name="result-isPaymentRun"></p-checkbox>
  </div>
  <div class="grid">
    <div class="col-6">
      <div class="flex">
        <div>
          <label class="field-key block mb-2">{{ 'request.detailRequest.refund.paymentAmount' | translate }}</label>
          <label class="field-key block pl-3 mb-2">{{ 'request.detailRequest.underwrite.mainFee' | translate }}</label>
          <label class="field-key block pl-3 mb-2">{{ 'request.detailRequest.underwrite.riderFee' | translate }}</label>
          <label class="field-key block pl-3 mb-2">{{ 'request.detailRequest.underwrite.topUpFee' | translate }}</label>
          <label class="field-key block pl-3 ">{{ 'request.detailRequest.underwrite.overPayment' | translate }}</label>
        </div>
        <div class="pl-5">
          <span class="block field-value mb-2">{{ itemRequest?.paymentAmount | number: '1.0-0' }} VND</span>
          <span class="pl-3 block field-value mb-2">{{ itemRequest?.mainFee | number: '1.0-0' }} VND</span>
          <span class="pl-3 block field-value mb-2">{{ itemRequest?.riderFee | number: '1.0-0' }} VND</span>
          <span class="pl-3 block field-value mb-2">{{ itemRequest?.topUpFee | number: '1.0-0' }} VND</span>
          <span class="pl-3 block field-value">{{ itemRequest?.overPayment | number: '1.0-0' }} VND</span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="flex">
        <label class="field-key mb-2">{{ 'request.detailRequest.underwrite.finalAmount' | translate }}</label>
        <span [class]="
                itemRequest?.paymentAmount === +itemRequest?.finalDecision! ? 'isFinalDecisionBlue' : 'isFinalDecisionRed'
              " class="pl-5 field-value mb-2">{{ itemRequest?.finalDecision | number: '1.0-0' }} VND</span>
      </div>
      <div>
        <mbal-input-text
          [(ngModel)]="itemRequest!.paymentNote"
          [fieldForm]="false"
          [readonly]="true"
          label="{{ 'request.detailRequest.underwrite.note' | translate }}"
        ></mbal-input-text>
      </div>
    </div>
  </div>

</p-card>

<p-accordion styleClass="my-3">

  <p-accordionTab *ngFor="let item of itemRequest?.decisionList; let i = index"
                  header="{{ 'request.detailRequest.decisionHistory' | translate }}: {{ item.rejectDate | dateCus }} - {{ item.paymentNumber }}">

    <div class="grid">
      <mbal-select [(ngModel)]="item.decision" [options]="decisionDropList" [readonly]="true"
                   class="col-4"
                   label="{{ 'request.detailRequest.underwrite.decision' | translate }} "
                   name="{{'history-decision-' + i}}" optionLabel="name"
                   optionValue="value">
      </mbal-select>
    </div>
    <div class="grid" *ngIf="itemRequest?.requestTypeCode === requestType.TYPE03">
      <div class="col-4 reasonApproved">
        <mbal-select
          [options]="approvedDropList"
          [readonly]="true"
          name="{{'history-reason-' + i}}"
          [(ngModel)]="item.reason"
          label="{{ 'request.detailRequest.underwrite.reason' | translate }}"
          optionLabel="name"
          optionValue="value"
        ></mbal-select>
      </div>
      <div class="col-4 reasonApproved">
        <mbal-select
          [options]="subReasonDropList"
          [readonly]="true"
          name="{{'history-subReason-' + i}}"
          [(ngModel)]="item.subReason"
          label="{{ 'request.detailRequest.underwrite.subReason' | translate }}"
          optionLabel="name"
          optionValue="value"
        ></mbal-select>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="fPaymentMethod; context:{ item: item, index: i }"></ng-container>
    <div class="mt-3 flex">
      <div>
        <label class="field-key">{{ 'request.detailRequest.approve.approverReject' | translate }}:</label>
        <label class="field-value pl-3">{{ item.approverReject }}</label>
      </div>
      <div class="ml-7">
        <label class="field-key">{{ 'request.detailRequest.approve.reason' | translate }}:</label>
        <label class="field-value pl-3">{{ item.rejectReason }}</label>
      </div>
    </div>
  </p-accordionTab>
</p-accordion>

<app-refund-decision
  [additionalAttachmentsDropList]="additionalAttachmentsDropList"
  [approvedDropList]="approvedDropList"
  [authBankResDTOS]="authBankResDTOS"
  [bankDropList]="bankDropList"
  [bankResDTOList]="bankResDTOList"
  [decisionDropList]="decisionDropList"
  [form]="form"
  [itemRequest]="itemRequest"
  [listPostText]="listPostText"
  [pendingReasonDropList]="pendingReasonDropList"
  [rejectReasonDropList]="rejectReasonDropList"
  [subReasonDropList]="subReasonDropList"

></app-refund-decision>

<!-- Form PaymentMethod-->
<ng-template #fPaymentMethod let-index="index" let-item="item">
  <div class="grid mb-3">
    <label
      class="field-key"
    >{{ 'request.detailRequest.underwrite.paymentMethod' | translate }} <span class="text-red">*</span></label
    >
    <div class="p-field-radiobutton ml-4">
      <p-radioButton
        [(ngModel)]="item.paymentMethod"
        [disabled]="true"
        label="{{ 'request.detailRequest.underwrite.banking' | translate }}"
        name="{{'history-paymentMethod-' + index}}"
        value="Banking"
      ></p-radioButton>
    </div>
    <div class="p-field-radiobutton ml-5">
      <p-radioButton
        [(ngModel)]="item.paymentMethod"
        [disabled]="true"
        label="{{ 'request.detailRequest.underwrite.cash' | translate }}"
        name="{{'history-paymentMethod-' + index}}"
        value="Cash"
      ></p-radioButton>
    </div>
  </div>
  <ng-container *ngIf="item.paymentMethod === paymentMethod.Banking">
    <div class="grid form-info">
      <div class="col-4 pl-4">
        <mbal-input-text
          [(ngModel)]="item.refundBank"
          [readonly]="true"
          label="{{ 'request.detailRequest.underwrite.bankName' | translate }}"
          name="{{'history-refundBank-' + index}}"
        ></mbal-input-text>
      </div>

      <div class="col-4 pl-4">
        <mbal-input-text
          [(ngModel)]="item.refundBankAccount"
          [readonly]="true"
          class="p-inputtext-sm"
          label="{{ 'request.detailRequest.underwrite.bankAccount' | translate }}"
          name="{{'history-refundBankAccount-' + index}}"
        ></mbal-input-text>
      </div>
      <div class="col-4 pl-4">
        <mbal-input-text
          [(ngModel)]="item.refundBankAccountName"
          [readonly]="true"
          label="{{ 'request.detailRequest.underwrite.nameAccount' | translate }}"
          name="{{'history-refundBankAccountName-' + index}}"
        ></mbal-input-text>
      </div>
    </div>
  </ng-container>
  <div *ngIf="item.paymentMethod === paymentMethod.Cash" class="border my-3">
    <div class="grid form-info">
      <div class="col-4 pl-4">
        <mbal-input-text
          [(ngModel)]="item.refundCashFullName"
          [readonly]="true"
          label="{{ 'request.detailRequest.underwrite.fullName' | translate }}"
          name="{{'history-refundCashFullName-' + index}}"
        ></mbal-input-text>
      </div>
      <div class="col-4 pl-4">
        <mbal-input-text
          [(ngModel)]="item.refundCashBankName"
          [readonly]="true"
          class="p-inputtext-sm"
          label="{{ 'request.detailRequest.underwrite.bankName' | translate }}"
          name="{{'history-refundCashBankName-' + index}}"
        ></mbal-input-text>
      </div>

      <div class="col-4 pl-4">
        <mbal-input-text
          [(ngModel)]="item.refundCashBankBranch"
          [readonly]="true"
          label="{{ 'request.detailRequest.underwrite.branch' | translate }}"
          name="{{'history-refundCashBankBranch-' + index}}"
        ></mbal-input-text>
      </div>
      <div class="col-4 pl-4">
        <mbal-input-text
          [(ngModel)]="item.refundCashIdCardNum"
          [readonly]="true"
          label="{{ 'request.detailRequest.underwrite.idenityCardNumb' | translate }} "
          name="{{'history-refundCashIdCardNum-' + index}}"
        ></mbal-input-text>
      </div>

      <div class="col-4 pl-4">
        <mbal-input-text
          [(ngModel)]="item.refundCashInstitute"
          [readonly]="true"
          class="p-inputtext-sm infoBank"
          label="{{ 'request.detailRequest.underwrite.institute' | translate }}"
          name="{{'history-refundCashInstitute-' + index}}"
        ></mbal-input-text>
      </div>
      <div class="col-4 pl-4">
        <mbal-calendar
          [(ngModel)]="item.refundCashEntryDate"
          [readonly]="true"
          label="{{ 'request.detailRequest.underwrite.dateOfIssue' | translate }}"
          name="{{'history-refundCashEntryDate-' + index}}"
        ></mbal-calendar>
      </div>
    </div>
  </div>
</ng-template>
