<div class="relative">
  <p-tabView
    (activeIndexChange)="onChangeTabOrStep(true)"
    [(activeIndex)]="activeIndex"
  >
    <p-tabPanel header="{{ 'request.detailRequest.tabs.processing' | translate }}">
      <app-steps-process
        (changeStep)="onChangeTabOrStep()"
        [activeIndex]="activeIndexSteps"
        [itemRequest]="itemRequest"
        [steps]="items"
      ></app-steps-process>
      <app-collection-policy-info
        [activeIndexSteps]="activeIndexSteps"
        [decisions]="decisionContractStore"
        [itemRequest]="itemRequest"
        (reloadData)="refresh($event)"
      ></app-collection-policy-info>
      <app-refund *ngIf="activeIndexSteps === 2"
                  [itemRequest]="itemRequest"></app-refund>
    </p-tabPanel>
    <p-tabPanel [ngClass]="{ active: header === 'report' }"
                header="{{ 'request.detailRequest.tabs.internalProposal' | translate }}">
      <app-report #report1 [itemRequest]="itemRequest"></app-report>
    </p-tabPanel>
    <p-tabPanel *ngIf="listPendingHistory.length > 0"
                header="{{ 'request.detailRequest.tabs.pendingHistory' | translate }}">
      <app-pending-history-collection [itemRequest]="itemRequest"></app-pending-history-collection>
    </p-tabPanel>
    <p-tabPanel *ngIf="currUser?.roles?.includes(Roles.SYSTEM_ADMIN)" header="Diagram process">
      <app-diagram-bpmn [tabIndex]="activeIndex"></app-diagram-bpmn>
    </p-tabPanel>
  </p-tabView>

</div>
