<div class="card">
  <div class="grid">
    <div class="col-3">
      <mbal-input-text
        [(ngModel)]="params.requestId"
        (keyup.enter)="search(true)"
        label="{{ 'claimRequest.requestId' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-input-text
        [(ngModel)]="params.claimId"
        (keyup.enter)="search(true)"
        label="{{ 'claimRequest.claimId' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-select
        [(ngModel)]="params.typeRequest"
        [options]="listType"
        selectMode="multiple"
        [filter]="true"
        (keyup.enter)="search(true)"
        optionValue="value"
        label="{{ 'claimRequest.requestType' | translate }}"
      ></mbal-select>
    </div>
    <div class="col-3">
      <mbal-input-text
        [(ngModel)]="params.policyNumber"
        (keyup.enter)="search(true)"
        label="{{ 'claimRequest.policyNumber' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-calendar
        [(ngModel)]="params.fromDate"
        [maxDate]="params.toDate"
        [maxDateToday]="true"
        (keyup.enter)="search(true)"
        label="{{ 'claimRequest.fromDate' | translate }}"
      ></mbal-calendar>
    </div>
    <div class="col-3">
      <mbal-calendar
        [(ngModel)]="params.toDate"
        [maxDateToday]="true"
        [minDate]="params.fromDate"
        (keyup.enter)="search(true)"
        label="{{ 'claimRequest.toDate' | translate }}"
      ></mbal-calendar>
    </div>
    <div class="col-3">
      <mbal-select
        [(ngModel)]="params.requestSource"
        (keyup.enter)="search(true)"
        [options]="listSource"
        selectMode="multiple"
        [filter]="true"
        optionValue="value"
        label="{{ 'claimRequest.requestSource' | translate }}"
      ></mbal-select>
    </div>
  </div>

  <p-toolbar styleClass="px-0 flex justify-content-between">
    <div class="p-toolbar-group-left">
      <p-button
        (click)="search(true)"
        icon="pi pi-search"
        label="{{ 'request.requestList.btnSearch' | translate }}"
        styleClass="p-button-primary"
      >
      </p-button>
      <p-button (click)="onReset()" class="ml-3" icon="pi pi-replay" styleClass="p-button-primary"></p-button>
    </div>

    <div class="p-toolbar-group-right">
      <button
        (click)="assign()"
        *ngIf="showBtnAssign()"
        [disabled]="!selectedItem || selectedItem.length <= 0"
        icon="pi icon-assign-to-me"
        pButton
      ></button>
    </div>
  </p-toolbar>

  <p-table
    [(selection)]="selectedItem"
    [resizableColumns]="true"
    [selectionPageOnly]="true"
    [value]="dataTable.content"
    dataKey="requestId"
    responsiveLayout="scroll"
    selectionMode="checkbox"
  >
    <ng-container>
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th scope="col">{{ 'claimRequest.orderNo' | translate }}</th>
          <th scope="col">{{ 'claimRequest.requestId' | translate }}</th>
          <th scope="col">{{ 'claimRequest.claimId' | translate }}</th>
          <th scope="col">{{ 'claimRequest.requestType' | translate }}</th>
          <th scope="col">{{ 'claimRequest.policyNumber' | translate }}</th>
          <th scope="col">{{ 'claimRequest.createDate' | translate }}</th>
          <th scope="col">{{ 'claimRequest.requestSource' | translate }}</th>
          <th scope="col">{{ 'claimRequest.reasonRefer' | translate }}</th>
          <th scope="col">SLA</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item pTemplate="body">
        <tr (dblclick)="doDetail(item)" [pSelectableRow]="item">
          <td>
            <p-tableCheckbox (dblclick)="$event.stopPropagation()"
                             [value]="item"></p-tableCheckbox>
          </td>

          <td>{{ dataTable.currentPage * dataTable.size + i + 1 }}</td>
          <td>{{ item.requestId }}</td>
          <td>{{ item.claimId }}</td>
          <td>{{ item.typeRequest | MapTranslate: listType  }}</td>
          <td>{{ item.policyNumber }}</td>
          <td>{{ item.createdDate | dateCus }}</td>
          <td>{{ item.requestSource }}</td>
          <td>{{ item.reasonRefer }}</td>
          <td
            *ngIf="!!item.status; else noSLA"
            [class]="
              item.slaStepPercent > 100
                ? 'slaRed'
                : item.slaStepPercent <= 100 && item.slaStepPercent >= item.slaPercentWarning
                ? 'slaYellow'
                : 'slaGreen'
            "
          >
            <!--            {{  item.status-->
            <!--            | translate: { days: item.daySlaStep, hours: item.hoursSlaStep, minutes: item.minutesSlaStep } }}-->
          </td>
          <ng-template #noSLA>
            <td></td>
          </ng-template>
        </tr>
      </ng-template>
    </ng-container>
  </p-table>
  <div class="custom-paginator">
    <div class="absolute">
      {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
      {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
      {{ 'request.requestList.record' | translate }}.
    </div>
    <p-paginator
      (onPageChange)="pageChange($event)"
      [first]="dataTable.first"
      [rowsPerPageOptions]="[10, 20, 30]"
      [rows]="dataTable.size"
      [showCurrentPageReport]="true"
      [totalRecords]="dataTable.totalElements"
    >
    </p-paginator>
  </div>
</div>
