:host {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

:host {
  ::ng-deep {
    .p-treeselect .p-treeselect-label {
      padding: 0.85rem 1rem;
      transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s,
      background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    }
  }
}
