<div class="p-dialog-header px-0">
  <span class="p-dialog-title"
    >{{ 'screentype.' + screenType | translate }} {{ 'admin.function.' + title?.toLocaleLowerCase() | translate }}</span
  >
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="grid p-fluid p-dialog-body mt-2">
  <div [formGroup]="form" class="col-6">
    <mbal-treeselect
      [filter]="true"
      [options]="dataTree"
      [showClear]="true"
      formControlName="parent"
      label="{{ 'admin.function.parent' | translate }}"
      optionValue="id"
      scrollHeight="300px"
      treeFromRelation="parent"
      treeToRelation="id"
    ></mbal-treeselect>
  </div>

  <div [formGroup]="form" class="col-6">
    <mbal-input-text
      [uppercase]="true"
      formControlName="code"
      label="{{ 'admin.function.application' | translate }}"
    ></mbal-input-text>
  </div>
  <div [formGroup]="form" class="col-6">
    <mbal-input-text formControlName="name" label="{{ 'admin.function.functionName' | translate }}"></mbal-input-text>
  </div>
  <div [formGroup]="form" class="col-6">
    <mbal-input-number
      [max]="100"
      [min]="0"
      formControlName="order"
      label="{{ 'admin.function.numOrder' | translate }}"
    ></mbal-input-number>
  </div>
  <div [formGroup]="form" class="col-6">
    <mbal-input-text formControlName="iconUri" label="Icon"></mbal-input-text>
  </div>
  <div [formGroup]="form" class="col-6">
    <mbal-input-text formControlName="uri" label="Uri"></mbal-input-text>
  </div>
  <div [formGroup]="form" class="col-12">
    <mbal-select
      [filter]="true"
      [options]="state?.listScopes"
      formControlName="scope"
      label="{{ 'admin.function.action' | translate }}"
      optionValue="id"
      selectMode="multiple"
    ></mbal-select>
  </div>
  <div [formGroup]="form" class="col-12">
    <mbal-input-text
      formControlName="description"
      label="{{ 'admin.function.description' | translate }}"
    ></mbal-input-text>
  </div>

  <ng-container [formGroup]="form">
    <div class="col-11"></div>
    <div class="col-1">
      <button (click)="addApi()" icon="pi pi-plus" pButton></button>
    </div>
    <ng-container *ngFor="let getApiForm of getApis.controls; let i = index" formArrayName="api">
      <div class="col-12">
        <mbal-input-text
          (clickIconEvent)="deleteIndex(i)"
          [formControlName]="i"
          label="API"
          rightIcon="las la-trash-alt pointer"
        ></mbal-input-text>
      </div>
    </ng-container>
  </ng-container>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <button
    (click)="save()"
    *ngIf="screenType !== 2"
    class="p-mr-2"
    icon="pi pi-check"
    label="{{ 'action.save' | translate }}"
    pButton
  ></button>
  <button
    (click)="cancel()"
    class="p-button-secondary"
    icon="pi pi-times"
    label="{{ 'action.close' | translate }}"
    pButton
  ></button>
</div>
