<div *ngIf="showDashboard">
  <div class="container flex justify-content-between">
    <p-selectButton styleClass="not-default_select-button "
                    [class.alone-selection]="options.length === 1"
                    [options]="options"
                    [(ngModel)]="selectedDashboardType"
                    (ngModelChange)="onSelectedType()"
                    [optionValue]="'value'"
                    optionLabel="label">
    </p-selectButton>
    <dashboard-select [(selectedMonth)]="selectedMonth"
                      [(selectedYear)]="selectedYear"
                      [(selectedUsers)]="selectedUsers"
                      [Months]="months"
                      [Years]="years"
                      [Users]="users"
                      (selectedUsersChange)="onChangeSelectedUsers($event)"
                      (selectedYearChange)="onChangeSelectedYear($event)"
                      (selectedMonthChange)="onChangeSelectedMonth()"
    ></dashboard-select>
  </div>
  <div class="dashboard-container" id="dashboardView">
    <app-overview [canViewFullCard]="canViewFullCardType"
                  (redirect)="redirectToRequestScreenWithParams($event)"></app-overview>
    <div class="mb-3">
      <app-request-chart></app-request-chart>
    </div>
    <div class="grid mb-3">
      <div class="col-12 pb-0 lg:col-4">
        <app-decision-chart (redirect)="redirectToRequestScreenWithParams($event)"></app-decision-chart>
      </div>
      <div class="col-12 pb-0 lg:col-4">
        <app-sla-chart (redirect)="redirectToRequestScreenWithParams($event)"></app-sla-chart>
      </div>
      <div *ngIf="isShowUsersChart" class="lg:col-4 col-12 pb-0">
        <app-user-chart></app-user-chart>
      </div>
    </div>
  </div>
</div>
