@import "variable";

:host(::ng-deep) {
  .card {
    padding: 16px;
  }

  .mb-3 {
    margin-bottom: 16px;
  }

  .p-button {
    //border-radius: $border-radius;
  }

  .card_title {
    font-size: 28px;
    font-weight: 600;
  }

  .default-height-chart {
    height: 70vh;
  }

  p-dialog .p-dialog-content {
    border-radius: $border-radius;
  }

}

.dashboard-container {
  //background-color: #eceff4;
  padding: 1rem;
  margin: -1rem;
}
