<div class="card">
  <div class="mt-3">
    <p-table [autoLayout]="true"
             [resizableColumns]="true"
             [value]="dataDetail" responsiveLayout="scroll" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px;">{{ 'config.assignment.typeCode' | translate }}</th>
          <th>{{ 'config.assignment.requestType' | translate }}</th>
          <th>{{ 'config.assignment.department' | translate }}</th>
          <th>{{ 'config.assignment.role' | translate }}</th>
          <th>{{ 'config.assignment.user' | translate }}</th>
          <th>{{ 'config.assignment.roleForward' | translate }}</th>
          <th>{{ 'config.assignment.typeShare' | translate }}</th>
          <th>{{ 'config.assignment.updateDate' | translate }}</th>
          <th style="width: 50px;"></th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item pTemplate="body">
        <tr>
          <td>{{ item.requestType }}</td>
          <td [pTooltip]="('requestType.' + item.requestType) | translate ">
            <p class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
              {{  ('requestType.' + item.requestType) | translate }}
            </p>
          </td>
          <td>{{ item.department }}</td>
          <td>{{ item.assignRole }}</td>
          <td>{{ item.listUser }}</td>
          <td [pTooltip]="item.forwardRole">
            <p class="w-14rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
              {{ item.forwardRole }}
            </p>
          </td>
          <td>{{ item.assignType | MapTranslate: typeRequest }}</td>
          <td>{{ item.lastUpdatedDate | date: 'dd/MM/YYYY h:mm:ss a' }}</td>
          <td>
            <button (click)="editRequest(item)" pButton pRipple type="button"
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-text"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
