<div class="relative col-12 mt-3">
  <div class="accept_policy__container p-float-label p-inputtext p-inputtext-sm">
    <div class="grid ">
      <div class="col-12 grid" [formGroup]="form">
        <div class="lg:col-3 md:col-6 col-12">
          <mbal-input-number [fieldForm]="false"
                             (keydown.enter)="search(true)"
                             [label]="'Payment Amount'"
                             [min]="0"
                             formControlName="paymentAmount"
          ></mbal-input-number>
        </div>
        <div class="lg:col-3 md:col-6 col-12">
          <mbal-input-text [fieldForm]="false"
                           (keydown.enter)="search(true)"
                           [label]="'Usage Text'"
                           formControlName="usageText"
          ></mbal-input-text>
        </div>
        <div class="lg:col-3 md:col-6 col-12">
          <mbal-calendar [fieldForm]="false"
                         [label]="'From Date'"
                         (keydown.enter)="search(true)"
                         formControlName="fromDate"
                         [maxDate]="maxSelectFromDate"
          ></mbal-calendar>
        </div>
        <div class="lg:col-3 md:col-6 col-12">
          <mbal-calendar [fieldForm]="false"
                         [label]="'To Date'"
                         (keydown.enter)="search(true)"
                         formControlName="toDate"
                         [minDate]="minSelectToDate"
          ></mbal-calendar>
        </div>
      </div>
      <div class="col-12 text-right">
        <button pButton class="p-button-primary"
                (click)="search(true)">
          {{'showlog.btnSearch' | translate}}
        </button>
        <button pButton class="p-button-primary"
                [disabled]="!lotSelection.length || (disableAction$ | async)"
                (click)="confirmItem()">
          {{'request.detailRequest.premiumAdjustment.confirm-items'| translate}}
        </button>
        <button pButton class="p-button-primary"
                [disabled]="!lotSelection.length || (disableAction$ | async)"
                (click)="createPaymentLot()">
          {{'request.detailRequest.premiumAdjustment.createPaymentLot'| translate}}
        </button>
      </div>
    </div>
    <div class="table mt-3">
      <app-account-suspended-table
        [(selection)]="lotSelection"
        [dataTable]="dataTableAccountSuspended"
        (onLazyLoad)="pageChange($event)"
        [disableCheckBox]="!!(disableAction$ | async)"
      >
      </app-account-suspended-table>
    </div>
    <div class="text-black-alpha-90 font-medium py-4 ">Payment lot</div>
    <div class="table">
      <p-table [value]="paymentLotData">
        <ng-template pTemplate="header">
          <tr>
            <th>Payment Lot</th>
            <th>Item</th>
            <th>Posting Date</th>
            <th>Usage text</th>
            <th>Payment Amount</th>
            <th>Remaining Amount</th>
            <th>Allocated Policy</th>
            <th>Status</th>
            <th>Old PL</th>
            <th>Item Old PL</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowValue let-index="rowIndex">
          <tr>
            <td>{{rowValue.paymentLot}}</td>
            <td>{{rowValue.item}}</td>
            <td>{{rowValue.postingDate | MapSAPDate}}</td>
            <td [pTooltip]="rowValue.usageText" tooltipPosition="right">{{rowValue.usageText}}</td>
            <td>{{rowValue.paymentAmount ? (rowValue.paymentAmount | currency: 'VND' : '': '') : ''}}</td>
            <td>{{rowValue.remainingAmount ? (rowValue.remainingAmount | currency: 'VND' : '': '') : ''}}</td>
            <td>{{rowValue.policyAllocated}}</td>
            <td>{{rowValue.status}}</td>
            <td>{{rowValue.oldPaymentLot}}</td>
            <td>{{rowValue.oldItem}}</td>
            <td>
              <button pButton
                      class="p-button-primary p-button-rounded p-button-text p-button-icon-only"
                      [disabled]="disableAction$ | async"
                      (click)="removeItem(index)">
                <i class="pi pi-trash text-red"></i>
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [colSpan]="11" class="text-center">
              {{'request.detailRequest.premiumAdjustment.no-item'| translate}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-12 text-right mt-3">
      <button pButton class="p-button-primary"
              [disabled]="!!(disableAllocateButton$ | async) || !this.paymentLotData.length"
              (click)="allocate()">Allocate</button>
    </div>
    <label class="bg-white px-1 top-0">{{'request.detailRequest.premiumAdjustment.payment-lot-account-suspended'| translate}}</label>
  </div>
</div>


