<div class="pl-2">
  <h4 class="title title-checkList">{{"request.detailRequest.premiumAdjustment.checkList" | translate}}</h4>
</div>
<div class="grid px-5 flex-wrap">
  <div class="field-radiobutton col">
    <p-checkbox
      [(ngModel)]="premiumAdjustmentForm"
      [binary]="true"
      [disabled]="disabled"
      (ngModelChange)="onChangeCheckBox()"
    ></p-checkbox>
    <label>{{"request.detailRequest.premiumAdjustment.check.premium" | translate}}</label>
  </div>
  <div class="field-radiobutton col">
    <p-checkbox
      [(ngModel)]="paymentAttachment"
      [binary]="true"
      [trueValue]="true"
      [disabled]="disabled"
      [falseValue]="false"
      (ngModelChange)="onChangeCheckBox()"
    ></p-checkbox>
    <label>{{"request.detailRequest.premiumAdjustment.check.payment" | translate}}</label>
  </div>
  <div class="field-radiobutton col">
    <p-checkbox
      [(ngModel)]="paymentAttachmentAuthorization"
      [binary]="true"
      [trueValue]="true"
      [disabled]="disabled"
      [falseValue]="false"
      (ngModelChange)="onChangeCheckBox()"
    ></p-checkbox>
    <label>{{"request.detailRequest.premiumAdjustment.check.authorization" | translate}}</label>
  </div>
</div>
