.overview-item_container {
  $color-green_SLA: #2DC714;
  $color-red_SLA: #F40C0C;
  padding: 8px;
  background: #FFFFFF;
  border-radius: 4px;
  color: #4c566a;
  height: inherit;


  .overview-item_left {
    height: 100%;
  }

  .overview-item_title {
    min-height: 48px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  .overview-item_value {
    font-weight: 700;
    font-size: 38px;
    padding: 12px;
  }

  .overview-item_des {
    font-size: 14px;
    color: gray;
    font-weight: 500;
    line-height: 20px;
    min-height: 20px;

    .value-present {
      color: $color-red_SLA;

      &.positive {
        color: $color-green_SLA;
      }

      &.unknown {
        color: gray;
      }
    }
  }

  .overview-icon {
    position: absolute;
    top: 18%;
    right: 7%;
  }
}
