<div class="">
  <div class="row overForm">
    <div class="col-md">
      <div class="login">
        <div class="container">
          <div class="text-center">
            <img src="assets/Image/MBAL_LOGO_colour%20RGB%206%20April%202.png" >
          </div>
          <div class="wrapperForm">
            <div class="hello">Chào mừng bạn</div>
            <div class="welcomeTo">đã đến với BPM</div>
            <div class="formLogin">
              <div class="usernameInput">
                <div>
                  <label class="titleInput">Tên đăng nhập</label>
                </div>
                <input placeholder="Nhập email đăng nhập của bạn" class="input" type="text" aria-describedby="username1-help"
                       pInputText  /><img class="icon" src="assets/Image/Icon.png">
              </div>
              <div class="passwordInput">
                <div>
                  <label class="titleInput">Mật khẩu</label>
                </div>
                <input placeholder="Nhập mật khẩu của bạn" class="input" type="password" aria-describedby="username1-help"
                       pInputText  /><img class="icon" src="assets/Image/passIcon.png">
              </div>
              <div>
                <button pButton class="btn-primary btnLogin">Đăng nhập</button>
              </div>
              <div class="d-flex justify-content-between">
                <a href="">
                  Hỗ trợ tài khoản
                </a>
                <a href="">
                  Hướng dẫn
                </a>
              </div>
              <div class="endText">
                BPM version 1.0 - Copy right 2023 by MBBank
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">

    </div>
  </div>
</div>
