html,
body{
}

.overForm{
  font-family: Roboto, serif;
  overflow: hidden;
  background-image: url("/assets/Image/bg_login.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 100vh;
  width: 100%;
  .login{
    width: 50%;
    position: absolute;
    height: 100vh;
    padding-top: 8%;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .wrapperForm{
    width: 100%;
    padding: 0 25%;
    .welcomeTo{
      padding-bottom: 30px;
      font-weight: 500;
      font-size: 28px;
      line-height: 30px;
    }
    .hello{
      padding: 30px 0 10px 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
    }
    .usernameInput{
      border-bottom: #F0F0F3 solid 1px;
      position: relative;
    }
    .passwordInput{
      position: relative;
      border-bottom: #F0F0F3 solid 1px;
      padding: 10px 0 0 0;
    }
    .titleInput{
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #2B2D2F;
    }
    .input{
      font-size: 18px;
      width: 100%;
      border: unset;
      border-radius: unset;
      background-color: unset;
      padding-right: 50px;
      &::placeholder{
        color: #ADB5BD;
      }
      &:focus{
        border-radius: 8px;
      }
    }
    .icon{
      position: absolute;
      right: 15px;
      bottom: 16px;
    }
    .btnLogin{
      margin-top: 50px;
      justify-content: center;
      width: 100%;
      border-radius: 8px;
      height: 48px;
    }
    a{
      padding: 20px 0 36px 0;
      text-decoration: unset;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
    .endText{
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
      color: #82888E;
    }
  }
}
