@import 'variable';

.p-field-checkbox {
  margin-top: 20px;
}

.radio {
  padding: 0.5rem;
}

.field-float {
  float: right;
  height: 100%;
}

.font-view {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #565a5e;
}
.form-view {
  height: 100%;
}
.maxfileName {
  white-space: nowrap;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.file-name {
  padding: 8px;
  background: $secondary1;
  border-radius: 6px;
  color: $primary1;
  font-weight: 700;
  .pi-times {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    font-size: 8px;
  }
}

:host {
  ::ng-deep {
    .p-button.p-fileupload-choose {
      position: relative;
      overflow: hidden;
      color: $primary1;
    }
    .label-input {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #000000;
    }

    .p-upload {
      .p-button-icon-only {
        width: 20px;
        margin-top: 2px;
        height: 20px;
        border-radius: 100%;
        min-width: auto;
      }
    }
    .p-fileupload {
      &-choose {
        background: $secondary1 !important;
        color: $primary1;
      }
      &-filename {
        font-size: 12px;
        width: 100%;
      }
      &-buttonbar {
        padding: 0;
      }
      &-content {
        padding: 1rem 1rem;
      }
    }

    .p-toolbar {
      padding: 0;
    }
    .card {
      border-radius: 4px;
      background: #ffffff;
      padding: 18px;
      margin-bottom: 0rem;
    }
  }
}
