<div class="grid">
  <div *ngIf="itemType !== '06'" [class]="show() ? 'col-3' : 'col-12'">
    <div class="card form-view">
      <h3 class="title">{{ 'createRequest.requestRefund.title' | translate }}</h3>
      <div class="radio">
        <div class="field-radiobutton font-view">
          <p-radioButton
            (onClick)="onChangeType()"
            [(ngModel)]="itemType"
            [value]="requestType.TYPE07"
            inputId="requestType_07"
            label="{{ 'requestType.07' | translate }}"
          ></p-radioButton>
        </div>
        <!--        <div class="field-radiobutton font-view">-->
        <!--          <p-radioButton-->
        <!--            (onClick)="onChangeType()"-->
        <!--            [(ngModel)]="itemType"-->
        <!--            inputId="requestType_08"-->
        <!--            label="{{ 'requestType.08' | translate }}"-->
        <!--            value="08"-->
        <!--          ></p-radioButton>-->
        <!--        </div>-->
        <div class="field-radiobutton font-view">
          <p-radioButton
            (onClick)="onChangeType()"
            [(ngModel)]="itemType"
            [value]="requestType.TYPE09"
            inputId="requestType_09"
            label="{{ 'requestType.09' | translate }}"
          ></p-radioButton>
        </div>

        <div *ngIf="!isCSS" class="field-radiobutton font-view">
          <p-radioButton
            (onClick)="onChangeType()"
            [(ngModel)]="itemType"
            [value]="requestType.TYPE10"
            inputId="requestType_10"
            label="{{ 'requestType.10' | translate }}"
          ></p-radioButton>
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="itemType !== ''" [class]="show() ? 'col-9': 'col-12'" class="form-view">
    <app-config-insurance-fee
      *ngIf="itemType === requestType.TYPE07 || (itemType === requestType.TYPE06 && itemRequest?.step1?.typeCode === requestType.TYPE07)"
      [itemRequest]="itemRequest" [itemType]="itemType"></app-config-insurance-fee>
    <!--    <app-fee-refund *ngIf="itemType === '08' || (itemType === '06' && itemRequest?.typeCode === '08')"-->
    <!--                    [itemRequest]="itemRequest"-->
    <!--                    [itemType]="itemType"></app-fee-refund>-->
    <app-submit-pay-license
      *ngIf="itemType === requestType.TYPE09 || (itemType === requestType.TYPE06 && itemRequest?.step1?.typeCode === requestType.TYPE09)"
      [itemRequest]="itemRequest" [itemType]="itemType"></app-submit-pay-license>
    <app-contract-restore *ngIf="itemType === requestType.TYPE10" [itemType]="itemType"></app-contract-restore>
  </div>
</div>
