<section class="card mb-3">
  <h5 class="claim__header mb-0 uppercase">{{'request.detailRequest.claim-tpa.need-to-process'|translate}}</h5>
  <div class="claim__create-task-body">
    <div class="mt-3 ">
      <p-accordion [activeIndex]="activeIndex">
        <ng-container *ngFor="let task of taskNeedToProcess; let index = index; trackBy: trackByTabs">
          <p-accordionTab>
            <ng-template pTemplate="header">
              <h5 class="title uppercase font-bold m-0">{{ task.type | ClaimType | translate }}
                <span *ngIf="task.type !== '14'" class="px-3 font-normal">{{task.code}}</span></h5>
              <img class="pr-6 ml-auto" src="{{ task.status | TaskStatus}}" alt="">
            </ng-template>
            <app-task-info-view
              [mode]="'RE_UNDERWRITING'"
              [displayCodeAfterSubmit]="false"
              [info]="task">
            </app-task-info-view>
          </p-accordionTab>
        </ng-container>
      </p-accordion>
    </div>
  </div>
</section>
