@import "variable";

.default-height-chart {
  height: 70vh;
}

.card_title {
  font-size: 28px;
  font-weight: 600;
}

.legend-container {
  padding-left: 4%;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px 20px;
  margin-bottom: 1rem;

  .legend-item {
    display: flex;
    align-items: center;
    &.disabled {
      .legend-item-color{
        background-color: #cfcfcf !important;
      }
      color: #cfcfcf
    }
    .legend-item-color {
      height: 13px;
      margin-right: 6px;
      font-weight: 400;
      min-width: 30px;
      border-radius: 4px;
    }
  }
}

@media (max-width: $xl) {
  .legend-container {
    grid-template-columns: auto auto auto auto;
  }
}
@media (max-width: $lg) {
  .legend-container{
    grid-template-columns: auto auto;
  }
;
}

