<div class="card">
  <div class="card_title"> {{'dashboard.request'| translate}}</div>
  <div class="legend-container mt-4">
    <ng-container *ngFor="let chartItem of listChartSeriesConfig, index as index">
      <div class="ml-5 font-bold ">{{chartItem.total}}</div>
      <div class="cursor-pointer legend-item"
           [style.font-size]="fontSize + 'px'"
           (mouseover)="onMouseOver(index)"
           (click)="onToggle(chartItem.name, index)"
           (mouseleave)="onMouseLeave()"
           [class.disabled]="chartItem.legendSelected">
        <div class="legend-item-color"  [style.background-color]="chartItem.color" ></div>
        {{chartItem.name}}
      </div>
    </ng-container>
  </div>
  <div class="default-height-chart" echarts [options]="chartOpts"  (chartInit)="onChartInit($event)"></div>
</div>
