<claim-section-template
  mode="info"
  header="request.detailRequest.claim-tpa.processing-request"
  [subHeader]="currentRequestResolution | MatchPipe: claimResolution"
>
  <ng-container *ngIf="((claimProcessResponse$ | async) ?? []) as ClaimProcessResponse">
    <ng-container *ngFor="let item of ClaimProcessResponse, let index=index">
      <ng-container [ngSwitch]="item.decisionCode">
        <ng-container *ngSwitchCase="'001'">
          <ng-template
            [ngTemplateOutlet]="TPAPending"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'002'">
          <ng-template
            [ngTemplateOutlet]="customerAttachment"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'003'">
          <ng-template
            [ngTemplateOutlet]="TPARefer"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'004'">
          <ng-template
            [ngTemplateOutlet]="MBALPending"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'005'">
          <ng-template
            [ngTemplateOutlet]="TPASubmitPending"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'006'">
          <ng-template
            [ngTemplateOutlet]="MBALReject"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'007'">
          <ng-template
            [ngTemplateOutlet]="MBALTask"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'008'">
          <ng-template
            [ngTemplateOutlet]="MBALTask"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'009'">
          <ng-template
            [ngTemplateOutlet]="MBALTask"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'010'">
          <ng-template
            [ngTemplateOutlet]="MbalDecision"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'011'">
          <ng-template
            [ngTemplateOutlet]="TPAReject"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'012'">
          <ng-template
            [ngTemplateOutlet]="TPADecision"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'013'">
          <ng-template
            [ngTemplateOutlet]="TPAPaid"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'014'">
          <ng-template
            [ngTemplateOutlet]="PendingInactive"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'015'">
          <ng-template
            [ngTemplateOutlet]="CloseRequest"
            [ngTemplateOutletContext]="{$implicit: item, isExpanded: index === (ClaimProcessResponse.length -1)  }"
          ></ng-template>
        </ng-container>

      </ng-container>
    </ng-container>

  </ng-container>

</claim-section-template>

<ng-template #attachments let-list>
  <div class="claim__grid-item-title">{{ 'request.detailRequest.claim-tpa.attachment' | translate }}</div>
  <div class="claim__grid-item-body span3">
    <ul class="claim__uploaded-container">
      <ng-template ngFor [ngForOf]="list" let-item>
        <li class="claim__uploaded-item">
          <a class="claim__uploaded-item-title"
             href="javascript:void(0)"
             (click)="downloadFile($event,item)">
            {{item.fileName + item.fileType}}
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</ng-template>

<!--001-->
<!--[decision_type_tpa_pending]-->
<!--TPA yêu cầu nộp bổ sung thông tin-->
<ng-template let-item let-expanded="isExpanded" #TPAPending>

  <claim-section-template
    mode="sub"
    header="TPA-{{item.createdDate | dateCus: DATE_FORMAT}}"
    styleClass="mt-3"
    subHeader="TPA: {{(item?.sourceProcess ?? '')}}">

    <claim-section-template
      [canExpand]="true"
      [isExpanded]="expanded"
      [mode]="'normal'"
      header="request.detailRequest.claim-tpa.inactive-information"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.decision' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.decisionName"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.action-date' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.decision-content' |translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.content"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.note' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.note"></value-display>
        </div>

      </div>
    </claim-section-template>
  </claim-section-template>

</ng-template>

<!--002-->
<!--[decision_type_cust_submit_pending]-->
<!--Khách hàng nôp bổ sung thông tin yêu cầu-->
<ng-template let-item  let-expanded="isExpanded" #customerAttachment>

  <claim-section-template
    mode="sub"
    header="CUSTOMER-{{item.createdDate | dateCus: DATE_FORMAT}}"
    styleClass="mt-3">

    <claim-section-template
      [canExpand]="true"
      [isExpanded]="expanded"
      [mode]="'normal'"
      header="request.detailRequest.claim-tpa.addition-information"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.content' |translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.content"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.date-action' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

        <ng-template [ngTemplateOutlet]="attachments" [ngTemplateOutletContext]="{$implicit: item.fileCaseDTOS}"></ng-template>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.note' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.note"></value-display>
        </div>

      </div>
    </claim-section-template>
  </claim-section-template>

</ng-template>

<!--003-->
<!--[decision_type_tpa_refer]-->
<!--TPA refer yêu cầu sang MBAL-->
<ng-template let-item  let-expanded="isExpanded" #TPARefer>

  <claim-section-template
    mode="sub"
    header="TPA-{{item.createdDate | dateCus: DATE_FORMAT}}"
    [subHeader]="'TPA: ' + (item?.sourceProcess ?? '')"
    styleClass="mt-3">

    <claim-section-template
      [canExpand]="true"
      [mode]="'normal'"
      [isExpanded]="expanded"
      header="request.detailRequest.claim-tpa.refer-information"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.content' |translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.content"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.evaluateClaimAmount' |translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]=" ((item.planAmount | currency: 'VND': '': '') + ' VND')" ></value-display>
        </div>


        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.date-action' | translate}}</div>
        <div class="claim__grid-item-body span3 uppercase">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.reason-refer' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.reasonRefer"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'createClaim.benefit' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <app-benefit-checkbox
                  [readonly]="true"
                  [showMoney]="true"
                  [currency]="'VND'"
                  [benefits]="benefits"
                  [ngModel]="item?.benefitClaimHistoryEntities"
                  moneyOptions="amountBenefit"
                  codeOptions="codeBenefit"
          >
          </app-benefit-checkbox>
        </div>



        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.note' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.note"></value-display>
        </div>

      </div>
    </claim-section-template>
  </claim-section-template>

</ng-template>

<!--004-->
<!--[decision_type_mbal_pending]-->
<!--MBAL yêu cầu bổ sung thông tin-->
<ng-template #MBALPending  let-expanded="isExpanded" let-item>
  <claim-section-template
    mode="sub"
    header="MBAL-{{item.createdDate | dateCus: DATE_FORMAT}}"
    styleClass="mt-3"
    subHeader="{{(item?.sourceProcess ?? '')}}">

    <claim-section-template
      [canExpand]="true"
      [mode]="'normal'"
      [isExpanded]="expanded"
      header="request.detailRequest.claim-tpa.pending-information"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.decision' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.decisionName"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.note' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.content"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.action-date' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

      </div>
    </claim-section-template>
  </claim-section-template>
</ng-template>

<!--005-->
<!--[decision_type_tpa_submit_pending]-->
<!--TPA nộp bổ sung thông tin yêu cầu-->
<ng-template let-item #TPASubmitPending  let-expanded="isExpanded">

  <claim-section-template
    mode="sub"
    header="TPA-{{item.createdDate | dateCus: DATE_FORMAT}}"
    styleClass="mt-3"
    subHeader="TPA: {{(item?.sourceProcess ?? '')}}">

    <claim-section-template
      [canExpand]="true"
      [isExpanded]="expanded"
      [mode]="'normal'"
      header="request.detailRequest.claim-tpa.addition-information"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">
        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.content' |translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.content"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.date-action' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

        <ng-template [ngTemplateOutlet]="attachments" [ngTemplateOutletContext]="{$implicit: item.fileCaseDTOS}"></ng-template>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.note' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.note"></value-display>
        </div>
      </div>
    </claim-section-template>
  </claim-section-template>

</ng-template>

<!--006-->
<!--[decision_type_mbal_reject]-->
<!--MBAL quyết định từ chối -->
<ng-template let-item #MBALReject  let-expanded="isExpanded">
  <claim-section-template
    mode="sub"
    header="MBAL-{{item.createdDate | dateCus: DATE_FORMAT}}"
    styleClass="mt-3"
    [subHeader]="'OP-CLAIM-ACCESSOR'">

    <claim-section-template
      [canExpand]="true"
      [mode]="'normal'"
      [isExpanded]="expanded"
      header="request.detailRequest.claim-tpa.claim-accessor-decision"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">
        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.decision' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.decisionName"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.reason' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="'Thiếu'"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.date-action' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT "></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

      </div>
    </claim-section-template>
  </claim-section-template>
</ng-template>


<!--007-->
<!--[decision_type_mbal_investigating]-->
<!--MBAL tạo task điều tra-->
<!--008-->
<!--[decision_type_mbal_reunderwriting]-->
<!--MBAL tạo task tái thẩm định-->
<!--009-->
<!--[decision_type_mbal_reinsurance]-->
<!--MBAL tạo task tái bảo hiểm-->
<ng-template #MBALTask let-item  let-expanded="isExpanded">
  <claim-section-template
    mode="sub"
    header="MBAL-{{item.createdDate | dateCus: DATE_FORMAT}}"
    styleClass="mt-3">
    <claim-section-template
      [canExpand]="true"
      [isExpanded]="expanded"
      [mode]="'normal'"
      header="request.detailRequest.claim-tpa.investigation-task"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.content' |translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.content"></value-display>
        </div>

        <ng-template [ngTemplateOutlet]="attachments" [ngTemplateOutletContext]="{$implicit: item.fileCaseDTOS}"></ng-template>


        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.date-action' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

      </div>
    </claim-section-template>
  </claim-section-template>
</ng-template>

<!--010-->
<!--[decision_type_mbal_decision]-->
<!--MBAL quyết định yêu cầu ( bao gồm phần đã thẩm định theo luồng sync HSCR22 papaya)-->
<ng-template #MbalDecision let-item  let-expanded="isExpanded">
  <claim-section-template
    mode="sub"
    header="MBAL-{{item.createdDate | dateCus: DATE_FORMAT}}"
    subHeader="OP-CLAIM-ACCESSOR"
    styleClass="mt-3">
    <claim-section-template
      [canExpand]="true"
      [mode]="'normal'"
      [isExpanded]="expanded"
      header="request.detailRequest.claim-tpa.claim-accessor-decision"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">
        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.decision' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.decisionName"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.benefit' |  translate}}</div>
        <div class="claim__grid-item-body span3">
            <app-benefit-checkbox
              [readonly]="true"
              [showMoney]="true"
              [currency]="'VND'"
              [benefits]="benefits"
              [ngModel]="item?.benefitClaimHistoryEntities"
              moneyOptions="amountBenefit"
              codeOptions="codeBenefit"
            >
            </app-benefit-checkbox>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.adjust' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="'Thiếu'"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.date-action' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

      </div>
    </claim-section-template>
  </claim-section-template>
</ng-template>

<!--011-->
<!--[decision_type_tpa_reject]-->
<!--TPA từ chối yêu cầu-->
<ng-template #TPAReject let-item  let-expanded="isExpanded">
  <claim-section-template
    mode="sub"
    header="TPA-{{item.createdDate | dateCus: DATE_FORMAT}}"
    styleClass="mt-3"
    subHeader="TPA: {{(item?.sourceProcess ?? '')}}">

    <claim-section-template
      [canExpand]="true"
      [mode]="'normal'"
      [isExpanded]="expanded"
      header="request.detailRequest.claim-tpa.pending-information"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.decision' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.decisionName"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.content' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.content"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.action-date' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.note' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.note"></value-display>
        </div>

      </div>
    </claim-section-template>
  </claim-section-template>
</ng-template>

<!--012-->
<!--[decision_type_tpa_decision]-->
<!--TPA quyết định yêu cầu-->
<ng-template #TPADecision let-item  let-expanded="isExpanded">
  <claim-section-template
    mode="sub"
    header="TPA-{{item.createdDate | dateCus: DATE_FORMAT}}"
    styleClass="mt-3"
    subHeader="TPA: {{(item?.sourceProcess ?? '')}}">

    <claim-section-template
      [canExpand]="true"
      [mode]="'normal'"
      [isExpanded]="expanded"
      header="request.detailRequest.claim-tpa.pending-information"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.decision' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.decisionName"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.plan-amount' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.planAmount"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.action-date' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.benefit' |  translate}}</div>
          <div class="claim__grid-item-body span3">
            <app-benefit-checkbox
              [readonly]="true"
              [showMoney]="true"
              [currency]="'VND'"
              [benefits]="benefits"
              [ngModel]="item?.benefitClaimHistoryEntities"
              moneyOptions="amountBenefit"
              codeOptions="codeBenefit"
            >
            </app-benefit-checkbox>
          </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.content' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.content"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.note' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.note"></value-display>
        </div>

      </div>
    </claim-section-template>
  </claim-section-template>
</ng-template>

<!-- TODO: Chờ BA -->
<!--013-->
<!--[decision_type_tpa_paid]-->
<!--TPA chi trả yêu cầu Claim-->
<ng-template let-item #TPAPaid  let-expanded="isExpanded">
  <claim-section-template
    mode="sub"
    header="TPA-{{item.createdDate | dateCus: DATE_FORMAT}}"
    styleClass="mt-3"
    subHeader="TPA: {{(item?.sourceProcess ?? '')}}">

    <claim-section-template
      [canExpand]="true"
      [mode]="'normal'"
      [isExpanded]="expanded"
      header="request.detailRequest.claim-tpa.pending-information"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.decision' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.decisionName"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.plan-amount' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.planAmount"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.action-date' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.benefit' |  translate}}</div>
        <div class="claim__grid-item-body span3">
            <app-benefit-checkbox
              [readonly]="true"
              [showMoney]="true"
              [currency]="'VND'"
              [benefits]="benefits"
              [ngModel]="item?.benefitClaimHistoryEntities"
              moneyOptions="amountBenefit"
              codeOptions="codeBenefit"
            >
            </app-benefit-checkbox>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.content' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.content"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.note' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.note"></value-display>
        </div>

      </div>
    </claim-section-template>
  </claim-section-template>
</ng-template>

<!--014-->
<!--[decision_type_pending_inactive]-->
<!--Yêu cầu quá hạn nộp bổ sung-->
<ng-template let-item #PendingInactive  let-expanded="isExpanded">
  <claim-section-template
    mode="sub"
    header="TPA-{{item.createdDate | dateCus: DATE_FORMAT}}"
    styleClass="mt-3"
    subHeader="TPA: {{(item?.sourceProcess ?? '')}}">

    <claim-section-template
      [canExpand]="true"
      [isExpanded]="expanded"
      [mode]="'normal'"
      header="request.detailRequest.claim-tpa.inactive-information"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.decision' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.decisionName"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.content' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.content"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.action-date' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

      </div>
    </claim-section-template>
  </claim-section-template>
</ng-template>

<!-- TODO: Chờ BA -->
<!--015-->
<!--[decision_type_close_request]-->
<!--Đóng case khi yêu cầu quá hạn bổ sung (đang ở trạng thái Inactive) và hợp đồng bị Lapse/Reversed/Dormant-->
<ng-template let-item #CloseRequest  let-expanded="isExpanded">
  <claim-section-template
    mode="sub"
    header="TPA-{{item.createdDate | dateCus: DATE_FORMAT}}"
    styleClass="mt-3"
    subHeader="TPA: {{(item?.sourceProcess ?? '')}}">

    <claim-section-template
      [canExpand]="true"
      [mode]="'normal'"
      [isExpanded]="expanded"
      header="request.detailRequest.claim-tpa.inactive-information"
      headerStyleClass="claim__sub-section-split-header">

      <div class="claim__sub-section-grid grid-process">

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.decision' |  translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.decisionName"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.content' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.content"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.executor-process' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdBy"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.action-date' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.createdDate | dateCus: DATE_FORMAT"></value-display>
        </div>

        <div class="claim__grid-item-title">{{'request.detailRequest.claim-tpa.status' | translate}}</div>
        <div class="claim__grid-item-body span3">
          <value-display [value]="item.claimStatus | MatchPipe: claimStatusCommon"></value-display>
        </div>

      </div>
    </claim-section-template>
  </claim-section-template>
</ng-template>
