<p-card>
  <div class="grid">
    <div class="col-12">
      <h4 class="title mb-4">{{ 'request.detailRequest.attachment.requestDocument' | translate }}</h4>

      <p-table [value]="attachments">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" class="th-id">ID</th>
            <th scope="col">{{ 'request.detailRequest.attachment.title' | translate }}</th>
            <th scope="col">Doc Type</th>
            <th scope="col">{{ 'request.detailRequest.attachment.updateDate' | translate }}</th>
            <th scope="col" class="th-action">{{ 'request.detailRequest.attachment.action' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ item.type }}</td>
            <td>
              <a href="javascript:void(0)" (click)="viewAttachment(item.id)">{{ item.attachmentName }}</a>
            </td>
            <td>{{ item.updatedDate
              | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>
              <a href="javascript:void(0)" class="pi pi-download cursor-pointer" (click)="download(item.id)"></a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
<div class="mt-3">
  <p-card>
    <h4 class="title mb-4">{{ 'request.detailRequest.attachment.policyDocument' | translate }}</h4>
    <p-table [value]="attachmentSAP">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" class="th-id">ID</th>
          <th scope="col" class="th-title">{{ 'request.detailRequest.attachment.title' | translate }}</th>
          <th scope="col">Doc Type</th>
          <th scope="col">{{ 'request.detailRequest.attachment.createOn' | translate }}</th>
          <th scope="col" class="th-action">{{ 'request.detailRequest.attachment.action' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>
            {{ item.arObject }}
          </td>
          <td>
            <a href="javascript:void(0)" (click)="viewFileFromSAP(item.arcDocId)">{{ item.docTypeName }}</a>
          </td>
          <td>
            {{ item.arDate | date: 'dd/MM/yyyy  HH:mm:ss' }}
          </td>

          <td>
            <a
              href="javascript:void(0)"
              class="pi pi-download cursor-pointer"
              (click)="downloadFileFromSAP(item.arcDocId)"
            ></a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
