:host ::ng-deep {
  .sla {
    position: absolute;
    right: 0;
    padding: 5px 10px;
    background: rgb(247, 249, 249);
    border-radius: 0.5rem;
  }

  .text-danger {
    color: #dc3545;
  }

  .text-success {
    color: #099428;
  }

  .card {
    background: none;
  }

  .btn-cancel {
    background: #dee2e6 !important;
    color: #2b2d2f;
  }

  .btn-cancel:enabled:hover {
    color: #2b2d2f !important;
  }

  .p-card .p-card-content {
    padding: 0;
  }

  .p-tabview .p-tabview-nav {
    background: none;
    border: none;

    .p-tabview-ink-bar {
      display: none;
    }
  }

  p-tabview .p-tabview-nav li .p-tabview-nav-link {
    transition: background-color 0.2s;
    background: #ffffff;
    border-radius: 15px 15px 1px 1px;
    width: 170px;
    height: 35px;
  }


  .p-card .p-card-body {
    padding: 1.5rem;
  }

  .p-tabview .p-tabview-panels {
    background: none;
    border: 0 none;
    padding: 0rem;
  }

  .p-tabview-title {
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .p-checkbox .p-checkbox-box {
    border: 1px solid #9eb3f8;
    border-radius: 4px;
  }

  .p-button-raised {
    display: none;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #0d6efd;
    color: #ffffff;
  }

  .active {
    background-color: #0d6efd !important;

    .p-button-label {
      color: #ffffff !important;
    }

    .span-panel {
      color: #ffffff !important;
    }
  }

  .span-panel {
    color: #0d6efd;
  }

  .card-btn {
    margin-bottom: -2rem;
  }

  .progress-red {
    .p-progressbar-value {
      background: #dc3545;
    }
  }

  .progress-blue {
    .p-progressbar-value {
      background: #099428;
    }
  }

  .progress-yellow {
    .p-progressbar-value {
      background: #ffa000;
    }
  }

  .progressBackground-blue {
    .p-card {
      background: #f3fbf7;
    }
  }

  .progressBackground-red {
    .p-card {
      background: #ffdadf;
    }
  }

  .p-progressbar {
    height: 7px;
    border-radius: 4px;
  }

  .pi-check-circle:before {
    color: #0db55a;
  }

  //.pi-check-circle {
  //  margin-bottom: 0.9rem;
  //}

  .p-multiselect-panel .p-multiselect-header {
    display: none;
  }
}
