<div class="relative">
  <div class="sla"><strong>SLA</strong>: <span
    [class]="objSla.classNameSlaStep">{{ objSla.messageKeySla
    | translate: { days: objSla.daySlaStep, hours: objSla.hoursSlaStep, minutes: objSla.minutesSlaStep } }}</span></div>
  <p-tabView
    (activeIndexChange)="onChangeTabOrStep(true)"
    [(activeIndex)]="activeIndex"
  >
    <p-tabPanel header="{{ 'request.detailRequest.tabs.processing' | translate }}">
      <app-steps-process
        (changeStep)="onChangeTabOrStep()"
        [activeIndex]="activeIndexSteps"
        [itemRequest]="itemRequest"
        [steps]="items"
      ></app-steps-process>
      <app-process
        (nextStep)="doAfterSubmit($event)"
        *ngIf="activeIndexSteps === 0"
        [bankDropList]="bankDropList"
        [bankResDTOList]="bankResDTOList"
        [decisionDropList]="decisionDropList"
        [itemRequest]="itemRequest"
        [listGender]="listGender"
        [listIdentifyType]="listIdentifyType"
        [paymentMethodList]="paymentMethodList"
      ></app-process>
      <app-collection-approve
        (refreshData)="refresh($event)"
        *ngIf="activeIndexSteps === 1"
        [decisionDropList]="decisionContractStore"
        [itemRequest]="itemRequest"
        [requestTypeCode]="typeForm"
      >
      </app-collection-approve>

      <app-refund *ngIf="activeIndexSteps === 2"
                  [itemRequest]="itemRequest"></app-refund>
    </p-tabPanel>
    <p-tabPanel [ngClass]="{ active: header === 'report' }"
                header="{{ 'request.detailRequest.tabs.'+ reports | translate }}">
      <app-report #report1 [itemRequest]="itemRequest"></app-report>
    </p-tabPanel>
    <p-tabPanel
      header="{{ 'request.detailRequest.tabs.attachment' | translate }}">
      <app-attachment-collection [itemRequest]="itemRequest"></app-attachment-collection>
    </p-tabPanel>
    <p-tabPanel *ngIf="listPendingHistory.length > 0"
                header="{{ 'request.detailRequest.tabs.pendingHistory' | translate }}">
      <app-pending-history-collection [itemRequest]="itemRequest"></app-pending-history-collection>
    </p-tabPanel>
    <p-tabPanel *ngIf="currUser?.roles?.includes(Roles.SYSTEM_ADMIN)" header="Diagram process">
      <app-diagram-bpmn [tabIndex]="activeIndex"></app-diagram-bpmn>
    </p-tabPanel>
  </p-tabView>

</div>
