<p-card styleClass="mt-3">
  <div class="flex">
    <div class="col-6">
      <h4 class="title detail">{{ 'request.detailRequest.refund.detailTransaction' | translate }}</h4>
    </div>
    <div class="col-6 flex justify-content-end">
      <label class="title-refund mr-6 field-key text-xl">{{
        'request.detailRequest.refund.paymentMethod' | translate
        }}</label>
      <span *ngIf="itemRequest?.paymentMethod"
            class="field-key text-xl text-blue-800">{{ ('paymentRequestType.' + itemRequest?.paymentMethod?.toLowerCase()) | translate }}</span>
    </div>
  </div>

  <ng-container *ngIf="itemRequest?.isTransfer; else process">
    <div class="flex card-container">
      <div class="col-6 pl-8">
        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{ 'request.detailRequest.refund.status' | translate }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="checkStatus field-value">{{ doCheckStatus() | translate }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{ 'request.detailRequest.refund.note' | translate }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO.note }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-5">
            <label class="field-key">{{
              'request.detailRequest.refund.paymentRequestAmount' | translate
              }}</label>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.netValue  | number:'1.0-0'}} VNĐ</span>
          </div>
        </div>
        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{
                'request.detailRequest.refund.transactionDate' | translate
                }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.actionDate }}</span>
          </div>
        </div>
      </div>

      <div class="col-6 pl-8">
        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{ 'request.detailRequest.refund.paymentAmount' | translate }}</label>
            </span>
          </div>
          <div class="col-6">
            <span
              class="field-value">{{ (doCheckFI() ? itemRequest?.policyDataDTO?.fiPaymentAmount : itemRequest?.policyDataDTO?.paymentAmount) | number: '1.0-0' }}
              VNĐ</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{ 'request.detailRequest.refund.reason' | translate }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value"> {{ itemRequest?.policyDataDTO?.reason }}</span>
          </div>
        </div>
        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{ 'request.detailRequest.refund.desc' | translate }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.description }}</span>
          </div>
        </div>
      </div>
    </div>
    <hr />

    <div *ngIf="itemRequest?.paymentMethod === paymentMethod.Banking" class="flex card-container">
      <div class="col-6 pl-8">
        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{
                'request.detailRequest.refund.beneficiaryName' | translate
                }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.bpName }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{
                'request.detailRequest.refund.beneficiaryAccount' | translate
                }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.bankAccount }}</span>
          </div>
        </div>
        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{
                'request.detailRequest.refund.beneficiaryBank' | translate
                }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.p2pBankName }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- // -->
    <div *ngIf="itemRequest?.paymentMethod === paymentMethod.Cash" class="flex card-container">
      <div class="col-6 pl-8">
        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{ 'request.detailRequest.refund.personalId' | translate }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.personalIdentity }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{ 'request.detailRequest.refund.dateOfIssue' | translate }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.dateOfIssue | date: 'dd/MM/yyyy' }}</span>
          </div>
        </div>
        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{ 'request.detailRequest.refund.placeOfIssue' | translate }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.placeOfIssue }}</span>
          </div>
        </div>
      </div>

      <div class="col-6 pl-8">
        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{ 'request.detailRequest.refund.beneficiary' | translate }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.beneficiary }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{
                'request.detailRequest.refund.bankTranferName' | translate
                }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.bankTransferName }}</span>
          </div>
        </div>
        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{ 'request.detailRequest.refund.bankCashName' | translate }}</label>
            </span>
          </div>
          <div class="col-6">
            <span class="field-value">{{ itemRequest?.policyDataDTO?.bankCashName }}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #process>
    <div class="flex justify-content-center flex-wrap card-container">
      <div class="flex align-items-center justify-content-center mt-5">
        <p>{{ 'request.detailRequest.refund.theTransIsBeingProcessed' | translate}}</p>
      </div>
    </div>
  </ng-template>
</p-card>
