<p-card class="p-card">
  <div class="absolute right-0">
    <button (click)="downloadReport()" [disabled]="!blob" pButton>
      <span class="pi pi-download pl-2"></span>
    </button>
  </div>
  <pdf-viewer
    [autoresize]="true"
    [external-link-target]="'blank'"
    [fit-to-page]="false"
    [original-size]="false"
    [render-text]="true"
    [rotation]="0"
    [show-all]="true"
    [show-borders]="false"
    [src]="url"
    [stick-to-page]="false"
    [zoom-scale]="'page-width'"
    [zoom]="1"
    style="width: 80%; height: 600px; margin: auto"
  ></pdf-viewer>
</p-card>
