<div class="layout-content bg-white">
  <div class="titleDialog">{{'category.condition.title' | translate }}</div>
  <div class="grid" [formGroup]="form">
    <div class="col-6">
      <mbal-input-text
        [disabled]="true"
        label="{{'category.condition.columnCode' | translate }}"
        formControlName="columnCode"
      ></mbal-input-text>
    </div>
    <div class="col-6">
      <mbal-select
        [options]="compareData"
        optionValue="value"
        optionLabel="name"
        label="{{'category.condition.compareType' | translate }}"
        formControlName="compareType"
      ></mbal-select>
    </div>
    <div class="col-12 md:col-6">
      <mbal-select
        (onChangeValue)="changValue($event)"
        [options]="typeData"
        optionValue="value"
        optionLabel="name"
        label="{{'category.condition.dataType' | translate }}"
        formControlName="dataType"
      ></mbal-select>
    </div>
    <div class="col-12 md:col-6">
      <mbal-select
        (onChangeValue)="changValueControlType($event)"
        [options]="form.controls['dataType'].value === 'Date' ? controlDataDate : controlData"
        optionValue="value"
        optionLabel="name"
        label="{{'category.condition.controlType' | translate }}"
        formControlName="controlType"
      ></mbal-select>
    </div>
    <div class="col-12">
      <app-mbal-input-checkbox
        label="{{'category.condition.require' | translate }}"
        formControlName="isRequire"
      ></app-mbal-input-checkbox>
    </div>
    <div class="col-12">
      <mbal-input-text
        label="{{'category.condition.controlLabel' | translate }}"
        formControlName="controlLabel"
      ></mbal-input-text>
    </div>
    <div *ngIf="controlTypeValue === 'MultiSelect' || controlTypeValue === 'SelectedBox'" class="col-12">
      <mbal-select
        [options]="dbName"
        formControlName="dbId"
        optionLabel="name"
        optionValue="value"
        label="{{'category.addQuery.databaseName' | translate }}"
      ></mbal-select>
    </div>
    <div class="col-12">
      <mbal-input-textarea
        label="{{'category.condition.dataBind' | translate }}"
        formControlName="databind"
        [autoResize]="false"
        [rows]="6"
      ></mbal-input-textarea>
    </div>
    <div class="col-12">
      <mbal-input-text
        label="{{'category.condition.defaultValue' | translate }}"
        formControlName="defaultValue"
      ></mbal-input-text>
    </div>
    <div class="col-12">
      <mbal-input-number
        label="{{'category.condition.controlIndex' | translate }}"
        formControlName="controlIndex"
      ></mbal-input-number>
    </div>
  </div>
  <div class="mt-5 text-right">
    <button
      class="btn destroy"
      (click)="closeDialog()"
    >{{'category.cancel' | translate }}
    </button>
    <button
      class="btn save"
      (click)="save()"
    >{{'category.save' | translate }}
    </button>
  </div>
</div>
