<claim-section-template
  header="claimRequest.decision"
  headerStyleClass="uppercase"
  [isCard]="true"
  bodyStyleClass="grid claim__section-body mb-0"
  [formGroup]="form"
>
  <div class="md:col-4 col-12 pb-0">
    <mbal-select
      (onChangeValue)="checkDecisionValue($event)"
      label="{{'request.detailRequest.claim-tpa.decision' | translate}}"
      [showClear]="true"
      formControlName="code"
      [options]="decision"
      optionValue="value"
      optionLabel="name">
    </mbal-select>
  </div>
  <div class="md:col-8 col-12 mt-3">
    <div class="checkbox-container mt-0">
      <div class="checkbox">
        <!--        <p-checkbox-->
        <!--          (click)="checkValueSuspected()"-->
        <!--          formControlName="suspectedFraud"-->
        <!--          [binary]="true"-->
        <!--        ></p-checkbox>-->
        <div class="label">{{'request.detailRequest.claim-tpa.suspectedFraud' | translate}}</div>
      </div>
      <!--      <ng-container *ngIf="form.controls.suspectedFraud?.value">-->
      <!--        <div class="checkbox" *ngFor="let item of checkBox">-->
      <!--          <p-checkbox-->
      <!--            (click)="findValue()"-->
      <!--            [value]="item"-->
      <!--            [(ngModel)]="checkSuspectedFraudItem"-->
      <!--            [ngModelOptions]="{standalone: true}"-->
      <!--          ></p-checkbox>-->
      <!--          <div class="label">{{'request.detailRequest.claim-tpa.' + item | translate}}</div>-->
      <!--        </div>-->
      <!--      </ng-container>-->
    </div>
    <!--    <div *ngIf="checkSuspectedFraudItem?.length && form.controls.suspectedFraud?.value" class="mt-4 grid">-->
    <!--      <div class="col-12">-->
    <!--        <mbal-input-text-->
    <!--          label="{{'request.detailRequest.claim-tpa.detail' | translate}}"-->
    <!--          formControlName="detail"-->
    <!--          maxlength="255"-->
    <!--        ></mbal-input-text>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
  <!--  TODO: Thông tin trục lợi: User có thể đánh dấu vào check box trục lợi khi yêu cầu claim có trục lợi-->
  <div class="col-12 grid" *ngIf="form.controls.code?.value === 'REJECT'">
    <div class="col-12 md:col-4">
      <mbal-select
        (onChangeValue)="checkReasonRejectValue($event)"
        [options]="reasonReject"
        optionValue="value"
        optionLabel="name"
        label="{{'request.detailRequest.claim-tpa.rejectReason' | translate}}"
        [showClear]="false"
        formControlName="reason"
      ></mbal-select>
    </div>
    <div class="col-12 md:col-4"
         *ngIf="form.controls.reason.value === '1' || form.controls.reason.value === '2'">
      <mbal-select
        (onChangeValue)="checkDetailRejectValue($event)"
        [options]="detailRejectReason"
        optionValue="value"
        optionLabel="name"
        label="{{'request.detailRequest.claim-tpa.detailRejectReason' | translate}}"
        [showClear]="false"
        formControlName="reasonNote"
      ></mbal-select>
    </div>
    <div class="col-12"
         *ngIf="(form.controls.reason.value === '1' || form.controls.reason.value === '2') && form.controls.reasonNote.value === 'OTHER_EXCLUSION'">
      <mbal-input-textarea
        [label]="'request.detailRequest.claim-tpa.otherReason' | translate"
        [rows]="4"
        formControlName="reasonOther"
        appTrim
        [maxlength]="500"
        [emitEvent]="true"
        [TrimOnBlur]="true">
      </mbal-input-textarea>
    </div>
  </div>
  <div *ngIf="form.controls.code?.value === 'APPROVE'" class="lg:col-10 col-12 claim__sub-section-grid">

    <div class="claim__grid-item-title">{{ 'request.detailRequest.claim-tpa.benefit' | translate }}</div>
    <div class="claim__grid-item-body span3">
      <app-benefit-checkbox formControlName="benefits" [benefits]="benefits" [readonly]="readonly"
                            [showMoney]="true"></app-benefit-checkbox>
      <div>
        <f-errors [label]="'Quyền lợi được hưởng'" [control]="form.controls.benefits"></f-errors>
      </div>
    </div>

    <div class="claim__grid-item-title">{{ 'request.detailRequest.claim-tpa.contractChange' | translate }}</div>
    <div class="claim__grid-item-body span3">
      <app-adjust-contract-checkbox formControlName="provision" [readonly]="readonly"></app-adjust-contract-checkbox>
    </div>

    <div class="mt-4 claim__grid-item-title">{{ 'request.detailRequest.claim-tpa.totalAmount' | translate }}</div>
    <div class="mt-4 claim__grid-item-body span3">
      <div class="grid">
        <div class="col-12 md:col-4">
          <p-inputNumber
            formControlName="amount"
            [readonly]="true"
            [suffix]="' VND'"
            currency="VND"
            currencyDisplay="code"
          >
          </p-inputNumber>
        </div>
        <div class="col-12 md:col-4">
          <div class="flex justify-content-center p-3 checkbox">
            <p-checkbox
              [readonly]="readonly"
              formControlName="sendMail"
              [binary]="true"
              label="{{ 'request.detailRequest.claim-tpa.sendMail' | translate }}"
              name="sendMail">
            </p-checkbox>
            <p *ngIf="this.form.controls.sendMail.value && !this.isSentMail" (click)="openSendMailPopup()"
               class="create-email ml-2">
              + {{ 'request.detailRequest.claim-tpa.createEmail' | translate }}</p>
            <p
              *ngIf="this.form.controls.sendMail.value && this.isSentMail"
              (click)="viewAttachment(emailFileId)"
              pTooltip="{{'request.detailRequest.claim-tpa.mail' | translate | uppercase }} {{ emailType | MapTranslate: emailTypeList | uppercase }}"
              class="create-email ml-1"><i class="pi pi-info-circle" style="color: slateblue"></i></p>
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div class="text-center p-3 checkbox">
            <p-checkbox
              [readonly]="readonly"
              formControlName="paymentException"
              [binary]="true"
              label="{{ 'request.detailRequest.claim-tpa.payForChange' | translate }}"
              name="payFor">
            </p-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="form.controls.code?.value === 'PENDING' || form.controls.code?.value === 'APPROVE'">
    <mbal-input-textarea
      [label]="'request.detailRequest.claim-tpa.note' | translate"
      [rows]="4"
      formControlName="note"
      appTrim
      [maxlength]="500"
      [emitEvent]="true"
      [TrimOnBlur]="true">
    </mbal-input-textarea>
  </div>
</claim-section-template>
