html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

}

.sideBar {
  width: 300px;
  padding: 0;
  margin: 0;

  .logo {
    width: 100%;
    top: 0;
    left: 0;
  }

  img {
    top: 0;
    left: 0;
    width: 200px;
  }
  .menuList{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
  }
  .menuListActive{
    display: flex;
    justify-content: space-between;
    color: #0d6efd;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
  }
}




