<div class="sideBar">
    <div class="logo">
        <img src="./assets/Image/logo.png" />
    </div>
  <div class="row">
    <p-accordion expandIcon="pi pi-chevron-down" collapseIcon="pi pi-chevron-up"
    >
        <p-accordionTab header="Quản trị người dùng" iconPos="end"
                        headerStyle="background-color: #fff; border: unset"
        >
          <a [routerLink]="[customer.url]" (click)="active(idx)" [ngClass]="idxActive == idx ? 'menuListActive' : 'menuList'" *ngFor="let customer of listCustomer; let idx  = index">
            {{customer.name}}
            <div><i class="pi pi-sign-in"></i></div>
          </a>
        </p-accordionTab>
    </p-accordion>
  </div>
</div>
