.custom-paginator {
  position: relative;

  .show-block-opacity {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
  }
}

.opcatity-btn {
  opacity: 0.7;
}

.label-input {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.title {
  height: 20px;
  left: 0px;
  top: calc(50% - 20px / 2 - 212px);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #0b7cc3;
}

.opacity-0 {
  opacity: 0;
}

.slaRed {
  color: #dc3545;
}

.slaYellow {
  color: #ffa000;
}
.slaGreen {
  color: #099428;
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 12px;
  }
  :host {
    ::ng-deep {
      // .p-inputtext-sm {
      //   .p-multiselect-label {
      //     font-size: 0.875rem;
      //      padding: 0.5rem 0.875rem;
      //   }

      //   font-size: 0.875rem;
      //   //padding: 0.5rem 0.875rem;
      // }
    }
  }
}
:host ::ng-deep {
  .p-multiselect-label-container {
    overflow: hidden;
    flex: 1 1 auto;
    cursor: pointer;
    height: 39.5px;
  }
  .text-item-value {
    border-radius: 3px;
    display: inline-flex;
  }
  .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
  }
}
