<div *ngIf="dataTable.content" class="card">
  <div class="grid">
    <div class="col-3">
      <mbal-input-text
        [(ngModel)]="params.requestCode"
        (keyup.enter)="search(true)"
        label="{{ 'request.requestList.requestCode' | translate }}"
      ></mbal-input-text>
    </div>
    <div *ngIf="rolePic" class="col-3">
      <mbal-select
        [(ngModel)]="params.pics"
        [filter]="true"
        [options]="stateData.listPic!"
        label="PIC"
        optionLabel="account"
        optionValue="account"
        selectMode="multiple"
      ></mbal-select>
    </div>
    <div class="col-3">
      <mbal-select
        [(ngModel)]="params.status"
        [filter]="true"
        [options]="stateData.listStatus!"
        [showClear]="true"
        label="{{ 'request.requestList.status' | translate }}"
        optionLabel="name"
        optionValue="value"
        selectMode="multiple"
      ></mbal-select>
    </div>
    <div class="col-3">
      <mbal-select
        [(ngModel)]="params.resolution"
        [filter]="true"
        [group]="true"
        [options]="stateData.listResolution!"
        label="Resolution"
        optionGroupLabel="name"
        optionLabel="name"
        optionValue="value"
        selectMode="multiple"
      ></mbal-select>
    </div>
    <div *ngIf="!rolePic && !hidden && showColumnNbuAndCol" class="col-3">
      <mbal-select
        [(ngModel)]="params.distributionChannel"
        [filter]="true"
        [options]="stateData.listDistributionChannel!"
        [showClear]="true"
        label="{{ 'request.requestList.distributionChannel' | translate }}"
        optionLabel="name"
        optionValue="value"
      ></mbal-select>
    </div>
    <ng-container *ngIf="hidden">
      <div class="col-3">
        <mbal-select
          [(ngModel)]="params.distributionChannel"
          [filter]="true"
          [options]="stateData.listDistributionChannel!"
          [showClear]="true"
          label="{{ 'request.requestList.distributionChannel' | translate }}"
          optionLabel="name"
          optionValue="value"
        ></mbal-select>
      </div>

      <div class="col-3">
        <mbal-calendar
          (keyup.enter)="search(true)"
          (ngModelChange)="onChangeValueDate($event)"
          [(ngModel)]="params.startDate"
          [maxDate]="params.endDate ?? today"
          label="{{ 'request.requestList.startDate' | translate }}"
        ></mbal-calendar>
      </div>

      <div class="col-3">
        <mbal-calendar
          (keyup.enter)="search(true)"
          [(ngModel)]="params.endDate"
          [minDate]="params.startDate || null"
          [maxDate]="today"
          label="{{ 'request.requestList.endDate' | translate }}"
        ></mbal-calendar>
      </div>
      <div class="col-3">
        <mbal-select
          [(ngModel)]="params.requestType"
          [filter]="true"
          [options]="stateData.listRequestType!"
          label="{{ 'request.requestList.requestType' | translate }}"
          optionLabel="name"
          optionValue="value"
          selectMode="multiple"
        ></mbal-select>
      </div>
      <div class="col-3">
        <mbal-input-text
          (keyup.enter)="search(true)"
          [(ngModel)]="params.policyNumber"
          label="{{ 'request.requestList.policyNumber' | translate }}"
        ></mbal-input-text>
      </div>
      <div class="col-3" *ngIf="showColumnNbuAndCol">
        <mbal-input-text
          (keyup.enter)="search(true)"
          [(ngModel)]="params.icCode"
          label="{{ 'request.requestList.icCode' | translate }}"
        ></mbal-input-text>
      </div>
      <div class="col-3" *ngIf="showColumnNbuAndCol">
        <mbal-input-text
          (keyup.enter)="search(true)"
          [(ngModel)]="params.icName"
          label="{{ 'request.requestList.icName' | translate }}"
        ></mbal-input-text>
      </div>
      <ng-container *ngIf="showColumnClaim">
        <div class="col-3">
          <mbal-input-text
            [(ngModel)]="params.claimId"
            (keyup.enter)="search(true)"
            label="{{ 'claimRequest.claimId' | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-3">
          <mbal-select
            [(ngModel)]="params.claimStatus"
            (keyup.enter)="search(true)"
            [options]="stateData.listClaimStatus"
            selectMode="multiple"
            [filter]="true"
            label="{{ 'claimRequest.claimStatus' | translate }}"
          ></mbal-select>
        </div>
        <div class="col-3">
          <mbal-select
            [(ngModel)]="params.source"
            [options]="stateData.listResourceClaim"
            selectMode="multiple"
            [filter]="true"
            (keyup.enter)="search(true)"
            label="{{ 'claimRequest.requestSource' | translate }}"
          ></mbal-select>
        </div>
      </ng-container>
      <div class="col-3">
        <mbal-select
          [(ngModel)]="params.departments"
          (keyup.enter)="search(true)"
          [options]="stateData.listDepartment"
          (ngModelChange)="onChangeDepartment()"
          selectMode="multiple"
          label="{{ 'request.requestList.department' | translate }}"
        ></mbal-select>
      </div>
    </ng-container>
  </div>

  <p-toolbar styleClass="px-0 flex justify-content-between">
    <div class="p-toolbar-group-left">
      <p-button
        (click)="search(true)"
        icon="pi pi-search"
        label="{{ 'request.requestList.btnSearch' | translate }}"
        styleClass="p-button-primary"
      >
      </p-button>
      <p-button (click)="onReset()" class="ml-3" icon="pi pi-replay" styleClass="p-button-primary"></p-button>
    </div>

    <div (click)="show()">
      <em [class]="'p-2 cursor-pointer pi show-form pi-chevron-' + (hidden ? 'up' : 'down')"></em>
    </div>

    <div class="p-toolbar-group-right">
      <!--      <button-->
      <!--        *ngIf="checkFunctionCreate()"-->
      <!--        class="mr-3"-->
      <!--        icon="pi pi-plus"-->
      <!--        pButton-->
      <!--        routerLink="/bpm/create-requests/refund"-->
      <!--      ></button>-->
      <button
        (click)="viewCreate()"
        *ngIf="objFunction?.scopes?.includes(this.action.Forward)"
        [disabled]="!selectedItem || selectedItem.length <= 0"
        class="p-mr-2"
        icon="pi pi-reply"
        pButton
      ></button>
    </div>
  </p-toolbar>
  <p-table
    [(selection)]="selectedItem"
    [resizableColumns]="true"
    [selectionPageOnly]="true"
    [value]="dataTable.content"
    dataKey="requestId"
    responsiveLayout="scroll"
    selectionMode="checkbox"
  >
    <ng-container>
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" style="width: 3rem">
            <p-tableHeaderCheckbox [disabled]="isDisabledCheckboxHeader()"></p-tableHeaderCheckbox>
          </th>
          <th scope="col">{{ 'request.requestList.stt' | translate }}</th>
          <th scope="col">{{ 'request.requestList.requestCode' | translate }}</th>
          <th scope="col" *ngIf="showColumnNbuAndCol">{{ 'request.requestList.distributionChannel' | translate }}</th>
          <ng-container *ngIf="showColumnClaim">
            <th scope="col">{{ 'claimRequest.claimId' | translate }}</th>
            <th scope="col">{{ 'claimRequest.claimStatus' | translate }}</th>
            <th scope="col">{{ 'claimRequest.requestSource' | translate }}</th>
          </ng-container>
          <th scope="col">{{ 'request.requestList.policyNumber' | translate }}</th>
          <th scope="col">{{ 'request.requestList.requestType' | translate }}</th>
          <th scope="col">{{ 'request.requestList.status' | translate }}</th>
          <th scope="col">Resolution</th>
          <th *ngIf="rolePic" scope="col">PIC</th>
          <th scope="col">SLA</th>
          <th *ngIf="!username?.includes('sale') && showColumnNbuAndCol"
              scope="col">{{ 'request.requestList.icCode' | translate }}</th>
          <th *ngIf="!username?.includes('sale') && showColumnNbuAndCol"
              scope="col">{{ 'request.requestList.icName' | translate }}</th>
          <th scope="col">{{ 'request.requestList.createdDate' | translate }}</th>
          <th scope="col">{{ 'request.requestList.updateDate' | translate }}</th>
          <th class="white-space-nowrap overflow-hidden text-overflow-ellipsis" scope="col"
              style="max-width: 170px"
              *ngIf="showColumnNbuAndCol">{{ 'request.detailRequest.underwrite.picNote' | translate }}</th>
          <th scope="col" *ngIf="showColumnNbuAndCol">{{ 'request.requestList.action' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item pTemplate="body">
        <tr (dblclick)="doDetail(item)" [pSelectableRow]="item">
          <td>
            <p-tableCheckbox (dblclick)="$event.stopPropagation()" #checkboxRow [disabled]="isDisabledCheckbox(item)"
                             [value]="item"></p-tableCheckbox>
          </td>

          <td>{{ dataTable.currentPage === 0 ? i + 1 : dataTable.currentPage * dataTable.size + i + 1 }}</td>
          <td>{{ item.requestId }}</td>
          <td *ngIf="showColumnNbuAndCol">{{ item.distributionChannel }}</td>
          <ng-container *ngIf="showColumnClaim">
            <td>{{ item.claimId }}</td>
            <td>{{ item.claimStatus }}</td>
            <td>{{ item.requestSource }}</td>
          </ng-container>
          <td>{{ item.policyNumber }}</td>
          <td>{{ item.requestTypeCode | MapTranslate: stateData?.listRequestType ?? [] }}</td>
          <td>{{ item.status | MapTranslate:  stateData?.listStatus ?? [] }}</td>
          <td>{{ item.resolution }}</td>
          <td *ngIf="rolePic">{{ item.pic }}</td>
          <td
            *ngIf="!!item.slaStepMessage && item.requestTypeCode !== requestType.TYPE10; else noSLA"
            [class]="
              item.slaStepPercent > 100
                ? 'slaRed'
                : item.slaStepPercent <= 100 && item.slaStepPercent >= item.slaPercentWarning
                ? 'slaYellow'
                : 'slaGreen'
            "
          >
            {{  item.slaStepMessage
            | translate: { days: item.daySlaStep, hours: item.hoursSlaStep, minutes: item.minutesSlaStep } }}
          </td>
          <ng-template #noSLA>
            <td></td>
          </ng-template>
          <td *ngIf="!username?.includes('sale') && showColumnNbuAndCol">{{ item.icCode }}</td>
          <td *ngIf="!username?.includes('sale') && showColumnNbuAndCol">{{ item.icName }}</td>
          <td>{{ item.createdDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ item.updatedDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td
            *ngIf="showColumnNbuAndCol"
            class="white-space-nowrap overflow-hidden text-overflow-ellipsis"
            pTooltip="{{ item.picNote }}" style="max-width: 170px"
            tooltipPosition="bottom">{{ item.picNote }}</td>

          <td *ngIf="showColumnNbuAndCol">
            <a (click)="viewRequestData(item)"
               *ngIf="isActionPending(item)">
              <img alt="Image" src="assets/icons/icon-submit.png" width="35%"
              /></a>
          </td>
        </tr>
      </ng-template>
    </ng-container>
  </p-table>
  <div class="custom-paginator">
    <div class="absolute">
      {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
      {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
      {{ 'request.requestList.record' | translate }}.
    </div>
    <p-paginator
      (onPageChange)="pageChange($event)"
      [first]="dataTable.first"
      [rowsPerPageOptions]="[10, 20, 30]"
      [rows]="dataTable.size"
      [showCurrentPageReport]="true"
      [totalRecords]="dataTable.totalElements"
    >
    </p-paginator>
  </div>
</div>
