<div class="checkbox-container align-items-baseline mt-0">
  <div *ngFor="let item of provision; let index = index">
    <div class="checkbox">
      <p-checkbox
        name="deduction"
        [readonly]="readonly"
        [formControl]="checkBoxControl"
        (onChange)="onChangeCheckbox(index)"
        [value]="item.code"
        name="provision">
      </p-checkbox>
      <div class="label">{{ 'request.detailRequest.claim-tpa.' + item.code | translate}}</div>
    </div>
    <div class="mt-3" *ngIf="item.checked && item.code !== 'other'">
      <p-inputNumber
        [disabled]="readonly"
        [required]="true"
        (onBlur)="onChange()"
        #input="ngModel"
        [(ngModel)]="item.money"
        mode="decimal"
        [suffix]="currency"
        currency="VND"
        currencyDisplay="code"
        [maxlength]="20"
        [min]="1"
      ></p-inputNumber>
      <small class="p-error block"
             *ngIf="input.control.hasError('required')">{{ 'request.detailRequest.claim-tpa.valid' | translate }}</small>
    </div>
    <div *ngIf="item.checked && item.code === 'other'" class="mt-3">
      <input
        [disabled]="readonly"
        required
        pInputText
        (blur)="onChange()"
        [pattern]="pattern"
        [(ngModel)]="item.money"
        appPlusNumber
        #les="ngModel"
        [maxlength]="20"
      />
      <small class="p-error block"
             *ngIf="les.control.hasError('pattern')">{{ 'request.detailRequest.claim-tpa.invalidPattern' | translate }}</small>
      <small class="p-error block"
             *ngIf="les.control.hasError('required')">{{ 'request.detailRequest.claim-tpa.valid' | translate }}</small>
    </div>
  </div>
</div>
