//@import "variable";
//
//:host(::ng-deep) {
//  .mbal-icon {
//    width: 28px;
//    height: 28px;
//    cursor: pointer;
//    display: inline-block;
//    background-color: $black;
//    mask-size: contain !important;
//    mask-repeat: no-repeat !important;
//    mask-position: center center !important;
//    -webkit-mask-repeat: no-repeat !important;
//    -webkit-mask-position: center center !important;
//    -webkit-mask-size: contain !important;
//  }
//  .vnd-icons {
//    @extend .mbal-icon;
//    mask: url('../../../../../../assets/images/vnd.jpg');
//  }
//}
