<ng-container *ngIf="activeIndexSteps === 0">
  <p-card>
    <div class="">
      <h4 class="title title1">{{ 'request.detailRequest.submitFeePay.policyData' | translate }}</h4>
    </div>
    <div class="flex">
      <div class="col-4 pl-5">
        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.submitFeePay.policyNumber' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequestStepOne?.policyNumber }} </span>
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'createRequest.requestCollection.customerName' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequestStepOne?.policyHolderName }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.submitFeePay.idType' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{ typeSapIdentify() }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <span>
              <label class="field-key">{{ 'request.detailRequest.submitFeePay.idNo' | translate }}</label>
            </span>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequestStepOne?.idNo }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <span>
              <label class="field-key">{{ 'request.detailRequest.submitFeePay.phoneNo' | translate }}</label>
            </span>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequestStepOne?.phoneNo }}</span>
          </div>
        </div>

      </div>

      <div class="col-4 pl-5">

        <div class="grid">
          <div class="col-5">
            <span>
              <label class="field-key">{{
                'request.detailRequest.submitFeePay.mainProduct' | translate
                }}</label>
            </span>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequestStepOne?.mainProduct }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-5">
            <label class="field-key">{{ 'request.detailRequest.submitFeePay.ccCode' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequestStepOne?.icCode }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-5">
            <label class="field-key">{{ 'request.detailRequest.submitFeePay.cctel' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequestStepOne?.icPhone }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-5">
            <label class="field-key">{{ 'request.detailRequest.submitFeePay.ccName' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequestStepOne?.icName }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-5">
            <label class="field-key">{{ 'request.detailRequest.submitFeePay.icEmail' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequestStepOne?.email }}</span>
          </div>
        </div>

      </div>

      <div class="col-4 pl-5">

        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.submitFeePay.status' | translate }}</label>
          </div>
          <div class="col">
            <span *ngIf="itemRequestStepOne?.statusPolicy"
                  class="field-value">{{ ('statusPolicy.' + itemRequestStepOne?.statusPolicy!.toUpperCase()) | translate  }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.submitFeePay.paymentDate' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{ itemRequestStepOne?.paymentReceiveDate | date: 'dd/MM/yyyy' }}</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.process.amount' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value"> {{ itemRequestStepOne?.amount | number: '1.0-0' }} VNĐ</span>
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <label class="field-key">{{ 'request.detailRequest.submitFeePay.documentType' | translate }}</label>
          </div>
          <div class="col">
            <span class="field-value">{{ DescDocType }}</span>
          </div>
        </div>
      </div>
    </div>
  </p-card>
  <p-card styleClass="mt-3">
    <div class=" ">
      <h4 class="title title-checkList">{{ 'request.detailRequest.submitFeePay.checkDocument' | translate }}</h4>
    </div>
    <ng-container [formGroup]="form">
      <div class="grid">
        <div class="col-4">
          <div class="field-radiobutton">
            <p-checkbox (onChange)="checkPaymentAttachment($event)" [binary]="true"
                        [disabled]="disableDecision()" formControlName="paymentAttachment">
            </p-checkbox>
            <label>{{ 'request.detailRequest.submitFeePay.ctnt' | translate }}</label>
          </div>
        </div>
        <div class="col-4">
          <div class="field-radiobutton">
            <p-checkbox
              [binary]="true"
              [disabled]="!!itemRequestStepOne?.isSubmit"
              formControlName="paymentAttachmentAuthorization"
            >
            </p-checkbox>
            <label> {{ 'request.detailRequest.submitFeePay.ctuqnt' | translate }}</label>
          </div>
        </div>
      </div>
    </ng-container>
  </p-card>
  <p-card class="decision" styleClass="mt-3">
    <div class=" ">
      <h4 class="title title-decision">{{ 'request.detailRequest.submitFeePay.review' | translate }}</h4>
    </div>
    <div [formGroup]="form" class="grid">
      <div class="col-3">
        <mbal-select
          [disabled]="disableDecision()"
          [options]="decisionDropList"
          formControlName="decision"
          label="{{ 'request.detailRequest.underwrite.decision' | translate }} "
          optionLabel="name"
          optionValue="value"
        >
        </mbal-select>
      </div>
      <div *ngIf="form.get('decision')?.value === collectionDecision.Approved" class="col-9">
        <div class="field-radiobutton m-2">
          <p-checkbox (onChange)="clickIsMultiAttInfo($event['checked'])" [binary]="true"
                      [disabled]="!!itemRequestStepOne?.isSubmit" formControlName="isMultiAttInfo">
          </p-checkbox>
          <label>{{ 'request.detailRequest.submitFeePay.documentMultipe' | translate }}</label>
        </div>
      </div>
    </div>
    <!-- th có quyết định là approved -->

    <ng-container *ngIf="form.get('decision')?.value === collectionDecision.Approved">
      <div class="grid">
        <div class="col-12">
          <p-table
            [value]="selectionItemLot"
            selectionMode="checkbox">
            <ng-container>
              <ng-template pTemplate="header">
                <tr>
                  <th scope="col">Allocated</th>
                  <th scope="col">Document type</th>
                  <th *ngIf="showAttachmentTypeOther()" scope="col">Document type other</th>
                  <th scope="col">Payment</th>
                  <th scope="col">Value date</th>
                  <th scope="col">Usage text</th>
                  <th scope="col">Payment lot</th>
                  <th scope="col">Item</th>
                  <th scope="col">Status</th>
                  <th class="action" scope="col">Action</th>
                </tr>
              </ng-template>
              <ng-template let-i="rowIndex" let-item pTemplate="body">
                <tr
                  [ngClass]="{
                    'bg-red-100': (item.isProcessSuccess === false && item.status === statusPaymentLot.REVERSED) ||
                        (checkValueNumber(item.remainingAmount) && +item.remainingAmount < item.numberOfPremiums && item.status === statusPaymentLot.FREE && isPaymentAmountGreaterRemainingAmount),
                    'bg-orange-100': item.isProcessSuccess === undefined && item.status === statusPaymentLot.REVERSED
                  }"
                  [style]="item.isEdit ?  'background-color: #DBE9FF' : ''">
                  <td>
                    <p-checkbox (onChange)="checkAllocated($event['checked'],item)" [(ngModel)]="item.isAllocated"
                                [binary]="true"
                                [disabled]="item.disabled"
                                [name]="'isAllocated_' + i"></p-checkbox>
                  </td>
                  <td>
                    <mbal-select [(ngModel)]="item.attachmentType"
                                 [disabled]="!!item.disabled || !!itemRequestStepOne?.isSubmit || !!item.isCreatePaymentLot"
                                 [name]="'attachmentType_' + i"
                                 [options]="listDocumentType"
                                 [required]="true"
                                 [showLabel]="false"
                                 optionLabel="name"
                                 optionValue="code">

                    </mbal-select>
                  </td>
                  <td *ngIf="showAttachmentTypeOther()">
                    <mbal-input-text *ngIf="item.attachmentType === typeOther.other"
                                     [(ngModel)]="item.attachmentTypeOther"
                                     [disabled]="!!item.disabled || !!itemRequestStepOne?.isSubmit || !!item.isCreatePaymentLot"
                                     [name]="'attachmentTypeOther_' + i"
                                     [showLabel]="false"
                                     [tooltipDisabled]="!item.attachmentTypeOther"
                                     pTooltip="{{ item.attachmentTypeOther }}"
                                     tooltipPosition="bottom"></mbal-input-text>
                  </td>
                  <td>
                    <mbal-input-number [(ngModel)]="item.numberOfPremiums"
                                       [disabled]="item.status === statusPaymentLot.REVERSED || item.isAllocated || !!item.disabled || !!itemRequestStepOne?.isSubmit || !!item.isCreatePaymentLot"
                                       [maxLength]="15"
                                       [min]="0"
                                       [name]="'numberOfPremiums_' + i"
                                       [required]="true"
                                       [showLabel]="false"></mbal-input-number>
                  </td>
                  <td>
                    <mbal-calendar
                      [(ngModel)]="item.paymentReceiveDate"
                      [disabled]="true"
                      [maxDate]="dateNotFuture"
                      [name]="'paymentReceiveDate_' + i"
                      [required]="true"
                      [showLabel]="false"></mbal-calendar>
                  </td>
                  <td [pTooltip]="item.paymentInfo">
                    <mbal-input-text [(ngModel)]="item.paymentInfo"
                                     [disabled]="true"
                                     [name]="'paymentInfo_' + i"
                                     [showLabel]="false"></mbal-input-text>
                  </td>
                  <td>
                    <mbal-input-text [(ngModel)]="item.paymentLot"
                                     [disabled]="true"
                                     [name]="'paymentLot_' + i" [showLabel]="false"></mbal-input-text>
                  </td>
                  <td>
                    <mbal-input-text [(ngModel)]="item.item"
                                     [disabled]="true"
                                     [name]="'item_' + i"
                                     [showLabel]="false"></mbal-input-text>
                  </td>
                  <td>
                    <p-tag *ngIf="!isBoolean(item.isProcessSuccess) && item.paymentLot"
                           styleClass="mr-2 tag-default"
                           value="New"></p-tag>
                    <p-tag *ngIf="item.isProcessSuccess === true"
                           severity="success" styleClass="mr-2"
                           value="Success"></p-tag>
                    <p-tag
                      *ngIf="item.isProcessSuccess === false"
                      pTooltip="{{ item.processInfo === 'SAP_ERROR' ? item.processMessage : ('MESSAGE.' + item.processInfo) | translate }}"
                      severity="danger" styleClass="mr-2"
                      title="{{ item.processInfo === 'SAP_ERROR' ? item.processMessage : ('MESSAGE.' + item.processInfo) | translate }}"
                      value="Fail">
                    </p-tag>
                  </td>
                  <td>
                    <ng-container *ngIf="!item.isProcessSuccess">
                      <button (click)="editLine(item)"
                              [disabled]="itemRequestStepOne?.isSubmit"
                              class="min-btn"><em class="las la-pen"></em></button>

                      <button (click)="deleteLine(item)" *ngIf="hasIconDelete()"
                              [disabled]="item.isProcessSuccess" class="pointer ml-2 min-btn"><em
                        class="las la-trash-alt"></em></button>
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
            </ng-container>
          </p-table>


        </div>
        <div *ngIf="form.get('isMultiAttInfo')?.value && !itemRequestStepOne?.isSubmit" class="col-12">
          <label (click)="addNewLine()"
                 class="mt-3 text-blue-500">+ {{ 'request.detailRequest.submitFeePay.addNewLine' | translate }}</label>
        </div>
      </div>
      <div class="col-12">
        <p-toolbar styleClass="px-0 flex justify-content-between">
          <div class="p-toolbar-group-left">
            <button (click)="getPaymentDoc()" label="Chronology"
                    pButton></button>
          </div>


          <div class="p-toolbar-group-right">
            <p-button (click)="clearChrolonogy()" class="ml-3" icon="pi pi-replay"
                      styleClass="p-button-primary"></p-button>


          </div>
        </p-toolbar>

      </div>
      <ng-container *ngIf="paymentDocDTOs.length > 0">
        <div class="grid">
          <div class="col-12">
            <p-table
              #dt1
              (sortFunction)="customSort($event)"
              [customSort]="true"
              [paginator]="true"
              [resizableColumns]="true" [rowsPerPageOptions]="[10,20,30]"
              [rows]="10"
              [value]="paymentDocDTOs"
              responsiveLayout="scroll" selectionMode="checkbox"
            >
              <ng-container>
                <ng-template pTemplate="header">
                  <tr>
                    <th scope="col"></th>
                    <th pSortableColumn="docNo" scope="col">Doc No
                      <p-sortIcon field="docNo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="paymentLot" scope="col">Payment lot
                      <p-sortIcon field="paymentLot"></p-sortIcon>
                    </th>
                    <th pSortableColumn="item" scope="col">Item
                      <p-sortIcon field="item"></p-sortIcon>
                    </th>
                    <th pSortableColumn="amount" scope="col">Amount
                      <p-sortIcon field="amount"></p-sortIcon>
                    </th>
                    <th pSortableColumn="netDueDate" scope="col">Net due date
                      <p-sortIcon field="netDueDate"></p-sortIcon>
                    </th>
                    <th pSortableColumn="postingDate" scope="col">Posting date
                      <p-sortIcon field="postingDate"></p-sortIcon>
                    </th>
                    <th pSortableColumn="debit" scope="col"> Debit
                      <p-sortIcon field="debit"></p-sortIcon>
                    </th>
                    <th pSortableColumn="origin" scope="col">Origin
                      <p-sortIcon field="origin"></p-sortIcon>
                    </th>
                    <th pSortableColumn="changedBy" scope="col">Changed by
                      <p-sortIcon field="changedBy"></p-sortIcon>
                    </th>
                    <th pSortableColumn="changedOn" scope="col">Changed on
                      <p-sortIcon field="changedOn"></p-sortIcon>
                    </th>
                    <th pSortableColumn="enteredAt" scope="col">Entered at
                      <p-sortIcon field="enteredAt"></p-sortIcon>
                    </th>
                    <th scope="col">Crcy</th>
                    <th pSortableColumn="nameOfOrgin" scope="col">Name of orgin
                      <p-sortIcon field="nameOfOrgin"></p-sortIcon>
                    </th>
                    <th pSortableColumn="creditMemo" scope="col">Credit memo
                      <p-sortIcon field="creditMemo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="cleared" scope="col">Cleared
                      <p-sortIcon field="cleared"></p-sortIcon>
                    </th>
                  </tr>
                  <tr>
                    <th></th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-text
                        (input)="dt1.filter($any($event.target)?.value?.trim(),'docNo', 'contains')"
                        [fieldForm]="false"
                        formControlName="docNo"
                        [showLabel]="false"
                      ></mbal-input-text>
                    </th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-text
                        (input)="dt1.filter($any($event.target)?.value?.trim(),'paymentLot', 'contains')"
                        [fieldForm]="false"
                        formControlName="paymentLot"
                        [showLabel]="false"
                      ></mbal-input-text>
                    </th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-text
                        (input)="dt1.filter($any($event.target)?.value?.trim(),'item', 'contains')"
                        [fieldForm]="false"
                        formControlName="item"
                        [showLabel]="false"
                      ></mbal-input-text>
                    </th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-number
                        (input)="dt1.filter($any($event)?.value?.toString(),'amount', 'equals')"
                        [fieldForm]="false"
                        formControlName="amount"
                        [showLabel]="false"
                      ></mbal-input-number>
                    </th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-text
                        (input)="dt1.filter($any($event.target)?.value?.trim(),'netDueDate', 'contains')"
                        [fieldForm]="false"
                        formControlName="netDueDate"
                        [showLabel]="false"
                      ></mbal-input-text>
                    </th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-text
                        (input)="dt1.filter($any($event.target)?.value?.trim(),'postingDate', 'contains')"
                        [fieldForm]="false"
                        formControlName="postingDate"
                        [showLabel]="false"
                      ></mbal-input-text>
                    </th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-number
                        (input)="dt1.filter($any($event)?.value?.toString(),'debit', 'equals')"
                        [fieldForm]="false"
                        formControlName="debit"
                        [showLabel]="false"
                      ></mbal-input-number>
                    </th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-text (input)="dt1.filter($any($event.target)?.value?.trim(),'origin', 'contains')"
                                       [fieldForm]="false"
                                       formControlName="origin"
                                       [showLabel]="false"
                      ></mbal-input-text>
                    </th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-text
                        (input)="dt1.filter($any($event.target)?.value?.trim(),'changedBy', 'contains')"
                        [fieldForm]="false"
                        formControlName="changedBy"
                        [showLabel]="false"
                      ></mbal-input-text>
                    </th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-text
                        (input)="dt1.filter($any($event.target)?.value?.trim(),'changedOn', 'contains')"
                        [fieldForm]="false"
                        formControlName="changedOn"
                        [showLabel]="false"
                      ></mbal-input-text>
                    </th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-text
                        (input)="dt1.filter($any($event.target)?.value?.trim(),'enteredAt', 'contains')"
                        [fieldForm]="false"
                        formControlName="enteredAt"
                        [showLabel]="false"
                      ></mbal-input-text>
                    </th>
                    <th>

                    </th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-text
                        (input)="dt1.filter($any($event.target)?.value?.trim(),'nameOfOrgin', 'contains')"
                        [fieldForm]="false"
                        [showLabel]="false"
                        formControlName="nameOfOrgin"
                        class="input-search"></mbal-input-text>
                    </th>
                    <th [formGroup]="formFilterChronology">
                      <mbal-input-text
                        (input)="dt1.filter($any($event.target)?.value?.trim(),'creditMemo', 'contains')"
                        [fieldForm]="false"
                        formControlName="creditMemo"
                        [showLabel]="false"
                        class="input-search"></mbal-input-text>
                    </th>
                    <th>
                      <mbal-input-text (input)="dt1.filter($any($event.target)?.value?.trim(),'cleared', 'contains')"
                                       [fieldForm]="false"
                                       [showLabel]="false"
                                       class="input-search"></mbal-input-text>
                    </th>
                  </tr>
                </ng-template>
                <ng-template let-i="rowIndex" let-item pTemplate="body">
                  <tr>
                    <td>
                      <p-checkbox (onChange)="selectionPaymentLotItem(item,$event['checked'], true)"
                                  [(ngModel)]="getItemLot(item, true).checked"
                                  [binary]="true"
                                  [disabled]="!hasPaymentLotItem(item) || !!getItemLot(item, true).disabled ||  !!itemRequestStepOne?.isSubmit || !isAllocated"
                                  name="{{ 'chronology-checkbox-' + i}}"
                      ></p-checkbox>
                    </td>
                    <td>{{ item.docNo }}</td>
                    <td>{{item.paymentLot}}</td>
                    <td>{{item.item}}</td>
                    <td>{{ item.amount | number:"1.0-0"  }}</td>
                    <td>
                      {{ item.netDueDate }}
                    </td>
                    <td>{{ item.postingDate }}</td>
                    <td>{{ item.debit | number:"1.0-0" }}</td>
                    <td>{{ item.origin }}</td>
                    <td>{{ item.changedBy }}</td>
                    <td>{{ item.changedOn  }}</td>
                    <td>{{ item.enteredAt }}</td>
                    <td>VNĐ</td>
                    <td>{{item.nameOfOrgin}}</td>
                    <td>{{item.creditMemo| number:"1.0-0"}}</td>
                    <td>{{item.cleared| number:"1.0-0"}}</td>
                  </tr>
                </ng-template>
              </ng-container>
            </p-table>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!form.get('isDistribution')?.value">
        <div class="grid mt-2 shadow-3">
          <div *ngIf="paymentLots.length > 0" class="col-12 mt-5 mb-5">

            <ng-container>
              <p-table
                [resizableColumns]="true"
                [scrollable]="false"
                [value]="paymentLots"
                responsiveLayout="scroll"
                scrollDirection="vertical"
                selectionMode="checkbox"
              >
                <ng-container>
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="checkbox-width" scope="col"></th>
                      <th scope="col">Payment lot</th>
                      <th scope="col">Item</th>
                      <th scope="col">Posting date</th>
                      <th scope="col">Usage text</th>
                      <th scope="col">Payment Amount</th>
                      <th scope="col">Remaining Amount</th>
                      <th scope="col">Allocated policy</th>
                      <th scope="col">Status</th>
                    </tr>
                  </ng-template>
                  <ng-template let-i="rowIndex" let-item pTemplate="body">
                    <tr [pSelectableRow]="item">
                      <td class="checkbox-width">
                        <p-checkbox
                          [(ngModel)]="item.checked"
                          [binary]="true"
                          [disabled]="true"
                          [name]="'checked_'+i"
                        ></p-checkbox>

                      </td>
                      <td>{{ item.paymentLot }}</td>
                      <td>{{ item.item }}</td>
                      <td>{{ item.postingDate }}</td>

                      <td class="usage-text" pTooltip="{{ item.usageText }}">
                        <p class="w-20rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                          {{ item.usageText }}
                        </p>
                      </td>
                      <td>{{ item.paymentAmount | number: '1.0-0' }}</td>
                      <td>
                        {{ item.remainingAmount | number: '1.0-0' }}
                      </td>
                      <td>{{ item.policyAllocated}}</td>
                      <td>{{ getItemLotSubmitted(item).status }}</td>
                    </tr>
                  </ng-template>
                </ng-container>
              </p-table>
            </ng-container>
          </div>
          <div class="col-12 mt-5 mb-5">

            <ng-container>
              <div class="flex mb-2">
                <div class="col-2">

                  <mbal-input-number [(ngModel)]="params.paymentAmount"
                                     [min]="0"
                                     label="Payment Amount"
                                     mode="decimal"></mbal-input-number>
                </div>
                <div class="col-2">
                  <mbal-input-text [(ngModel)]="params.searchTerm" label="Usage Text"></mbal-input-text>
                </div>
                <div class="col-2">
                  <mbal-calendar [(ngModel)]="params.postingFromDate" [maxDate]="today"
                                 label="From date"></mbal-calendar>
                </div>
                <div class="col-2">
                  <mbal-calendar [(ngModel)]="params.postingToDate" [maxDate]="today" label="To date"></mbal-calendar>
                </div>
                <div class="col-4">
                  <p-button
                    (click)="getDataTableLot(true)"
                    [disabled]="!!itemRequestStepOne?.isSubmit || hasParamsPaymentLot()"
                    icon="pi pi-search"
                    label=" {{ 'request.detailRequest.submitFeePay.search' | translate }}"
                    styleClass="p-button-primary"
                  ></p-button>
                </div>
              </div>

              <p-table
                [resizableColumns]="true"
                [scrollable]="false"
                [value]="paymentLotTable.content"
                responsiveLayout="scroll"
                scrollDirection="vertical"
                selectionMode="checkbox"
              >
                <ng-container>
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="checkbox-width" scope="col"></th>
                      <th scope="col">Payment lot</th>
                      <th scope="col">Item</th>
                      <th scope="col">Posting date</th>
                      <th scope="col">Usage text</th>
                      <th scope="col">Payment Amount</th>
                      <th scope="col">Remaining Amount</th>
                      <th scope="col">Allocated policy</th>

                      <th scope="col">Status</th>
                    </tr>
                  </ng-template>
                  <ng-template let-i="rowIndex" let-item pTemplate="body">
                    <tr [pSelectableRow]="item">
                      <td class="checkbox-width">
                        <p-checkbox
                          (onChange)="selectionPaymentLotItem(item,$event['checked'])"
                          [(ngModel)]="getItemLot(item).checked"
                          [binary]="true"
                          [disabled]="[statusPaymentLot.ALLOCATED, statusPaymentLot.REPAYMENT, statusPaymentLot.IN_PROCESS].includes(item.status) || getItemLot(item).disabled || !!itemRequestStepOne?.isSubmit || isDisableLot"
                          [name]="'checked'+ i"
                        ></p-checkbox>

                      </td>
                      <td>{{ item.paymentLot }}</td>
                      <td>{{ item.item }}</td>
                      <td>{{ item.postingDate }}</td>

                      <td class="usage-text" pTooltip="{{ item.usageText }}">
                        <p class="w-20rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                          {{ item.usageText }}
                        </p>
                      </td>
                      <td>{{ item.paymentAmount | number: '1.0-0' }}</td>
                      <td>
                        {{item.remainingAmount  | number: '1.0-0' }}
                      </td>
                      <td>{{ item.policyAllocated}}</td>
                      <td>{{ item.status }}</td>
                    </tr>
                  </ng-template>
                </ng-container>
              </p-table>
              <div class="custom-paginator">
                <div class="grid align-items-center mt-2">
                  <div class="col-2">
                    {{ 'request.requestList.total' | translate }} : {{ paymentLotTable.numberOfElements }}
                    {{ 'request.requestList.of' | translate }} {{ paymentLotTable.totalElements }}
                    {{ 'request.requestList.record' | translate }}.
                  </div>
                  <div class="col-9">
                    <p-paginator
                      (onPageChange)="pageChange($event)"
                      [first]="paymentLotTable.first"
                      [rowsPerPageOptions]="[10, 20, 30]"
                      [rows]="paymentLotTable.size"
                      [showCurrentPageReport]="true"
                      [totalRecords]="paymentLotTable.totalElements"
                    >
                    </p-paginator>
                  </div>
                  <div class="col-1 grid justify-content-end"></div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="mt-5">
          <p-button
            (click)="processing()"
            *ngIf="isCreateLot"
            [disabled]="!!itemRequestStepOne?.isSubmit"
            label="{{ 'request.detailRequest.submitFeePay.createPaymentLot' | translate }}"
          >
          </p-button>
          <div *ngIf="paymentLotResults!.length > 0" class="grid">
            <div class="col-12 mt-5">
              <p-table
                [value]="paymentLotResults"
              >
                <ng-container>
                  <ng-template pTemplate="header">
                    <tr>
                      <th scope="col">Payment lot</th>
                      <th scope="col">Item</th>
                      <th scope="col">Payment amount</th>
                      <th scope="col">Selection value 1</th>
                      <th scope="col">Selection value 2</th>
                      <th scope="col">Bank number</th>
                      <th scope="col">Usage text</th>
                      <th scope="col">Posting date</th>
                    </tr>
                  </ng-template>
                  <ng-template let-i="rowIndex" let-item pTemplate="body">
                    <tr>
                      <td>{{ item.paymentLot }}</td>
                      <td>{{ item.item }}</td>
                      <td>{{ item.paymentAmount | number:'1.0-0' }}</td>
                      <td>{{ item.selectionCat1 }}</td>
                      <td>
                        {{ item.selectionCat2 }}
                      </td>
                      <td>{{ item.bankClAccount }}</td>
                      <td>{{ item.usageText }}</td>
                      <td>{{ item.postingDate | date: 'dd/MM/yyyy' }}</td>
                    </tr>
                  </ng-template>
                </ng-container>
              </p-table>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <!-- //TH có quyết định là pending và reject -->
    <ng-container
      *ngIf="
        form.get('decision')?.value === collectionDecision.Pending ||
        form.get('decision')?.value === collectionDecision.Reject
      "
      [formGroup]="form"
    >
      <div class="grid">
        <div class="col-12">
          <mbal-input-textarea
            [autoResize]="false"
            [disabled]="!!itemRequestStepOne?.isSubmit"
            [rows]="2"
            class="label-input"
            formControlName="reasonNote"
            label="{{ 'request.detailRequest.submitFeePay.reasonNote' | translate }} "
          ></mbal-input-textarea>

        </div>
      </div>
    </ng-container>
  </p-card>
  <p-card styleClass="mt-3">
    <div class="flex flex-row-reverse card-container flex-btn align-items-center">
      <!--        -->
      <button
        (click)="viewRestorePolicy()"
        *ngIf="isRestore()"
        [disabled]="itemRequestStepOne?.isReinstatementPolicy"
        class="ml-2"
        pButton
      >
        {{ 'request.detailRequest.submitFeePay.restore' | translate }}
      </button>
      <button (click)="checkPriceDifference()" [disabled]="disableSubmit()" class="ml-2"
              pButton>
        {{ 'request.detailRequest.underwrite.submit' | translate }}
      </button>

      <button (click)="save()" [disabled]="!!itemRequestStepOne?.isSubmit" class="ml-2" pButton>
        {{ 'request.detailRequest.underwrite.save' | translate }}
      </button>
      <button (click)="back()" class="ml-2 btn-cancel" pButton>
        {{ 'request.detailRequest.underwrite.cancel' | translate }}
      </button>
    </div>
  </p-card>
</ng-container>
<ng-container *ngIf="activeIndexSteps === 1">
  <app-collection-policy-info [decisions]="decisionContractStore" (reloadData)="refreshData.emit($event)"
                              [itemRequest]="itemRequest"></app-collection-policy-info>
</ng-container>
<ng-container *ngIf="activeIndexSteps === 2">
  <app-reset-policy [itemRequest]="itemRequest"></app-reset-policy>
</ng-container>


