:host ::ng-deep {
  .td-sm {
    min-width: 10rem;
  }

  .p-datatable .p-datatable-thead > tr > th {
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
  }

  .action {
    min-width: 100px;
  }


  .text-sm {
    font-size: 0.875rem;
    padding: 0.5rem 0.875rem;
  }

  .calendar-sm .p-calendar {
    height: 2.2rem;
  }

  .dropdown-sm .p-inputtext {
    border: 0 none;
    height: 2.1rem;
  }

  .min-btn {
    width: 2rem;
    padding: 0.3rem !important;
    border: none;
    background: rgba(63, 81, 181, 0.92);
    color: white;
    border-radius: 10px;
  }

  .min-btn:disabled {
    opacity: 0.6;
  }

  .p-datatable .p-sortable-column.p-highlight {
    background: #f2f6fa;
    color: rgba(0, 0, 0, 0.87);
  }

  .tag-default {
    background: #d8dade;
    color: inherit;
  }

}
