<div class="relative col-12">
  <div class="accept_policy__container p-float-label p-inputtext p-inputtext-sm">
    <div class="grid">
      <div class="lg:col-4 md:col-6 col-12 ">
        <mbal-input-text [(ngModel)]="onAttachmentPolicyNumber"
                         [onlyNumber]="true"
                         (ngModelChange)="onChangeAttachmentPolicyNumber.emit($event)"
                         [disabled]="!!(disableAction$ | async)" [fieldForm]="true"
                         [label]="'request.detailRequest.premiumAdjustment.request.policyNumber' | translate"
        ></mbal-input-text>
      </div>
      <div class="lg:col-4 md:col-6 col-12 ">
        <mbal-input-text [disabled]="true" [fieldForm]="false"
                         [label]="'request.detailRequest.premiumAdjustment.request.payment' | translate"
                         [ngModel]="summary ? ((summary?.onAttachmentAmount| currency: 'VND': '') + ' VNĐ') : '- - -'"
                         [readonly]="true"></mbal-input-text>
      </div>
      <div class="lg:col-4 md:col-6 col-12 ">
        <mbal-input-text [disabled]="true" [fieldForm]="false"
                         [label]="'request.detailRequest.premiumAdjustment.request.adjustmentFee' | translate"
                         [ngModel]="summary ? ((summary?.adjustmentAmount | currency: 'VND': '') + ' VNĐ') : '- - -'"
                         [readonly]="true"></mbal-input-text>
      </div>
      <div class="lg:col-4 md:col-6 col-12 ">
        <mbal-input-text [disabled]="true" [fieldForm]="false"
                         [label]="'request.detailRequest.premiumAdjustment.request.adjustment' |  translate"
                         [ngModel]="summary?.feeAdjustPolicyNumber ?? '- - -'"
                         [readonly]="true"></mbal-input-text>
      </div>
      <div class="lg:col-4 md:col-6 col-12 ">
        <mbal-input-text [disabled]="true" [fieldForm]="false"
                         [label]="'request.detailRequest.premiumAdjustment.request.adjustmentPolicy' | translate"
                         [ngModel]="summary?.policyHolderName ?? '- - -'" [readonly]="true"></mbal-input-text>
      </div>
      <div class="lg:col-4 md:col-6 col-12 ">
        <mbal-input-text [disabled]="true" [fieldForm]="false"
                         [label]="'request.detailRequest.premiumAdjustment.request.ticketNumber'"
                         [ngModel]="summary?.crmTicket ?? '- - -'"
                         [pTooltip]="summary?.crmTicket + '' "
                         [tooltipDisabled]="!summary?.crmTicket"
                         tooltipPosition="bottom"
                         [readonly]="true"></mbal-input-text>
      </div>
      <div class="lg:col-4 md:col-6 col-12 ">
        <mbal-input-text [disabled]="true" [fieldForm]="false"
                         [label]="'request.detailRequest.premiumAdjustment.request.emailCCTV' | translate"
                         [ngModel]="summary?.icEmail ?? '- - -'"
                         [pTooltip]="summary?.icEmail ?? '- - -'"
                         [tooltipDisabled]="!summary?.icEmail"
                         tooltipPosition="bottom"
                         [readonly]="true"></mbal-input-text>
      </div>
      <div class="col-12 text-right">
        <button (click)="confirmPolicyNumber()"
                [disabled]="!!(disableAction$ | async)"
                class="p-button-primary" pButton>{{'MESSAGE.confirm'| translate}}</button>
      </div>
    </div>
    <label class="bg-white top-0 px-1">{{'request.detailRequest.requestInfo.title' | translate}}</label>
  </div>
</div>
