<div class="p-dialog-header px-0">
  <span class="p-dialog-title"
  >{{'category.childCondition.title' | translate }}</span
  >
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="grid">
  <div class="col-12">
    <mbal-select
      label="{{'category.childCondition.columnCode' | translate }}"
    ></mbal-select>
  </div>
  <div class="col-12">
    <mbal-input-text
      label="{{'category.childCondition.dependIndex' | translate }}"
    ></mbal-input-text>
  </div>
</div>
<div class="mt-3 text-right">
  <button
    class="btn save"
  >{{'category.save' | translate }}
  </button>
</div>
<div class="mt-3">
  <div class="grid">
    <div class="col-6">
      <mbal-input-text
        label="{{'category.childCondition.textSearch' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-6 text-left">
      <button class="mx-2" pButton label="{{'category.search' | translate }}" icon="pi pi-search"></button>
    </div>
  </div>
  <p-table
    [autoLayout]="true"
    [resizableColumns]="true"
    [value]="[1,2,3]"
    responsiveLayout="scroll"
    dataKey="id"
    editMode="row"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 50px; padding: 5px 10px">STT</th>
        <th style="padding: 5px 10px">{{'category.action' | translate }}</th>
        <th style="padding: 5px 10px">{{'category.childCondition.columnCode' | translate }}</th>
        <th style="padding: 5px 10px">{{'category.childCondition.dependIndex' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" let-item let-editing="editing" let-ri="rowIndex" pTemplate="body">
      <tr [pEditableRow]="item">
        <td>{{i + 1}}</td>
        <td>
          <button (click)="delete()" class="mx-2 p-button-outlined p-button-danger" pButton
                  label="{{'category.delete' | translate }}"
                  icon="pi pi-times"></button>
        </td>
        <td>
          {{item.childrenName}}
        </td>
        <td>
          {{item.condDependIndex}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!--  <div class="mt-5 text-right">-->
<!--    <button-->
<!--      class="btn destroy"-->
<!--      (click)="closeDialog()"-->
<!--    >Cancel-->
<!--    </button>-->
<!--    <button-->
<!--      class="btn save"-->
<!--      (click)="save()"-->
<!--    >Save-->
<!--    </button>-->
<!--  </div>-->


