.over{
  width: 100%;
  overflow-x: hidden;
  .sidebarMenu{
    position: absolute;
    width: 300px;
    @media screen and (max-width: 1000px){
      display: none;
    }
  }
  .content{
    margin-left: 300px;
    @media screen and (max-width: 1000px){
      margin-left: 0px;
    }
  }
}

