<div class="over">
  <div class="flexDisplay">
    <div class="sidebarMenu">
      <app-side-bar></app-side-bar>
    </div>
    <div class="content">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
