.titleDialog {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #0B7CC3;
  padding: 22px 0 42px 0;
}
.define{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #841918;
}

.valueDefine{
  padding: 0 50px 0 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: right;

  color: #841918;
}

.agree{
  .define,
  .valueDefine {
    color: #84C993;
  }
}

p-table .header {
  background-color: #DBE9FF;
}

p-table {
  .status {
    margin: 0 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #565A5E;
  }
  .Red{
    background-color: red;
  }
  .Yellow{
    background-color: yellow;
  }
  .Green{
    background-color: #84C993;
  }
}

.buttonDestroy {
  color: #2B2D2F;
  width: 130px;
  height: 36px;
  background: #DEE2E6;
  border-radius: 4px;
}

.buttonSave {
  width: 130px;
  height: 36px;
  border-radius: 4px;
}

.row-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .row {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 8px;

    .title_payment {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: black;
    }

    .content_payment {
      flex-grow: 1;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #4E4B66;
    }
  }
}

:host(::ng-deep){
  .p-inputtext-sm .p-inputtext {
    padding: 0.7rem
  }
  .b-errors {
    bottom: unset !important;
  }
}
