<div class="text-center">
  <div class="titleDialog uppercase">{{ 'request.detailRequest.premiumAdjustment.allocate-information' | translate }}</div>
  <div class="flex justify-content-end mb-3" [ngClass]=" {'agree' : hasItemAllocatedAmount && totalAllocated === 0}">
    <div class="define">Total Allocated</div>
    <div class="valueDefine">{{(totalAllocated | MapSAPAmount)}}</div>
  </div>
</div>
<div class="pb-3 mb-3">
  <p-table
    [resizableColumns]="true"
    [value]="tableData"
    selectionMode="single"
    [selection]="selection"
    (selectionChange)="onChangeSelection($event)"
    dataKey="index"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Payment Lot</th>
        <th>Item</th>
        <th>Usage Text</th>
        <th>Posting Date</th>
        <th>Valid To Date</th>
        <th>Payment Amount</th>
        <th>Remaining Amount</th>
        <th>Allocated Amount</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-index="rowIndex">
      <tr [pSelectableRow]="{value: row, index}">
        <td>{{row.paymentLot}}</td>
        <td>{{row.item}}</td>
        <td [pTooltip]="row.usageText"
            [tooltipDisabled]="!row.usageText"
            tooltipPosition="bottom"
        >{{row.usageText}}</td>
        <td>{{row.postingDate | MapSAPDate}}</td>
        <td>{{row.validToDate | MapSAPDate}}</td>
        <td>{{
          row.paymentAmount ?
            (row.paymentAmount | currency:  'VND' : '': '') 
            : ''
          }}</td>
        <td>{{
          row.remainingAmount ?
            (row.remainingAmount | currency:  'VND' : '': '') 
            : ''
          }}</td>
        <td>{{
          row.allocateAmount ?
            (row.allocateAmount | currency:  'VND' : '': '')
            : ''
          }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="bg-white">
  <ng-container *ngIf="selection && (selection.value ) as selection">
    <div class="grid rowInfo px-5">
      <div class="md:col-6 col-12">
        <div class="row-wrapper">
          <div class="row">
            <div class="title_payment">Payment Lot</div>
            <div class="content_payment">{{selection.paymentLot}}</div>
          </div>
          <div class="row">
            <div class="title_payment">Item</div>
            <div class="content_payment">{{selection.item}}</div>
          </div>
          <div class="row">
            <div class="title_payment">Usage Text</div>
            <div class="content_payment overflow-hidden text-ellipse"
                 [pTooltip]="selection.usageText"
                 [tooltipDisabled]="!selection.usageText"
                 [tooltipPosition]="'bottom'"
            >{{selection.usageText}}</div>
          </div>
          <div class="row">
            <div class="title_payment">Posting Date</div>
            <div class="content_payment">{{selection.postingDate | MapSAPDate }}</div>
          </div>
        </div>
      </div>
      <div class="md:col-6 col-12">
        <div class="row-wrapper">
          <div class="row">
            <div class="title_payment">Valid To Date</div>
            <div class="content_payment">{{selection.validToDate | MapSAPDate}}</div>
          </div>
          <div class="row">
            <div class="title_payment">Payment Amount</div>
            <div class="content_payment">{{selection.paymentAmount ?
              (selection.paymentAmount | currency:
                 'VND' : '': '')  : ''}}</div>
          </div>
          <div class="row">
            <div class="title_payment">Remaining Amount</div>
            <div class="content_payment">{{selection.remainingAmount ?
              (selection.remainingAmount | currency:
                 'VND' : '': '')  : ''}}</div>
          </div>
          <div class="row">
            <div class="title_payment">Allocated Amount</div>
            <div class="content_payment">
              <mbal-input-number
                [(ngModel)]="allocateAmount"
                #allocateModel="ngModel"
                [pTooltip]="'request.detailRequest.premiumAdjustment.notification.tooltip.requirement-input-allocate-amount'| translate"
                tooltipPosition="top"
                [placeholder]="(selection.remainingAmount | currency:'VND' : '': '') ?? ''"
                [min]="1"
                [max]="selection.remainingAmount"
                [suffix]="' '+ (selection?.currency ?? 'VND')"
                [fieldForm]="false"
                [required]="true"
                [showLabel]="false"
              ></mbal-input-number>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div>
  <div class="p-dialog-footer p-p-0 mt-5">
    <button
      (click)="closeDialog()"
      class="buttonDestroy"
      label="{{ 'request.detailRequest.premiumAdjustment.cancel' | translate }}"
      pButton
    ></button>
    <button
      (click)="save()"
      [disabled]="!selection || allocateModel?.invalid ?? true"
      class="buttonSave"
      label="{{'request.detailRequest.premiumAdjustment.footer.save' | translate}}"
      pButton
    ></button>
    <button
      [disabled]="allocateModel?.invalid ?? false"
      (click)="allocate()"
      class="buttonSave"
      label="Allocate"
      pButton
    ></button>
  </div>
</div>
