:host(::ng-deep) {
  .p-splitter-panel-nested {
    display: block;
  }

  .chart-card {
    border-radius: 4px;
    padding: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
    width: 100%;

    &.card {
      margin-bottom: 0
    }

    &.p-card {
      height: 100%
    }

    .p-card-content {
      padding: 0;
      height: 100%
    }

    .p-card-body {
      height: 100%
    }
  ;
  }

  .w-99 {
    width: 99%
  }
}

