<div class="grid layout-content pt-2 pl-1">
  <div *ngIf="!onlyDisplayResult"
       class="pt-0"
       [ngClass]="{
       'col-3': selectedFunction &&  functionDataList.length,
        'col-12': !selectedFunction || !functionDataList.length}">
    <div class="card form-view">
      <h3 class="title">{{ 'createRequest.requestRefund.title' | translate }}</h3>
      <div class="radio">
        <div class="field-radiobutton font-view" *ngFor="let item of functions">
          <p-radioButton
            [(ngModel)]="selectedFunction"
            (ngModelChange)="onChangeSelectFunction()"
            [value]="item.value"
            [label]="item.label!"
          ></p-radioButton>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="selectedFunction && functionDataList.length"
       [ngClass]="{'col-9': !onlyDisplayResult, 'col-12': onlyDisplayResult}"
       class="pt-0">
    <p-panel [header]="selectedFunction.functionName">
      
      <div class=" col-12 w-99">
        <div [ngClass]="{'card chart-card': selectedFunction?.functionType === FUNCTION_TYPE.CHART}">
          <app-panel-search [model]="conditions"
                            [isCategoryType]="selectedFunction?.functionType === FUNCTION_TYPE.CATEGORY"
                            (onExecute)="executeFunction($event)"
                            (onSearch)="onSearch($event)"
                            [loadOnInit]="selectedFunction?.functionType !== FUNCTION_TYPE.CATEGORY"
                            [loadOnChange]="selectedFunction?.functionType === FUNCTION_TYPE.CHART"
                            [isChartType]="selectedFunction?.functionType === FUNCTION_TYPE.CHART"
                            (onExportChart)="exportChart()"
                            (onExport)="exportData($event)">
          </app-panel-search>
        </div>
      </div>
      
      <ng-container *ngIf="selectedFunction.functionType !== FUNCTION_TYPE.CHART">
        <div class="col-12">
          <ng-container *ngFor="let functionData of functionDataList, let index=index, trackBy:trackByResult ">
            <app-panel-result *ngIf="!!functionData.columns.length"
                              [isHadRequireResult]="isHadRequireResult"
                              [query]="functionData.query"
                              [columns]="functionData.columns"
                              (lazyLoadParams)="onLoadParams($event, index)"
                              [refreshInterval]="selectedFunction.refreshInterval"
                              [searchDataTable]="dataTables[index]">
            </app-panel-result>
          </ng-container>
        </div>
      </ng-container>
      
      <ng-container *ngIf="selectedFunction.functionType === FUNCTION_TYPE.CHART">
        <div class="grid bg-white col-12 mt-0" id="chart_export_location" #chartView>
          <ng-container *ngFor="let functionData of functionDataList, let index = index, trackBy:trackByResult ">
            <ng-container *ngIf="functionData.query.chartType === 'Card'">
              <app-fe-cards
                [data]="dataTables[index]"
                [title]="functionData?.query?.queryName"
                [columns]="functionData.columns"
                [isLarge]="functionData.query.isLarge"
              ></app-fe-cards>
            </ng-container>
            <ng-container *ngIf="functionData.query.chartType === 'Table'">
            
            </ng-container>
            <div class="col "
                 *ngIf="functionData.query.chartType !== 'Card'"
                 [ngStyle]="{
                    'flex-basis': functionData.query.isLarge + '%' ,
                    'max-width': functionData.query.isLarge + '%',
                    'flex-grow': 1,
                    'flex-shink': 1
                  }">
              <ng-container [ngSwitch]="functionData.query.chartType">
                <app-fe-table *ngSwitchCase="'Table'"
                              [data]="dataTables[index]"
                              [title]="functionData?.query?.queryName"
                              [columns]="functionData.columns">
                </app-fe-table>
                <app-pie-chart *ngSwitchCase="'pie'"
                               [data]="dataTables[index]"
                               [title]="functionData?.query?.queryName"
                               [column]="functionData.columns">
                </app-pie-chart>
                <app-bar-chart *ngSwitchCase="'StackedColumnChart'"
                               [data]="dataTables[index]"
                               [isHorizontalBar]="false"
                               [title]="functionData?.query?.queryName"
                               [isStackBar]="true"
                               class="flex-1"
                               [column]="functionData.columns">
                </app-bar-chart>
                <app-bar-chart *ngSwitchCase="'StackedHorizontalBar'"
                               [data]="dataTables[index]"
                               [isHorizontalBar]="true"
                               [title]="functionData?.query?.queryName"
                               [isStackBar]="true"
                               class="flex-1"
                               [column]="functionData.columns">
                </app-bar-chart>
                <app-line-chart *ngSwitchCase="'line'"
                                [data]="dataTables[index]"
                                [title]="functionData?.query?.queryName"
                                class="flex-1"
                                [column]="functionData.columns">
                </app-line-chart>
                <app-bar-chart *ngSwitchCase="'bar'"
                               [showLegend]="false"
                               [data]="dataTables[index]"
                               [title]="functionData?.query?.queryName"
                               class="flex-1"
                               [column]="functionData.columns"
                ></app-bar-chart>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </p-panel>
  </div>
</div>


