<div class="layout-content p-0">
  <app-loading [ngStyle]="{ display: loading ? 'block' : 'none' }"></app-loading>

  <div class="grid wrapper">
    <div class="leftSide">
      <div class="text-center">
        <img src="/assets/images/imageLogin.png">
      </div>
    </div>
    <div class="rightSide">
      <form [formGroup]="form" class="formLogin" (submit)="submitLogin()">
        <div class="appName text-center">BPM <img class="logo" src="assets/images/mbal-logo.png"></div>
        <ng-container *ngIf="form.controls.username as formUs">
          <div class="mb-3 textInvalid" *ngIf="loginAccountError">Tên đăng nhập/mật khẩu không đúng. Tài khoản của bạn
            sẽ
            bị khoá sau 5 lần
          </div>
          <div class="mb-3 textInvalid" *ngIf="inactiveUser">Tài khoản của bạn đã bị khóa, vui lòng ấn quên mật khẩu để
            lấy lại mật khẩu.
          </div>
          <div class="mb-3 textInvalid" *ngIf="errorServer">Có lỗi xảy ra!</div>
          <div class="wrapperInput">
            <img class="absolute iconInput" src="assets/images/userName.png">
            <input (click)="changeInvalid()" maxlength="255" noSpace
                   [ngClass]="formUs?.invalid && (formUs?.dirty || formUs?.touched) ? 'inputValid' : 'input'"
                   placeholder="Username or Email" id="username" formControlName="username"/>
            <div *ngIf="formUs?.errors?.['required'] && (formUs?.dirty || formUs?.touched)"
                 class="p-error">Tên đăng nhập không được để trống.
            </div>
            <div *ngIf="formUs?.errors?.['noSpace'] && formUs?.dirty"
                 class="p-error">Tên đăng nhập không được chứa khoảng trắng.
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="form.controls.password as formPass">
          <div class="wrapperInput">
            <img class="absolute iconInput" src="assets/images/password.png">
            <input (click)="changeInvalid()" id="password" [type]="showPass ? 'password' : 'text'"
                   formControlName="password"
                   type="password"
                   [ngClass]="formPass?.invalid && (formPass?.dirty || formPass?.touched) ? 'inputValid' : 'input'"
                   placeholder="Password"/>
            <i (click)="showPassword()" *ngIf="formPass.value"
               [ngClass]="showPass? 'iconShowPass pi pi-eye' : 'iconShowPass pi pi-eye-slash'"></i>
            <div *ngIf="formPass?.errors?.['required'] && (formPass?.dirty || formPass?.touched)"
                 class="p-error">Mật khẩu không được để trống.
            </div>
          </div>
        </ng-container>
        <div class="wrapperInput">
          <button class="btnLogin" type="submit">
            Login
          </button>
        </div>
        <div class="forgotPass text-center">BPM version 1.0 - Copy right 2023 by MB Ageas Life</div>
      </form>
    </div>
  </div>
</div>
