@import "variable";
.wrapper{
  background-color: $white;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  width: 100%;
  .leftSide{
    width: 50%;
    padding-left: 250px;
    @media screen and (max-width: 1700px) {
      padding-left: unset;
    }
    @media screen and (max-width: 1300px) {
      display: none;
    }
  }
  .rightSide{
    width: 50%;
    padding: 0 8%;
    @media screen and (max-width: 1700px) {
      padding: 6%;
    }
    @media screen and (max-width: 1300px) {
      width: 100%;
    }
  }
  .formLogin{
    min-height: 500px;
    width: 100%;
    .appName{
      margin-bottom: 40px;
      font-style: normal;
      font-weight: 700;
      font-size: 70px;
      line-height: 85px;
      color: $blue2;
      .logo{
        margin-bottom: 30px;
        margin-left: -20px;
        width: 64px;
        height: 71px;
      }
    }
    .wrapperInput{
      margin-bottom: 25px;
      position: relative;
      padding: 0 30px;
      .iconInput{
        width: 25px;
        height: 28px;
        left: 50px;
        top: 15px;
      }
      .input{
        padding: 0 60px;
        width: 100%;
        height: 60px;
        background: $light-gray;
        border-radius: 20px;
        border: unset;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        &:focus{
          outline: none;
        }
        &::placeholder{
          opacity: 0.5;
        }
      }
      .inputValid{
        padding: 0 60px;
        width: 100%;
        height: 60px;
        background: $white;
        border-radius: 20px;
        border: 1px solid $danger;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        &:focus{
          outline: 1px solid $danger;
        }
        &::placeholder{
          opacity: 0.5;
        }
      }
      .p-error{
        padding: 5px 0 0 5px;
        font-size: 18px;
        color: $danger;
      }
      .iconShowPass{
        position: absolute;
        font-size: 22px;
        right: 50px;
        top: 18px;
        cursor: pointer;
      }
    }
    .btnLogin{
      margin-top: 20px;
      cursor: pointer;
      border: unset;
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      width: 100%;
      color: $white;
      height: 70px;
      background-color: $primary1;
      border-radius: 20px;
      &:hover{
        background-color: $blue;
      }
    }
    .forgotPass{
      opacity: 0.5;
    }
  }
  .textInvalid{
    margin: -20px 30px 0 30px;
    font-size: 18px;
    color: $danger;
  }
}

:host(::ng-deep){
  .layout-content app-loading .app-loading {
    top: 0;
    height: unset;
  }
}
