p-table .header {
  background-color: #DBE9FF;
}

.titleDialog {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #0B7CC3;
  padding: 22px 0 0 0;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #82888E;
}

.wrapperInput {
  min-height: 65px;
}

.buttonDestroy {
  color: #2B2D2F;
  width: 130px;
  height: 36px;
  background: #DEE2E6;
  border-radius: 4px;
  margin: 0 10px;
}

.buttonSave {
  margin: 0 10px;
  width: 130px;
  height: 36px;
  border-radius: 4px;
}


