<div class="text-center">
  <div class="titleDialog">{{ 'request.detailRequest.premiumAdjustment.lapseReversal' | translate }}</div>
</div>
<div class="titleDialog">
  {{ 'request.detailRequest.premiumAdjustment.policyInfo' | translate }}
</div>
<form [formGroup]="form" class="grid py-3" (ngSubmit)="submit()">
  <div class="md:col-6 col-12">
    <div class="wrapperInput">
      <mbal-input-text
        label="{{ 'request.detailRequest.premiumAdjustment.policyNumber' | translate }}"
        formControlName="policyNumber"
        [disabled]="true"
      ></mbal-input-text>
    </div>
    <div class="wrapperInput">
      <mbal-input-text
        label="{{ 'request.detailRequest.premiumAdjustment.mainProductName' | translate }}"
        formControlName="mainProductName"
        [disabled]="true"
      ></mbal-input-text>
    </div>
    <div class="wrapperInput">
      <mbal-input-text
        label="{{ 'request.detailRequest.premiumAdjustment.paymentCost' | translate }}"
        formControlName="paymentFrequency"
        [disabled]="true"
      ></mbal-input-text>
    </div>
    <div class="wrapperInput">
      <mbal-input-textarea
        appTrim
        [TrimOnBlur]="true"
        [autoResize]="false"
        [rows]="3"
        label="{{ 'request.detailRequest.premiumAdjustment.reasonReversed' | translate }}"
        formControlName="reason"
      ></mbal-input-textarea>
    </div>
  </div>
  <div class="md:col-6 col-12">
    <div class="wrapperInput">
      <mbal-input-text
        label="{{ 'request.detailRequest.premiumAdjustment.policyName' | translate }}"
        formControlName="name"
        [disabled]="true"
      ></mbal-input-text>
    </div>
    <div class="wrapperInput">
      <mbal-calendar
        label="{{ 'request.detailRequest.premiumAdjustment.dateApply' | translate }}"
        formControlName="startDate"
        [disabled]="true"
      ></mbal-calendar>
    </div>
    <div class="wrapperInput">
      <mbal-calendar
        label="{{ 'request.detailRequest.premiumAdjustment.outDated' | translate }}"
        formControlName="paidToDate"
        [disabled]="true"
      ></mbal-calendar>
    </div>
    <div class="wrapperInput">
      <mbal-input-textarea
        appTrim
        [TrimOnBlur]="true"
        [autoResize]="false"
        [rows]="3"
        label="{{ 'request.detailRequest.premiumAdjustment.contentRequest' | translate }}"
        formControlName="suggestedContent"
      ></mbal-input-textarea>
    </div>
  </div>
</form>
<div class="mt-2">
  <p-table
    [resizableColumns]="true"
    [scrollable]="true"
    [(selection)]="fpl9Selected"
    [value]="dataTable$"
  >
    <ng-container>
      <ng-template pTemplate="header">
        <tr>
          <th style="flex: 0.4" class="header w-3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th scope="col" class="header">Docs No</th>
          <th scope="col" class="header">Amount</th>
          <th scope="col" class="header">Posting date</th>
          <th scope="col" class="header">Net due date</th>
          <th scope="col" class="header">Usage text</th>
          <th scope="col" class="header">Additional info</th>
          <th scope="col" class="header">Changed by</th>
          <th scope="col" class="header">Changed on</th>
          <th scope="col" class="header">Time</th>
        </tr>
      </ng-template>
    </ng-container>
    <ng-template let-item let-rowIndex="rowIndex" pTemplate="body">
      <tr>
        <td style="flex: 0.4" class="w-3rem">
          <p-tableCheckbox [index]="rowIndex" [value]="item"></p-tableCheckbox>
        </td>
        <td>{{ item.documentNo }}</td>
        <td>{{ item.amount | number: '1.0-0' }}</td>
        <td>{{ item.postingDate | MapSAPDate }}</td>
        <td>
          {{ item.netDueDate | MapSAPDate }}
        </td>
        <td [pTooltip]="item.usageText">
          <p class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
            {{ item.usageText }}
          </p>
        </td>
        <td [pTooltip]="item.additionalInfo">
          <p class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
            {{ item.additionalInfo }}
          </p>
        </td>
        <td>{{ item.changedBy }}</td>
        <td>{{ item.changedOn | MapSAPDate}}</td>
        <td>{{ item.time }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div>
  <div class="p-dialog-footer p-p-0 mt-2">
    <button
      (click)="closeDialog()"
      class="buttonDestroy"
      label="{{ 'request.detailRequest.premiumAdjustment.cancel' | translate }}"
      pButton
    ></button>
    <button
      (click)="submit()"
      [disabled]="disableSaveButton$ | async"
      class="buttonSave"
      label="{{ 'request.detailRequest.premiumAdjustment.submit' | translate }}"
      pButton
    ></button>
  </div>
</div>

