<div class="relative">
  <div class="message-warning" *ngIf="showCreateTaskButton">
    <p-messages *ngIf="role?.includes('OP_CLAIM_ASSESSOR') && planAmount > 50000000" severity="warn">
      <ng-template pTemplate>
        <img src="assets/icons/warning.svg" width="40" alt="warning-icon"/>
        <div class="text-warning ml-2">{{ checkAmount( planAmount ) | translate }}</div>
      </ng-template>
    </p-messages>

    <div *ngFor="let benefit of benefitsClaimsEntities">
      <p-messages
        *ngIf="role?.includes('OP_CLAIM_ASSESSOR') && benefit.codeBenefit === '01' && benefit.amountBenefit >= 30000000"
        severity="warn">
        <ng-template pTemplate>
          <img src="assets/icons/warning.svg" width="40" alt="warning-icon"/>
          <div
            class="text-warning ml-2">{{ 'request.detailRequest.claim-tpa.warningBenefitsClaim01' | translate: { benefitAmount: benefit.amountBenefit | currency: 'VND' : '' } }}</div>
        </ng-template>
      </p-messages>

      <p-messages
        *ngIf="role?.includes('OP_CLAIM_ASSESSOR') && benefit.codeBenefit === '02' && benefit.amountBenefit >= 100000000"
        severity="warn">
        <ng-template pTemplate>
          <img src="assets/icons/warning.svg" width="40" alt="warning-icon"/>
          <div
            class="text-warning ml-2">{{ 'request.detailRequest.claim-tpa.warningBenefitsClaim02' | translate: { benefitAmount: benefit.amountBenefit | currency: 'VND' : '' } }}</div>
        </ng-template>
      </p-messages>
    </div>
    <div
      *ngIf="claimDetailResponse?.policyInfoDto?.policyInfo?.status === 'Lapse' || claimDetailResponse?.policyInfoDto?.policyInfo?.status === 'Grace period'">
      <p-messages *ngIf="role?.includes('OP_CLAIM_ASSESSOR')" severity="warn">
        <ng-template pTemplate>
          <img src="assets/icons/warning.svg" width="40" alt="warning-icon"/>
          <div class="text-warning ml-2">{{ 'MESSAGE.LAPSE_GRACE' | translate }}</div>
        </ng-template>
      </p-messages>
    </div>
  </div>
  <!--//////////////////////////////// SLA ///////////////////////////////-->
  <div *ngIf="ObjectSLA" class="sla">
    <strong>SLA</strong>:
    <span [class]="ObjectSLA.classNameSlaStep">
			{{ ObjectSLA.messageKeySla | translate:
      { days: ObjectSLA.daySlaStep, hours: ObjectSLA.hoursSlaStep, minutes: ObjectSLA.minutesSlaStep } }}
		</span>
  </div>
  <!--//////////////////////////////// END SLA ///////////////////////////////-->
  <p-tabView [(activeIndex)]="activeTab" (activeIndexChange)="activeTabChange.emit($event)">

    <!--//////////////////////////////// FIRST TAB ///////////////////////////////-->
    <p-tabPanel [header]="'request.detailRequest.premiumAdjustment.processing' | translate">
      <ng-template [ngIf]="activeTab === 0">
        <!--///////////////////////////////////// Hiển thị thông tin chung /////////////////////////////////-->
        <p-card styleClass="no-padding mb-3">
          <section class="grid m-0">
            <!--///////////////////////////////////// [MAIN] Thông tin chung /////////////////////////////////-->
            <div class="md:col-6 col-12 claim__scroll-col scroll pl-0">
              <app-claim-overview [detailClaimResponse]="claimDetailResponse"></app-claim-overview>
            </div>
            <!--///////////////////////////////////// [END] Thông tin chung /////////////////////////////////-->

            <!--///////////////////////////////////// [MAIN]Xử lý yêu cầu /////////////////////////////////-->
            <div class="md:col-6 col-12 claim__scroll-col scroll pl-0">
              <app-claim-process-request [loadOnInit]="this.loadDetailOnInit"
                                         [outsideClaimRequestID]="outsideClaimRequestID"></app-claim-process-request>
            </div>
            <!--///////////////////////////////////// [END] Xử lý yêu cầu /////////////////////////////////-->

          </section>
        </p-card>
        <!--///////////////////////////////////// [END] Hiển thị thông tin chung /////////////////////////////////-->

        <!--//////////////////////// Các thông tin được thêm từ ngoài      /////////////////////////////////////////////-->
        <ng-content></ng-content>
        <!--//////////////////////// [END] Các thông tin được thêm từ ngoài      /////////////////////////////////////////////-->

        <p-card styleClass="mt-3 ">
          <div class="text-right">
            <button
              (click)="cancel()"
              class="mr-2 button_cancel p-button-secondary"
              pButton>{{'request.detailRequest.premiumAdjustment.cancel' | translate}}</button>

            <button
              (click)="save()"
              [disabled]="disableSave || claimDetailResponse?.allByRequestId?.isSubmit"
              class="mr-2"
              pButton>
              {{'request.detailRequest.premiumAdjustment.footer.save' | translate}}</button>

            <button
              (click)="submit()"
              [disabled]="disableSubmit || claimDetailResponse?.allByRequestId?.isSubmit"
              pButton>{{'request.detailRequest.premiumAdjustment.footer.submit' | translate}}</button>
          </div>
        </p-card>

      </ng-template>

    </p-tabPanel>
    <!--//////////////////////////////// END FIRST TAB ///////////////////////////////-->

    <!--    &lt;!&ndash;//////////////////////////////// REPORT TAB ///////////////////////////////&ndash;&gt;-->
    <!--    <p-tabPanel [header]="'request.detailRequest.premiumAdjustment.report' | translate">-->

    <!--    </p-tabPanel>-->
    <!--    &lt;!&ndash;//////////////////////////////// END REPORT TAB ///////////////////////////////&ndash;&gt;-->

    <!--//////////////////////////////// ATTACHMENT TAB ///////////////////////////////-->
    <p-tabPanel [header]="'request.detailRequest.premiumAdjustment.attachment' | translate">
      <ng-template [ngIf]="activeTab === 1">
        <app-claim-attachment [claimCaseId]="claimDetailResponse?.allByRequestId?.caseId"></app-claim-attachment>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'request.detailRequest.premiumAdjustment.correspondence.titlePanel' | translate">
      <ng-template [ngIf]="activeTab === 2">
        <app-claim-correspondence
          [claimRequestId]="claimDetailResponse?.allByRequestId?.claimRequestId!"></app-claim-correspondence>
      </ng-template>
    </p-tabPanel>
    <!--//////////////////////////////// END ATTACHMENT TAB ///////////////////////////////-->
  </p-tabView>
</div>

