@import "../../shared/styles";
@import "variable";

:host(
::ng-deep
) {
  .p-message .p-message-wrapper {
    padding: 0.5rem;
    margin: 0rem;
  }

  .p-message.p-message-warn {
    margin: 5px
  }
}

.message-warning {
  z-index: 10;
  position: sticky;
  top: 56px;
  width: 100%;
}


