<div [ngClass]="{ 'field': fieldForm }" class="relative">
  <span class="p-float-label">
    <p-editor
      (blur)="onTouched()"
      (onTextChange)="onTextChange($event)"
      [(ngModel)]="value"
      [disabled]="disabled" [ngClass]="{ 'ng-invalid ng-dirty': errors, readonly: readonly }"
      [placeholder]="placeholder"
      [readonly]="readonly"
      [style]="{ height: height }"
      class="p-editor"></p-editor>
  </span>
  <div class="b-errors">
    <ng-container *ngIf="errors">
      <small class="p-error error-msg block fadeinup animation-duration-300">
        <span class="block">{{ getError().key | translate: getError().required }}</span>
      </small>
    </ng-container>
  </div>
</div>
