<div class="p-dialog-header px-0">
  <span class="p-dialog-title">Phản hồi từ QM</span>
  <div class="p-dialog-header-icons">

    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="radio">
  <div class="field-radiobutton font-view">
    <p-radioButton [(ngModel)]="responseSelect" [value]="true"
                   label="{{ 'request.detailRequest.bp.isGreedy' | translate }}"></p-radioButton>
  </div>
  <div class="field-radiobutton font-view">
    <p-radioButton [(ngModel)]="responseSelect" [value]="false"
                   label="{{ 'request.detailRequest.bp.isNotGreedy' | translate }}"></p-radioButton>
  </div>
</div>

<div class="col-12">
  <div style="margin: auto">
    <label class="label-input">{{ 'attachment' | translate }}<span
      class="text-red">*</span></label>
    <div class="mt-2">
      <p-fileUpload #fileInput (uploadHandler)="uploadHandler($event)" [auto]="true" [customUpload]="true"
                    [maxFileSize]="100000000" [multiple]="false"
                    [previewWidth]="40"
                    [showUploadButton]="false"
                    accept=".pdf,image/*" chooseIcon="pi pi-upload"
                    chooseLabel="{{ 'createRequest.requestRefund.selectFileUpload' | translate }}" class="p-upload">
        <ng-template pTemplate="content">
          <div *ngIf="fileName" class="flex align-items-center justify-content-between">
            <div style="max-width: 75%;
    word-break: break-all;">{{fileName}}</div>
            <button (click)="clearFile()" icon="pi pi-times" pButton></button>
          </div>
        </ng-template>

      </p-fileUpload>
    </div>
  </div>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <button (click)="submitSendQM()" *ngIf="screenType !== 2" [disabled]="!fileBase64" class="p-mr-2" icon="pi pi-check"
          label="{{ 'action.save' | translate }}"
          pButton></button>
  <button (click)="cancel()" class="p-button-secondary" icon="pi pi-times" label="{{ 'action.close' | translate }}"
          pButton></button>
</div>
