<div class=" card chart-card">
  <div class="flex flex-column h-full justify-content-between">
    <div class="title pl-2 py-3">{{title}}</div>
    <div>
      <app-chart-legend
        *ngIf="showLegend"
        [options]="echarts?.getOption()"
        (onToggle)="onToggle($event.name, $event.index)"
        (onMouseOver)="onMouseOver($event)"
        (onMouseLeave)="onMouseLeave()"
        [debug]="'pieChart'">
      </app-chart-legend>
    </div>
    <div class="min-w-full"
         (chartInit)="chartInit($event)"
         echarts
         
         [options]="options"
    >
    </div>
  </div>
</div>
