<div class="text-center">
  <div class="titleDialog">{{ 'request.detailRequest.premiumAdjustment.accountMaintenance' | translate }}</div>
  <div class="flex justify-content-end mb-3" [ngClass]=" {'agree' : hadAnItemGrossClearing && totalDiff === 0}">
    <div class="define">Difference</div>
    <div class="valueDefine">{{totalDiff | MapSAPAmount}}</div>
  </div>
</div>
<div class="pb-3 mb-3">
    <p-table
        [resizableColumns]="true"
        [value]="tableData"
        selectionMode="single"
        [selection]="selection"
        dataKey="index"
        (selectionChange)="onChangeSingleSelection($event)"
        responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Business Partner</th>
          <th>Contract Account</th>
          <th>Contract</th>
          <th>Doc.No</th>
          <th>Gross Amount</th>
          <th>Gross Clearing</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-index="rowIndex">
        <tr [pSelectableRow]="{value: row, index}">
          <td>{{row.bpNumber}}</td>
          <td>{{contractAccount}}</td>
          <td>{{row.contact}}</td>
          <td>{{row.docNumber}}</td>
          <td>{{row.amount | MapSAPAmount}}</td>
          <td>{{row.grossClearing | MapSAPAmount}}</td>
        </tr>
      </ng-template>
    </p-table>
</div>
<div class="bg-white">
  <ng-container *ngIf="selection && (selection.value)  as selection">
    <div class="grid rowInfo px-5">
      <div class="md:col-6 col-12">
        <div class="row-wrapper">
          <div class="row">
            <div class="title_payment">Business Partner</div>
            <div class="content_payment">{{selection.bpNumber}}</div>
          </div>
          <div class="row">
            <div class="title_payment">Contract Account</div>
            <div class="content_payment">{{this.contractAccount}}</div>
          </div>
          <div class="row">
            <div class="title_payment">Contract</div>
            <div class="content_payment">{{selection.contact }}</div>
          </div>
        </div>
      </div>
      <div class="md:col-6 col-12">
        <div class="row-wrapper">
          <div class="row">
            <div class="title_payment">Document No</div>
            <div class="content_payment">{{selection.docNumber}}</div>
          </div>
          <div class="row">
            <div class="title_payment">Gross Amount</div>
            <div class="content_payment">{{selection.amount ? (selection!.amount | MapSAPAmount) : ''}}</div>
          </div>
          <div class="row">
            <div class="title_payment">Gross Clearing</div>
            <div class="content_payment">
              <mbal-input-number
                  [(ngModel)]="grossClearing"
                  (input)="checkGrossClearing()"
                  #grossClearingModel="ngModel"
                  [max]="max"
                  [placeholder]="(max > 0 ? max : min)  + ''"
                  [min]="min"
                  [fieldForm]="false"
                  [required]="true"
                  [showLabel]="false"
              ></mbal-input-number>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div>
  <div class="p-dialog-footer p-p-0 mt-5">
    <button
        (click)="closeDialog()"
        class="buttonDestroy"
        label="{{ 'request.detailRequest.premiumAdjustment.cancel' | translate }}"
        pButton
    ></button>
    <button
        (click)="save()"
        [disabled]="!selection"
        class="buttonSave"
        label="{{'request.detailRequest.premiumAdjustment.footer.save' | translate}}"
        pButton
    ></button>
    <button
        (click)="accountMaintenance()"
        class="buttonSave"
        label="Account Maintenance"
        pButton
    ></button>
  </div>
</div>
