<div [ngClass]="{ 'field': fieldForm }" class="relative">
  <span class="p-float-label">
        <p-dropdown
          #dropdown
          (onChange)="onChangeSelect($event)"
          (onClear)="onClearInput($event)"
          (onFilter)="onFilterSelect($event, dropdown)"
          *ngIf="selectMode === 'single'"
          [autoDisplayFirst]="false"
          [filter]="filter"
          [formControl]="control"
          [group]="group"
          [itemSize]="30"
          [ngClass]="{ 'ng-invalid ng-dirty': errors }"
          [optionDisabled]="optionDisabled"
          [optionGroupChildren]="optionGroupChildren"
          [optionGroupLabel]="optionGroupLabel"
          [optionLabel]="optionLabel"
          [optionValue]="optionValue"
          [options]="options"
          [readonly]="readonly"
          [resetFilterOnHide]="true"
          [scrollHeight]="scrollHeight"
          [showClear]="!readonly && !disabled && showClear"
          [tooltip]="tooltip"
          [virtualScroll]="virtualScroll"
          [editable]="editable"
          [placeholder]="placeholder"
          (onHide)="onPanelHideEvent($event)"
          appendTo="body"
          class="p-inputtext-sm"
        ></p-dropdown>
        <p-multiSelect
          #multiSelect
          (onChange)="onChangeSelect($event)"
          (onClear)="onClearInput($event)"
          (onFilter)="onFilterSelect($event, multiSelect)"
          *ngIf="selectMode === 'multiple'"
          [display]="display"
          [filter]="filter"
          [formControl]="control"
          [group]="group"
          [ngClass]="{ 'ng-invalid ng-dirty': errors }"
          [optionDisabled]="optionDisabled"
          [optionGroupChildren]="optionGroupChildren"
          [optionGroupLabel]="optionGroupLabel"
          [optionLabel]="optionLabel"
          [optionValue]="optionValue"
          [options]="options"
          [itemSize]="30"
          [readonly]="readonly"
          [scrollHeight]="scrollHeight"
          [showClear]="!readonly && !disabled && showClear"
          [tooltip]="tooltip"
          [virtualScroll]="virtualScroll"
          [placeholder]="placeholder"
          [maxSelectedLabels]="maxSelectedLabels"
          [selectedItemsLabel]="selectedItemLabel"
          [showToggleAll]="showToggleAll"
          (onPanelHide)="onPanelHideEvent($event)"
          appendTo="body"
          class="p-inputtext-sm"
        >
          <ng-template [ngIf]="selectedItemsTemplate">
            <ng-template pTemplate="selectedItems" let-item>
                 <ng-template
                   [ngTemplateOutlet]="selectedItemsTemplate"
                   [ngTemplateOutletContext]="{$implicit: item}">
                 </ng-template>
            </ng-template>

          </ng-template>

          <ng-template [ngIf]="itemTemplate">
               <ng-template pTemplate="item" let-item>
                 <ng-template
                   [ngTemplateOutlet]="itemTemplate"
                   [ngTemplateOutletContext]="{$implicit: item}">
                 </ng-template>
               </ng-template>

          </ng-template>

        </p-multiSelect>
    <label *ngIf="showLabel">
      <span *ngIf="showLabel"> {{ label | translate }}</span>
      <span *ngIf="checkRequire" class="p-errors" style="color: red; margin-left: 3px">*</span></label
    >
  </span>
  <div class="b-errors">
    <ng-container *ngIf="errors">
      <small class="p-error error-msg block fadeinup animation-duration-300">
        <span class="block">{{ getError().key | translate: getError().required }}</span>
      </small>
    </ng-container>
  </div>
</div>
