<div class="card">
  <div class="grid">
    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.code"
        label="{{ 'BUSINESS_APPROVE.CODE' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.name"
        label="{{ 'BUSINESS_APPROVE.NAME' | translate }}"
      ></mbal-input-text>
    </div>
  </div>
  <p-toolbar styleClass="px-0 pt-0 mt-2">
    <div class="p-toolbar-group-left">
      <p-button (click)="search(true)" icon="pi pi-search" label="{{ 'button.search' | translate }}">
      </p-button>
    </div>
    <div class="p-toolbar-group-right">
      <button (click)="viewCreate()" icon="pi pi-plus" pButton></button>
    </div>
  </p-toolbar>
  <p-table [value]="dataTable.content" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">{{ 'BUSINESS_APPROVE.NO' | translate }}</th>
        <th scope="col">{{ 'BUSINESS_APPROVE.CODE' | translate }}</th>
        <th scope="col">{{ 'BUSINESS_APPROVE.NAME' | translate }}</th>
        <th scope="col">{{ 'BUSINESS_APPROVE.DESC' | translate }}</th>
        <th alignFrozen="right" pFrozenColumn scope="col" style="width: 100px">
          {{ 'BUSINESS_APPROVE.ACTION' | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" let-item pTemplate="body">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>
          <p class="w-20rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.code }}</p>
        </td>
        <td>
          <p class="w-20rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.name }}</p>
        </td>
        <td>
          <p class="w-30rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.description }}</p>
        </td>
        <td alignFrozen="right" pFrozenColumn style="width: 100px">
          <span (click)="viewUpdateStep(item)" class="pointer mr-2">
            <em class="las la-list-ol"></em>
          </span>
          <span (click)="viewUpdate(item)" class="pointer mr-2">
            <em class="las la-pen"></em>
          </span>
          <span (click)="deleteItem(item.code)" class="pointer">
            <em class="las la-trash-alt"></em>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    (onPageChange)="pageChange($event)"
    [rowsPerPageOptions]="[10, 20, 30]"
    [rows]="dataTable!.size"
    [showCurrentPageReport]="true"
    [totalRecords]="dataTable!.totalElements"
  ></p-paginator>
</div>
