<ng-container *ngIf="(dataTable$| async) as dataTable">
<div class="pl-2 pt-3" *ngIf="dataTable?.length! > 0">
  <h4 *ngIf="showFilter" class="title title-checkList mb-4">{{'request.detailRequest.premiumAdjustment.resultAccount' | translate}}</h4>
  <div class="table">
    <p-table
      [resizableColumns]="true"
      [value]="dataTable"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Business Partner</th>
          <th>Contract Account</th>
          <th>Contract</th>
          <th>Doc.No</th>
          <th>Gross Amount</th>
          <th>Gross Clearing</th>
          <th>{{'request.detailRequest.premiumAdjustment.resultAllocated.date' | translate}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{row.bpNumber}}</td>
          <td>{{row.contract}}</td>
          <td>{{row.contractAccount}}</td>
          <td>{{row.docNumber}}</td>
          <td>{{row.grossAmount | MapSAPAmount}}</td>
          <td>{{row.grossClearing | MapSAPAmount}}</td>
          <td>{{row.executeDate | MapSAPDate}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
</ng-container>