<div class="layout-content">
    <div
            class="titleDialog">{{item ? ('admin.notification.edit' | translate) : ('admin.notification.create' | translate)}}</div>
    <div [formGroup]="form">
        <div class="grid">
            <div class="col-12">
                <mbal-select
                        [options]="notificationType"
                        optionLabel="name"
                        optionValue="value"
                        formControlName="type"
                        label="{{ 'admin.notification.typeNotice' | translate}}"
                        (onChangeValue)="changValueType($event)"
                ></mbal-select>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 md:col-6">
                <mbal-calendar
                        [readonly]="true"
                        [showOnFocus]="true"
                        formControlName="dateStart"
                        [maxDate]="form.value['dateEnd']"
                        [showTime]="true"
                        label="{{ 'admin.notification.startTime' | translate}}"
                ></mbal-calendar>
            </div>
            <div class="col-12 md:col-6">
                <mbal-calendar
                        [readonly]="true"
                        [showOnFocus]="true"
                        formControlName="dateEnd"
                        [minDate]="form.value['dateStart']"
                        [showTime]="true"
                        label="{{ 'admin.notification.endTime' | translate}}"
                ></mbal-calendar>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <mbal-editor
                        placeholder="{{ 'admin.notification.content' | translate}}..."
                        formControlName="content"
                        [maxlength]="500"
                ></mbal-editor>
            </div>
        </div>
        <div class="grid mt-2">
            <div class="col-12">
                <mbal-select
                        [options]="roleSystem" optionValue="code" optionLabel="code"
                        [filter]="true"
                        selectMode="multiple"
                        formControlName="departments"
                        label="{{ 'admin.notification.role' | translate}}"
                ></mbal-select>
            </div>
        </div>
    </div>
    <div *ngIf="!item && valueTypeNotification === '1'" class="col-12">
        <ng-container class="col-12" *ngFor="let item of files; let i = index">
            <p-fileUpload
                #fileInput
                (uploadHandler)="fileHandler($event, i)"
                [auto]="true"
                [customUpload]="true"
                [maxFileSize]="100000000000"
                [multiple]="true"
                [previewWidth]="40"
                [showUploadButton]="false"
                accept=".pdf, .PNG, .JPG, .JPN, .JPEG, .doc, .docx, .txt, .xls, .xlsx, .csv"
                chooseIcon="pi pi-upload"
                chooseLabel="{{ 'createRequest.requestCollection.selectFileUpload' | translate }}"
                class="p-upload"
                invalidFileTypeMessageDetail="{{ 'MESSAGE.FILE_REQUIRED_NOTIFICATION' | translate }}"
                invalidFileTypeMessageSummary="{0}"
            >
            </p-fileUpload>
        </ng-container>
    </div>
    <div class="mt-5 text-right">
        <button
                class="btn destroy"
                (click)="closeDialog()"
        >{{ 'admin.notification.cancel' | translate}}
        </button>
        <button
                class="btn save"
                (click)="save()"
        >{{ 'admin.notification.save' | translate}}
        </button>
    </div>
</div>
