<div [ngClass]="{ field: fieldForm }" class="relative">
  <span [ngClass]="{ 'p-input-icon-right': !!rightIcon, 'p-input-icon-left': !!leftIcon }" class="p-float-label">
    <em (click)="clickIcon()" *ngIf="leftIcon || rightIcon" [ngClass]="[leftIcon || '', rightIcon || '']"></em>
    <input
      (blur)="onTouched(); trimData($event)"
      (input)="onInput($event)"
      (keyup.enter)="trimData($event)"
      (ngModelChange)="onModelChange()"
      [(ngModel)]="value"
      [disabled]="disabled"
      [ngClass]="{ 'ng-invalid ng-dirty': errors, readonly: readonly }"
      [readonly]="readonly"
      class="p-inputtext-sm"
      [autocomplete]="autucomplete"
      pInputText
      [type]="type"
    />
    <label *ngIf="showLabel">
      <span *ngIf="showLabel"> {{ label | translate }}</span>
      <span *ngIf="checkRequire()" class="p-errors" style="color: red; margin-left: 3px">*</span></label
    >
  </span>
  <div class="b-errors">
    <ng-container *ngIf="errors">
      <small class="p-error error-msg block fadeinup animation-duration-300">
        <span class="block">{{ getError().key | translate: getError().required }}</span>
      </small>
    </ng-container>
  </div>
</div>
