<div class="p-dialog-header px-0">
  <span class="p-dialog-title title"
  >{{ 'screentype.' + screenType | translate }} {{ 'admin.role.' + title?.toLocaleLowerCase() | translate }}</span
  >
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="grid p-fluid p-dialog-body mt-2">
  <div [formGroup]="form" class="col-6">
    <mbal-input-text
      [uppercase]="true"
      formControlName="code"
      label="{{ 'admin.role.rolecode' | translate }}"
    >
    </mbal-input-text>
  </div>

  <div [formGroup]="form" class="col-6">
    <mbal-input-text
      formControlName="name"
      label="{{ 'admin.role.rolename' | translate }}"
    >
    </mbal-input-text>
  </div>

  <div [formGroup]="form" class="col-12">
    <mbal-input-text
      formControlName="description"
      label="{{ 'admin.role.description' | translate }}"
    >
    </mbal-input-text>
  </div>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <button
    (click)="save()"
    *ngIf="screenType !== 2"
    class="p-mr-2"
    icon="pi pi-check"
    label="{{ 'action.save' | translate }}"
    pButton
  ></button>
  <button
    (click)="cancel()"
    class="p-button-secondary"
    icon="pi pi-times"
    label="{{ 'action.close' | translate }}"
    pButton
  ></button>
</div>
