<div class="layout-content bg-white">
  <div class="titleDialog">Create or Edit</div>
  <div class="grid">
    <div class="col-6">
      <mbal-select
        label="{{'category.columnGroup.columnCode' | translate }}"
      ></mbal-select>
    </div>
    <div class="col-6">
      <mbal-select
        [showLabel]="false"
      ></mbal-select>
    </div>
    <div class="col-12">
      <mbal-select label="{{'category.columnGroup.groupType' | translate }}"></mbal-select>
    </div>
    <div class="col-12">
      <mbal-input-text label="{{'category.columnGroup.groupIndex' | translate }}"></mbal-input-text>
    </div>
  </div>
  <div class="mt-5 text-right">
    <button
      class="btn destroy"
      (click)="closeDialog()"
    >{{'category.cancel' | translate }}
    </button>
    <button
      class="btn save"
      (click)="save()"
    >{{'category.save' | translate }}
    </button>
  </div>
</div>
