<div class="text-center">
  <div class="titleDialog">{{ 'request.detailRequest.premiumAdjustment.resetClearing' | translate }}</div>
</div>
<div>
  <app-receivable [tableData]="dataTable" [showFilter]=false></app-receivable>
  <div class="p-dialog-footer p-p-0 mt-5">
    <button
      (click)="closeDialog()"
      class="buttonDestroy"
      label="{{ 'request.detailRequest.premiumAdjustment.cancel' | translate }}"
      pButton
    ></button>
    <button
      (click)="resetClearing()"
      class="buttonSave"
      label="Reset Clearing"
      pButton
    ></button>
  </div>
</div>
