<div class="relative">
  <div *ngIf="activeIndexSteps === 0" class="sla"><strong>SLA</strong>: <span
    [class]="objSla.classNameSlaStep">{{ objSla.messageKeySla
    | translate: { days: objSla.daySlaStep, hours: objSla.hoursSlaStep, minutes: objSla.minutesSlaStep } }}</span></div>
  <p-tabView
    (activeIndexChange)="onChangeTabOrStep(true)"
    [(activeIndex)]="activeIndex"
  >
    <p-tabPanel header="{{ 'request.detailRequest.tabs.processing' | translate }}">
      <app-steps-process
        (changeStep)="onChangeTabOrStep()"
        *ngIf="itemRequest?.step1?.isReinstatementPolicy"
        [activeIndex]="activeIndexSteps"
        [itemRequest]="itemRequest"
        [steps]="items"
      ></app-steps-process>
      <app-submit-fee-pay
        (refreshData)="refresh($event)"
        [activeIndexSteps]="activeIndexSteps"
        [category]="listCategory"
        [dailyNewAction]="listDailyNewAction"
        [decisionContractStore]="decisionContractStore"
        [decisionDropList]="decisionDropList"
        [itemRequest]="itemRequest"
        [listDocumentType]="listDocumentType"
        [sapIdentifyTypeCode]="sapIdentifyTypeCode"
      ></app-submit-fee-pay>
    </p-tabPanel>
    <p-tabPanel [ngClass]="{ active: header === 'report' }"
                header="{{ 'request.detailRequest.tabs.'+ reports | translate }}">
      <app-report #report1 [itemRequest]="itemRequest"></app-report>
    </p-tabPanel>
    <p-tabPanel
      header="{{ 'request.detailRequest.tabs.attachment' | translate }}">
      <app-attachment-collection [itemRequest]="itemRequest"></app-attachment-collection>
    </p-tabPanel>
    <p-tabPanel *ngIf="!!itemRequest?.step2"
                [ngClass]="{ active: header === 'report' }"
                header="{{ 'request.detailRequest.tabs.internalProposal' | translate }}">
      <app-report #report2 [itemRequest]="itemRequest" [reversal]="true"></app-report>
    </p-tabPanel>
    <p-tabPanel *ngIf="listPendingHistory.length > 0"
                header="{{ 'request.detailRequest.tabs.pendingHistory' | translate }}">
      <app-pending-history-collection [itemRequest]="itemRequest"></app-pending-history-collection>
    </p-tabPanel>
    <p-tabPanel *ngIf="currUser?.roles?.includes(Roles.SYSTEM_ADMIN)" header="Diagram process">
      <app-diagram-bpmn [tabIndex]="activeIndex"></app-diagram-bpmn>
    </p-tabPanel>
  </p-tabView>

</div>
