<div class="p-dialog-header px-0">
  <span class="p-dialog-title title"
  >{{ 'screentype.' + screenType | translate }} {{ 'admin.permission.title' | translate }}</span
  >
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="p-grid p-fluid p-dialog-body mt-2">
  <div [formGroup]="form">
    <div class="flex">
      <div class="col-6">
        <mbal-input-text
          formControlName="name"
          label="{{ 'admin.permission.name' | translate }}"
        >
        </mbal-input-text>
      </div>
      <div class="col-6">
        <mbal-select
          (onChangeValue)="onChangeScopeByResource()"
          [filter]="true"
          [options]="state?.listResource"
          formControlName="resource"
          label="{{ 'admin.permission.function' | translate }}"
          optionLabel="desName"
          optionValue="id"
        ></mbal-select>
      </div>
    </div>
  </div>

  <div [formGroup]="form">
    <div class="flex">
      <div class="col-6">
        <mbal-select
          [filter]="true"
          [options]="listDecentralization"
          formControlName="type"
          label="{{ 'admin.permission.decentralizationType' | translate }}"
          optionLabel="name"
          optionValue="code"
        ></mbal-select>
      </div>
      <div class="col-6">
        <mbal-select
          [filter]="true"
          [options]="state?.listRole"
          formControlName="policies"
          label="{{ 'admin.permission.applyFor' | translate }}"
          optionLabel="name"
          optionValue="code"
          selectMode="multiple"
        ></mbal-select>
      </div>
    </div>
  </div>
  <div *ngIf="this.form.get('type')?.value === 'scope'" [formGroup]="form" class="col-12">
    <mbal-select
      [filter]="true"
      [options]="listScopeByResource"
      formControlName="scopes"
      label="{{ 'admin.permission.action' | translate }}"
      optionLabel="name"
      optionValue="id"
      selectMode="multiple"
    ></mbal-select>
  </div>
  <div [formGroup]="form" class="col-12">
    <mbal-input-text
      formControlName="description"
      label="{{ 'admin.manipulation.description' | translate }}"
    >
    </mbal-input-text>
  </div>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <p-button
    (click)="save()"
    *ngIf="screenType !== 2"
    icon="pi pi-check"
    label="{{ 'action.save' | translate }}"
  ></p-button>
  <button
    (click)="cancel()"
    class="mr-2 p-button-secondary"
    icon="pi pi-times"
    label="{{ 'action.close' | translate }}"
    pButton
  ></button>
</div>
