<p-card styleClass="mt-3">
  <div class="">
    <h4 class="title title1">{{ 'request.detailRequest.approve.paymentInformation' | translate }}</h4>
  </div>
  <div class="flex">
    <div class="col-3">
      <div class="flex">
        <div class="pr-4">
          <span>
            <label class="info-title">{{ 'request.detailRequest.approve.customerName' | translate }}</label>
          </span>
        </div>
        <div>
          <label>{{ itemRequest?.customerName }}</label>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="flex">
        <div class="pr-4">
          <span>
            <label class="info-title">{{ 'request.detailRequest.approve.paymentNumber' | translate }}</label>
          </span>
        </div>
        <div>
          <label> {{ itemRequest?.paymentNumber }}</label>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="flex">
        <div class="pr-4">
          <span>
            <label class="info-title">{{ 'request.detailRequest.approve.totalPaymentAmount' | translate }}</label>
          </span>
        </div>
        <div>
          <label>{{ itemRequest?.paymentAmount | number: '1.0-0' }} VND</label>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="flex">
        <div class="pr-4">
          <span>
            <label class="info-title">{{ 'request.detailRequest.approve.status' | translate }}</label>
          </span>
        </div>
        <div>
          <label> {{ ('p2pStatus.' + itemRequest?.approveStatus) | translate }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="flex mt-2">
    <div class="col-12">
      <p-table [value]="approvedDTOList" selectionMode="single">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">{{ 'request.detailRequest.approve.step' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.approve.function' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.approve.approveBy' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.approve.action' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.approve.reason' | translate }}</th>
            <th scope="col">{{ 'request.detailRequest.approve.lastUpdate' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr>
            <td>{{ item.Step }}</td>
            <td>{{ item.Function }}</td>
            <td>{{ item.ApprovedBy }}</td>
            <td>{{ item.actionDescription }}</td>
            <td>{{ item.Reason }}</td>
            <td>{{ item.ActionAt | date: 'dd/MM/yyyy' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
<!--  -->
<p-card *ngIf="showBtnApproved" [formGroup]="form" class="decision" styleClass="mt-3">
  <h4 class="title title-decision">{{ 'request.detailRequest.underwrite.decision' | translate }}</h4>
  <div class="grid">
    <div class="col-4 field">
      <mbal-select [options]="decisionDropList" formControlName="decision"
                   label="{{ 'request.detailRequest.underwrite.decision' | translate }}"></mbal-select>
    </div>
    <div class="col-8 field">
      <mbal-input-textarea formControlName="note" [maxlength]="132"
                           label="{{ 'request.detailRequest.underwrite.reason' | translate }}"></mbal-input-textarea>
    </div>
  </div>
  <div class="flex flex-row-reverse card-container align-items-center">
    <button (click)="process()" pButton>{{ 'button.approve' | translate }}</button>
  </div>
</p-card>
