<div class="grid">
  <div class="col-6">
    <div class="card" style="height: 100%">
      <p-toolbar styleClass="px-0 pt-0 mt-2">
        <div class="p-toolbar-group-left">
          <mbal-input-text
            (keyup.enter)="getDataTableRole(true)"
            [(ngModel)]="params.search"
            [fieldForm]="false"
            [showLabel]="false"
            class="input-search"
          ></mbal-input-text>
          <p-button (click)="getDataTableRole(true)" class="ml-3" icon="pi pi-search"></p-button>
        </div>
        <div class="p-toolbar-group-right"></div>
      </p-toolbar>

      <p-table [value]="dataTable.content" responsiveLayout="scroll" selectionMode="single">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">{{ 'admin.assign-permission-role.stt' | translate }}</th>
            <th scope="col">{{ 'admin.assign-permission-role.rolecode' | translate }}</th>
            <th scope="col">{{ 'admin.assign-permission-role.rolename' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr (click)="viewDetail(item.code)" [pSelectableRow]="item">
            <td>{{ i + 1 }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.name }}</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="custom-paginator">
        <div class="grid align-items-center mt-2">
          <div class="col-3">
            {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
            {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
            {{ 'request.requestList.record' | translate }}.
          </div>
          <div class="col-9">
            <p-paginator
              (onPageChange)="pageChange($event)"
              [first]="dataTable.first"
              [rowsPerPageOptions]="[10, 20, 30]"
              [rows]="dataTable!.size"
              [showCurrentPageReport]="true"
              [totalRecords]="dataTable!.totalElements"
            ></p-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card" style="height: 100%">
      <p-toolbar styleClass="px-0 pt-0 mt-2">
        <div class="p-toolbar-group-left">
          <mbal-input-text
            (keyup.enter)="tt.filterGlobal(paramPermission.name?.trim(), 'contains')"
            [(ngModel)]="paramPermission.name"
            [fieldForm]="false"
            [showLabel]="false"
            class="input-search"
          ></mbal-input-text>
          <p-button
            (click)="tt.filterGlobal(paramPermission.name?.trim(), 'contains')"
            class="ml-3"
            icon="pi pi-search"
          >
          </p-button>
        </div>
        <div class="p-toolbar-group-right">
          <button
            (click)="assign()"
            [disabled]="isBtnReadonly"
            class="btn-save"
            label="{{ 'action.save' | translate }}"
            pButton
          ></button>
        </div>
      </p-toolbar>

      <p-treeTable
        #tt
        [globalFilterFields]="['name']"
        [scrollable]="true"
        [value]="data"
        dataKey="id"
        scrollHeight="450px"
        selectionMode="checkbox"
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">
              <div style="padding-left: 3rem">
                {{ 'admin.assign-permission-role.permissionName' | translate }}
              </div>
            </th>
            <th scope="col">{{ 'admin.function.description' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template let-rowData="rowData" let-rowNode pTemplate="body">
          <tr>
            <td class="flex align-items-center">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              <p-checkbox
                (onChange)="onChangeValue($event, rowNode.node)"
                [(ngModel)]="selected"
                [ngModelOptions]="{ standalone: true }"
                class="mr-2"
                value="{{ rowData.id }}"
              ></p-checkbox>
              {{ rowData.name }}
            </td>
            <td>{{ rowData.description }}</td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
</div>
