
.btn-save {
  min-width: 7rem;
  height: 40px;
}

.btn-search {
  height: 100%;
  width: 110%;
}
:host ::ng-deep {
  .p-treetable {
    .p-treetable-header {
      background: #ffffff;
      color: rgba(0, 0, 0, 0.87);
      border: 1px solid #e4e4e4;
      font-weight: 500;
      padding: 0 0 1rem 0;
    }

    //.p-checkbox-box.p-indeterminate{
    //  border-color: #3F51B5 !important;
    //  background: #3F51B5 !important;
    //  .p-checkbox-icon.pi-minus{
    //    &:before{
    //      content: "" !important;
    //      position: absolute;
    //      top: 6px;
    //      left: 1px;
    //      border-right: 2px solid transparent;
    //      border-bottom: 2px solid transparent;
    //      transform: rotate(45deg);
    //      transform-origin: 0% 100%;
    //      animation: checkbox-check 125ms 50ms linear forwards;
    //    }
    //  }
    //}
  }
}
