<ng-container *ngIf="(dataTable$ | async) as tableData ">
  <div class="pl-2 mb-5 pt-3" *ngIf="tableData?.length! > 0">
    <h4 class="title title-checkList mb-4">{{ 'request.detailRequest.premiumAdjustment.resultReverse' | translate}}</h4>
    <div class="table">
      <p-table
        [resizableColumns]="true"
        [value]="tableData"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Doc.No</th>
            <th>{{"request.detailRequest.premiumAdjustment.accountDisplay.reverse-fee" | translate}}</th>
            <th>Net Date</th>
            <th>{{'request.detailRequest.premiumAdjustment.resultAllocated.date' | translate}}</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.docNumber}}</td>
            <td>{{row.reversedAmount | MapSAPAmount}}</td>
            <td>{{row.netDate | MapSAPDate}}</td>
            <td>{{row.executeDate | MapSAPDate}}</td>
          </tr>
        </ng-template>

      </p-table>
    </div>
    <div class="text-right mt-3">
      <button pButton [label]="'Allocate'" [disabled]="disableAllocate$ | async" (click)="allocate()"></button>
    </div>
  </div>
</ng-container>
