<div *ngIf="dataTable.content" class="card">
  <div class="grid">
    <div class="col-3">
      <mbal-select
        [(ngModel)]="params.resolution"
        [filter]="true"
        [options]="stateData?.listResolution"
        [showClear]="true"
        label="{{ 'p2pList.resolution' | translate }}"
        optionValue="value"
        selectMode="multiple"
      ></mbal-select>
    </div>

    <div class="col-3">
      <mbal-select
        [(ngModel)]="params.status"
        [filter]="true"
        [options]="stateData?.listStatus"
        [showClear]="true"
        label="{{ 'p2pList.status' | translate }}"
        optionValue="value"
        selectMode="multiple"
      ></mbal-select>
    </div>

    <div class="col-3">
      <mbal-calendar
        (keyup.enter)="search(true)"
        [(ngModel)]="params.startDate"
        label="{{ 'p2pList.fromDate' | translate }}"
      ></mbal-calendar>
    </div>

    <div class="col-3">
      <mbal-calendar
        (keyup.enter)="search(true)"
        [(ngModel)]="params.endDate"
        label="{{ 'p2pList.toDate' | translate }}"
      ></mbal-calendar>
    </div>

    <div class="col-3">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.customerName"
        label="{{ 'p2pList.customerName' | translate }}"
      ></mbal-input-text>
    </div>

    <div class="col-3">
      <mbal-input-text
        [(ngModel)]="params.requestCode"
        (keyup.enter)="search(true)"
        label="{{ 'p2pList.requestCode' | translate }}"
      ></mbal-input-text>
    </div>

    <div class="col-3">
      <mbal-select
        [(ngModel)]="params.pics"
        [filter]="true"
        [options]="stateData?.listPic"
        label="{{ 'p2pList.performer' | translate }}"
        optionLabel="account"
        optionValue="account"
        selectMode="multiple"
      ></mbal-select>
    </div>
  </div>

  <p-toolbar styleClass="px-0 flex justify-content-between">
    <div class="p-toolbar-group-left">
      <p-button
        (click)="search(true)"
        icon="pi pi-search"
        label="{{ 'request.requestList.btnSearch' | translate }}"
        styleClass="p-button-primary"
      >
      </p-button>
    </div>

    <div class="p-toolbar-group-right">
    </div>
  </p-toolbar>
  <span class="p-buttonset">
    <button class="w-10rem" label="Collection" pButton></button>
    <button class="p-button-secondary w-10rem" label="NBU" pButton></button>
  </span>
  <p-table
    [resizableColumns]="true"
    [value]="dataTable.content"
    responsiveLayout="scroll"
    selectionMode="checkbox"
  >
    <ng-container>
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">{{ 'p2pList.requestCode' | translate }}</th>
          <th scope="col">{{ 'p2pList.customerName' | translate }}</th>
          <th scope="col">{{ 'p2pList.paidDate' | translate }}</th>
          <th scope="col">{{ 'p2pList.amountPaidByCustomer' | translate }}</th>
          <th scope="col">{{ 'p2pList.performer' | translate }}</th>
          <th scope="col">{{ 'p2pList.resolution' | translate }}</th>
          <th scope="col">{{ 'p2pList.status' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item pTemplate="body">
        <tr (dblclick)="doDetail(item)">
          <td>{{ dataTable.currentPage * dataTable.size + i + 1 }}</td>

          <td>{{ item.requestId }}</td>
          <td>{{ item.customerName }}</td>
          <td>{{ item.paidDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ item.amount | number: '1.0-0' }}</td>
          <td>{{ item.pic }}</td>
          <td>{{ item.resolution }}</td>
          <td>{{ getStatusDesc(item.status) }}</td>
        </tr>
      </ng-template>
    </ng-container>
  </p-table>
  <div class="custom-paginator">
    <div class="absolute">
      {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
      {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
      {{ 'request.requestList.record' | translate }}.
    </div>
    <p-paginator
      (onPageChange)="pageChange($event)"
      [first]="dataTable.first"
      [rowsPerPageOptions]="[10, 20, 30]"
      [rows]="dataTable.size"
      [showCurrentPageReport]="true"
      [totalRecords]="dataTable.totalElements"
    >
    </p-paginator>
  </div>
</div>
