<div class="card">
  <h3 class="title col-12 mb-0">{{ 'createRequest.requestRefund.requestInfo' | translate }}</h3>
  <p-fieldset legend="Thông tin tìm kiếm" styleClass="fieldset-search">
    <div class="grid" [formGroup]="formSearch">
      <div class="col-4">
        <mbal-input-text
          formControlName="claimId"
          label="{{ 'claimRequest.claimId' | translate }}"
        ></mbal-input-text>
      </div>
      <div class="col-8">
        <mbal-select
          [options]="listRequestType"
          formControlName="typeRequest"
          optionValue="value"
          label="{{ 'claimRequest.requestType' | translate }}"
        ></mbal-select>
      </div>
      <div class="col-4">
        <mbal-input-text
          [onlyNumber]="true"
          formControlName="policyNumber"
          label="{{ 'claimRequest.policyNumber' | translate }}"
        ></mbal-input-text>
      </div>
      <div class="col-4" [formGroup]="formSearch">
        <mbal-input-text
          formControlName="bpLA"
          [onlyNumber]="true"
          label="{{ 'claimRequest.bpNumber' | translate }}"
        ></mbal-input-text>
      </div>
      <div class="col-4">
        <mbal-input-text
          formControlName="la"
          [onlyNumber]="true"
          label="{{ 'claimRequest.laNumber' | translate }}"
        ></mbal-input-text>
      </div>
    </div>
    <div>
      <p-button
        (click)="search(true)"
        icon="pi pi-search"
        label="{{ 'request.requestList.btnSearch' | translate }}"
        styleClass="p-button-primary"
      >
      </p-button>
      <p-button (click)="onReset()" class="ml-3" icon="pi pi-replay" styleClass="p-button-primary"></p-button>
    </div>
    <ng-container *ngIf="dataTable.content.length > 0">
      <p-table
        [(selection)]="selectedItem"
        [selectionPageOnly]="true"
        [resizableColumns]="true"
        [value]="dataTable.content"
        responsiveLayout="scroll"
        dataKey="requestId"
        styleClass="mt-3"
      >
        <ng-container>
          <ng-template pTemplate="header">
            <tr>
              <!--            <th scope="col">{{ 'claimRequest.orderNo' | translate }}</th>-->
              <!--            <th scope="col">{{ 'claimRequest.requestId' | translate }}</th>-->
              <th scope="col">{{ 'claimRequest.claimId' | translate }}</th>
              <th scope="col">{{ 'claimRequest.claimStatus' | translate }}</th>
              <th scope="col">{{ 'claimRequest.claimType' | translate }}</th>
              <th scope="col">{{ 'claimRequest.policyNumber' | translate }}</th>
              <th scope="col">{{ 'claimRequest.fromDateEvent' | translate }}</th>
              <th scope="col">{{ 'claimRequest.toDateEvent' | translate }}</th>
              <th scope="col">{{ 'claimRequest.bpNumber' | translate }}</th>
              <th scope="col">{{ 'claimRequest.laNumber' | translate }}</th>
            </tr>
          </ng-template>
          <ng-template let-i="rowIndex" let-item pTemplate="body">
            <tr (click)="doSelectItem(item)" [pSelectableRow]="item">
              <!--            <td>{{ dataTable.currentPage * dataTable.size + i + 1 }}</td>-->
              <td>{{ item.claimId }}</td>
              <td>{{ item.claimStatus | MatchPipe: listStatus }}</td>
              <td>{{ item.claimType }}</td>
              <td>{{ item.policyNumber }}</td>
              <td>{{ item.eventDateFrom | dateCus }}</td>
              <td>{{ item.eventDateTo | dateCus }}</td>
              <td>{{ item.bp }}</td>
              <td>{{ item.bpLA }}</td>
            </tr>
          </ng-template>
        </ng-container>
      </p-table>

      <div class="custom-paginator">
        <div class="grid align-items-center mt-2">
          <div class="col-2">
            {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
            {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
            {{ 'request.requestList.record' | translate }}.
          </div>
          <div class="col-9">
            <p-paginator
              (onPageChange)="pageChange($event)"
              [first]="dataTable.first"
              [rowsPerPageOptions]="[10, 20, 30]"
              [rows]="dataTable.size"
              [showCurrentPageReport]="true"
              [totalRecords]="dataTable.totalElements"
            >
            </p-paginator>
          </div>
          <div class="col-1 grid justify-content-end"></div>
        </div>
      </div>
    </ng-container>
  </p-fieldset>
  <ng-container *ngIf="dataTable.content.length > 0 && selectedItem">
    <p-fieldset legend="Thông tin claim">
      <div class="grid" [formGroup]="formClaim">
        <div class="col-6">
          <mbal-input-text
            formControlName="claimId"
            label="{{ 'claimRequest.claimId' | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-input-text
            formControlName="policyNumber"
            label="{{ 'claimRequest.policyNumber' | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-input-text
            formControlName="requestId"
            label="{{ 'claimRequest.requestId' | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-select
            [options]="listRequestType"
            optionValue="value"
            formControlName="requestType"
            label="{{ 'claimRequest.requestType' | translate }}"
          ></mbal-select>
        </div>
        <div class="col-6">
          <mbal-input-text
            formControlName="bp"
            label="{{ 'claimRequest.bpNumber' | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-input-text
            formControlName="bpName"
            label="{{ 'claimRequest.bpName' | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-input-text
            formControlName="laFullName"
            label="{{ 'claimRequest.bpInsured' | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-input-text
            formControlName="sourceDocOrigin"
            label="{{ 'claimRequest.resourceAttachmentType' | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-calendar
            formControlName="createdDate"
            label="{{ 'claimRequest.createDate' | translate }}"
          ></mbal-calendar>
        </div>
        <div class="col-6">
          <mbal-calendar
            formControlName="submitFirstRequest"
            label="{{ 'claimRequest.1STNotification' | translate }}"
          ></mbal-calendar>
        </div>
        <div class="col-6">
          <mbal-input-text
            formControlName="phone"
            label="{{ 'claimRequest.phone' | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-input-text
            formControlName="email"
            label="{{ 'claimRequest.email' | translate }}"
          ></mbal-input-text>
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Thông tin nộp bổ sung">
      <div [formGroup]="formClaim">
        <mbal-select
          formControlName="sourceDoc"
          label="{{ 'createClaim.resourceAttachmentAdditional' | translate }}"
          [options]="listResourceDoc"
          optionValue="name"
          optionLabel="name"
          [required]="checkRequiredSourceDoc()"
        ></mbal-select>
      </div>
      <div [formGroup]="formClaim">
        <mbal-input-textarea formControlName="note" label="{{ 'createClaim.contentAdditional' | translate }}"
                             [cols]="12"
                             [rows]="2"
                             [autoResize]="false"></mbal-input-textarea>
      </div>
      <div class="mb-2">
        <label class="label-input">{{ 'createClaim.document' | translate }}</label>
      </div>
      <div *ngFor="let itemType of fileTypes" class="pl-5 col-12">
        <label class="label-input">{{ itemType.type | MapTranslate: fileTypes : { matchFieldName: 'type' } }}<span
          *ngIf="itemType.required"
          class="text-red">*</span></label>
        <div class="mt-2">
          <p-fileUpload
            (uploadHandler)="uploadHandler($event, itemType.type)"
            (onRemove)="removeFile($event.file, itemType.type)"
            [auto]="true"
            [customUpload]="true"
            [multiple]="true"
            [previewWidth]="40"
            [showUploadButton]="false"
            [accept]="itemType.acceptType"
            chooseIcon="pi pi-upload"
            chooseLabel="{{ 'createRequest.requestCollection.selectFileUpload' | translate }}"
            class="p-upload"
            invalidFileTypeMessageDetail="{{ 'MESSAGE.FILE_REQUIRED' | translate }}"
            invalidFileTypeMessageSummary="{0}"
          >
          </p-fileUpload>
          <f-errors label="{{ itemType.label | translate }}"
                    [control]="formClaim.get(itemType.type)"></f-errors>
        </div>
      </div>
    </p-fieldset>
  </ng-container>

</div>
<div class="card mt-3">
  <p-toolbar>
    <ng-template pTemplate="left"></ng-template>
    <ng-template pTemplate="right">
      <button
        (click)="save()"
        [disabled]="!selectedItem"
        icon="pi pi-check"
        label="{{ 'createRequest.requestRefund.submitForm' | translate }}"
        pButton
      ></button>
    </ng-template>
  </p-toolbar>
</div>
