<div class="pl-2 mb-3" [formGroup]="form">
  <h4 class="title title-checkList mb-3 uppercase">
    {{"request.detailRequest.premiumAdjustment.businessProfession" | translate}}
  </h4>
  <div class="grid">
    <div class="md:col-4 col-12 pb-0">
      <mbal-select [required]="true" [label]=" 'request.detailRequest.premiumAdjustment.decision' | translate"
                   [selectMode]="'single'"
                   [showClear]="false"
                   formControlName="decision"
                   (onChangeValue)="changeDecision($event.value)"
                   [options]="decisions"
                   [optionValue]="'value'"
                   [optionLabel]="'label'">
      </mbal-select>
    </div>
    <div class="col-offset-8 pb-0"></div>
    <div class="pb-0 col-12" *ngIf="selectDecisionForm.value !== null && selectDecisionForm.value !== approveValue">
      <mbal-input-textarea
        [label]="'request.detailRequest.premiumAdjustment.adjustmentReason' | translate"
        formControlName="reason"
        [rows]="2"
        appTrim
        [TrimOnBlur]="true"
        (blur)="changeReason()">
      </mbal-input-textarea>
    </div>
  </div>
</div>

