<p-card>
  <div class="grid">
    <div class="col-12">
      <h4 class="title mb-4">{{ 'request.detailRequest.attachment.requestDocument' | translate }}</h4>

      <p-table [value]="attachments">
        <ng-template pTemplate="header">
          <tr>
            <th class="th-id" scope="col">ID</th>
            <th scope="col">{{ 'request.detailRequest.attachment.title' | translate }}</th>
            <th scope="col">Doc Type</th>
            <th scope="col">{{ 'request.detailRequest.attachment.createOn' | translate }}</th>
            <th class="th-action" scope="col">{{ 'request.detailRequest.attachment.action' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ item.type }}</td>
            <td>
              <a (click)="viewAttachment(item.id)" href="javascript:void(0)">{{ item.attachmentName }}</a>
            </td>
            <td>{{ item.updatedDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>
              <a (click)="download(item.id)" class="pi pi-download cursor-pointer" href="javascript:void(0)"></a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
<div *ngIf="itemRequest?.typeCode !== requestType.TYPE08" class="mt-3">
  <p-card>
    <h4 class="title mb-4">{{ 'request.detailRequest.attachment.policyDocument' | translate }}</h4>
    <p-table [value]="itemRequest?.archiveKeyItemResDTOList!">
      <ng-template pTemplate="header">
        <tr>
          <th class="th-id" scope="col">ID</th>
          <th class="th-title" scope="col">{{ 'request.detailRequest.attachment.title' | translate }}</th>
          <th scope="col">Doc Type</th>
          <th scope="col">{{ 'request.detailRequest.attachment.createOn' | translate }}</th>
          <th class="th-action" scope="col">{{ 'request.detailRequest.attachment.action' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item pTemplate="body">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>
            {{ item.arObject }}
          </td>
          <td>
            <a (click)="viewFileFromSAP(item.arcDocId)" href="javascript:void(0)">{{ item.docTypeName }}</a>
          </td>
          <td>
            {{ item.arDate | date: 'dd/MM/yyyy  HH:mm:ss' }}
          </td>

          <td>
            <a
              (click)="downloadFileFromSAP(item.arcDocId)"
              class="pi pi-download cursor-pointer"
              href="javascript:void(0)"
            ></a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
