<div class="relative">

  <!--//////////////////////////////// SLA ///////////////////////////////-->
  <div *ngIf="activeStep === STEP.STEP1" class="sla">
    <strong>SLA</strong>:
    <span [class]="objSla.classNameSlaStep">
			{{ objSla.messageKeySla | translate:
      { days: objSla.daySlaStep, hours: objSla.hoursSlaStep, minutes: objSla.minutesSlaStep } }}
		</span>
  </div>
  <!--//////////////////////////////// END SLA ///////////////////////////////-->

  <p-tabView [(activeIndex)]="selectedTab"
             (activeIndexChange)="onChangeActiveIndex()">
    <!--//////////////////////////////// FIRST TAB ///////////////////////////////-->
    <p-tabPanel [header]="'request.detailRequest.premiumAdjustment.processing' | translate">
      <div class="mb-3" *ngIf="detailAdjustmentResponse?.isReinstatement">
        <p-card>
          <p-steps
            [(activeIndex)]="activeStep"
            [model]="steps"
            (activeIndexChange)="onChangeActiveIndex()"
            [readonly]="!!(readonlyStep$ | async)">
          </p-steps>
        </p-card>
      </div>
      <ng-container [ngSwitch]="activeStep">
        <!--//////////////////////////////// STEP 1 ///////////////////////////////-->
        <ng-container *ngSwitchCase="STEP.STEP1">
          <app-summary [summary]="(summary$ | async)"></app-summary>
          <div class="mt-3">
            <div class="mt-3">
              <p-card>
                <app-check-document
                  [(checked)]="checkedDocument"
                  [disabled]="disableChangeCheckDocument"
                  (checkedChange)="onChangeSelection($event)">
                </app-check-document>
              </p-card>
            </div>
            <div class="mt-3 policy-data mb-0">
              <div class="mt-3">
                <p-card>
                  <app-decision
                    [decisions]="decisionCommonList"
                    [formControl]="decisionFormControl">
                  </app-decision>
                  <ng-container *ngIf="isSelectApproveDecision()">
                    <app-confirm-request-information
                      (onChangeAttachmentPolicyNumber)="onAttachmentPolicyNumber = $event"
                      [checkedDocument]="checkedDocument"
                      [summaryInfo]="(summary$ | async)">
                    </app-confirm-request-information>
                    <ng-container *ngIf="canViewPaymentLotAccountSuspended()">
                      <app-payment-lot-account-suspended></app-payment-lot-account-suspended>
                    </ng-container>
                  </ng-container>
                </p-card>
              </div>
              <div *ngIf="canViewAdjustmentBody()" [@fadeExpandCollapse]="">
                <div class="mt-3">
                  <p-card>
                    <app-contract-info></app-contract-info>
                  </p-card>
                </div>
                <div class="mt-3">
                  <p-card>
                    <app-application-journal (refresh)="accountDisplayComponent.reloadTab()"></app-application-journal>
                  </p-card>
                </div>
                <div class="mt-3">
                  <p-card>
                    <app-account-display #accountDisplayComponent></app-account-display>
                  </p-card>
                </div>
              </div>
              <div class=" mt-3" *ngIf="(haveResult$ | async)">
                <p-card>
                  <h4
                    class="title title-checkList">{{'request.detailRequest.premiumAdjustment.result' | translate}}</h4>
                  <app-result-reverse></app-result-reverse>
                  <app-result-reset-clearing></app-result-reset-clearing>
                  <app-result-payment-run></app-result-payment-run>
                  <app-result-account-maintenance></app-result-account-maintenance>
                  <div class="text-right mt-4" *ngIf="viewButtonCreatePaymentLot$| async">
                    <button pButton [label]="'request.detailRequest.premiumAdjustment.createPaymentLot' | translate"
                            [disabled]="disablePaymentLotButton$ | async"
                            (click)="createPaymentLot()"></button>
                  </div>
                  <app-result-select-payment-lot></app-result-select-payment-lot>
                  <app-result-create-payment-lot></app-result-create-payment-lot>
                  <app-result-create-allocate></app-result-create-allocate>
                </p-card>
              </div>
              <div class="mt-3">
                <app-note-of-op
                  [picNote]="detailAdjustmentResponse?.picNote"
                  [pic]="detailAdjustmentResponse?.adjustmentStep?.processingInfoDTO?.pic">
                </app-note-of-op>

              </div>
              <div class=" mt-3">
                <p-card>
                  <div class="text-right">
                    <button pButton class="mr-2 button_cancel p-button-secondary"
                            (click)="cancel()">{{'request.detailRequest.premiumAdjustment.cancel' | translate}}</button>
                    <button pButton class="mr-2" (click)="save()"
                            [disabled]="checkDisableSave()">
                      {{'request.detailRequest.premiumAdjustment.footer.save' | translate}}
                    </button>
                    <button *ngIf="viewPolicyReverse$ | async"
                            (click)="policyReversed()"
                            pButton
                            [disabled]="disablePolicyReversed$ | async"
                            class="mr-2">{{'request.detailRequest.premiumAdjustment.footer.lapse' | translate}}</button>
                    <button (click)="submit()"
                            [disabled]="checkDisableSubmit()"
                            pButton>{{'request.detailRequest.premiumAdjustment.footer.submit' | translate}}</button>
                  </div>
                </p-card>
              </div>
            </div>
          </div>
        </ng-container>
        <!--//////////////////////////////// END STEP 1 ///////////////////////////////-->

        <!--//////////////////////////////// STEP 2 ///////////////////////////////-->
        <ng-container *ngSwitchCase="STEP.STEP2">
          <app-collection-policy-info
            [decisions]="decisionContractStore"
            (reloadData)="getData()"
            [itemRequest]="detailAdjustmentResponse">
          </app-collection-policy-info>
        </ng-container>
        <!--////////////////////////////////  END STEP 2 ///////////////////////////////-->

        <!--//////////////////////////////// STEP 3 ///////////////////////////////-->
        <ng-container *ngSwitchCase="STEP.STEP3">
          <app-reset-policy [itemRequest]="detailAdjustmentResponse"></app-reset-policy>
        </ng-container>
        <!-- //////////////////////////////// END STEP 3 ///////////////////////////////-->
      </ng-container>
    </p-tabPanel>
    <!--//////////////////////////////// END FIRST TAB ///////////////////////////////-->

    <!--//////////////////////////////// REPORT TAB ///////////////////////////////-->
    <p-tabPanel [header]="'request.detailRequest.premiumAdjustment.report' | translate">
      <app-premium-report *ngIf="selectedTab === TAB_BUTTON.REPORT"></app-premium-report>
    </p-tabPanel>
    <!--//////////////////////////////// END REPORT TAB ///////////////////////////////-->

    <!--//////////////////////////////// ATTACHMENT TAB ///////////////////////////////-->
    <p-tabPanel [header]="'request.detailRequest.premiumAdjustment.attachment' | translate">
      <app-premium-attachment [itemRequest]="detailAdjustmentResponse"></app-premium-attachment>
    </p-tabPanel>
    <!--//////////////////////////////// END ATTACHMENT TAB ///////////////////////////////-->

    <!--//////////////////////////////// PENDING HISTORY TAB ///////////////////////////////-->
    <p-tabPanel *ngIf="listPendingHistory.length > 0"
                [header]="'request.detailRequest.tabs.pendingHistory' | translate">
      <app-pending-history-collection [itemRequest]="detailAdjustmentResponse"></app-pending-history-collection>
    </p-tabPanel>
    <!--//////////////////////////////// END PENDING HISTORY TAB ///////////////////////////////-->
    <p-tabPanel *ngIf="currUser?.roles?.includes(Roles.SYSTEM_ADMIN)" header="Diagram process">
      <app-diagram-bpmn [tabIndex]="selectedTab"></app-diagram-bpmn>
    </p-tabPanel>
  </p-tabView>
</div>
