@import "../../../../../../assets/styles/variable";

.label_timeCount {
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 18px;
}

.bottom-bar {
  display: block;
  width: 100%;


}
.button_cancel {
  color: #2B2D2F;
  background: #DEE2E6;
  border-radius: 4px;
}

.min-w-10p {
  min-width: 10%
}

:host {
  ::ng-deep {

    .btn-cancel {
      background: #dee2e6 !important;
      color: #2b2d2f;
    }

    .p-steps .p-steps-item.p-highlight .p-steps-number {
      background-color: #84c993;
      color: #FFFFFF;
    }

    .p-steps .p-steps-item .p-steps-number {
      background-color: #ffffff;
      border: 2px solid #84c993;
      color: #4f6176;
    }

    .p-steps .p-steps-item .p-menuitem-link .p-steps-title {
      padding-left: 0;
      padding-bottom: 0.5rem;
      margin-top: -8rem;
      color: #0a73f0;
    }

    .p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
      background: none;
    }

    .p-steps {
      position: relative;
      width: 380px;
      margin: auto;
    }

    .p-steps .p-steps-item:before {
      width: 80%;
    }

    .p-steps-item .p-menuitem-link {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 25px;
      width: 24px;
    }

    .sla {
      position: absolute;
      right: 0;
      padding: 5px 10px;
      background: rgb(247, 249, 249);
      border-radius: 0.5rem;
    }


    .p-card .p-card-content {
      padding: 0;
    }
    .p-tabview .p-tabview-nav {
      background: none;
      border: none;

      .p-tabview-ink-bar {
        display: none;
      }
    }
    p-tabview .p-tabview-nav li .p-tabview-nav-link {
      transition: background-color 0.2s;
      background: #f7f7f7;
      border-radius: 15px 15px 1px 1px;
      height: 35px;
      min-width: 170px;
    }

    .p-card .p-card-body {
      padding: 1.5rem;
    }
    .p-tabview .p-tabview-panels {
      background: none;
      border: 0 none;
      padding: 0;
    }

    .p-tabview-title {
      width: 100%;
      text-align: center
    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
      color: #ffffff;
      border-color: rgba(0, 0, 0, 0.12);
      background-color:  #3F51B5;
    }

    .p-datatable .p-paginator-bottom {
      border-width: 0;
    }
  }
}

