<div class="w-100 text-right">
  <div class="">
    <p-table
      [autoLayout]="true"
      [resizableColumns]="true"
      [value]="[1,2,3]"
      responsiveLayout="scroll"
      dataKey="id"
      editMode="row"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px; padding-bottom: 5px;">STT</th>
          <th style="padding-bottom: 5px;">{{'category.columnGroup.columnCode' | translate }}</th>
          <th style="padding-bottom: 5px;">{{'category.columnGroup.groupIndex' | translate }}</th>
          <th style="padding-bottom: 5px;">{{'category.columnGroup.groupType' | translate }}</th>
          <th style="width: 50px; padding-bottom: 5px;">{{'category.edit' | translate }}</th>
        </tr>
        <tr>
          <th style="width: 50px; padding-bottom: 5px;"></th>
          <th style="padding-bottom: 5px;"></th>
          <th style="padding-bottom: 5px;"></th>
          <th style="padding-bottom: 5px;">
            <mbal-select [showLabel]="false"></mbal-select>
          </th>
          <th style="width: 50px; padding-bottom: 5px;"></th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item let-editing="editing" let-ri="rowIndex" pTemplate="body">
        <tr [pEditableRow]="item">
          <td>{{i + 1}}</td>
          <td>
            {{item.columnCode}}
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="item.groupIndex" [ngModelOptions]="{standalone: true}">
              </ng-template>
              <ng-template pTemplate="output">
                {{item.groupIndex}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <mbal-select  [showLabel]="false" [(ngModel)]="item.groupType" [ngModelOptions]="{standalone: true}"></mbal-select>
              </ng-template>
              <ng-template pTemplate="output">
                {{item.groupType}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
