<p-table
  #table
  [value]="dataTable.content"
  [(selection)]="selection"
  [columns]="columns"
  [paginator]="showFilter"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 30]"
  [showCurrentPageReport]="true"
  [totalRecords]="dataTable.totalElements"
  (selectionChange)="changeSelection($event)"
  [customSort]="true"
  (sortFunction)="customSort($event)"
  [resizableColumns]="true"
  selectionMode="multiple"
  responsiveLayout="scroll"
>
  <ng-template [pTemplate]="'header'" let-columns>
    <tr>
      <th *ngIf="showFilter && showCheckBox">
        <p-tableHeaderCheckbox [disabled]="!!(disableCheckBox$  | async)"></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let column of columns " [pSortableColumn]="column.fieldName">
        {{column.name}}
        <p-sortIcon [field]="column.fieldName"></p-sortIcon>
      </th>
    </tr>
    <tr *ngIf="showFilter " [formGroup]="filterForm" class="filter_col">
      <th *ngIf="showCheckBox"></th>
      <th *ngFor="let column of columns ">
        <mbal-input-text (input)="filterColumn(table, $event, column)"
                         [fieldForm]="false"
                         [formControlName]="column.filterConfig.formControlName"
                         rightIcon="pi pi-times-circle"
                         [showLabel]="false"
                         (clickIconEvent)="clearColumnFilter(table, column)"
        ></mbal-input-text>
      </th>
    </tr>
  </ng-template>
  <ng-template [pTemplate]="'body'" let-row let-rowIndex="rowIndex" let-columns="columns">
    <tr class="p-element p-selectable-row">
      <td *ngIf="showFilter && showCheckBox">
        <p-tableCheckbox [index]="rowIndex" [disabled]="!!(disableCheckBox$ | async)" [value]="row"></p-tableCheckbox>
      </td>
      <td *ngFor="let column of columns"
          [ngClass]="column?.styleClass"
          [pTooltip]="row[column.fieldName]"
          [tooltipPosition]="'left'"
          [tooltipDisabled]="!column.toolTips"
      >
        <ng-container *ngIf="column?.pipeName" [ngSwitch]="column.pipeName">
          <ng-container *ngSwitchCase="SAP_PIPE.MONEY">
            {{row[column.fieldName] | MapSAPAmount}}
          </ng-container>
          <ng-container *ngSwitchCase="SAP_PIPE.TRAFFIC_LIGHT">
            <img [src]="row[column.fieldName] | trafficLight" (error)="img.hidden = true" #img alt="traffic signal" />
          </ng-container>
          <ng-container *ngSwitchCase="SAP_PIPE.DATE">
            {{row[column.fieldName] | MapSAPDate}}
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!column.pipeName">
          {{row[column.fieldName]}}
        </ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [colSpan]="columns.length">
        {{'request.detailRequest.premiumAdjustment.no-item'| translate}}
      </td>
    </tr>
  </ng-template>
</p-table>
