<form class="card">
  <div class="grid">
    <h3 class="title col-12">{{ 'createRequest.requestRefund.requestInfo' | translate }}</h3>

    <ng-container [formGroup]="form">
      <ng-container *ngIf="itemRequest?.step1?.requestId && itemType === '06'">
        <div class="col-12">
          <mbal-input-text class="label-input" formControlName="requestId"
                           label="{{ 'request.requestList.requestCode' | translate }}"></mbal-input-text>
        </div>
      </ng-container>
      <div class="grid col-12">
        <div class="col-6">
          <mbal-input-text
            [noSpace]="true"
            label="{{ 'createRequest.requestCollection.policyNumber' | translate }}"
            formControlName="onAttachmentPolicyNumber"
            class="inputText"
            minlength="12"
            maxlength="12"
            (blur)="checkPolicyNumber()"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-input-text
            [noSpace]="true"
            label="{{ 'createRequest.requestCollection.policyNumberRequest' | translate }}"
            formControlName="feeAdjustPolicyNumber"
            class="inputText"
            minlength="12"
            maxlength="12"
            (blur)="findDataPolicy()"
          >
          </mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-input-number
            [maxLength]="19"
            label="{{ 'createRequest.requestCollection.paymentReceiptFee' | translate }}"
            formControlName="onAttachmentAmount"
            class="inputText"
            [maxCommaLength]="3"
            (blur)="form.get('adjustmentAmount')?.updateValueAndValidity()"
            [min]="(form.get('adjustmentAmount')?.valueChanges | async) ?? 0 "
            mode="decimal"
            suffix=" VNĐ"
          ></mbal-input-number>
        </div>
        <div class="col-6">
          <mbal-input-text
            [disabled]="true"
            label="{{ 'createRequest.requestCollection.usernameRequest' | translate }}"
            formControlName="policyHolderName"
            class="inputText"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-input-number
            [maxLength]="19"
            (blur)="form.get('onAttachmentAmount')?.updateValueAndValidity()"
            label="{{ 'createRequest.requestCollection.costRequest' | translate }}"
            formControlName='adjustmentAmount'
            class="inputText"
            [min]="0"
            [maxCommaLength]="3"
            [max]="(form.get('onAttachmentAmount')?.valueChanges | async)"
            mode="decimal"
            suffix=" VNĐ"
          ></mbal-input-number>
        </div>
        <div class="col-6">
          <mbal-input-text
            label="{{ 'createRequest.requestCollection.ticketNumber' | translate }}"
            formControlName="crmTicket"
            class="inputText"
            [maxlength]="100"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-calendar
            label="{{ 'createRequest.requestCollection.dateApply' | translate }}"
            formControlName="signDate"
            class="inputText"
            [maxDateToday]="true"
          ></mbal-calendar>
        </div>
        <div class="col-6">
          <mbal-input-text
            formControlName="icEmail"
            label="{{ 'createRequest.requestCollection.ccEmail' | translate }}"
            class="inputText"
            [maxlength]="100"
          ></mbal-input-text>
        </div>
      </div>
    </ng-container>
    <ng-container *ngFor="let item of files; let i = index">
      <div [class]="'col-' + (i === 0 ? '12' : '6')">
        <div style="margin: auto">
          <label class="label-input">{{ 'createRequest.requestCollection.selectFileUpload' | translate }}<span
            *ngIf="item.required"
            class="text-red">*</span></label>
          <div class="mt-2">
            <p-fileUpload
              #fileInput
              (uploadHandler)="uploadHandler($event, i)"
              [auto]="true"
              [customUpload]="true"
              [maxFileSize]="1000000000"
              [multiple]="true"
              [previewWidth]="40"
              [showUploadButton]="false"
              accept=".pdf, .PNG, .JPEG, .JPG"
              chooseIcon="pi pi-upload"
              chooseLabel="{{ 'createRequest.requestCollection.selectFileUpload' | translate }}"
              class="p-upload"
              invalidFileTypeMessageDetail="{{ 'MESSAGE.FILE_REQUIRED' | translate }}"
              invalidFileTypeMessageSummary="{0}"
            >
            </p-fileUpload>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</form>
<div class="card">
  <p-toolbar>
    <ng-template pTemplate="left"></ng-template>
    <ng-template pTemplate="right">
      <button pButton label="{{ 'createRequest.requestRefund.submitForm' | translate }}" (click)="save()"
              icon="pi pi-check" class="mr-2"></button>
    </ng-template>
  </p-toolbar>
</div>
