<div class="text-center">
  <div class="titleDialog uppercase py-4">{{ 'request.detailRequest.premiumAdjustment.confirm-create-payment-lot' | translate }}</div>
</div>
<div class="pt-2 pb-3">{{'request.detailRequest.premiumAdjustment.select-lot-info'| translate}}: </div>
<div>
  <app-account-suspended-table
    [dataTable]="dataTable"
    [showCheckbox]="false"
    [paginator]="false"
  ></app-account-suspended-table>
  <div class="p-dialog-footer p-p-0 mt-5">
    <button
      (click)="closeDialog()"
      class="buttonDestroy"
      label="{{ 'request.detailRequest.premiumAdjustment.cancel' | translate }}"
      pButton
    ></button>
    <button
      (click)="createPaymentLot()"
      class="buttonSave"
      [label]="'MESSAGE.confirm'| translate "
      pButton
    ></button>
  </div>
</div>
