<p-card *ngIf="form" [formGroup]="form" class="decision" styleClass="mt-3">
  <div class=" ">
    <h4 class="title title-decision">{{ 'request.detailRequest.underwrite.decision' | translate }}</h4>
  </div>
  <div class="grid">
    <div class="col-3">
      <mbal-select
        [options]="decisionDropList"
        [readonly]="itemRequest?.isSubmit || disableProcessing() "
        formControlName="decision"
        label="{{ 'request.detailRequest.underwrite.decision' | translate }} "
        optionLabel="name"
        optionValue="value"
      ></mbal-select>
    </div>
    <div
      *ngIf="
        [requestType.TYPE03, requestType.TYPE05, requestType.TYPE01].includes(itemRequest?.requestTypeCode) &&
        itemRequest?.decisionList && itemRequest?.decisionList!.length > 0 &&
        dataForm.decision === decision.Approved
      "
      class="col-3">
      <p-checkbox
        (onChange)="onChangeAuthorizationDoc($event.checked)"
        [binary]="true"
        [readonly]="!!itemRequest?.isSubmit"
        class="no-payment"
        formControlName="authorizationDocReDecision"
        label="{{ 'request.detailRequest.underwrite.authorizationDoc' | translate }}"
      ></p-checkbox>
    </div>
    <div *ngIf="showCheckNoPayment" class="col-3">
      <p-checkbox
        [binary]="true"
        [readonly]="!!itemRequest?.isSubmit || !itemRequest?.nbuCanEdit || disableProcessing()"
        class="no-payment"
        formControlName="noRefund"
        label="No payment"
      ></p-checkbox>
    </div>
    <div
      *ngIf="itemRequest?.requestTypeCode === requestType.TYPE05 && form?.get('decision')?.value === decision.Approved && this.form?.get('processOption')?.value !== '2' && !this.form?.get('noRefund')?.value && (!itemRequest?.decisionList || itemRequest?.decisionList!.length === 0)"
      class="col-3">
      <p-checkbox
        (onChange)="onChangeAuthorizationDoc($event.checked)"
        [binary]="true"
        [readonly]="!!itemRequest?.isSubmit || !!itemRequest?.isPaymentRun"
        class="no-payment"
        formControlName="authorizationDoc"
        label="{{ 'request.detailRequest.underwrite.authorizationDoc' | translate }}"
      ></p-checkbox>
    </div>
    <div
      *ngIf="
        itemRequest?.requestTypeCode === requestType.TYPE05 &&
        dataForm.processOption === processOption.transfer &&
        dataForm.decision === decision.Approved
      "
      class="col-4 reasonApproved"
    >
      <mbal-input-text
        [readonly]="itemRequest?.isSubmit"
        formControlName="beneficiaryApplicationNumber"
        label="{{ 'request.detailRequest.underwrite.beneficiaryApplicationNumber' | translate }}"
      ></mbal-input-text>
    </div>
  </div>


  <div *ngIf="dataForm.decision === decision.Pending">
    <div class="grid mb-3">
      <div class="col-4">
        <mbal-select
          [options]="pendingReasonDropList"
          [readonly]="itemRequest?.isSubmit"
          formControlName="reasonPending"
          label="{{ 'request.detailRequest.underwrite.reason' | translate }} "
          optionValue="value"
        ></mbal-select>
      </div>
      <div *ngIf="dataForm.reasonPending === '011'" [formGroup]="form" class="col-4">
        <mbal-input-textarea
          [readonly]="itemRequest?.isSubmit"
          formControlName="otherReasonPending"
          label="{{ 'request.detailRequest.underwrite.otherReason' | translate }}"
        ></mbal-input-textarea>
      </div>
      <div class="col-4">
        <mbal-select
          [options]="additionalAttachmentsDropList"
          [readonly]="itemRequest?.isSubmit"
          formControlName="additionalAttachments"
          label="{{ 'request.detailRequest.underwrite.additionalAttachments' | translate }}"
          optionValue="value"
          selectMode="multiple"
        ></mbal-select>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <mbal-input-textarea
          [cols]="30"
          [readonly]="itemRequest?.isSubmit"
          [rows]="3"
          formControlName="pendingNote"
          label="{{ 'request.detailRequest.underwrite.note' | translate }}"
        ></mbal-input-textarea>
      </div>
    </div>
  </div>
  <div *ngIf="dataForm.decision === decision.Reject">
    <div class="grid">
      <div class="col-4">
        <mbal-select
          [options]="rejectReasonDropList"
          [readonly]="itemRequest?.isSubmit"
          formControlName="reasonReject"
          label="{{ 'request.detailRequest.underwrite.reason' | translate }}"
          optionLabel="name"
          optionValue="value"
        ></mbal-select>
      </div>
      <div *ngIf="dataForm.reasonReject === '004'" class="col-4">
        <mbal-input-textarea
          [readonly]="itemRequest?.isSubmit"
          formControlName="otherReasonReject"
          label="{{ 'request.detailRequest.underwrite.otherReason' | translate }}"
        ></mbal-input-textarea>
      </div>
      <div class="col-4">
        <mbal-input-textarea
          [readonly]="itemRequest?.isSubmit"
          formControlName="rejectNote"
          label="{{ 'request.detailRequest.underwrite.note' | translate }}"
        ></mbal-input-textarea>
      </div>
    </div>
  </div>
  <div *ngIf="dataForm.decision === decision.Approved && !dataForm.noRefund">
    <div *ngIf="!itemRequest?.decisionList || itemRequest?.decisionList?.length === 0" class="grid">
      <ng-container *ngIf="itemRequest?.requestTypeCode !== requestType.TYPE05">
        <div class="col-4 reasonApproved">
          <mbal-select
            [options]="approvedDropList"
            [readonly]="true"
            formControlName="reason"
            label="{{ 'request.detailRequest.underwrite.reason' | translate }}"
            optionLabel="name"
            optionValue="value"
          ></mbal-select>
        </div>
        <div class="col-4 reasonApproved">
          <mbal-select
            [options]="subReasonDropList"
            [readonly]="
              itemRequest?.isSubmit || itemRequest?.requestTypeCode === requestType.TYPE04 || itemRequest?.isPaymentRun
            "
            formControlName="subReason"
            label="{{ 'request.detailRequest.underwrite.subReason' | translate }}"
            optionLabel="name"
            optionValue="value"
          ></mbal-select>
        </div>
        <div *ngIf="itemRequest?.requestTypeCode === requestType.TYPE02" class="col-4 reasonApproved">
          <mbal-input-text
            [readonly]="itemRequest?.isSubmit"
            formControlName="beneficiaryApplicationNumber"
            label="{{ 'request.detailRequest.underwrite.beneficiaryApplicationNumber' | translate }}"
          ></mbal-input-text>
        </div>
        <div *ngIf="dataForm.subReason === '910'" class="col-4">
          <mbal-input-textarea
            [readonly]="!!itemRequest?.isSubmit || disableProcessing()"
            formControlName="otherReasonApprove"
            label="{{ 'request.detailRequest.underwrite.otherReason' | translate }}"
          ></mbal-input-textarea>
        </div>
      </ng-container>
      <!-- //posting -->
      <div *ngIf="hasFormPaymentLot()" class="col-4 reasonApproved">
        <mbal-select
          [filter]="true"
          [options]="listPostText"
          [readonly]="!!itemRequest?.isPaymentRun"
          formControlName="postingText"
          label="Posting text"
          optionLabel="value"
          optionValue="value"
        ></mbal-select>
      </div>
    </div>
    <ng-container *ngIf="showBp()">
      <div class="flex mt-2">
        <div class="col-12">
          <button (click)="viewCreate()" [disabled]="!!itemRequest?.isSubmit || itemRequest?.isPaymentRun"
                  label="Check BP"

                  pButton></button>
        </div>
      </div>
      <ng-container *ngIf="itemRequest?.authorizationCustomerName">
        <div class="flex"><label
          class="field-key mt-4 mb-3"
        >{{ 'request.detailRequest.underwrite.authorizedPerson' | translate }}</label
        ></div>
        <div class="flex p-3">

          <div class="pl-8 pr-8">
          <span class="field-key">
            <label>BP No.</label>
          </span>
          </div>
          <div>
            <label>{{ itemRequest?.authorizationCustomerCode }}</label>
          </div>
          <div class="pl-8 pr-8">
          <span class="field-key">
            <label>{{ 'request.detailRequest.bp.policyHolderName' | translate }}</label>
          </span>
          </div>
          <div>
            <label>{{ itemRequest?.authorizationCustomerName }}</label>
          </div>
          <div class="pl-8 pr-8">
          <span class="field-key">
            <label>ID No.</label>
          </span>
          </div>
          <div>
            <label>{{ itemRequest?.authorizationCustomerIdNum }}</label>
          </div>
        </div>

      </ng-container>

    </ng-container>
    <ng-container *ngIf="hasFormPaymentLot()" [formGroup]="formPayment">
      <p-card styleClass="mt-3">
        <div class="grid">
          <div class="col-12">
            <ng-container *ngIf="!itemRequest?.isPaymentRun">
              <div class="grid mb-2">
                <div class="col-3">
                  <mbal-input-number [min]="0" formControlName="paymentAmount"
                                     label="Payment Amount"></mbal-input-number>
                </div>
                <div class="col-3">
                  <mbal-input-text formControlName="usageText" label="Usage Text"></mbal-input-text>
                </div>
                <div class="col-3">
                  <mbal-calendar [maxDate]="today" formControlName="postingDate" label="Posting date"></mbal-calendar>
                </div>
                <div class="col-3">
                  <p-button
                    (click)="getPaymentLot()"
                    icon="pi pi-search"
                    label="Search"
                    styleClass="p-button-primary"
                  ></p-button>
                </div>
              </div>

              <p-table
                [resizableColumns]="true"
                [scrollHeight]="isScroll ? '400px' : ''"
                [scrollable]="true"
                [value]="dataPaymentLot"
                scrollDirection="vertical"
                selectionMode="single"
              >
                <ng-container>
                  <ng-template pTemplate="header">
                    <tr>
                      <th scope="col">Selection value</th>
                      <th class="text-table-th-custom" scope="col">Item</th>
                      <th scope="col">Payment Amount</th>
                      <th scope="col">Remaining Amount</th>
                      <th scope="col">Posting date</th>
                      <th class="usage-text" scope="col">Usage text</th>
                      <th scope="col">Valid to date</th>
                      <th scope="col"></th>
                    </tr>
                  </ng-template>
                  <ng-template let-i="rowIndex" let-item pTemplate="body">
                    <tr (click)="pushDataPaymentLot(item, true)">
                      <td>{{ item.paymentLot }}</td>
                      <td class="text-table-th-custom">{{ item.item }}</td>
                      <td>{{ item.paymentAmount | number: '1.0-2' }}</td>
                      <td>{{ item.remainingAmount | number: '1.0-2' }}</td>
                      <td>{{ item.postingDate }}</td>

                      <td class="usage-text">
                        <p class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                          {{ item.payerMemo }}
                        </p>
                      </td>

                      <td>{{ item.postingDate }}</td>
                      <td></td>
                    </tr>
                  </ng-template>
                </ng-container>
              </p-table>
            </ng-container>
            <div class="mt-5 mb-2">
              <label class="field-key mt-2 mb-5">Payment lot</label>
            </div>
            <p-table
              [resizableColumns]="true"
              [scrollable]="true"
              [value]="dataNewPaymentLot"
              scrollDirection="vertical"
              selectionMode="single"
            >
              <ng-container>
                <ng-template pTemplate="header">
                  <tr>
                    <th scope="col">Selection value</th>
                    <th class="text-table-th-custom" scope="col">Item</th>
                    <th scope="col">Payment Amount</th>
                    <th scope="col">Remaining Amount</th>
                    <th scope="col">Posting date</th>
                    <th class="usage-text" scope="col">Usage text</th>
                    <th scope="col">Valid to date</th>
                    <th scope="col">{{ itemRequest?.isPaymentRun ? 'Update status' : '' }}</th>
                  </tr>
                </ng-template>
              </ng-container>
              <ng-template let-i="rowIndex" let-item pTemplate="body">
                <tr>
                  <td>{{ item.paymentLot }}</td>
                  <td class="text-table-th-custom">{{ item.item }}</td>
                  <td>{{ item.paymentAmount }}</td>
                  <td>{{ item.remainingAmount }}</td>
                  <td>{{ item.postingDate }}</td>

                  <td class="usage-text" pTooltip="{{ item.payerMemo }}">
                    <p class="white-space-nowrap overflow-hidden text-overflow-ellipsis">
                      {{ item.payerMemo }}
                    </p>
                  </td>

                  <td>{{ item.postingDate }}</td>
                  <td *ngIf="itemRequest?.isPaymentRun; else btnDelete">{{ item.lotUpdateStatus }}</td>
                  <ng-template #btnDelete>
                    <td>
                      <span (click)="pushDataPaymentLot(item)" class="pointer">
                        <em class="pi pi-trash isFinalDecisionRed"></em>
                      </span>
                    </td>
                  </ng-template>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-card>
    </ng-container>


    <ng-container *ngIf="hasFormPayment()">
      <div [formGroup]="form" class="mt-3">
        <div class="col-12">
          <div class="grid">
            <label
              class="field-key"
            >{{ 'request.detailRequest.underwrite.paymentMethod' | translate }} <span class="text-red">*</span></label
            >
            <div class="p-field-radiobutton ml-4">
              <p-radioButton
                formControlName="paymentMethod"
                label="{{ 'request.detailRequest.underwrite.banking' | translate }}"
                value="Banking"
              ></p-radioButton>
            </div>
            <div class="p-field-radiobutton ml-5">
              <p-radioButton
                formControlName="paymentMethod"
                label="{{ 'request.detailRequest.underwrite.cash' | translate }}"
                value="Cash"
              ></p-radioButton>
            </div>
          </div>
        </div>
      </div>
      <div class="justify-content-center">
        <f-errors [control]="form.get('paymentMethod')"></f-errors>
      </div>
      <div *ngIf="form.get('paymentMethod')?.value === paymentMethod.Banking" class="border my-3">
        <div class=" form-info">
          <div class="grid">
            <div class="col-4 pl-4">
              <mbal-select
                (onChangeValue)="onChangeBank($event['value'])"
                [filter]="true"
                [options]="switchBank()"
                [readonly]="itemRequest?.isSubmit || disableProcessing()"
                [virtualScroll]="true"
                formControlName="bkDetails"
                label="{{ 'request.detailRequest.underwrite.bankAccount' | translate }}"
                optionLabel="bankN"
                optionValue="bkvId"
              ></mbal-select>
            </div>
            <div class="col-8">
              <label
                (click)="addBankAccount()"
                *ngIf="
                  ((!itemRequest?.isReversed && !itemRequest?.isPaymentRun) ||
                  (!itemRequest?.isRefused && itemRequest?.requestTypeCode === requestType.TYPE01) ||
                  (itemRequest?.isUsedToP2pReject && !itemRequest?.isSubmit)) && itemRequest?.pic === currUser?.username
                "
                class="pt-5 text-blue-500"
              >+ {{ 'request.detailRequest.underwrite.addNewBankAccount' | translate }}</label
              >
              <div class="flex flex-row-reverse flex-wrap card-container"></div>
            </div>
          </div>
          <div class="grid">
            <div class="col-4 pl-4">
              <mbal-input-text
                [readonly]="true"
                formControlName="bankName"
                label="{{ 'request.detailRequest.underwrite.bankName' | translate }}"
              ></mbal-input-text>
            </div>

            <div class="col-4 pl-4">
              <mbal-input-text
                [readonly]="true"
                class="p-inputtext-sm"
                formControlName="bankAcct"
                label="{{ 'request.detailRequest.underwrite.bankAccount' | translate }}"
              ></mbal-input-text>
            </div>
            <div class="col-4 pl-4">
              <mbal-input-text
                [readonly]="true"
                formControlName="accountName"
                label="{{ 'request.detailRequest.underwrite.nameAccount' | translate }}"
              ></mbal-input-text>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="form.get('paymentMethod')?.value === paymentMethod.Cash" class="border my-3">
        <div class="grid form-info">
          <div class="col-4 pl-4">
            <mbal-input-text
              [readonly]="disableProcessing()"
              formControlName="refundCashFullName"
              label="{{ 'request.detailRequest.underwrite.fullName' | translate }}"
            ></mbal-input-text>
          </div>
          <div class="col-4 pl-4">
            <mbal-input-text
              [readonly]="disableProcessing()"
              class="p-inputtext-sm"
              formControlName="refundCashBankName"
              label="{{ 'request.detailRequest.underwrite.bankName' | translate }}"
            ></mbal-input-text>
          </div>
          <div class="col-4 pl-4">
            <mbal-input-text
              [readonly]="disableProcessing()"
              formControlName="refundCashBankBranch"
              label="{{ 'request.detailRequest.underwrite.branch' | translate }}"
            ></mbal-input-text>
          </div>
          <div class="col-4 pl-4">
            <mbal-input-text
              [readonly]="disableProcessing()"
              formControlName="refundCashIdCardNum"
              label="{{ 'request.detailRequest.underwrite.idenityCardNumb' | translate }} "
            ></mbal-input-text>
          </div>
          <div class="col-4 pl-4">
            <mbal-input-text
              [readonly]="disableProcessing()"
              class="p-inputtext-sm infoBank"
              formControlName="refundCashInstitute"
              label="{{ 'request.detailRequest.underwrite.institute' | translate }}"
            ></mbal-input-text>
          </div>
          <div class="col-4 pl-4">
            <mbal-calendar
              [maxDate]="today"
              [readonly]="disableProcessing()!"
              formControlName="refundCashEntryDate"
              label="{{ 'request.detailRequest.underwrite.dateOfIssue' | translate }}"
            ></mbal-calendar>
          </div>
        </div>
      </div>
    </ng-container>
    <div
      *ngIf="itemRequest?.decisionList && itemRequest?.decisionList!.length > 0 && form.get('decision')?.value === decision.Approved"
      [formGroup]="form" class="grid mt-3">
      <div *ngIf="requestType.TYPE01 === itemRequest?.requestTypeCode" class="col-3">
        <mbal-input-number
          [fieldForm]="false"
          [min]="0"
          [max]="itemRequest?.paymentAmount!"
          [readonly]="itemRequest?.isSubmit"
          formControlName="manualMedicalFee"
          label="{{ 'request.detailRequest.underwrite.medicalFee' | translate }}"
        ></mbal-input-number>
      </div>
      <div class="col-3">
        <mbal-input-number
          [readonly]="true"
          [fieldForm]="false"
          formControlName="manualFinalDecision"
          label="{{ 'request.detailRequest.approve.totalPaymentAmount' | translate }}"
        ></mbal-input-number>
      </div>
      <div class="col-6">
        <mbal-input-text
          [fieldForm]="false"
          [readonly]="itemRequest?.isSubmit"
          formControlName="paymentNote"
          label="{{ 'request.detailRequest.underwrite.note' | translate }}"
        ></mbal-input-text>
      </div>
    </div>

    <div *ngIf="hasProcess()" class="flex flex-row-reverse flex-wrap card-container">
      <div class="flex align-items-center justify-content-center m-2">
        <button (click)="processing()" *ngIf="showBtnProcessing()" pButton>
          {{ 'request.detailRequest.underwrite.processing' | translate }}
        </button>
      </div>
      <div *ngIf="itemRequest?.isPaymentRun" class="flex align-items-center justify-content-center m-2">
        <p-checkbox [binary]="true" [readonly]="true" formControlName="paymentRun"></p-checkbox>
        <label class="mr-2 ml-2">Payment run</label>
      </div>
      <div
        *ngIf="itemRequest?.isReversed && requestType.TYPE05 !== itemRequest?.requestTypeCode"
        class="flex align-items-center justify-content-center m-2"
      >
        <p-checkbox [binary]="true" [readonly]="true" formControlName="reversed"></p-checkbox>
        <label class="mr-2 ml-2">Reversed</label>
      </div>
      <div
        *ngIf="itemRequest?.isRefused && requestType.TYPE05 !== itemRequest?.requestTypeCode"
        class="flex align-items-center justify-content-center m-2"
      >
        <p-checkbox [binary]="true" [readonly]="true" formControlName="isRefused"></p-checkbox>
        <label class="mr-2 ml-2">Refused</label>
      </div>
    </div>
  </div>


</p-card>
