
.usage-text {
  min-width: 450px;
}

.text-table-th-custom {
  max-width: 70px;
}

.no-payment {
  margin-top: 0.75rem;
}

.form-info {
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid #CED4DA;
}
