<div>
  <div class="card">
    <div class="grid">
      <div class="col-1"></div>
      <div class="col-5">
        <div class="flex align-items-stretch flex-wrap card-container mt-7 ml-5 mb-8">
          <img class="mt-8 mb-8" src="../../../../../../assets/images/notfound.png" style="max-width: 100%" alt="" />
        </div>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <div class="col-12 mt-8">
          <div class="flex align-items-stretch flex-wrap card-container mt-8">
            <p class="font uppercase mt-8 mb-6">error!</p>
          </div>
        </div>
        <div class="col-12">
          <p class="flex uppercase pageNotFound ml-2">opps ! Page Not Found</p>
        </div>
        <div class="col-12">
          <button class="uppercase ml-7 btn" [routerLink]="['/bpm/dashboard']" pButton>Back to home</button>
        </div>
      </div>
    </div>
  </div>
</div>
