.font {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fd4a1e;
}

.pageNotFound {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #82888e;
}

.btn {
  padding-left: 20px;
  width: 140px;
  background: #0d6efd;
  border-radius: 4px;
}
