<div class="row p-2 px-4">
  <span><i class="pi pi-home"></i>/Quản trị danh mục /Danh mục người dùng</span>
</div>
<div class="wrapperForm">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div formGroupName="searchData">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md">
            <div>
              <label class="titleInput">Tên đăng nhập</label>
            </div>
            <input placeholder="---" class="input" id="username" type="username" aria-describedby="username1-help"
              pInputText formControlName="username" />
          </div>
          <div class="col-md">
            <div>
              <label class="titleInput">Phòng ban</label>
            </div>
            <p-dropdown class="input" [style]="{'width':'100%'}" [options]="positionData"
              formControlName="position" placeholder="Tất cả" optionLabel="name" optionValue="id"  [showClear]="true"></p-dropdown>
          </div>
          <div class="col-md">
            <div>
              <label class="titleInput">Trạng thái</label>
            </div>
            <p-dropdown class="input" [style]="{'width':'100%'}" [options]="statusData"
              formControlName="status" placeholder="Tất cả" optionLabel="name" optionValue="name" [showClear]="true"></p-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div>
              <label class="titleInput">Mã nhân viên</label>
            </div>
            <input placeholder="---" class="input" id="keyEmployee" type="keyEmployee" aria-describedby="username1-help"
              pInputText formControlName="keyEmployee" />
          </div>
          <div class="col-md">
            <div>
              <label class="titleInput">Tên nhân viên</label>
            </div>
            <input placeholder="---" class="input" id="name" type="keyEmployee" aria-describedby="username1-help"
              pInputText formControlName="name" />
          </div>
          <div class="col-md">

          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-between py-1 px-3">
    <div>
      <button (click)="searchDataGetPaginator()" class="btnSearch">Tìm kiếm</button>
    </div>
    <div>
      <button (click)="showDialog()" class="btnAddPopup"><i class="pi pi-plus"></i></button>
    </div>
  </div>
  <div style="width: 100%">
    <div class="tableRes p-2">
      <p-table [value]="data" [scrollable]="true" scrollHeight="66vh" scrollDirection="both" >
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width:40px">STT</th>
            <th style="min-width:100px">Account</th>
            <th style="min-width:150px">Mã nhân viên</th>
            <th style="min-width:250px">Tên nhân viên</th>
            <th style="min-width:150px">Chức vụ</th>
            <th style="min-width:150px">Phòng ban</th>
            <th style="min-width:250px">Email nhân viên</th>
            <th style="min-width:150px">Số điện thoại</th>
            <th style="min-width:100px">Khối</th>
            <th style="min-width:150px">Loại User</th>
            <th style="min-width:200px">Trạng thái hoạt động</th>
            <th style="min-width:250px">Trạng thái khoá/mở user</th>
            <th style="min-width:100px">Tuỳ chọn</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex = "rowIndex">
          <tr>
            <td style="min-width:40px">{{pageNo > 0 ? (pageNo)*paginator.rows + rowIndex + 1 : rowIndex + 1}}</td>
            <td style="min-width:100px">{{data.account}}</td>
            <td style="min-width:150px">{{data.keyEmployee}}</td>
            <td style="min-width:250px">{{data.employeeName}}</td>
            <td style="min-width:150px">{{data.jobTitle}}</td>
            <td style="min-width:150px">{{data.position | positionTranform: positionData}}</td>
            <td style="min-width:250px">{{data.email}}</td>
            <td style="min-width:100px">{{data.phoneNumber}}</td>
            <td style="min-width:100px">{{data.class}}</td>
            <td style="min-width:150px">{{data.role}}</td>
            <td style="min-width:200px">{{data.status}}</td>
            <td style="min-width:250px">{{data.userStatus}}</td>
            <td style="min-width: 100px">
              <div class="d-flex">
                <div class="px-1">
                  <button (click)="handleEdit(data.id)" class="btnEdit"><i style="color: white; width: 1rem" class="pi pi-pencil"></i></button>
                </div>
                <div class="px-1">
                  <button (click)="confirmDelete(data.id)" class="btnDelete"><i style="color: white; width: 1rem" class="pi pi-times"></i></button>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
        </ng-template>
      </p-table>
      <p-paginator  [showCurrentPageReport]="true"  [rows]="10" [rowsPerPageOptions]="[5, 10, 15]" [totalRecords]="totalRecord"  (onPageChange)="paginate($event)" [pageLinkSize]="pageLinks" #paginator></p-paginator>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{width: '20%'}" [baseZIndex]="10000"></p-confirmDialog>
<p-messages class="msgConfirm" [value]="msgs"></p-messages>
<app-dialog-user
  *ngIf="dialog"
  [dialog]="dialog"
  [classData]="classData"
  [statusData]="statusData"
  [jobData]="jobData"
  (newDialog)="changeDialog($event)"
  (newDisable)="changeEdit($event)"
  [disable]="edit"
  [idEdit]="id"
></app-dialog-user>



