.wrapperForm{
  width: 100%;
  height: 100vh;
  border: 15px solid #DDDDDD;
  .row{
    padding-bottom: 5px;
  }
  .titleInput{
    font-weight: 500;
  }
  .input{
    width: 100%;
  }
  .btnSearch{
    background-color: #3366FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    height: 40px;
  }
  .btnAddPopup{
    background-color: #3366FF;
    color: white;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;

  }
  .tableRes{
    width: 100%;
    th{
      background-color:#DBE9FF ;
    }
    .btnEdit{
      background-color: #0d6efd;
      border: unset;
      border-radius: 5px;
      &:hover{
        background-color: #141ed2;
      }
    }
    .btnDelete{
      background-color: red;
      border: unset;
      border-radius: 5px;
      &:hover{
        background-color: #fe4551;
      }
    }
  }
}
.msgConfirm{
  position: absolute;
  right: 0;
  top: 0;
  color: #48e98a;
}

