<ng-container *ngIf="(dataTable$ | async) as dataTable ">
    <ng-container *ngIf="dataTable.length > 0">
        <div class="pl-2 mb-5 pt-3">
            <h4 class="title title-checkList mb-4">{{'request.detailRequest.premiumAdjustment.resultCreatePayment' | translate}}</h4>
            <div class="table">
                <p-table
                        [value]="dataTable"
                        [resizableColumns]="true"
                        responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Posting date</th>
                            <th>Selection Cats.</th>
                            <th>Bank clrg acct</th>
                            <th>Lot ID</th>
                            <th>Item</th>
                            <th>Payment Amount</th>
                            <th>Usage text</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row>
                        <tr>
                            <td>{{row.postingDate | MapSAPDate}}</td>
                            <td>{{row.selectionCat}}</td>
                            <td>{{row.bankClearingAccount}}</td>
                            <td>{{row.paymentLot}}</td>
                            <td>{{row.paymentLotItem}}</td>
                            <td>{{row.amount | MapSAPAmount}}</td>
                            <td [pTooltip]="row.usageText" tooltipPosition="left">{{row.usageText}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="text-right mt-3">
            <button pButton [label]="'Allocate'" [disabled]="disableAllocateButton$ | async"
                    (click)="allocate()"></button>
        </div>
    </ng-container>
</ng-container>
