<div class="titleDialog mt-3"
>{{'request.detailRequest.claim-tpa.mail' | translate | uppercase }} {{ header | MapTranslate: emailTypeList | uppercase }}</div>
<div class="dialog-header-icons">
    <button class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span (click)="previewEmail()" class="p-dialog-header-close-icon pi pi-eye"></span>
    </button>
</div>
<div [formGroup]="form" class="grid mt-2">
    <div class="col-12">
        <mbal-input-text
                label="{{'request.detailRequest.claim-tpa.title' | translate }}"
                formControlName="subject"
        >
        </mbal-input-text>
    </div>
    <div class="col-12 md:col-7">
        <mbal-input-text
                label="{{'request.detailRequest.claim-tpa.to' | translate }}"
                formControlName="to"
        >
        </mbal-input-text>
    </div>
    <div class="col-12 md:col-6">
        <div>
            <div class="chipInput">CC</div>
            <p-chips
                    class="p-chip-text"
                    formControlName="cc"
            ></p-chips>
            <small class="p-error block mt-2"
                   *ngIf="this.form.controls['cc'].invalid">{{ 'VALIDATE_ERROR.EMAIL' | translate }}</small>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div>
            <div class="chipInput">BCC</div>
          <p-chips
            class="p-chip-text"
            formControlName="bcc"
            ></p-chips>
          <small class="p-error block mt-2"
                 *ngIf="this.form.controls['bcc'].invalid">{{ 'VALIDATE_ERROR.EMAIL' | translate }}</small>
        </div>
    </div>
    <div class="col-12">
      <ckeditor
        [editor]="Editor"
        formControlName="content"
      ></ckeditor>
      <small class="p-error block" *ngIf="this.form.controls['content']?.invalid">Nội dung email là bắt buộc</small>
    </div>
</div>
<div class="mt-4 flex justify-content-between">
    <div class="text-left">
        <p-button
                *ngIf="dataEmail.isSaved"
                class="mr-3"
                label="{{'request.detailRequest.claim-tpa.chooseMail' | translate }}"
                (click)="chooseOtherEmail()"
        ></p-button>
    </div>
    <div class="text-right">
    <p-button
            class="mr-3"
            label="{{'request.detailRequest.claim-tpa.send' | translate }}"
            styleClass="p-button-success"
            (click)="showConfirm = true"
            icon="pi pi-send"
    ></p-button>
    <p-button
            class="mr-3"
            label="{{'category.save' | translate }}"
            (click)="save()"
            icon="pi pi-check"
    ></p-button>
    <p-button
            label="{{'category.cancel' | translate }}"
            styleClass="p-button-danger"
            (click)="popUpCloseMail()"
            icon="pi pi-times"
    ></p-button>
    </div>
</div>
<p-dialog header="{{ 'MESSAGE.SEND_MAIL' | translate | uppercase }}" [modal]="true" [(visible)]="showConfirm"
          [style]="{width: '20vw'}" [baseZIndex]="10000">
    <p>{{ 'request.detailRequest.claim-tpa.contentSendMail' | translate }}</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="sendMail()" label="{{ 'MESSAGE.yes' |translate }}"></p-button>
        <p-button icon="pi pi-times" (click)="showConfirm=false" styleClass="p-button-danger"
                  label="{{ 'MESSAGE.no' |translate }}"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="{{ 'category.cancel' | translate | uppercase }}" [modal]="true" [(visible)]="showClose"
          [style]="{width: '20vw'}" [baseZIndex]="10000">
    <p>{{ 'request.detailRequest.claim-tpa.contentCloseMail' | translate }}</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="closeDialog()" label="{{ 'MESSAGE.yes' |translate }}"></p-button>
        <p-button icon="pi pi-times" (click)="showClose=false" styleClass="p-button-danger"
                  label="{{ 'MESSAGE.no' |translate }}"></p-button>
    </ng-template>
</p-dialog>
