/* You can add global styles to this file, and also import other style files */
@import 'variable';
@import 'layout';
@import 'theme/index';
@import 'custom';
@import 'font';
@import "node_modules/line-awesome/dist/line-awesome/scss/line-awesome";
@import "bpmn-js/dist/assets/diagram-js.css";
@import "bpmn-js/dist/assets/bpmn-js.css";
@import "bpmn-js/dist/assets/bpmn-font/css/bpmn.css";


.layout-content:has(.card-report-process) {
  position: relative;

  .bpmn-container {
    padding: 0 !important;
  }
}
