<div class="layout-content">
  <div class="card bg-white">
    <div class="text-right">
      <p-button
        (click)="editPopup('')"
        icon="pi pi-plus"
        styleClass="p-button-primary "
      >
      </p-button>
    </div>
    <div class="mt-3">
      <p-table [scrollable]="true" [autoLayout]="true" [resizableColumns]="true" [value]="dataTable.content"
               responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th style="max-width: 50px;">STT</th>
            <th>{{ 'admin.notification.startTime' | translate}}</th>
            <th>{{ 'admin.notification.endTime' | translate}}</th>
            <th style="width: 500px;">{{ 'admin.notification.content' | translate}}</th>
            <th style="width: 300px;">{{ 'admin.notification.role' | translate}}</th>
            <th>{{ 'admin.notification.typeNotice' | translate}}</th>
            <th>{{ 'admin.notification.status' | translate}}</th>
            <th style="max-width: 100px;" alignFrozen="right" pFrozenColumn
                [frozen]="balanceFrozen">{{ 'admin.notification.action' | translate}}</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr>
            <td
              style="max-width: 50px;">{{ dataTable.currentPage === 0 ? i + 1 : dataTable.currentPage * dataTable.size + i + 1 }}</td>
            <td>{{item.notification.dateStart | date:'dd/MM/YYYY - HH:mm'}}</td>
            <td>{{item.notification.dateEnd | date:'dd/MM/YYYY - HH:mm'}}</td>
            <td [pTooltip]="item.notification.content">
              <p class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                <span [innerHTML]="innerCheck(item.notification.content)"></span>
              </p>
            </td>
            <td [pTooltip]="item.notification.departments">
              <p class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                {{item.notification.departments}}
              </p>
            </td>
            <td>{{item.notification.type === '1' ? ('admin.notification.notice' | translate) : ('admin.notification.maintenance' | translate)}}</td>
            <td>
              <p-inputSwitch (click)="changStatus(item.notification)"
                             [(ngModel)]="item.notification.status"></p-inputSwitch>
            </td>
            <td style="max-width: 100px;" alignFrozen="right" pFrozenColumn [frozen]="balanceFrozen">
               <span (click)="deleteConfirm(item.notification)" class="pointer text-red">
                <em style="font-size: 15px; padding-right: 10px" class="pi pi-trash"></em>
              </span>
              <span (click)="editPopup(item.notification)" class="pointer mr-2">
                <em style="font-size: 18px" class="las la-pen"></em>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="custom-paginator">
      <div class="grid align-items-center mt-2">
        <div class="col-2">
          {{ 'report.freelook.total' | translate }} : {{ dataTable.numberOfElements }}
          {{ 'report.freelook.of' | translate }} {{ dataTable.totalElements }}
          {{ 'report.freelook.record' | translate }} .
        </div>
        <div class="col-9">
          <p-paginator
            (onPageChange)="pageChange($event)"
            [first]="dataTable.first"
            [rowsPerPageOptions]="[10, 20, 30]"
            [rows]="dataTable.size"
            [showCurrentPageReport]="true"
            [pageLinkSize]="3"
            [totalRecords]="dataTable.totalElements"
          >
          </p-paginator>
        </div>
        <div class="col-1 grid justify-content-end"></div>
      </div>
    </div>
  </div>
</div>
