<div class="p-dialog-header px-0">
  <span class="p-dialog-title">{{ 'config.password.' + title?.toLocaleLowerCase() | translate }}</span>
  <div class="p-dialog-header-icons">
    <button type="button" class="p-dialog-header-icon p-dialog-header-maximize p-link" (click)="cancel()">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="grid p-fluid p-dialog-body mt-2" [formGroup]="form">
  <div class="col-12">
    <div class="p-field">
      <span class="p-float-label">
        <input type="password" pInputText class="p-inputtext-sm" formControlName="currentPassword" />
        <label for="inputtext">{{ 'config.password.current' | translate }}<span class="text-red"> *</span></label>
      </span>
      <f-errors [control]="form.get('code')"></f-errors>
    </div>
  </div>

  <div class="col-12">
    <div class="p-field">
      <span class="p-float-label">
        <input type="password" pInputText class="p-inputtext-sm" formControlName="newPassword" />
        <label for="inputtext">{{ 'config.password.new' | translate }}<span class="text-red"> *</span></label>
      </span>
    </div>
  </div>
  <div class="col-12">
    <div class="p-field">
      <span class="p-float-label">
        <input type="password" pInputText class="p-inputtext-sm" formControlName="confirmPassword" />
        <label for="inputtext">{{ 'config.password.confirm' | translate }}<span class="text-red"> *</span></label>
      </span>
    </div>
  </div>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <button pButton *ngIf="screenType !== 2" (click)="submit()" label="{{ 'action.save' | translate }}" icon="pi pi-check"
    class="p-mr-2"></button>
  <button pButton (click)="cancel()" label="{{ 'action.close' | translate }}" icon="pi pi-times"
    class="p-button-secondary"></button>
</div>
