<div>
  <div class="grid">
    <div [class]="itemType ? 'col-4' : 'col-12'">
      <div class="card form-view">
        <h3 class="title">{{ 'createRequest.requestRefund.title' | translate }}</h3>
        <div class="radio">
          <div class="field-radiobutton font-view">
            <p-radioButton
              (onClick)="onChangeType()"
              [(ngModel)]="itemType"
              [value]="requestType.TYPE03"
              inputId="requestType_03"
              label="{{ 'createRequest.requestRefund.freelookCancellationAndRefund' | translate }}"
            ></p-radioButton>
          </div>
          <div class="field-radiobutton font-view">
            <p-radioButton
              (onClick)="onChangeType()"
              [(ngModel)]="itemType"
              [value]="requestType.TYPE04"
              inputId="requestType_04"
              label="{{ 'createRequest.requestRefund.freelookCancellationAndTransfer' | translate }}"
            ></p-radioButton>
          </div>
          <div class="field-radiobutton font-view">
            <p-radioButton
              (onClick)="onChangeType()"
              [(ngModel)]="itemType"
              [value]="requestType.TYPE01"
              inputId="requestType_01"
              label="{{ 'createRequest.requestRefund.withdrawalAndRefundByCustomer' | translate }}"
            ></p-radioButton>
          </div>

          <div class="field-radiobutton font-view">
            <p-radioButton
              (onClick)="onChangeType()"
              [(ngModel)]="itemType"
              [value]="requestType.TYPE02"
              inputId="requestType_02"
              label="{{ 'createRequest.requestRefund.withdrawalAndTransferByCustomer' | translate }}"
            ></p-radioButton>
          </div>
          <div class="field-radiobutton font-view">
            <p-radioButton
              (onClick)="onChangeType()"
              [(ngModel)]="itemType"
              [value]="requestType.TYPE05"
              inputId="requestType_05"
              label="{{ 'createRequest.requestRefund.decisionUW' | translate }}"
            ></p-radioButton>
          </div>
          <div class="field-radiobutton font-view">
            <p-radioButton
              (onClick)="onChangeType()"
              [(ngModel)]="itemType"
              [value]="requestType.TYPE08"
              inputId="requestType_08"
              label="{{ 'requestType.08' | translate }}"
            ></p-radioButton>
          </div>
          <div class="field-radiobutton font-view">
            <p-radioButton
              (onClick)="onChangeType()"
              [(ngModel)]="itemType"
              [value]="requestType.TYPE06"
              inputId="requestType_06"
              label="{{ 'createRequest.requestRefund.submitAdditionalInformationAsRequired' | translate }}"
            ></p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="itemType !== ''" class="col-8 form-view">
      <ng-template #other>
        <app-form-refund
          [filesRefund]="stateData?.listFileNBU || []"
          [itemRequest]="itemRequest"
          [itemType]="itemType"
        ></app-form-refund>
      </ng-template>


      <app-fee-refund
        *ngIf="itemType === requestType.TYPE08 || (itemType === requestType.TYPE06 && itemRequest?.typeCode === requestType.TYPE08); else other"
        [itemRequest]="itemRequest"
        [itemType]="itemType"></app-fee-refund>
    </div>
  </div>
</div>
