<div class="p-dialog-header px-0">
  <span class="p-dialog-title"
  >{{ 'screentype.' + screenType | translate }} {{ 'config.email.' + title?.toLocaleLowerCase() | translate }}</span
  >
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div [formGroup]="form" class="grid p-fluid p-dialog-body mt-2">
  <div class="col-4">
    <mbal-input-text formControlName="code" label="{{ 'config.email.templatecode' | translate }}"></mbal-input-text>
  </div>

  <div class="col-4">
    <mbal-input-text formControlName="name" label="{{ 'config.email.templatename' | translate }}"></mbal-input-text>
  </div>
  <div class="col-4">
    <mbal-input-text formControlName="subject" label="{{ 'config.email.subject' | translate }}"></mbal-input-text>
  </div>
  <div class="col-12">
    <mbal-input-text formControlName="description"
                     label="{{ 'config.email.description' | translate }}"></mbal-input-text>
  </div>

  <div class="col-4">
    <mbal-select [options]="state?.listRole" formControlName="toRoles"
                 label="{{ 'config.email.toname' | translate }}" optionLabel="name" optionValue="code"
                 selectMode="multiple"></mbal-select>
  </div>

  <div class="col-4">
    <mbal-select [options]="state?.listRole" formControlName="ccRoles"
                 label="{{ 'config.email.cc' | translate }}" optionLabel="name" optionValue="code"
                 selectMode="multiple"></mbal-select>

  </div>
  <div class="col-4">
    <mbal-select [options]="state?.listRole" formControlName="bccRoles"
                 label="{{ 'config.email.bcc' | translate }}" optionLabel="name" optionValue="code"
                 selectMode="multiple"></mbal-select>
  </div>
  <div class="col-12">
    <mbal-editor formControlName="body" placeholder="Nhập mô tả"></mbal-editor>
  </div>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <button
    (click)="save()"
    *ngIf="screenType !== 2"
    class="p-mr-2"
    icon="pi pi-check"
    label="{{ 'action.save' | translate }}"
    pButton
  ></button>
  <button
    (click)="cancel()"
    class="p-button-secondary"
    icon="pi pi-times"
    label="{{ 'action.close' | translate }}"
    pButton
  ></button>
</div>
