@import "src/assets/styles/variable";
:host {
  display: flex;
  align-items: center;
}
.p-error {
  top: 0;
  left: 0;
  width: 100%;
}
.b-errors {
  height: 0px;
}

label {
  color: $primary-alternative-dark;
}
