<div class="card">
  <div class="grid">
    <div class="col-4">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.requestCode"
        label="{{ 'history.requestCode' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-4">
      <mbal-select
        [(ngModel)]="params.pic"
        [filter]="true"
        [options]="stateData.picDroplist!"
        label="{{ 'history.pic' | translate }}"
        optionLabel="account"
        optionValue="account"
        selectMode="multiple"
      ></mbal-select>
    </div>

    <div class="col-4">
      <mbal-select
        [(ngModel)]="params.requestType"
        [filter]="true"
        [options]="stateData.requestTypeDroplist!"
        label="{{ 'history.requestType' | translate }}"
        optionLabel="name"
        optionValue="value"
        selectMode="multiple"
      >
      </mbal-select>
    </div>

    <div class="col-4">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.policyNumber"
        label="{{ 'history.policyNumber' | translate }}"
      ></mbal-input-text>
    </div>

    <div class="col-4">
      <mbal-calendar
        (keyup.enter)="search(true)"
        (ngModelChange)="onChangeValueDate()"
        [(ngModel)]="params.startDate"
        label="{{ 'history.startDate' | translate }}"
      ></mbal-calendar>
    </div>

    <div class="col-4">
      <mbal-calendar
        (keyup.enter)="search(true)"
        (ngModelChange)="onChangeValueDate()"
        [(ngModel)]="params.endDate"
        label="{{ 'history.endDate' | translate }}"
      ></mbal-calendar>
    </div>

    <div class="col-4">
      <mbal-select
        [(ngModel)]="params.status"
        [filter]="true"
        [options]="stateData.statusDroplist!"
        label="{{ 'history.status' | translate }}"
        optionLabel="name"
        optionValue="value"
        selectMode="multiple"
      >
      </mbal-select>
    </div>
    <div class="col-4">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.icCode"
        label="{{ 'history.icCode' | translate }}"
      ></mbal-input-text>
    </div>
    <div class="col-4">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.icName"
        label="{{ 'history.icName' | translate }}"
      ></mbal-input-text>
    </div>
  </div>
  <div *ngIf="checkParamEmptyAndUser()" class="text-red">{{ 'history.keyword' | translate }}</div>
  <p-toolbar styleClass="px-0 flex justify-content-between">
    <div class="p-toolbar-group-left">
      <p-button
        (click)="search(true)"
        icon="pi pi-search"
        label="{{ 'history.btnSearch' | translate }}"
        styleClass="p-button-primary "
      >
      </p-button>
      <p-button (click)="onReset()" class="ml-2" icon="pi pi-replay" styleClass="p-button-primary"></p-button>
    </div>
  </p-toolbar>
  <p-table
    [autoLayout]="true"
    [resizableColumns]="true"
    [value]="dataTable.content"
    responsiveLayout="scroll"
    selectionMode="single"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">{{ 'history.stt' | translate }}</th>
        <th scope="col">{{ 'history.requestCode' | translate }}</th>
        <th scope="col">{{ 'history.policyNumber' | translate }}</th>
        <th scope="col">{{ 'history.requestType' | translate }}</th>
        <th scope="col">{{ 'history.status' | translate }}</th>
        <th scope="col">Resolution</th>
        <th scope="col">PIC</th>
        <th scope="col">{{ 'history.icCode' | translate }}</th>
        <th scope="col">{{ 'history.icName' | translate }}</th>
        <th scope="col">{{ 'history.createdDate' | translate }}</th>
        <th scope="col">{{ 'history.updateDate' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" let-item pTemplate="body">
      <tr (dblclick)="doDetail(item)">
        <td>{{ dataTable.currentPage * dataTable.size + i + 1 }}</td>
        <td>{{ item.requestCode }}</td>
        <td>{{ item.policyNumber }}</td>
        <td>{{ getRequestTypeDesc(item) }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.resolution }}</td>
        <td>{{ item.pic }}</td>
        <td>{{ item.icCode }}</td>
        <td>{{ item.icName }}</td>
        <td>{{ item.createdDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ item.updatedDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="custom-paginator">
    <div class="absolute">
      {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
      {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
      {{ 'request.requestList.record' | translate }}.
    </div>
    <p-paginator
      (onPageChange)="pageChange($event)"
      [first]="dataTable.first"
      [rowsPerPageOptions]="[10, 20, 30]"
      [rows]="dataTable.size"
      [showCurrentPageReport]="true"
      [totalRecords]="dataTable.totalElements"
    >
    </p-paginator>
  </div>
</div>
