.custom-paginator {
  position: relative;

  .show-block-opacity {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
  }
}

.p-button {
  background: #0d6efd;
  border-radius: 4px;
}
:host ::ng-deep {
  .p-multiselect-label-container {
    overflow: hidden;
    flex: 1 1 auto;
    cursor: pointer;
    height: 39.5px;
  }
  .text-item-value {
    border-radius: 3px;
    display: inline-flex;
  }
}
