<div class="p-dialog-header px-0">
  <span class="p-dialog-title  justify-content-center"
  > Check BP</span
  >
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="grid p-fluid p-dialog-body mt-2">
  <ng-container [formGroup]="form">
    <div class="col-6">
      <mbal-select
        (onChangeValue)="onChangeRequiredIdNumberHasStatus($event['value'])"
        [filter]="true"
        [options]="listIdentifyTypeSap"
        [showClear]="true"
        formControlName="idType"
        label="{{ 'request.detailRequest.bp.type'  | translate }}"
        scrollHeight="300px"
      ></mbal-select>
    </div>

    <div class="col-6">
      <mbal-input-text
        formControlName="idNumber"
        label="{{ 'request.detailRequest.bp.idNo'  | translate }}"
      ></mbal-input-text>
    </div>
  </ng-container>
</div>
<div class="p-dialog-footer p-0">
  <span
    class="m-5 font-medium text-red-500">{{(showTextNotBp ? 'request.detailRequest.bp.bpNotExis' : '') | translate    }}</span>
  <button
    (click)="checkBpInfor()"
    class="p-button-primary ml-2"
    label="Check bp"
    pButton
  ></button>
</div>

<ng-container *ngIf="showFormAddBp">
  <div [formGroup]="form" class="grid p-fluid p-dialog-body mt-2">
    <div class="col-12 title">{{ 'request.detailRequest.bp.bpInfo'  | translate }}</div>
    <ng-container *ngFor="let item  of stateData.listInfoIdentify; let i = index;" formArrayName="arrayForm">
      <div class="col-1">
        <p-radioButton
          (onClick)="getCheckboxValue(item)"
          *ngIf="stateData.listInfoIdentify!.length > 1"
          [(ngModel)]="selectionItem"
          [ngModelOptions]="{ standalone: true}"
          [value]="item"
        ></p-radioButton>
      </div>
      <div [formGroupName]="i" class="col-11 grid">
        <div *ngIf="!stateData.status" class="col-6">
          <mbal-select
            [filter]="true"
            [options]="listIdentifyTypeSap"
            [showClear]="true"
            formControlName="idType"
            label="{{ 'request.detailRequest.bp.type'  | translate }}"
            scrollHeight="300px"
          ></mbal-select>
        </div>

        <div *ngIf="!stateData.status" class="col-6">
          <mbal-input-text
            formControlName="idNumber"
            label="{{ 'request.detailRequest.bp.idNo'  | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-input-text
            [readonly]="!!stateData.status"
            formControlName="issuedPlace"
            label="{{ 'request.detailRequest.bp.institute'  | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-calendar [disabled]="!!stateData.status" [maxDate]="minDate" formControlName="issuedDate"
                         label="{{ 'request.detailRequest.bp.dateOfIssue'  | translate }}"
          >
          </mbal-calendar>

        </div>
        <div *ngIf="stateData.status" class="col-6">
          <mbal-input-text
            [readonly]="!!stateData.status"
            formControlName="bpNumber"
            label="PB No"
            name="bpNumber"
          ></mbal-input-text>
        </div>

        <div class="col-6">
          <mbal-input-text
            [readonly]="!!stateData.status"
            formControlName="name"
            label="{{ 'request.detailRequest.bp.policyHolderName'  | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-6">
          <mbal-select
            [options]="listGender"
            [readonly]="!!stateData.status"
            [showClear]="true"
            formControlName="gender"
            label="{{ 'request.detailRequest.bp.gender'  | translate }}"
            optionValue="code"
            scrollHeight="300px"
          ></mbal-select>
        </div>
        <div *ngIf="!stateData.status" class="col-6">
          <mbal-select
            [filter]="true"
            [options]="bankDropList"
            [virtualScroll]="true"
            formControlName="bankKey"
            label="{{ 'request.detailRequest.bp.bankName'  | translate }}"
            optionLabel="name"
            optionValue="citadCode"
          ></mbal-select>
        </div>
        <div *ngIf="!stateData.status" class="col-6">
          <mbal-input-text
            [onlyNumber]="true"
            formControlName="bankAccount"
            label="{{ 'request.detailRequest.bp.acountNumber'  | translate }}"
          ></mbal-input-text>
        </div>
      </div>
    </ng-container>

  </div>

  <div class="p-dialog-footer p-0 mt-3">
    <button
      (click)="saveBp()"
      class="p-mr-2"
      icon="pi pi-check"
      label="{{ 'action.save' | translate }}"
      pButton
    ></button>
    <button
      (click)="cancel()"
      class="p-button-secondary"
      icon="pi pi-times"
      label="{{ 'action.close' | translate }}"
      pButton
    ></button>
  </div>
</ng-container>




