<div class="mb-3">
  <p-table [autoLayout]="true"
           [resizableColumns]="true"
           [totalRecords]="dataTable?.totalElements ?? 0"
           [columns]="columns"
           [first]="dataTable?.first ?? 0"
           [rowsPerPageOptions]="[10, 20, 30]"
           [rows]="dataTable?.size ?? 10"
           [lazyLoadOnInit]="false"
           [lazy]="true"
           (onLazyLoad)="pageChange($event)"
           [paginator]="true"
           [showCurrentPageReport]="true"
           [value]="dataTable?.content ?? []"
           responsiveLayout="scroll">
    <ng-template pTemplate="caption">
      <div class="font-medium text-lg fs-2">{{query?.gridName}}</div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let column of columns">{{column.columnName}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i="rowIndex" let-row let-columns="columns">
      <tr>
        <td *ngFor="let column of columns">{{row[column.fieldInDataModel]}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [colSpan]="columns.length" class="text-center">
          {{'request.detailRequest.premiumAdjustment.no-item'| translate}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div>
        {{ 'request.requestList.total' | translate }} : {{ dataTable?.numberOfElements ?? 0 }}
        {{ 'request.requestList.of' | translate }} {{ dataTable?.totalElements ?? 0 }}
        {{ 'request.requestList.record' | translate }}.
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorRight"></ng-template>
  </p-table>
</div>
