<div class="card">
  <div class="grid">
    <h3 class="title col-12">{{ 'createRequest.requestRefund.requestInfo' | translate }}</h3>

    <ng-container [formGroup]="form">
      <ng-container *ngIf="itemRequest?.step1?.requestId && itemType === '06';else f">
        <div class="col-6">
          <mbal-input-text class="label-input" formControlName="requestId"
                           label="{{ 'request.requestList.requestCode' | translate }}"></mbal-input-text>
        </div>

      </ng-container>
      <ng-template #f>
        <div class="col-6">
          <mbal-input-text
            (blur)="findPolicyInfo()"
            [onlyNumber]="true"
            class="label-input"
            formControlName="policyNumber"
            label="{{ 'createRequest.requestRefund.policyNumber' | translate }}"
          ></mbal-input-text>
        </div>
      </ng-template>
      <div class="col-6">
        <mbal-select
          [options]="feeType"
          class="label-input"
          formControlName="documentType"
          label="{{ 'createRequest.requestCollection.typeFeePayment' | translate }}"
          optionLabel="name"
          optionValue="code"
        ></mbal-select>
      </div>
      <div *ngIf="form.get('documentType')?.value === typeFee.other" class="col-6">
        <mbal-input-text
          class="label-input"
          formControlName="documentTypeOther"
          label="{{ 'createRequest.requestCollection.typeOther' | translate }}"
        ></mbal-input-text>
      </div>
      <div class="col-6">
        <mbal-input-text
          class="label-input"
          formControlName="policyHolderName"
          label="{{ 'createRequest.requestRefund.policyHolderName' | translate }}"
        ></mbal-input-text>
      </div>
      <div class="col-6">
        <mbal-input-text
          class="label-input"
          formControlName="policyHolderPhone"
          label="{{ 'createRequest.requestCollection.phone' | translate }}"
        ></mbal-input-text>
        <span class="p-float-label"> </span>
      </div>

      <div class="col-6" *ngIf="isRoleCSSS">
        <mbal-input-text
          formControlName="ticketNumber"
          [uppercase]="true"
          class="label-input"
          label="{{ 'createRequest.requestCollection.ticketNumber' | translate }}"
        ></mbal-input-text>
      </div>
      <div class="col-6">
        <mbal-input-number
          [maxLength]="18"
          class="label-input"
          [min]="0"
          formControlName="numOfPremiums"
          label="{{ 'createRequest.requestCollection.numOfPremiums' | translate }} "
          mode="decimal"
          suffix=" VNĐ"
        ></mbal-input-number>
      </div>
      <div class="col-6">
        <mbal-calendar
          [maxDate]="dateNotFuture"
          class="label-input"
          formControlName="paymentReceiveDate"
          label="{{ 'createRequest.requestCollection.paymentReceiveDate' | translate }}"
        ></mbal-calendar>
      </div>
      <div class="col-6">
        <mbal-input-text
          formControlName="email"
          label="{{ 'createRequest.requestCollection.ccEmail' | translate }}"
        ></mbal-input-text>
      </div>
    </ng-container>

    <ng-container *ngFor="let item of files; let i = index">
      <div [class]="'col-' + (i === 0 ? '12' : '6')">
        <div style="margin: auto">
          <label class="label-input"
          >{{ item.label | translate }}<span *ngIf="item.required" class="text-red">*</span></label
          >
          <div class="mt-2">
            <p-fileUpload
              #fileInput
              (uploadHandler)="uploadHandler($event, i)"
              [auto]="true"
              [customUpload]="true"
              [maxFileSize]="100000000"
              [multiple]="true"
              [previewWidth]="40"
              [showUploadButton]="false"
              accept=".pdf, .PNG, .JPN, .JPEG, .JPG"
              chooseIcon="pi pi-upload"
              chooseLabel="{{ 'createRequest.requestRefund.selectFileUpload' | translate }}"
              class="p-upload"
              invalidFileTypeMessageDetail="{{ 'MESSAGE.FILE_REQUIRED' | translate }}"
              invalidFileTypeMessageSummary="{0}"
            >
            </p-fileUpload>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="card">
  <p-toolbar>
    <ng-template pTemplate="left"></ng-template>
    <ng-template pTemplate="right">
      <button
        (click)="save()"
        icon="pi pi-check"
        label="{{ 'createRequest.requestRefund.submitForm' | translate }}"
        pButton
      ></button>
    </ng-template>
  </p-toolbar>
</div>
