<div>
  <div class="checkbox-container" *ngFor="let benefit of benefits; let index = index">
    <ng-container>
      <div class="checkbox">
        <p-checkbox
          [readonly]="readonly"
          [formControl]="checkBoxControl"
          (onChange)="onChangeCheckbox(index)"
          [value]="benefit.code"
          [label]="benefit.name"
          name="benefit">
        </p-checkbox>
      </div>
      <div class="benefit-input" *ngIf="showMoney">
        <div class="input" *ngIf="!readonly">
          <p-inputNumber
            #les="ngModel"
            [required]="true"
            [(ngModel)]="benefit.money"
            [maxlength]="20"
            [disabled]="!benefit?.checked"
            (onBlur)="onChange()"
            [suffix]="currency"
            currency="VND"
            currencyDisplay="code"
            [min]="1"
          >
          </p-inputNumber>
          <small class="p-error block" *ngIf="les.control.hasError('required')">Trường bắt buộc</small>
        </div>
        <div *ngIf="readonly">{{  benefit?.money ?? 0 | currency: currency : "": ""}} {{currency}}</div>
      </div>
    </ng-container>
  </div>
</div>
