@import "variable";
:host(::ng-deep) {

  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-wrap: nowrap;
    gap: 20px;

    .checkbox {
      display: flex;
      align-items: center;
    }

    p-checkbox .p-checkbox-label {
      margin-left: 14px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
    }

    p-checkbox.ng-invalid.ng-touched .p-checkbox-label {
      color: $color-red-error
    }

    ~ .checkbox-container {
      margin-top: 1rem
    }

  }
  .benefit-input {
    white-space: nowrap;
  }

}
