<div class="grid export-report">
  <div class="col-12">
    <app-report-tat></app-report-tat>
  </div>
  <div class="col-12">
    <app-report-reason-reject-policy></app-report-reason-reject-policy>
  </div>
</div>
