<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="grid">
        <div class="col-3">
          <mbal-input-text
            [(ngModel)]="params.code"
            (keyup.enter)="search(true)"
            label="{{ 'config.email.templatecode' | translate }}"
          ></mbal-input-text>
        </div>
        <div class="col-3">
          <mbal-input-text
            (keyup.enter)="search(true)"
            [(ngModel)]="params.name"
            label="{{ 'config.email.templatename' | translate }}"
          ></mbal-input-text>
        </div>
      </div>
      <p-toolbar styleClass="px-0 pt-0 mt-2">
        <div class="p-toolbar-group-left">
          <p-button (click)="search(true)" icon="pi pi-search" label="{{ 'config.email.btnSearch' | translate }}">
          </p-button>
        </div>
        <div class="p-toolbar-group-right">
          <button (click)="viewCreate()" icon="pi pi-plus" pButton></button>
        </div>
      </p-toolbar>
      <p-table [value]="dataTable.content" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">{{ 'config.email.stt' | translate }}</th>
            <th scope="col">{{ 'config.email.templatecode' | translate }}</th>
            <th scope="col">{{ 'config.email.templatename' | translate }}</th>
            <th scope="col">{{ 'config.email.description' | translate }}</th>
            <th alignFrozen="right" pFrozenColumn scope="col" style="width: 100px">
              {{ 'config.email.action' | translate }}
            </th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>
              <p class="w-20rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.code }}</p>
            </td>
            <td>
              <p class="w-20rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.name }}</p>
            </td>
            <td>
              <p class="w-30rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.description }}</p>
            </td>
            <td alignFrozen="right" pFrozenColumn style="width: 100px">
              <span (click)="viewEdit(item)" class="pointer mr-2">
                <em class="las la-pen"></em>
              </span>
              <span (click)="deleteItem(item.code)" class="pointer">
                <em class="las la-trash-alt"></em>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator
        (onPageChange)="pageChange($event)"
        [rowsPerPageOptions]="[10, 20, 30]"
        [rows]="dataTable!.size"
        [showCurrentPageReport]="true"
        [totalRecords]="dataTable!.totalElements"
      ></p-paginator>
    </div>
  </div>
</div>
