<div [ngClass]="{ field: fieldForm }" class="relative">
  <span class="p-float-label">
    <p-calendar
      #calendar
      appCalendarWithMask
      (ngModelChange)="onModelChange($event)"
      (onBlur)="onTouched(); onBlur()"
      (onClickOutside)="onClickOutSide()"
      (onInput)="onInput($event)"
      (onSelect)="listenOnSelect && onModelChange()"
      [(ngModel)]="value"
      [disabled]="disabled"
      [maxDate]="maxDate!"
      [minDate]="minDate!"
      [ngClass]="{ 'ng-invalid ng-dirty': errors, readonly: readonly }"
      [readonlyInput]="readonly"
      [selectionMode]="selectionMode"
      [showIcon]="!readonly"
      [showOnFocus]="showOnFocus"
      [showTime]="showTime"
      [timeOnly]="timeOnly"
      [required]="!!required"
      [multipleSeparator]="multipleSeparator"
      [showSeconds]="showSecond"
      appendTo="body"
      [format]="markFormat"
      [view]="calendarView"
      class="p-inputtext-sm"
      [dateFormat]="dateFormat"
      [panelStyle]="panelStyle"
      [panelStyleClass]="panelStyleClass"
    ></p-calendar>
    <label *ngIf="showLabel">
      <span *ngIf="showLabel"> {{ label | translate }}</span>
      <span *ngIf="checkRequire() || !!this.required" class="p-errors" style="color: red; margin-left: 3px">*</span></label>
  </span>
  <div class="b-errors">
    <ng-container *ngIf="errors">
      <small class="p-error error-msg block fadeinup animation-duration-300">
        <span class="block">{{ getError().key | translate: getError().required }}</span>
      </small>
    </ng-container>
  </div>
</div>
