<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="grid">
        <div class="col-3">
          <mbal-input-text
            (keyup.enter)="search(true)"
            [(ngModel)]="params.code"
            [fieldForm]="false"
            label="{{ 'admin.role.rolecode' | translate }}"
          >
          </mbal-input-text>
        </div>
        <div class="col-3">
          <mbal-input-text
            (keyup.enter)="search(true)"
            [(ngModel)]="params.name"
            [fieldForm]="false"
            label="{{ 'admin.role.rolename' | translate }}"
          >
          </mbal-input-text>
        </div>
      </div>
      <p-toolbar styleClass="px-0 pt-0 mt-2">
        <div class="p-toolbar-group-left">
          <p-button (click)="search(true)" icon="pi pi-search" label="{{ 'admin.role.btnSearch' | translate }}">
          </p-button>
        </div>
        <div class="p-toolbar-group-right">
          <button (click)="viewCreate()" *ngIf="checkFunctionCreate()" icon="pi pi-plus" pButton></button>
        </div>
      </p-toolbar>
      <p-table [value]="dataTable.content" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">{{ 'admin.role.stt' | translate }}</th>
            <th scope="col">{{ 'admin.role.rolecode' | translate }}</th>
            <th scope="col">{{ 'admin.role.rolename' | translate }}</th>
            <th scope="col">{{ 'admin.role.description' | translate }}</th>
            <th scope="col" style="width: 100px">
              {{ 'admin.role.action' | translate }}
            </th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr>
            <td>{{ dataTable.currentPage === 0 ? i + 1 : dataTable.currentPage * dataTable.size + i + 1 }}</td>
            <td>
              <p class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                {{ item.code }}
              </p>
            </td>
            <td>
              <p class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                {{ item.name }}
              </p>
            </td>
            <td>
              <p class="w-25rem white-space-nowrap overflow-hidden text-overflow-ellipsis">
                {{ item.description }}
              </p>
            </td>

            <td alignFrozen="right" pFrozenColumn style="width: 100px">
              <span (click)="viewEdit(item)" *ngIf="checkFunctionUpdate()" class="pointer mr-2">
                <em class="las la-pen"></em>
              </span>
              <span (click)="deleteItem(item.code)" *ngIf="checkFunctionDelete()" class="pointer icon-delete">
                <em class="pi pi-trash"></em>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="custom-paginator">
        <div class="absolute">
          {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
          {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
          {{ 'request.requestList.record' | translate }}.
        </div>
        <p-paginator
          (onPageChange)="pageChange($event)"
          [first]="dataTable.first"
          [rowsPerPageOptions]="[10, 20, 30]"
          [rows]="dataTable.size"
          [showCurrentPageReport]="true"
          [totalRecords]="dataTable.totalElements"
        >
        </p-paginator>
      </div>
    </div>
  </div>
</div>
