<claim-section-template
  header="{{'claimRequest.decision'| translate}}"
  headerStyleClass="uppercase"
  [isCard]="true"
  bodyStyleClass="grid claim__section-body mb-0 relative"
>
  <div class="lg:col-4 md:col-6 col-12">
    <mbal-select
      [label]="'claimRequest.decision'| translate"
      [required]="true"
      [options]="decisions"
      [(ngModel)]="decision"
      optionValue="value"
    >
    </mbal-select>
  </div>
  <div class="lg:col-offset-8 md:col-offset-6"></div>
  <div class=" col-12">
    <mbal-input-textarea
      [label]="'request.detailRequest.claim-tpa.need-to-process' | translate"
      [rows]="4"
      [required]="true"
      [(ngModel)]="content"
      (blur)="onChange()"
      appTrim
      [maxlength]="1000"
      [emitEvent]="true"
      [TrimOnBlur]="true">
    </mbal-input-textarea>
  </div>
  <div class="col-12">
    <p-fileUpload
      #fileUpload
      (uploadHandler)="fileHandler($event)"
      [auto]="true"
      [customUpload]="true"
      [maxFileSize]="MAX_FILE_SIZE"
      [multiple]="true"
      [fileLimit]="fileLimit"
      [showUploadButton]="false"
      chooseIcon="pi pi-upload"
      accept=".PDF, .PNG, .JPEG, .JPG, .XML, .docx, .xlsx, .doc"
      chooseLabel="{{ 'request.detailRequest.claim-tpa.upload-attachment' | translate }}"
      class="p-upload"
      invalidFileTypeMessageDetail="{{ 'MESSAGE.FILE_REQUIRED_fileTypeAllow' | translate: {
      fileTypeAllow: fileUpload.accept
      } }}"
      invalidFileLimitMessageDetail="{{'MESSAGE.PRIMENG.INVALID_MAX_FILE_LIMIT' | translate}}"
      invalidFileLimitMessageSummary="{{'MESSAGE.PRIMENG.INVALID_MAX_FILE_LIMIT_SUMMARY'| translate}}"
      invalidFileSizeMessageDetail="{{'MESSAGE.PRIMENG.INVALID_MAX_FILE_SIZE' | translate}}"
      invalidFileSizeMessageSummary="{{'MESSAGE.PRIMENG.INVALID_MAX_FILE_SIZE_SUMMARY'| translate}}"
      invalidFileTypeMessageSummary="{0}"
    >

      <ng-template pTemplate="file" let-file let-i="index" >
        <div class="grid align-items-center">
          <div class="col-2 p-3">
            <img [src]="'assets/icons/uploaded-file.svg'" alt="upload-file-icon">
          </div>
          <div class="col-6 p-fileupload-filename p-3">
            {{ file.name }}
          </div>
          <div class="col-2 p-3">{{ fileUpload.formatSize(file.size) }}</div>
          <div class="col-2 p-3 text-right">
            <a href="javascript:void(0)" (click)="fileUpload.remove($event, i)">
              <img src="assets/icons/claim-remove-file-icon.svg" alt="remove-icon">
            </a>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content" >
        <ng-container *ngFor="let file of savedFiles, let i = index ">
          <div class="grid align-items-center">
            <div class="col-2 p-3">
              <img [src]="'assets/icons/uploaded-file.svg'" alt="upload-file-icon">
            </div>
            <div class="col-6 p-fileupload-filename p-3">
              {{ file.fileName }}
            </div>
            <div class="col-2 p-3">
              {{fileUpload.formatSize(file.fileSize)}}
            </div>
            <div class="col-2 p-3 text-right">
              <a href="javascript:void(0)" (click)="removeFile($event, i)">
                <img src="assets/icons/claim-remove-file-icon.svg" alt="remove-icon">
              </a>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </p-fileUpload>
  </div>

  <div class="absolute button-forward">
    <button
      class="p-mr-2"
      icon="pi pi-reply"
      (click)="forward($event)"
      pButton
    ></button>
  </div>

</claim-section-template>

