<div class="layout-content bg-white">
    <div class="titleDialog">{{ 'category.edit' | translate }}</div>
    <div [formGroup]="form" class="mt-3 grid">
        <div class="col-12 md:col-6">
            <mbal-input-text
                    [disabled]="true"
                    [ngModel]="('requestType.' + dataDialog?.requestType) | translate "
                    [ngModelOptions]="{standalone: true}"
                    label="{{ 'config.assignment.requestType' | translate }}"
            ></mbal-input-text>
        </div>
        <div class="col-12 md:col-6">
            <mbal-select
              (onChangeValue)="onChangeDepartment($event.value)"
                    [options]="department"
                    optionValue="code"
                    optionLabel="code"
                    formControlName="department"
                    label="{{ 'config.assignment.department' | translate }}"
            ></mbal-select>
        </div>
        <div class="col-12 md:col-6">
            <mbal-select
              (onChangeValue)="onChangePicAssignRole($event)"
                    [options]="roleSystem"
                    optionValue="code"
                    optionLabel="code"
                    [filter]="true"
                    formControlName="assignRole"
                    label="{{ 'config.assignment.role' | translate }}"
            ></mbal-select>
        </div>
        <div class="col-12 md:col-6">
            <mbal-select
                    selectMode="multiple"
                    [options]="roleForward"
                    optionValue="code"
                    optionLabel="code"
                    [filter]="true"
                    formControlName="forwardRole"
                    label="{{ 'config.assignment.roleForward' | translate }}"
            ></mbal-select>
        </div>
        <div class="col-12 md:col-6">
            <mbal-select
                    (onChangeValue)="checkTypeRequest($event)"
                    [options]="typeRequest"
                    optionValue="value"
                    optionLabel="name"
                    formControlName="assignType"
                    label="{{ 'config.assignment.typeShare' | translate }}"
            ></mbal-select>
        </div>
        <div class="col-12 md:col-6">
            <mbal-select
                    [options]="user"
                    optionValue="account"
                    optionLabel="account"
                    [filter]="true"
                    selectMode="multiple"
                    formControlName="listUser"
                    label="{{ 'config.assignment.user' | translate }}"
            ></mbal-select>
        </div>
    </div>
    <div class="mt-5 text-right">
        <button
                class="btn destroy"
                (click)="closeDialog()"
        >{{'category.cancel' | translate }}
        </button>
        <button
                class="btn save"
                (click)="save()"
        >{{'category.save' | translate }}
        </button>
    </div>
</div>
