<div [ngClass]="{ field: fieldForm }" class="relative">
  <span class="p-float-label">
    <input
      (blur)="onTouched(); trimData($event)"
      (input)="onInput($event)"
      (ngModelChange)="onModelChange()"
      [(ngModel)]="value"
      [disabled]="disabled"
      [ngClass]="{ 'ng-invalid ng-dirty': errors, readonly: readonly }"
      [readonly]="readonly"
      class="p-inputtext-sm"
      [autocomplete]="autucomplete"
      pInputText
      [type]="type"
    />
  </span>
  <div class="b-errors">
    <ng-container *ngIf="errors">
      <small class="p-error error-msg block fadeinup animation-duration-300">
        <span class="block">{{ getError().key | translate: getError().required }}</span>
      </small>
    </ng-container>
  </div>
</div>
