<div class="p-dialog-header px-0">
  <div style="text-align: center; flex: 1 1 auto"
    class="p-dialog-title  uppercase text-blue-500">{{ 'request.detailRequest.submitFeePay.warningAmountFee' | translate }}</div>
  <div class="p-dialog-header-icons">
    <button (click)="cancel()" class="p-dialog-header-icon p-dialog-header-maximize p-link" type="button">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="mt-2 p-dialog-body grid p-fluid">
  <ng-container *ngIf="list.length > 0">
    <p>{{ 'MESSAGE.PARTIAL_AMOUNT_WILL_BE_ALLOCATED' | translate }}</p>
    <p-table
      class="table-compare"
      [resizableColumns]="true"
      [scrollable]="false"
      [value]="list"
      responsiveLayout="scroll"
      scrollDirection="vertical"
    >
      <ng-container>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Payment lot</th>
            <th scope="col">Item</th>
            <th scope="col">Payment Amount</th>
            <th scope="col">Remaining Amount</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" let-item pTemplate="body">
          <tr>
            <td>{{ item.paymentLot }}</td>
            <td>{{ item.item }}</td>
            <td>{{ item.numberOfPremiums | number: '1.0-0' }}</td>
            <td>{{item.remainingAmount | number: '1.0-0'}}</td>
          </tr>
        </ng-template>
      </ng-container>
    </p-table>
  </ng-container>
  <ng-container *ngIf="totalAmount !== amount">
    <p>{{ 'MESSAGE.CONFIRM_AMOUNT_OTHER_TOTAL_AMOUNT' | translate }}</p>
    <div class="col-6">
      <div class="p-field">
        <mbal-input-number
          [(ngModel)]="amount"
          [readonly]="true"
          label="{{ 'request.detailRequest.submitFeePay.requestFeeAmount' | translate }}"
        ></mbal-input-number>
      </div>
    </div>
    <div class="col-6">
      <div class="p-field">
        <mbal-input-number [(ngModel)]="totalAmount" [readonly]="true"
                           label="{{ 'request.detailRequest.submitFeePay.feeTotal' | translate }}">
        </mbal-input-number>
      </div>
    </div>
  </ng-container>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <button
    (click)="save()"
    class="p-mr-2"
    icon="pi pi-check"
    label="{{ 'button.confirm' | translate }}"
    pButton
  ></button>
  <button
    (click)="cancel()"
    class="p-button-danger"
    icon="pi pi-times"
    label="{{ 'button.cancel' | translate }}"
    pButton
  ></button>
</div>
