<div class="card">
  <div class="grid">
    <div class="col-4">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.id"
        [fieldForm]="false"
        label="{{ 'admin.manipulation.operationCode' | translate }}"
      >
      </mbal-input-text>
    </div>
    <div class="col-4">
      <mbal-input-text
        (keyup.enter)="search(true)"
        [(ngModel)]="params.name"
        [fieldForm]="false"
        label="{{ 'admin.manipulation.operationName' | translate }}"
      >
      </mbal-input-text>
    </div>
    <div class="col-4"></div>
  </div>

  <p-toolbar styleClass="px-0 flex justify-content-between">
    <div class="p-toolbar-group-left">
      <p-button
        (click)="search(true)"
        icon="pi pi-search"
        label="{{ 'report.freelook.btnSearch' | translate }}"
        styleClass="p-button-primary "
      >
      </p-button>
    </div>
    <div class="p-toolbar-group-right">
      <button (click)="viewCreate()" *ngIf="checkFunctionCreate()" icon="pi pi-plus" pButton></button>
    </div>
  </p-toolbar>

  <p-table
    [autoLayout]="true"
    [resizableColumns]="true"
    [value]="dataTable.content"
    responsiveLayout="scroll"
    selectionMode="single"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">{{ 'admin.manipulation.stt' | translate }}</th>
        <th scope="col">{{ 'admin.manipulation.operationCode' | translate }}</th>

        <th scope="col">{{ 'admin.manipulation.operationName' | translate }}</th>

        <th scope="col">{{ 'admin.manipulation.action' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" let-item pTemplate="body">
      <tr>
        <td>{{ dataTable.currentPage === 0 ? i + 1 : dataTable.currentPage * dataTable.size + i + 1 }}</td>
        <td>
          <p class="w-30rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.name }}</p>
        </td>
        <td>
          <p class="w-30rem white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ item.displayName }}</p>
        </td>

        <td>
          <span (click)="viewEdit(item)" *ngIf="checkFunctionUpdate()" class="pointer">
            <em class="las la-pen"></em>
          </span>
          <span (click)="deleteItem(item.id)" *ngIf="checkFunctionDelete()" class="pointer ml-3">
            <em class="pi pi-trash"></em>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="custom-paginator">
    <div class="absolute">
      {{ 'request.requestList.total' | translate }} : {{ dataTable.numberOfElements }}
      {{ 'request.requestList.of' | translate }} {{ dataTable.totalElements }}
      {{ 'request.requestList.record' | translate }}.
    </div>
    <p-paginator
      (onPageChange)="pageChange($event)"
      [first]="dataTable.first"
      [rowsPerPageOptions]="[10, 20, 30]"
      [rows]="dataTable.size"
      [showCurrentPageReport]="true"
      [totalRecords]="dataTable.totalElements"
    >
    </p-paginator>
  </div>
</div>
