@import "variable";

.p-button {
  background: $primary;
  padding: 0.875rem 1rem;

  &.p-button-icon-only {
    width: 3rem;
    padding: 0.875rem;
  }
}

.p-button:disabled {
  background-color: rgba(63, 81, 181, 0.92) !important;
  color: #fff !important;
  opacity: 0.5;
}

.p-button.p-button-secondary {
  color: #ffffff;
  background: #64748b;
  border: 0 none;

  &:enabled:hover {
    background: #475569;
    color: #ffffff;
  }
}

.p-button.p-button-secondary:enabled:focus, .p-buttonset.p-button-secondary > .p-button:enabled:focus, .p-splitbutton.p-button-secondary > .p-button:enabled:focus {
  background: #475569;
}

.p-button.p-button-warning, .p-buttonset.p-button-warning > .p-button, .p-splitbutton.p-button-warning > .p-button {
  color: #FFFFFF;
}

.custom-btn {
  .p-button.un-select {
    background: #DBE9FF;
    color: $primary
  }
}

.p-button:enabled:focus {
  background: $blue;
}

.p-button.p-button-danger:enabled:focus, .p-buttonset.p-button-danger > .p-button:enabled:focus, .p-splitbutton.p-button-danger > .p-button:enabled:focus {
  background: #D32F2F;
}

.p-button.p-button-success:enabled:focus, .p-buttonset.p-button-success > .p-button:enabled:focus, .p-splitbutton.p-button-success > .p-button:enabled:focus {
  background: #689F38;
}
