@import 'variable';

.p-editor-container {
  .p-editor-toolbar.ql-snow {
    border: 1px solid #00000061;

  }

  .p-editor-content.ql-snow {
    border: 1px solid #00000061;
  }
}

.p-editor.ng-dirty.ng-invalid {
  .p-editor-container {

    .p-editor-toolbar.ql-snow {
      border: 1px solid $color-red-error;
      border-bottom-width: 0;

      .ql-stroke {
        stroke: $color-red-error;
      }

      .ql-picker .ql-picker-label {
        color: $color-red-error;
      }
    }

    .p-editor-content.ql-snow {
      border: 1px solid $color-red-error;
    }
  }

  .ql-editor.ql-blank::before {
    color: $color-red-error;
  }
}
