.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.icon-file {
  @extend .icon;
  background-image: url('../../icons/file.svg') !important;
}

.icon-assign-to-me {
  @extend .icon;
  background-image: url('../../icons/assign-to-me.svg') !important;
}

.icon-notify-approved {
  @extend .icon;
  width: 40px;
  height: 40px;
  background-image: url('../../icons/notify-approved.svg') !important;
}

.icon-notify-rejected {
  @extend .icon;
  width: 40px;
  height: 40px;
  background-image: url('../../icons/notify-reject.svg') !important;
}

.icon-notify-checklist {
  @extend .icon;
  width: 40px;
  height: 40px;
  background-image: url('../../icons/notify-checklist.svg') !important;
}

.icon-notify-pending {
  @extend .icon;
  width: 40px;
  height: 40px;
  background-image: url('../../icons/notify-pending.svg') !important;
}

.icon-notify-forward {
  @extend .icon;
  width: 40px;
  height: 40px;
  background-image: url('../../icons/notify-forward.svg') !important;
}


