.p-inputtext {
  width: 100%;
}

.p-input-icon-left, .p-input-icon-right {
  position: relative;
  display: inline-block;
}

.p-input-icon-right > em:last-of-type {
  right: 0.75rem;
  color: #6c757d;
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
}

.p-input-icon-left > em:last-of-type {
  left: 0.75rem;
  color: #6c757d;
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
}
