.p-datatable {
  .p-datatable-thead {
    & > tr {
      & > th {
        text-align: left;
        padding: 1rem 1rem;
        border: 1px solid #e4e4e4;
        border-width: 0 0 0 0;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.87);
        background: $primary5;
        transition: none;
      }
    }
  }

  .p-datatable-tbody {
    & > tr {
      & > td {
        vertical-align: text-top;
        padding: 0.5rem 1rem;
      }
    }
  }
}

.p-treetable {
  &-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e4e4e4;
    border-width: 0 0 1px 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    background: $primary5 !important;
    transition: none;
  }

  .p-treetable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e4e4e4;
    border-width: 0 0 1px 0;
    padding: 0rem 0rem 0rem 1rem;
  }
}

.custom-paginator {
  margin-top: 0.5rem;
  position: relative;

  .absolute {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
