<app-document-category
  *ngIf="!!typeRequest && typeRequest !== requestType.TYPE05"
  [form]="dataProcess"
  [itemRequest]="itemRequest"
></app-document-category>
<app-application-data [itemRequest]="itemRequest"></app-application-data>
<app-type
  *ngIf="!!typeRequest && typeRequest === requestType.TYPE05"
  [form]="dataProcess"
  [itemRequest]="itemRequest"
  [listRefuseReason]="listRefuseReason"
  [listSubRefuseReason]="listSubRefuseReason"
  [listTypeCancel]="listTypeCancel"
></app-type>
<app-insurance-premium
  *ngIf="hasInsurancePremium()"
  [form]="dataProcess"
  [itemRequest]="itemRequest"
></app-insurance-premium>
<ng-container *ngIf="!itemRequest?.decisionList || itemRequest?.decisionList!.length === 0; else p2pRejected">
  <app-refund-decision
    *ngIf="showDecisionSection()"
    [additionalAttachmentsDropList]="additionalAttachmentsDropList"
    [approvedDropList]="approvedDropList"
    [authBankResDTOS]="authBankResDTOS"
    [bankDropList]="bankDropList"
    [bankResDTOList]="bankResDTOList"
    [decisionDropList]="decisionDropList"
    [form]="dataProcess"
    [itemRequest]="itemRequest"
    [listPostText]="listPostText"
    [pendingReasonDropList]="pendingReasonDropList"
    [rejectReasonDropList]="rejectReasonDropList"
    [subReasonDropList]="subReasonDropList"
  ></app-refund-decision>
  <div *ngIf="showResultSection()" [formGroup]="dataProcess" class="mt-3 result">
    <p-card>
      <div>
        <h4 class="title">{{ 'request.detailRequest.underwrite.result' | translate }}</h4>
      </div>
      <div class="ml-4">
        <div class="grid">
          <div class="col-2">
            <label>{{ 'request.detailRequest.refund.paymentAmount' | translate }}</label>
          </div>
          <div class="col-3">
            <span>{{ itemRequest?.paymentAmount | number: '1.0-0' }} VND</span>
          </div>
          <ng-container *ngIf="typeRequest === requestType.TYPE03">
            <div class="grid col-12 pl-7">
              <div class="col-2">
                <label>{{ 'request.detailRequest.underwrite.mainFee' | translate }}</label>
              </div>
              <div class="col-2">
                <span>{{ itemRequest?.mainFee | number: '1.0-0' }} VND</span>
              </div>
              <div class="col-2">
                <label>{{ 'request.detailRequest.underwrite.riderFee' | translate }}</label>
              </div>
              <div class="col-2">
                <span>{{ itemRequest?.riderFee | number: '1.0-0' }} VND</span>
              </div>
              <div class="col-2">
                <label>{{ 'request.detailRequest.underwrite.topUpFee' | translate }}</label>
              </div>
              <div class="col-2">
                <span>{{ itemRequest?.topUpFee | number: '1.0-0' }} VND</span>
              </div>
              <div class="col-2">
                <label>{{ 'request.detailRequest.underwrite.overPayment' | translate }}</label>
              </div>
              <div class="col-2">
                <span>{{ itemRequest?.overPayment | number: '1.0-0' }} VND</span>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="typeRequest === requestType.TYPE03 || typeRequest === requestType.TYPE04">
            <div *ngIf="typeRequest === requestType.TYPE04" class="col-7"></div>
            <div class="col-2">
              <label>{{ 'request.detailRequest.underwrite.finalAmount' | translate }}</label>
            </div>
            <div class="col-10">
            <span
              [class]="
                itemRequest?.paymentAmount === +itemRequest?.finalDecision! ? 'isFinalDecisionBlue' : 'isFinalDecisionRed'
              "
            >
              {{ itemRequest?.finalDecision | number: '1.0-0' }} VND</span
            >
            </div>
          </ng-container>

          <div class="col-4">
          <span class="p-float-label">
            <mbal-input-text
              [fieldForm]="false"
              [readonly]="itemRequest?.isSubmit"
              formControlName="paymentNote"
              label="{{ 'request.detailRequest.underwrite.note' | translate }}"
            ></mbal-input-text>
          </span>
          </div>

          <ng-container
            *ngIf="
            typeRequest === requestType.TYPE01
          "
          >
            <br />
            <div [formGroup]="dataProcess" class="col-12">
              <div class="grid">
                <div class="col-2">
                  <label>{{ 'request.detailRequest.underwrite.medicalFee' | translate }}</label>
                </div>
                <mbal-input-number
                  [fieldForm]="false"
                  [readonly]="itemRequest?.isSubmit"
                  [showLabel]="false"
                  class="col-3"
                  [min]="0"
                  [max]="itemRequest?.paymentAmount!"
                  formControlName="hospitalSurgicalCash"
                ></mbal-input-number>
              </div>
            </div>
            <div class="col-12">
              <div class="grid">
                <div class="col-2">
                  <label>{{ 'request.detailRequest.approve.totalPaymentAmount' | translate }}:</label>
                </div>
                <div class="col-3">
                  <span>{{ itemRequest?.finalDecision | number: '1.0-0' }} VND</span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </p-card>
  </div>
</ng-container>
<ng-template #p2pRejected>
  <refund-p2p-reject
    [additionalAttachmentsDropList]="additionalAttachmentsDropList"
    [approvedDropList]="approvedDropList"
    [authBankResDTOS]="authBankResDTOS"
    [bankDropList]="bankDropList"
    [bankResDTOList]="bankResDTOList"
    [decisionDropList]="decisionDropList"
    [form]="dataProcess"
    [itemRequest]="itemRequest"
    [listPostText]="listPostText"
    [pendingReasonDropList]="pendingReasonDropList"
    [rejectReasonDropList]="rejectReasonDropList"
    [subReasonDropList]="subReasonDropList"
  ></refund-p2p-reject>
</ng-template>
<p-card *ngIf="currUser?.username === itemRequest?.pic || !!itemRequest?.picNote" styleClass="mt-3">
  <div>
    <h4 class="title">{{ 'request.detailRequest.underwrite.picNote' | translate }}</h4>
    <div>
      <mbal-input-textarea (blur)="savePicNote()" [(ngModel)]="itemRequest!.picNote"
                           [disabled]="currUser?.username !== itemRequest?.pic"
                           [fieldForm]="false"
                           [rows]="2"
                           [maxlength]="1000"
                           [showLabel]="false"></mbal-input-textarea>
    </div>
  </div>
</p-card>
<p-card styleClass="mt-3">
  <div class="flex flex-row-reverse card-container flex-btn align-items-center">
    <button (click)="submit()" [disabled]="disableSubmit()" class="ml-2" pButton>
      {{ 'request.detailRequest.underwrite.submit' | translate }}
    </button>

    <button
      (click)="saveDetail()"
      *ngIf="objFunction?.scopes?.includes(this.action.Update)"
      [disabled]="disableSave()"
      class="ml-2"
      pButton
    >
      {{ 'request.detailRequest.underwrite.save' | translate }}
    </button>

    <button (click)="back()" class="ml-2 btn-cancel" pButton>
      {{ 'request.detailRequest.underwrite.cancel' | translate }}
    </button>
  </div>
</p-card>
